<%- layout('layouts/boilerplate') %>
  <link rel="stylesheet" href="/helper/web.css">
  <link rel="stylesheet" href="/stylesheets/business.css">

  <div class="digital-hero">
    <div class="digital-texts">
      <div class="title-1 text-center font-bold text-5xl flex flex-col justify-center gap-7"><span><i
            class="ri-link"></i>
          Blockchain</span>
        <div class="white-r"></div>
      </div>
    </div>
  </div>

  <div class="acordion">
    <div class="forensic-dropper">
      <div class=" dropper-container zero-pad">
        <div class="acord-starter">
          <p class="acord-2 cloud-merger corder">Transform your business through the cloud and release new ideas, new
            solutions, and new value. We offer customized cloud services and solutions to fit your business
            needs and guarantee a smooth implementation for maximum security and flexibility. Let us be your
            cloud service solutions partner who helps redesign your IT architecture and enhance your digital
            journey.
            <hr class="hrr">
          </p>
        </div>

        <div class="merger-cloud dropper-expand flex justify-center corder text-center">
          <h1 class="text-3xl font-bold mb-6">We Thoroughly Analyze</h1>
        </div>

        <div class="grid grid-cols-3 gap-5">
          <div class="colo-1 block-colo space-y-6">
            <div class="cost-padder text-xl font-medium flex flex-col items-center space-x-4">
              <div class="cry">
                <i class="ri-money-dollar-circle-line"></i>
                <span>Cryptocurrencies</span>
              </div>
              <p class="text-sm mt-3 text-center">We develop unique crypto coin/ token working on either public or
                private blockchain.</p>
              <button onclick="window.location.href='/crypto'" class="leader mt-4 text-sm">read more</button>
            </div>
          </div>
          <div class="colo-1 block-colo space-y-6">
            <div class="cost-padder text-xl font-medium flex flex-col items-center space-x-4">
              <div class="cry">
                <i class="ri-stack-line"></i>
                <span>Smart Contracts</span>
              </div>
              <p class="text-sm mt-3 text-center">We develop unique crypto coin/ token working on either public or
                private blockchain.</p>
              <button onclick="window.location.href='/smart-contracts'" class="leader mt-4 text-sm">read more</button>
            </div>
          </div>

          <div class="colo-1 block-colo space-y-6">
            <div class="cost-padder text-xl font-medium flex flex-col items-center space-x-4">
              <div class="cry">
                <i class="ri-bank-line"></i>
                <span>NFT</span>
              </div>
              <p class="text-sm mt-3 text-center">We develop unique crypto coin/ token working on either public or
                private blockchain.</p>
              <button onclick="window.location.href='/nft'" class="leader mt-4 text-sm">read more</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- section 1 -->
  <!-- <div class="cont flex items-center justify-center bg-no-repeat bg-center bg-cover bg-black bg-opacity-50"
    style="background-image: url('https://img.freepik.com/premium-photo/blue-background-with-light-it_1034303-518085.jpg?uid=R178129720&ga=GA1.1.1951979353.1732287376&semt=ais_hybrid');">
    <div class="flex flex-col items-center text-center">
      <p class="text-white text-4xl font-medium">Get your blockchain project forged by high-class
        <br> IT professionals
      </p>
      <a href="#" class="mt-14 px-6 py-4 text-white bg-red-500 rounded-sm hover:bg-blue-700">Visit Here</a>
    </div>
  </div>
 -->

  <!-- section 6 -->
  <!-- <div id="insights" class="darker-stellar ai-steller stellar-swiper-container">
    <h1 class="darker-cosmic cosmic-title coastal text-4xl font-medium text-left">Blockchain development services
    </h1>
    <div class="cosmic-swiper">
      <div class="orbital-wrapper swiper-wrapper">
        <div class="galaxy-slide swiper-slide">
          <div class="cadder overflow-hidden">
            <img class="w-full zoom-img" src="https://innowise.com/wp-content/uploads/2022/03/Blockchain/1.png"
              alt="Card image">

            <div class="cadder-title">
              <div class="font-bold text-2xl mt-5 mb-2 pl-3 text-left">ICO support</div>
            </div>

            <div class="account-description-outer">
              <div class="account-description dess">
                <p class="text-xl font-medium ziga text-left  inner-para">
                  At Emiri Fintech, we offer full ICO support, using our blockchain expertise to help businesses launch
                  successful Initial Coin Offerings. Our services cover strategic planning, technical development, and
                  regulatory compliance for a smooth ICO process.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="galaxy-slide swiper-slide">
          <div class="cadder overflow-hidden">
            <img class="w-full zoom-img" src="https://innowise.com/wp-content/uploads/2022/03/Blockchain/2.png"
              alt="Card image">

            <div class="cadder-title">
              <div class="font-bold text-2xl mt-5 mb-2 pl-3 text-left">DAO development</div>
            </div>

            <div class="account-description-outer">
              <div class="account-description dess">
                <p class="text-xl ziga font-medium inner-para">
                  At Emiri Fintech, we excel in DAO development, leveraging blockchain and smart contracts to build
                  decentralized, autonomous organizations. Our solutions help businesses improve governance, enhance
                  transparency, and optimize efficiency.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="galaxy-slide swiper-slide">
          <div class="cadder overflow-hidden">
            <img class="w-full zoom-img" src="https://innowise.com/wp-content/uploads/2022/03/Blockchain/4.png"
              alt="Card image">

            <div class="cadder-title">
              <div class="font-bold text-2xl mt-5 mb-2 pl-3 text-left">NFT-related services</div>
            </div>

            <div class="account-description-outer">
              <div class="account-description dess">
                <p class="text-xl ziga font-medium inner-para">
                  At Emiri Fintech, we excel in NFT development, leveraging blockchain technology to create, manage, and
                  trade unique digital assets. Our solutions help businesses improve ownership, enhance engagement, and
                  maximize monetization opportunities.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="galaxy-slide swiper-slide">
          <div class="cadder overflow-hidden">
            <img class="w-full zoom-img" src="https://innowise.com/wp-content/uploads/2022/03/Blockchain/3.png"
              alt="Card image">

            <div class="cadder-title">
              <div class="font-bold text-2xl mt-5 mb-2 pl-3 text-left">Blockchain security</div>
            </div>

            <div class="account-description-outer">
              <div class="account-description dess">
                <p class="ziga text-xl font-medium inner-para">
                  At Emiri Fintech, we prioritize blockchain security. Our advanced solutions ensure the integrity,
                  confidentiality, and availability of blockchain data, protecting against threats and vulnerabilities
                  to maintain robust and secure blockchain environments for businesses.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="galaxy-slide swiper-slide">
          <div class="cadder overflow-hidden">
            <img class="w-full zoom-img" src="https://innowise.com/wp-content/uploads/2022/03/Blockchain/5.png"
              alt="Card image">

            <div class="cadder-title">
              <div class="font-bold text-2xl mt-5 mb-2 pl-3 text-left">Smart contract development</div>
            </div>

            <div class="account-description-outer">
              <div class="account-description dess">
                <p class="ziga text-xl font-medium inner-para">
                  At Emiri Fintech, we specialize in smart contract development, leveraging cutting-edge blockchain
                  technology to create secure, automated, and transparent agreements. Our solutions help businesses
                  streamline operations, reduce risks, and enhance overall efficiency. </p>
              </div>
            </div>
          </div>
        </div>

        <div class="galaxy-slide swiper-slide">
          <div class="cadder overflow-hidden">
            <img class="w-full zoom-img" src="https://innowise.com/wp-content/uploads/2022/03/Blockchain/6.png"
              alt="Card image">

            <div class="cadder-title">
              <div class="font-bold text-2xl mt-5 mb-2 pl-3 text-left">Cryptocurrency development</div>
            </div>

            <div class="account-description-outer">
              <div class="account-description dess">
                <p class="ziga text-xl font-medium inner-para">
                  At Emiri Fintech, we specialize in cryptocurrency development, using cutting-edge blockchain
                  technology to create secure, scalable, and efficient digital currencies. Our solutions help businesses
                  drive innovation, enhance security, and unlock new market potential. </p>
              </div>
            </div>
          </div>
        </div>

        <div class="galaxy-slide swiper-slide">
          <div class="cadder overflow-hidden">
            <img class="w-full zoom-img" src="https://innowise.com/wp-content/uploads/2022/03/Blockchain/7.png"
              alt="Card image">

            <div class="cadder-title">
              <div class="font-bold text-2xl mt-5 mb-2 pl-3 text-left">Custom blockchain solutions development</div>
            </div>

            <div class="account-description-outer">
              <div class="account-description dess">
                <p class="ziga text-xl font-medium inner-para">
                  At Emiri Fintech, we specialize in custom blockchain solutions, utilizing advanced technology to build
                  secure, scalable networks. Our services help businesses improve performance, enhance security, and
                  drive innovation.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div> -->

  <!-- section 9 cryptocurrencies -->
  <!-- <div class="cont flex items-center justify-center bg-no-repeat bg-center bg-cover bg-black bg-opacity-50"
    style="background-image: url('https://img.freepik.com/premium-photo/blue-background-with-light-it_1034303-518085.jpg?uid=R178129720&ga=GA1.1.1951979353.1732287376&semt=ais_hybrid');">
    <div class="flex flex-col items-center text-center">
      <p class="text-white text-4xl font-medium">Cryptocurrencies
      </p>
      <a href="#" class="mt-14 px-6 py-4 text-white bg-red-500 rounded-sm hover:bg-blue-700">Contact us</a>
    </div>
  </div>
  <div class="acordion">
    <div class="forensic-dropper">
      <div class=" dropper-container zero-pad">
        <div class="acord-starter">
          <p class="acord-2 corder">Emiri Fintech offers cryptocurrency exchange development services designed to create
            and enhance custom crypto exchange applications, ensuring fast and secure software performance. Tailored to
            specific requirements, our company develops innovative crypto exchange platforms to significantly boost your
            business. As a prominent player in the crypto market, Emiri Fintech also provides consultation to businesses
            and startups on implementing crypto exchange software, conducts market analysis and trend research, and
            assists with regulatory challenges.
            <hr class="hrr">
          </p>
        </div>

        <div class="dropper-expand flex justify-center corder text-center">
          <h1 class="text-3xl font-semibold mb-6">We Thoroughly Analyze</h1>
        </div>

        <div class="grid grid-cols-3 gap-5">
          <div class="colo-1 block-colo space-y-6">
            <div class="cost-padder text-xl font-medium flex items-center space-x-4">
              <i class="ri-money-dollar-circle-line"></i>
              <span>Cryptocurrencies</span>
            </div>
          </div>
          <div class="colo-1 block-colo space-y-6">
            <div class="cost-padder text-xl font-medium flex items-center space-x-4">
              <i class="ri-stack-line"></i>
              <span>Smart Contracts</span>
            </div>
          </div>

          <div class="colo-1 block-colo space-y-6">
            <div class="cost-padder text-xl font-medium flex items-center space-x-4">
              <i class="ri-bank-line"></i>
              <span>NFT</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <!-- smart contracts -->
  <!-- <div class="cont flex items-center justify-center bg-no-repeat bg-center bg-cover bg-black bg-opacity-50"
    style="background-image: url('https://img.freepik.com/premium-photo/blue-background-with-light-it_1034303-518085.jpg?uid=R178129720&ga=GA1.1.1951979353.1732287376&semt=ais_hybrid');">
    <div class="flex flex-col items-center text-center">
      <p class="text-white text-4xl font-medium">Smart Contracts
      </p>
      <a href="#" class="mt-14 px-6 py-4 text-white bg-red-500 rounded-sm hover:bg-blue-700">Contact us</a>
    </div>
  </div>
  <div class="acordion">
    <div class="forensic-dropper">
      <div class=" dropper-container zero-pad">
        <div class="acord-starter">
          <p class="acord-2 corder">Emiri Fintech offers smart contract development services designed to create and
            enhance custom smart contracts, ensuring secure and automated transactions. Tailored to specific
            requirements, our company develops innovative smart contract solutions to significantly boost your business
            efficiency. As a prominent player in the blockchain market, Emiri Fintech also provides consultation to
            businesses and startups on implementing smart contract solutions, conducts market analysis and trend
            research, and assists with regulatory challenges.
            <hr class="hrr">
          </p>
        </div>

        <div class="dropper-expand flex justify-center corder text-center">
          <h1 class="text-3xl font-semibold mb-6">We Thoroughly Analyze</h1>
        </div>

        <div class="grid grid-cols-3 gap-5">
          <div class="colo-1 block-colo space-y-6">
            <div class="cost-padder text-xl font-medium flex items-center space-x-4">
              <i class="ri-money-dollar-circle-line"></i>
              <span>Cryptocurrencies</span>
            </div>
          </div>
          <div class="colo-1 block-colo space-y-6">
            <div class="cost-padder text-xl font-medium flex items-center space-x-4">
              <i class="ri-stack-line"></i>
              <span>Smart Contracts</span>
            </div>
          </div>

          <div class="colo-1 block-colo space-y-6">
            <div class="cost-padder text-xl font-medium flex items-center space-x-4">
              <i class="ri-bank-line"></i>
              <span>NFT</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <!-- NFT -->
  <!-- <div class="cont flex items-center justify-center bg-no-repeat bg-center bg-cover bg-black bg-opacity-50"
  style="background-image: url('https://img.freepik.com/premium-photo/blue-background-with-light-it_1034303-518085.jpg?uid=R178129720&ga=GA1.1.1951979353.1732287376&semt=ais_hybrid');">
  <div class="flex flex-col items-center text-center">
    <p class="text-white text-4xl font-medium">NFT
    </p>
    <a href="#" class="mt-14 px-6 py-4 text-white bg-red-500 rounded-sm hover:bg-blue-700">Contact us</a>
  </div>
</div>
<div class="acordion">
  <div class="forensic-dropper">
    <div class=" dropper-container zero-pad">
      <div class="acord-starter">
          <p class="acord-2 corder">Emiri Fintech specializes in developing cutting-edge NFT platforms tailored to meet the unique needs of your business. From designing secure, high-performance NFT marketplaces to creating innovative solutions for tokenizing digital assets, we help you unlock new opportunities in the growing world of digital ownership.

            Beyond development, we offer expert consultation to guide businesses and startups in launching successful NFT projects. Our team conducts in-depth market research, identifies emerging trends, and navigates regulatory complexities to ensure your NFT platform stands out in this dynamic landscape.
          <hr class="hrr">
        </p>
      </div>

      <div class="dropper-expand flex justify-center corder text-center">
        <h1 class="text-3xl font-semibold mb-6">We Thoroughly Analyze</h1>
      </div>

      <div class="grid grid-cols-3 gap-5">
        <div class="colo-1 block-colo space-y-6">
          <div class="cost-padder text-xl font-medium flex items-center space-x-4">
            <i class="ri-money-dollar-circle-line"></i>
            <span>Cryptocurrencies</span>
          </div>
        </div>
        <div class="colo-1 block-colo space-y-6">
          <div class="cost-padder text-xl font-medium flex items-center space-x-4">
            <i class="ri-stack-line"></i>
            <span>Smart Contracts</span>
          </div>
        </div>

        <div class="colo-1 block-colo space-y-6">
          <div class="cost-padder text-xl font-medium flex items-center space-x-4">
            <i class="ri-bank-line"></i>
            <span>NFT</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->


  <!-- section 7 -->
  <!-- <div class="text-gray-800 py-12 hexmen">
    <div class="mx-auto mainer">
      <h1 class="text-4xl font-semibold text-left mb-8">Blockchain solutions we build</h1>
      <div class="grid grid-cols-1 md:grid-cols-3 gridder">
        <div class="innertext">
          <a href="#" class="text-3xl text-gray-900 font-semibold hoveffect"> <sup>●</sup>Smart contracts</a>
          <p class="text-base font-medium leading-relaxed max-w-md">
            Utilize blockchain smart contracts to max out the efficiency, speed, and security of transaction-based
            processes.
            Our talented blockchain developers build and test custom decentralized solutions automating data
            transactions
            and eliminating paperwork to reduce the costs and improve the security of the processes.
          </p>
        </div>
        <div class="innertext">
          <a href="#" class="text-3xl text-gray-900 font-semibold hoveffect"> <sup>●</sup>Decentralized applications
            (DApps)</a>
          <p class="text-base font-medium leading-relaxed max-w-md">
            Innowise combines the efficiency of smart contracts with a user-friendly interface resulting in the creation
            of a decentralized peer-to-peer network. It doesn’t have a point of failure presented by the hosting server,
            which means eradicating downtime and operational restrictions. </p>
        </div>
        <div class="innertext">
          <a href="#" class="text-3xl text-gray-900 font-semibold hoveffect"> <sup>●</sup>Blockchain ecosystems</a>
          <p class="text-base font-medium leading-relaxed max-w-md">
            Our software engineers and blockchain specialists leverage the power of blockchain to create an ecosystem
            serving businesses of various fields and scales. Such ecosystems include a consensus algorithm and shared
            ledgers along with a node application and are far more beneficial if compared to traditional ones thanks to
            increased transparency, security, and resistance to malicious manipulations. </p>
        </div>

        <div class="innertext">
          <a href="#" class="text-3xl text-gray-900 font-semibold hoveffect"> <sup>●</sup>CEX/DEX platforms</a>
          <p class="text-base font-medium leading-relaxed max-w-md">
            Whether the plan is to create a centralized or decentralized platform for cryptocurrency exchange, Innowise
            will cover everything from designing the UI to implementing niche features alongside the world’s best
            security and KYC practices.
        </div>

        <div class="innertext">
          <a href="#" class="text-3xl text-gray-900 font-semibold hoveffect"> <sup>●</sup>Tokenomics</a>
          <p class="text-base font-medium leading-relaxed max-w-md">
            Our business analysts and consultants leverage their comprehensive expertise to assess the potential value
            of the tokens you are planning to issue. We will analyze the market and unique features of your token to
            pick the right technology, utilization way, and supply volume for your cryptocurrency.
          </p>
        </div>

        <div class="innertext">
          <a href="#" class="text-3xl text-gray-900 font-semibold hoveffect"> <sup>●</sup>Decentralized File transfer
            platform</a>
          <p class="text-base font-medium leading-relaxed max-w-md">
            Our engineers will utilize the InterPlanetary File System and the Hypercore protocol to build a
            blockchain-based distributed file transfer platform allowing to share files of any type and volume among
            platform users swiftly and securely. </p>
        </div>

        <div class="innertext">
          <a href="#" class="text-3xl text-gray-900 font-semibold hoveffect"> <sup>●</sup>Cryptocurrency wallets</a>
          <p class="text-base font-medium leading-relaxed max-w-md">
            Whether it’s a custodial or a non-custodial wallet, it must be secure, functional, and user-friendly.
            Innowise’s expertise in blockchain, cryptocurrencies, and application development is a winning condition
            when it comes to developing an excellent cryptocurrency wallet for any platform in no time. </p>
        </div>

        <div class="innertext">
          <a href="#" class="text-3xl text-gray-900 font-semibold hoveffect"> <sup>●</sup>Blockchain-based security
            solutions</a>
          <p class="text-base font-medium leading-relaxed max-w-md">
            Blockchain platforms are a perfect pick for enforcing both digital and physical security, offering a wide
            range of implementation ways. Innowise’s software developers will build any security system, from access
            distribution to data transfer encryption. The major benefit of these systems is that they’re almost
            impossible to hack.
          </p>
        </div>


        <div class="innertext">
          <a href="#" class="text-3xl text-gray-900 font-semibold hoveffect"> <sup>●</sup>ICO/IEO/IDO development</a>
          <p class="text-base font-medium leading-relaxed max-w-md">
            When launching a new blockchain-based project, the initial token offering is the most important stage for
            raising enough money to achieve the goal. With Innowise’s specialists’ help, any business will be able to
            maintain the full-pledged process of launching the project, from creating a roadmap and a whitepaper to
            developing and publicly releasing the tokens on any platform. </p>
        </div>





      </div>

    </div>
  </div> -->


  <!-- section 8 -->
  <!-- <div class="text-gray-800 py-12 lexmen">
    <div class="mx-auto mainer">
      <h1 class="text-5xl font-medium text-left mb-8 text-gray-800">Hire world-class blockchain developers</h1>
      <p class="text-xl font-medium leading-relaxed mt-10 text-gray-800 max-w-4xl">
        At Emiri, we bring our 5+ years of experience in blockchain development to build easily scalable, bug-free,
        and feature-rich blockchain applications of various types. Our blockchain talents are capable of anything from
        generating custom smart contracts and enhancing existing solutions to creating a blockchain platform from
        scratch. </p>

      <div class="grid grid-cols-1 md:grid-cols-3 gridder">
        <div class="innerinfo">
          <img src="/icons/solana.png" alt="" class="h-12 mb-10">
          <a href="#" class="text-3xl text-gray-900 font-semibold hoveffect">Solana blockchain developers</a>
          <p class="text-lg font-medium leading-relaxed max-w-6xl paragraph">
            Innowise’s blockchain maestros use Solana to create well-optimized scalable blockchain solutions,
            decentralized applications, and smart contracts. </p>
        </div>

        <div class="innerinfo">
          <img src="/icons/solidity.png" alt="" class="h-12 mb-10">
          <a href="#" class="text-3xl text-gray-900 font-semibold hoveffect">Solidity blockchain developers</a>
          <p class="text-lg font-medium leading-relaxed max-w-6xl paragraph">
            To build tailored decentralized applications and smart contracts for the Ethereum network, our blockchain
            development professionals utilize the Solidity programming language. </p>
        </div>

        <div class="innerinfo">
          <img src="https://innowise.com/wp-content/uploads/2022/06/hyperledgerfoundation_horizontal-dark-1.svg" alt=""
            class="h-12 mb-10">
          <a href="#" class="text-3xl text-gray-900 font-semibold hoveffect">Hyperledger blockchain developers</a>
          <p class="text-lg font-medium leading-relaxed max-w-6xl paragraph">
            We create custom blockchain frameworks precisely serving particular business needs using Hyperledger. This
            allows us to forge any blockchain-based application and implement it into any business process. </p>
        </div>

        <div class="innerinfo">
          <img src="https://innowise.com/wp-content/uploads/2022/06/Frame-49138.svg" alt="" class="h-12 mb-10">
          <a href="#" class="text-3xl text-gray-900 font-semibold hoveffect">ARK blockchain developers</a>
          <p class="text-lg font-medium leading-relaxed max-w-6xl paragraph">
            Innowise’s professional blockchain developers build fully custom interoperable blockchains utilizing the ARK
            protocol. </p>
        </div>

        <div class="innerinfo">
          <img src="https://innowise.com/wp-content/uploads/2022/06/Frame-49139.svg" alt="" class="h-12 mb-10">
          <a href="#" class="text-3xl text-gray-900 font-semibold hoveffect">Algorand blockchain developers</a>
          <p class="text-lg font-medium leading-relaxed max-w-6xl paragraph">
            Our blockchain professionals develop scalable, fast, and secure blockchain products using the Algorand
            protocol, giving businesses access to this feature-rich and innovative technology. </p>
        </div>

        <div class="innerinfo">
          <img src="https://innowise.com/wp-content/uploads/2022/06/Frame-49141.svg" alt="" class="h-12 mb-10">
          <a href="#" class="text-3xl text-gray-900 font-semibold hoveffect">Avalanche blockchain developers</a>
          <p class="text-lg font-medium leading-relaxed max-w-6xl paragraph">
            With the help of Avalanche, Innowise forges an array of swift, cost-effective, and eco-friendly blockchain
            solutions, from Solidity-compatible dApps to deploying custom blockchains. </p>
        </div>



      </div>

    </div>
  </div> -->

  <!-- section 10 -->
  <!-- <section class="max-w-6xl mx-auto section">
    <div class="">
      <h1 class="text-5xl font-medium text-gray-800 text-left emi">Our NFT Services</h1>
      <p class="text-xl text-gray-600 font-medium text-left remi max-w-2xl">
        Allowing owners to claim the possession of any physical or digital asset, non-fungible tokens are a hot topic
        nowadays.
        As one of the leaders in blockchain development, Innowise maintains a wide range of NFT-related services.
      </p>

    </div>

    <div class="grid md:grid-cols-2 gap-8 grid-cont">
      <div class="bg-white overflow-hidden w-3/4">
        <img src="https://innowise.com/wp-content/uploads/2022/03/Blockchain/1%20new.png" alt="Asset Design"
          class="w-full h-40 object-cover">
        <div class="">
          <h2 class="text-xl font-bold text-gray-800 mb-2 hh">Asset Design</h2>
          <p class="text-gray-600 text-lg pp">
            Our 2D & 3D design talents will create unique assets that could be used in any digital world or an accurate
            digital replica of existing items.
          </p>
        </div>
      </div>

      <div class="bg-white overflow-hidden w-3/4">
        <img src="https://innowise.com/wp-content/uploads/2022/03/Blockchain/2%20new.png" alt="NFT Tokens Minting"
          class="w-full h-40 object-cover">
        <div class="">
          <h2 class="text-xl font-bold text-gray-800 mb-2 hh">NFT Tokens Minting</h2>
          <p class="text-gray-600 text-lg pp">
            Creating, or minting, NFT tokens is a complicated procedure requiring some technical expertise.
            Our blockchain specialists will assist you throughout the process.
          </p>
        </div>
      </div>

      <div class="bg-white overflow-hidden w-3/4">
        <img src="https://innowise.com/wp-content/uploads/2022/03/Blockchain/3%20new.png" alt="NFT Tokens Minting"
          class="w-full h-40 object-cover">
        <div class="">
          <h2 class="text-xl font-bold text-gray-800 mb-2 hh">Escrow/arbitrage solutions development</h2>
          <p class="text-gray-600 text-lg pp">
            Putting an NFT token on an auction requires a solution capable of maintaining all the bidders’ tokens in a
            secure and automated manner. Innowise’s blockchain talents will develop smart contracts suitable for
            gathering the offerings from bidders and returning tokens to participants as well as transferring the assets
            to auction winners upon the conclusion of the auction. </p>
        </div>
      </div>


    </div>

  </section> -->


  <!-- section 11 -->
  <!-- sub- section 1 -->

  <div class="hacking-solid-outer bg-cover bg-center flex items-center justify-center"
    style="background-image: url('https://png.pngtree.com/thumb_back/fh260/back_our/20200630/ourmid/pngtree-black-classic-platform-banner-background-design-image_343314.jpg');">
    <div class="hacking-solid text-center">
      <h1 class="flex flex-col text-4xl font-bold text-white "> <span>Our Blockchain Technology Stack</span> <span class="font-bold m-gun">PLATOFRMS</span></h1>
    </div>
  </div>

  <div class="acordion">
    <div class="forensic-dropper">
      <div class=" dropper-container zero-pad">
        <div class="grid grid-cols-1 sm:grid-cols-2  md:grid-cols-4 gap-8 hexer">
          <!-- Example Item -->
          <div class="flex flex-col">
            <a href="#" class="flex flex-row items-center space-x-3">
              <img
                src="https://innowise.com/wp-content/uploads/2022/03/Blockchain/icons/hyperledgerfoundation_horizontal-dark%201.svg"
                alt="Hyperledger" class="h-12">
              <p class="font-bold text-gray-700 hover:text-red-500">HYPERLEDGER</p>
            </a>
            <div class="ontop w-full mt-2"></div>
          </div>

          <div class="flex flex-col">
            <a href="#" class="flex flex-row items-center space-x-3">
              <img src="icons/ethereum.png" alt="" class="h-12">
              <p class="font-bold text-gray-700 hover:text-red-500 uppercase">Ethereum</p>
            </a>
            <div class="ontop w-full mt-2"></div>
          </div>

          <div class="flex flex-col">
            <a href="#" class="flex flex-row items-center space-x-3">
              <img src="/icons/bitcoin.png" alt="" class="h-12">
              <p class="font-bold text-gray-700 hover:text-red-500 uppercase">Bitcoin</p>
            </a>
            <div class="ontop w-full mt-2"></div>
          </div>

          <div class="flex flex-col">
            <a href="#" class="flex flex-row items-center space-x-3">
              <img src="/icons/dash.png" alt="" class="h-12">
              <p class="font-bold text-gray-700 hover:text-red-500 uppercase">Dash</p>
            </a>
            <div class="ontop w-full mt-2"></div>
          </div>

          <div class="flex flex-col">
            <a href="#" class="flex flex-row items-center space-x-3">
              <img src="/icons/ripple.png" alt="" class="h-12">
              <p class="font-bold text-gray-700 hover:text-red-500 uppercase">ripple</p>
            </a>
            <div class="ontop w-full mt-2"></div>
          </div>

          <div class="flex flex-col">
            <a href="#" class="flex flex-row items-center space-x-3">
              <img src="icons/coin.png" alt="" class="h-12">
              <p class="font-bold text-gray-700 hover:text-red-500 uppercase">Litecoin</p>
            </a>
            <div class="ontop w-full mt-2"></div>
          </div>

          <div class="flex flex-col">
            <a href="#" class="flex flex-row items-center space-x-3">
              <img src="icons/crypto.png" alt="" class="h-12">
              <p class="font-bold text-gray-700 hover:text-red-500 uppercase">nem</p>
            </a>
            <div class="ontop w-full mt-2"></div>
          </div>

          <div class="flex flex-col">
            <a href="#" class="flex flex-row items-center space-x-3">
              <img src="icons/eos.png" alt="" class="h-12">
              <p class="font-bold text-gray-700 hover:text-red-500 uppercase">eos</p>
            </a>
            <div class="ontop w-full mt-2"></div>
          </div>

          <div class="flex flex-col">
            <a href="#" class="flex flex-row items-center space-x-3">
              <img src="icons/usdt.png" alt="" class="h-12">
              <p class="font-bold text-gray-700 hover:text-red-500 uppercase">tether</p>
            </a>
            <div class="ontop w-full mt-2"></div>
          </div>

          <div class="flex flex-col">
            <a href="#" class="flex flex-row items-center space-x-3">
              <img src="icons/url.png" alt="" class="h-12">
              <p class="font-bold text-gray-700 hover:text-red-500 uppercase">chain</p>
            </a>
            <div class="ontop w-full mt-2"></div>
          </div>

          <div class="flex flex-col">
            <a href="#" class="flex flex-row items-center space-x-3">
              <img src="icons/polygon.png" alt="" class="h-12">
              <p class="font-bold text-gray-700 hover:text-red-500 uppercase">matic/polygon</p>
            </a>
            <div class="ontop w-full mt-2"></div>
          </div>

          <div class="flex flex-col">
            <a href="#" class="flex flex-row items-center space-x-3">
              <img src="https://innowise.com/wp-content/uploads/2022/03/Blockchain/icons/image%20331.svg" alt=""
                class="h-12">
              <p class="font-bold text-gray-700 hover:text-red-500 uppercase">corda</p>
            </a>
            <div class="ontop w-full mt-2"></div>
          </div>

          <div class="flex flex-col">
            <a href="#" class="flex flex-row items-center space-x-3">
              <img src="icons/tron.png" alt="" class="h-12">
              <p class="font-bold text-gray-700 hover:text-red-500 uppercase">tron</p>
            </a>
            <div class="ontop w-full mt-2"></div>
          </div>

          <div class="flex flex-col">
            <a href="#" class="flex flex-row items-center space-x-3">
              <img src="icons/stellar.png" alt="" class="h-12">
              <p class="font-bold text-gray-700 hover:text-red-500 uppercase">stellar</p>
            </a>
            <div class="ontop w-full mt-2"></div>
          </div>

          <div class="flex flex-col">
            <a href="#" class="flex flex-row items-center space-x-3">
              <img src="icons/solana.png" alt="" class="h-12">
              <p class="font-bold text-gray-700 hover:text-red-500 uppercase">solana</p>
            </a>
            <div class="ontop w-full mt-2"></div>
          </div>


        </div>

      </div>
    </div>
  </div>

  <!-- <div class="flex flex-col stacks">
    <div class="flex flex-col hexer">
      <h3 class="text-2xl text-red-500 hex">LANGUAGES</h3>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2  md:grid-cols-4 gap-8 hexer">
      <div class="flex flex-col">
        <a href="#" class="flex flex-row items-center space-x-3">
          <img src="https://innowise.com/wp-content/uploads/2022/03/Blockchain/icons/c%2B%2B.svg" alt="Hyperledger"
            class="h-12">
          <p class="font-bold text-gray-700 hover:text-red-500">C++</p>
        </a>
        <div class="ontop w-full mt-2"></div>
      </div>

      <div class="flex flex-col">
        <a href="#" class="flex flex-row items-center space-x-3">
          <img src="https://innowise.com/wp-content/uploads/2022/02/pyt.svg" alt="" class="h-12">
          <p class="font-bold text-gray-700 hover:text-red-500 uppercase">PYThon</p>
        </a>
        <div class="ontop w-full mt-2"></div>
      </div>

      <div class="flex flex-col">
        <a href="#" class="flex flex-row items-center space-x-3">
          <img src="https://innowise.com/wp-content/uploads/2021/12/Java.svg" alt="" class="h-12">
          <p class="font-bold text-gray-700 hover:text-red-500 uppercase">java</p>
        </a>
        <div class="ontop w-full mt-2"></div>
      </div>

      <div class="flex flex-col">
        <a href="#" class="flex flex-row items-center space-x-3">
          <img src="https://innowise.com/wp-content/uploads/2022/03/Blockchain/icons/Solidity.svg" alt="" class="h-12">
          <p class="font-bold text-gray-700 hover:text-red-500 uppercase">solidity</p>
        </a>
        <div class="ontop w-full mt-2"></div>
      </div>

      <div class="flex flex-col">
        <a href="#" class="flex flex-row items-center space-x-3">
          <img src="https://innowise.com/wp-content/uploads/2022/03/Blockchain/icons/JAVA%20SCRIPT.svg" alt=""
            class="h-12">
          <p class="font-bold text-gray-700 hover:text-red-500 uppercase">javascript</p>
        </a>
        <div class="ontop w-full mt-2"></div>
      </div>

      <div class="flex flex-col">
        <a href="#" class="flex flex-row items-center space-x-3">
          <img src="https://innowise.com/wp-content/uploads/2022/03/Blockchain/icons/C%23.svg" alt="" class="h-12">
          <p class="font-bold text-gray-700 hover:text-red-500 uppercase">C#</p>
        </a>
        <div class="ontop w-full mt-2"></div>
      </div>

      <div class="flex flex-col">
        <a href="#" class="flex flex-row items-center space-x-3">
          <img src="https://innowise.com/wp-content/uploads/2022/03/Blockchain/icons/GO%20LANG.svg" alt="" class="h-12">
          <p class="font-bold text-gray-700 hover:text-red-500 uppercase">GOLANG</p>
        </a>
        <div class="ontop w-full mt-2"></div>
      </div>

      <div class="flex flex-col">
        <a href="#" class="flex flex-row items-center space-x-3">
          <img src="https://innowise.com/wp-content/uploads/2022/03/Blockchain/icons/Vyper.svg" alt="" class="h-12">
          <p class="font-bold text-gray-700 hover:text-red-500 uppercase">vyper</p>
        </a>
        <div class="ontop w-full mt-2"></div>
      </div>

      <div class="flex flex-col">
        <a href="#" class="flex flex-row items-center space-x-3">
          <img src="https://innowise.com/wp-content/uploads/2022/03/Blockchain/icons/Simplicity.svg" alt=""
            class="h-12">
          <p class="font-bold text-gray-700 hover:text-red-500 uppercase">Simplicity</p>
        </a>
        <div class="ontop w-full mt-2"></div>
      </div>

      <div class="flex flex-col">
        <a href="#" class="flex flex-row items-center space-x-3">
          <img src="https://innowise.com/wp-content/uploads/2022/03/Blockchain/icons/Rholang.svg" alt="" class="h-12">
          <p class="font-bold text-gray-700 hover:text-red-500 uppercase">rholang</p>
        </a>
        <div class="ontop w-full mt-2"></div>
      </div>

      <div class="flex flex-col">
        <a href="#" class="flex flex-row items-center space-x-3">
          <img src="https://innowise.com/wp-content/uploads/2022/12/Property-1Rust.svg" alt="" class="h-12">
          <p class="font-bold text-gray-700 hover:text-red-500 uppercase">rust</p>
        </a>
        <div class="ontop w-full mt-2"></div>
      </div>
    </div>

  </div> -->

  <div class="hacking-solid-outer bg-cover bg-center flex items-center justify-center"
    style="background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20211009/pngtree-matrix-code-abstract-programming-background-image_908363.png');">
    <div class="hacking-solid text-center">
      <h1 class="digital-h1 text-4xl text-white ">LANGUAGES</h1>
    </div>
  </div>

  <div class="acordion">
    <div class="forensic-dropper">
      <div class=" dropper-container zero-pad">
        <div class="grid grid-cols-1 sm:grid-cols-2  md:grid-cols-4 gap-8 hexer">
          <!-- Example Item -->
          <div class="flex flex-col">
            <a href="#" class="flex flex-row items-center space-x-3">
              <img src="https://innowise.com/wp-content/uploads/2022/03/Blockchain/icons/c%2B%2B.svg" alt="Hyperledger"
                class="h-12">
              <p class="font-bold text-gray-700 hover:text-red-500">C++</p>
            </a>
            <div class="ontop w-full mt-2"></div>
          </div>

          <div class="flex flex-col">
            <a href="#" class="flex flex-row items-center space-x-3">
              <img src="https://innowise.com/wp-content/uploads/2022/02/pyt.svg" alt="" class="h-12">
              <p class="font-bold text-gray-700 hover:text-red-500 uppercase">PYThon</p>
            </a>
            <div class="ontop w-full mt-2"></div>
          </div>

          <div class="flex flex-col">
            <a href="#" class="flex flex-row items-center space-x-3">
              <img src="https://innowise.com/wp-content/uploads/2021/12/Java.svg" alt="" class="h-12">
              <p class="font-bold text-gray-700 hover:text-red-500 uppercase">java</p>
            </a>
            <div class="ontop w-full mt-2"></div>
          </div>

          <div class="flex flex-col">
            <a href="#" class="flex flex-row items-center space-x-3">
              <img src="https://innowise.com/wp-content/uploads/2022/03/Blockchain/icons/Solidity.svg" alt=""
                class="h-12">
              <p class="font-bold text-gray-700 hover:text-red-500 uppercase">solidity</p>
            </a>
            <div class="ontop w-full mt-2"></div>
          </div>

          <div class="flex flex-col">
            <a href="#" class="flex flex-row items-center space-x-3">
              <img src="https://innowise.com/wp-content/uploads/2022/03/Blockchain/icons/JAVA%20SCRIPT.svg" alt=""
                class="h-12">
              <p class="font-bold text-gray-700 hover:text-red-500 uppercase">javascript</p>
            </a>
            <div class="ontop w-full mt-2"></div>
          </div>

          <div class="flex flex-col">
            <a href="#" class="flex flex-row items-center space-x-3">
              <img src="https://innowise.com/wp-content/uploads/2022/03/Blockchain/icons/C%23.svg" alt="" class="h-12">
              <p class="font-bold text-gray-700 hover:text-red-500 uppercase">C#</p>
            </a>
            <div class="ontop w-full mt-2"></div>
          </div>

          <div class="flex flex-col">
            <a href="#" class="flex flex-row items-center space-x-3">
              <img src="https://innowise.com/wp-content/uploads/2022/03/Blockchain/icons/GO%20LANG.svg" alt=""
                class="h-12">
              <p class="font-bold text-gray-700 hover:text-red-500 uppercase">GOLANG</p>
            </a>
            <div class="ontop w-full mt-2"></div>
          </div>

          <div class="flex flex-col">
            <a href="#" class="flex flex-row items-center space-x-3">
              <img src="https://innowise.com/wp-content/uploads/2022/03/Blockchain/icons/Vyper.svg" alt="" class="h-12">
              <p class="font-bold text-gray-700 hover:text-red-500 uppercase">vyper</p>
            </a>
            <div class="ontop w-full mt-2"></div>
          </div>

          <div class="flex flex-col">
            <a href="#" class="flex flex-row items-center space-x-3">
              <img src="https://innowise.com/wp-content/uploads/2022/03/Blockchain/icons/Simplicity.svg" alt=""
                class="h-12">
              <p class="font-bold text-gray-700 hover:text-red-500 uppercase">Simplicity</p>
            </a>
            <div class="ontop w-full mt-2"></div>
          </div>

          <div class="flex flex-col">
            <a href="#" class="flex flex-row items-center space-x-3">
              <img src="https://innowise.com/wp-content/uploads/2022/03/Blockchain/icons/Rholang.svg" alt=""
                class="h-12">
              <p class="font-bold text-gray-700 hover:text-red-500 uppercase">rholang</p>
            </a>
            <div class="ontop w-full mt-2"></div>
          </div>

          <div class="flex flex-col">
            <a href="#" class="flex flex-row items-center space-x-3">
              <img src="https://innowise.com/wp-content/uploads/2022/12/Property-1Rust.svg" alt="" class="h-12">
              <p class="font-bold text-gray-700 hover:text-red-500 uppercase">rust</p>
            </a>
            <div class="ontop w-full mt-2"></div>
          </div>
        </div>

      </div>
    </div>
  </div>


  <!-- sub section 3 -->
  <!-- <div class="next">
    <div class=" mx-auto">
      <h1 class="title text-4xl font-medium text-gray-800 mb-8 ml-6">Most popular blockchain platforms</h1>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-6 grid-container">
        <div class="text-left">
          <div class="logo flex justify-start mb-4">
            <img src="https://innowise.com/wp-content/uploads/2022/03/Bitcoin.svg" alt="" class="h-16">
          </div>
          <h2 class="logo-title text-2xl font-semibold text-gray-800 mb-2">Bitcoin</h2>
          <p class="text-gray-600 text-lg">
            The world’s most popular cryptocurrency, Bitcoin, and the Bitcoin Core, the technology it’s based on, are no
            strangers to Innowise’s blockchain developers. Our software engineers will build a solution based on the
            Bitcoin blockchain technology perfectly matching your business needs.
          </p>
        </div>
        <div class="text-left">
          <div class="logo flex justify-start mb-4">
            <img src="https://innowise.com/wp-content/uploads/2022/03/eth.svg" alt="" class="h-16">
          </div>
          <h2 class="logo-title text-2xl font-semibold text-gray-800 mb-2">Ethereum</h2>
          <p class="text-gray-600 text-lg">
            Being the world’s second most popular blockchain, Ethereum offers not only the Ether cryptocurrency but also
            a platform for decentralized applications and smart contracts, unlike Bitcoin. This feature opens an array
            of opportunities to utilize the Ethereum blockchain for business purposes.
          </p>
        </div>

        <div class="text-left">
          <div class="logo flex justify-start mb-4">
            <img src="https://innowise.com/wp-content/uploads/2022/03/ledger.svg" alt="" class="h-16">
          </div>
          <h2 class="logo-title text-2xl font-semibold text-gray-800 mb-2">Hyperledger</h2>
          <p class="text-gray-600 text-lg">
            Started by the Linux Foundation and receiving contributions from IBM, SAP Ariba, and Intel, Hyperledger
            offers an array of blockchain frameworks and tools with numerous implementation ways. Our blockchain
            developers are well-versed in Hyperledger and its frameworks and tools.
          </p>
        </div>
      </div>

    </div>

  </div> -->

  <div class="hacking-solid-outer bg-cover bg-center flex items-center justify-center"
    style="background-image: url('https://st2.depositphotos.com/33058382/43417/i/450/depositphotos_434173438-stock-photo-digital-dynamic-wave-particles-abstract.jpg');">
    <div class="hacking-solid text-center">
      <h1 class="digital-h1 text-4xl text-white ">Most popular blockchain platforms</h1>
    </div>
  </div>

  <div class="acordion">
    <div class="forensic-dropper">
      <div class=" dropper-container zero-pad">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-6 grid-container">
          <div class="text-left">
            <div class="logo flex justify-start mb-4">
              <img src="https://innowise.com/wp-content/uploads/2022/03/Bitcoin.svg" alt="" class="h-16">
            </div>
            <h2 class="logo-title text-2xl font-semibold text-gray-800 mb-2">Bitcoin</h2>
            <p class="text-gray-600 text-lg">Emiri FinTech specializes in Bitcoin and Bitcoin Core, offering tailored
              blockchain solutions.</p>
          </div>
          <div class="text-left">
            <div class="logo flex justify-start mb-4">
              <img src="https://innowise.com/wp-content/uploads/2022/03/eth.svg" alt="" class="h-16">
            </div>
            <h2 class="logo-title text-2xl font-semibold text-gray-800 mb-2">Ethereum</h2>
            <p class="text-gray-600 text-lg">Ethereum enables apps and smart contracts, unlocking business potential
              with Emiri FinTech.</p>
          </div>

          <div class="text-left">
            <div class="logo flex justify-start mb-4">
              <img src="https://innowise.com/wp-content/uploads/2022/03/ledger.svg" alt="" class="h-16">
            </div>
            <h2 class="logo-title text-2xl font-semibold text-gray-800 mb-2">Hyperledger</h2>
            <p class="text-gray-600 text-lg">Hyperledger offers versatile blockchain tools, expertly utilized by Emiri
              FinTech for tailored solutions.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- section 12 -->
  <div class=" text-white font-sans step-content">
    <div class=" mx-auto space-y-3">
      <h1 class="text-5xl font-normal padder text-left">How we develop blockchain solutions</h1>


      <!-- Step 1 -->
      <div class="flex flex-col items-start mb-10 space-y-6 border-b pb-3 border-gray-400 step-container">
        <div class="text-red-500 text-xl font-bold">01</div>
        <div class="flex flex-col md:flex-row  step-res">
          <h2 class="text-4xl font-semibold stepper">Prepare</h2>
          <p class="text-gray-300 text-xl font-normal step">We start working on the project by defining all the
            requirements, user roles and initially deciding on the technologies to be implemented.
          </p>
        </div>
        <img src="/icons/arrow.png" class="arrow h-5" alt="">
      </div>

      <!-- Step 1 -->
      <div class="flex flex-col items-start mb-10 space-y-6 border-b pb-3 border-gray-400 step-container">
        <div class="text-red-500 text-xl font-bold">02</div>
        <div class="flex flex-col md:flex-row  step-res">
          <h2 class="text-4xl font-semibold stepper">Design</h2>
          <p class="text-gray-300 text-xl font-normal step">We build a mock-up of the future product representing its
            presumed look, user experience, user journey, features, and define the release plan.
          </p>
        </div>
        <img src="/icons/arrow.png" class="arrow h-5" alt="">
      </div>

      <!-- Step 1 -->
      <div class="flex flex-col items-start mb-10 space-y-6 border-b pb-3 border-gray-400 step-container">
        <div class="text-red-500 text-xl font-bold">03</div>
        <div class="flex flex-col md:flex-row  step-res">
          <h2 class="text-4xl font-semibold stepper">Assess</h2>
          <p class="text-gray-300 text-xl font-normal step">We identify the detailed specs for the development, estimate
            cost and required time, agree on the launch plan and assign our specialists to the project.
          </p>
        </div>
        <img src="/icons/arrow.png" class="arrow h-5" alt="">
      </div>

      <!-- Step 1 -->
      <div class="flex flex-col items-start mb-10 space-y-6 border-b pb-3 border-gray-400 step-container">
        <div class="text-red-500 text-xl font-bold">04</div>
        <div class="flex flex-col md:flex-row  step-res">
          <h2 class="text-4xl font-semibold stepper">Develop</h2>
          <p class="text-gray-300 text-xl font-normal step">Our blockchain talents forge the project and perform quality
            assurance to prove its excellence. All the processes and metrics can be tracked with a preferable project
            management tool.
          </p>
        </div>
        <img src="/icons/arrow.png" class="arrow h-5" alt="">
      </div>

      <!-- Step 1 -->
      <div class="flex flex-col items-start mb-10 space-y-6 border-b pb-3 border-gray-400 step-container">
        <div class="text-red-500 text-xl font-bold">05</div>
        <div class="flex flex-col md:flex-row  step-res">
          <h2 class="text-4xl font-semibold stepper">Support</h2>
          <p class="text-gray-300 text-xl font-normal step">After the project is successfully launched, Innowise
            supports it and rolls out constant updates, from scaling it to introducing new features and technologies.
          </p>
        </div>
        <img src="/icons/arrow.png" class="arrow h-5" alt="">
      </div>

    </div>
  </div>


  <!-- section 13 -->
  <!-- <div class="thug-container">
    <div class="thug-header">
      <p class="thug-title">Blockchain development cost</p>
      <p>As a top-tier blockchain development services provider, Innowise aims at rendering world-class services at a
        <br> reasonable cost. At Innowise, we maintain full-pledged blockchain development services and supply our <br>
        clients with all the required specialists based on the project type and complexity. <br>
        This includes:
      </p>
    </div>
    <div class="thug-outer flex ">
      <div class="thug-grid">
        <div class="thug-card flex justify-center items-center gap-3">
          <img src="https://innowise.com/wp-content/uploads/2022/03/team-members-level.svg" alt="Business Analysts">
          <h3 class="font-semibold" style="white-space: nowrap;">Business analysts</h3>
        </div>
        <div class="thug-card flex justify-center items-center gap-3">
          <img src="https://innowise.com/wp-content/uploads/2022/03/project-complexity.svg" alt="Back-end Developers">
          <h3 class="font-semibold" style="white-space: nowrap;">Back-end developers</h3>
        </div>
        <div class="thug-card flex justify-center items-center gap-3">
          <img src="https://innowise.com/wp-content/uploads/2022/03/Frame-48968.svg" alt="Project Manager">
          <h3 class="font-semibold" style="white-space: nowrap;">Project manager</h3>
        </div>
        <div class="thug-card flex justify-center items-center gap-3">
          <img src="https://innowise.com/wp-content/uploads/2022/03/Frame-5038.svg" alt="Front-end Developers">
          <h3 class="font-semibold" style="white-space: nowrap;">Front-end developers</h3>
        </div>
        <div class="thug-card flex justify-center items-center gap-3">
          <img src="https://innowise.com/wp-content/uploads/2022/03/Frame-5037.svg" alt="Software Architect">
          <h3 class="font-semibold" style="white-space: nowrap;">Software architect</h3>
        </div>
        <div class="thug-card flex justify-center items-center gap-3">
          <img src="https://innowise.com/wp-content/uploads/2022/03/project-complexity.svg" alt="Quality Assurance">
          <h3 class="font-semibold" style="white-space: nowrap;">Quality assurance <br> professionals</h3>
        </div>
        <div class="thug-card flex justify-center items-center gap-3">
          <img src="https://innowise.com/wp-content/uploads/2022/03/Frame-5039.svg" alt="Software Architect">
          <h3 class="font-semibold" style="white-space: nowrap;">UI/UX designers</h3>
        </div>
        <div class="thug-card flex justify-center items-center gap-3">
          <img src="https://innowise.com/wp-content/uploads/2022/03/Group-5041.svg" alt="Quality Assurance">
          <h3 class="font-semibold">DevOps engineers</h3>
        </div>

      </div>

      <div class="thug-sidebar">
        <p>The overall project cost is affected by the team composition and size depending on the project type,
          complexity, duration, chosen blockchain platform and collateral tools and services, and other variables.</p>
      </div>
    </div>
  </div> -->

  <!-- section 14 -->
  <!-- <div class="text-gray-800  hexmen">
    <div class="mx-auto mainer">
      <p class="depart-text">Why choose Innowise as a blockchain development company?</p>
      <p class="depart-para">When searching for blockchain developers, our clients seek talents standing out for their
        excellence, <br> innovativeness, and responsibility. As one of the leading blockchain providers, Innowise is a
        perfect <br> pick even for the most challenging projects.</p>
      <div class="grid grid-cols-1 md:grid-cols-3 gridder">
        <div class="innertext">
          <a href="#" class="text-3xl text-gray-900 font-semibold hoveffect"> <sup>●</sup>+ years of experience</a>
          <p class="text-base font-medium leading-relaxed max-w-md">
            Our talented software engineers have been building state-of-the-art solutions since 2007. With such thorough
            experience, our professionals dispatch top-notch blockchain applications of various scales, from setting up
            the whole blockchain infrastructure to designing its separate elements.
          </p>
        </div>
        <div class="innertext">
          <a href="#" class="text-3xl text-gray-900 font-semibold hoveffect"> <sup>●</sup>High-quality services</a>
          <p class="text-base font-medium leading-relaxed max-w-md">
            We meticulously control the quality of our projects at every stage. Our QA specialists jump in during the
            discovery phase to develop and further conduct the quality assurance resulting in the final product having
            no issues.</p>
        </div>
        <div class="innertext">
          <a href="#" class="text-3xl text-gray-900 font-semibold hoveffect"> <sup>●</sup>Proficiency in
            cryptography</a>
          <p class="text-base font-medium leading-relaxed max-w-md">
            Innowise’s blockchain development talents are remarkably skilled at implementing data protection techniques
            including hashing algorithms, encryption, and digital signatures (Diffie-Hellmann, DES, RSA, AES, ECC, TLS,
            SSL, SHA-1, SHA-2, SHA-3, MD5, etc.).</p>
        </div>
      </div>

    </div>
  </div> -->

  <!-- section 15 -->
  <div class="business-stellar stellar-swiper-container webr AI-container">
    <h1 class="cosmic-title text-4xl font-medium text-start">Working with Innowise</h1>
    <div class="cosmic-swiper ai-swiper">
      <div class="orbital-wrapper swiper-wrapper">
        <!-- card 1 -->
        <div class="galaxy-slide swiper-slide">
          <div class="cadder webr overflow-hidden flex flex-col">
            <div class="stala flex flex-row"> <i class="ri-double-quotes-l"></i>
              <p>We are delighted withe emiri fintech's commitment to delivering quality work
                and solving issues quickly. They lead an engaged approach to understanding the team's
                needs
                and accomplishing their goals.</p>
            </div>
            <div class="gala-outer">
              <div class="gala">
                <p class="quote-name"><strong>Or Iny</strong></p>
                <p class="quote-po">CEO</p>
                <p class="quote-r">Zero Beta</p>
              </div>
              <div class="gala-img">
                <img src="https://innowise.com/wp-content/uploads/2024/11/image-3335-1.png" alt="">
              </div>
            </div>
          </div>
        </div>

        <!-- card 1 -->
        <div class="galaxy-slide swiper-slide">
          <div class="cadder webr overflow-hidden flex flex-col">
            <div class="stala flex flex-row"> <i class="ri-double-quotes-l"></i>
              <p>We are delighted withe emiri fintech's commitment to delivering quality work
                and solving issues quickly. They lead an engaged approach to understanding the team's
                needs
                and accomplishing their goals.</p>
            </div>
            <div class="gala-outer">
              <div class="gala">
                <p class="quote-name"><strong>Or Iny</strong></p>
                <p class="quote-po">CEO</p>
                <p class="quote-r">Zero Beta</p>
              </div>
              <div class="gala-img">
                <img src="https://innowise.com/wp-content/uploads/2024/11/image-3335-1.png" alt="">
              </div>
            </div>
          </div>
        </div>

        <div class="galaxy-slide swiper-slide">
          <div class="cadder webr overflow-hidden flex flex-col">
            <div class="stala flex flex-row"> <i class="ri-double-quotes-l"></i>
              <p>We are delighted withe emiri fintech's commitment to delivering quality work
                and solving issues quickly. They lead an engaged approach to understanding the team's
                needs
                and accomplishing their goals.</p>
            </div>
            <div class="gala-outer">
              <div class="gala">
                <p class="quote-name"><strong>Or Iny</strong></p>
                <p class="quote-po">CEO</p>
                <p class="quote-r">Zero Beta</p>
              </div>
              <div class="gala-img">
                <img src="https://innowise.com/wp-content/uploads/2024/11/image-3335-1.png" alt="">
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- Swiper Pagination -->
      <div class="swiper-pagination"></div>
      <!-- Swiper Navigation -->
      <!-- <div class="stellar-button-prev swiper-button-prev"></div>
        <div class="stellar-button-next swiper-button-next"></div> -->
    </div>
  </div>

  <!-- section 16 -->
  <!-- <div class="stellar-faq becky faq-yaani">
    <div class="faqqer yanner">
      <h1 class="text-4xl yaani becker-1 ruby-m text-start">FAQ</h1>
      <div class="border-b py-6">
        <button class="flex justify-between items-center w-full text-left text-2xl font-semibold text-blue-600"
          onclick="toggleSection('section3')">
          Banking CRM
          <span class="text-gray-500">+</span>
        </button>
        <div id="section3" class="mt-2 hidden">
          <p class="text-gray-700 mb-3">As part of our financial software development services at Emiri
            Fintech Solutions, we build flexible CRM systems to drive customer attraction and retention,
            optimize their journey within the sales funnel, and address customers’ growing needs
            proactively rather than reactively. Our CRM systems are bolstered with a high level of
            automation, comprehensive security features, and advanced analytics capabilities that
            contribute to increased employee productivity, data protection, and better adjustment to
            customer demands.</p>
          <p class="text-gray-700">To create a full-fledged portrait of the target audience, we integrate
            CRMs with a plethora of data sources, such as mobile apps, websites, social media platforms,
            email, call centers, and more. Being provided with almost endless opportunities to gain
            insights into your customers’ preferences, you can offer them the most relevant options that
            will meet their financial needs.</p>
        </div>
      </div>

      <div class="border-b py-6">
        <button class="flex justify-between items-center w-full text-left text-2xl font-semibold text-blue-600"
          onclick="toggleSection('section2')">
          Mobile Banking
          <span class="text-gray-500">+</span>
        </button>
        <div id="section2" class="mt-2 hidden">
          <p class="text-gray-700">To make banking services accessible from anywhere anytime, Emiri
            FinTech’s experts deliver mobile solutions that reshape and simplify communication along
            with increasing customer engagement and retention. With both the basic and cutting-edge
            features of our mobile apps, end users can 100% securely and effortlessly manage their
            finances, make financial transactions, and get personal assistance 24/7.</p>
          <ul class="unordered">
            <li><i class="ri-verified-badge-fill"></i> Payment scheduling</li>
            <li><i class="ri-verified-badge-fill"></i> Personalized customers' support</li>
            <li><i class="ri-verified-badge-fill"></i> Money transfer</li>
            <li><i class="ri-verified-badge-fill"></i> Biometric authentication</li>
            <li><i class="ri-verified-badge-fill"></i> Opening and managing bank accounts</li>
            <li><i class="ri-verified-badge-fill"></i> Voice navigation</li>
            <li><i class="ri-verified-badge-fill"></i> Customized alerts</li>
          </ul>
        </div>
      </div>

      <div class="border-b py-6">
        <button class="flex justify-between items-center w-full text-left text-2xl font-semibold text-blue-600"
          onclick="toggleSection('section4')">
          Opening Banking
          <span class="text-gray-500">+</span>
        </button>
        <div id="section4" class="mt-2 hidden">
          <p class="text-gray-700 mb-3">Open banking is changing the landscape of financial relationships.
            By getting access to open APIs, banks can cut down on integration expenses and increase
            client flow thanks to the information they get from their partners.</p>
          <p class="text-gray-700 mb-3">At Emiri Fintech Solutions, we create trustworthy solutions
            (Platforms) that allow banks to rapidly launch new services developed by third-party
            companies and easily embed innovative solutions into their ecosystems while reducing
            overhead costs.</p>
          <p class="text-gray-700 mb-3">To capture the overall value of open banking solutions without
            undermining their reliability, we at Emiri adhere to all the necessary security measures in
            compliance with regulations such as GDPR, PSD2, among others.</p>
        </div>
      </div>

      <div class="border-t border-b py-6">
        <button class="flex justify-between items-center w-full text-left text-2xl font-semibold text-blue-600"
          onclick="toggleSection('section1')">
          Core Banking services
          <span class="text-gray-500">+</span>
        </button>
        <div id="section1" class="mt-2 hidden">
          <p class="text-gray-700">Whether you want your banking software to be on-premise or cloud-based,
            we can deliver a solution that will facilitate the key functions of your bank and drive your
            day-to-day operations.</p>
          <ul class="unordered">
            <li><i class="ri-verified-badge-fill"></i> Account management</li>
            <li><i class="ri-verified-badge-fill"></i> Currency exchange</li>
            <li><i class="ri-verified-badge-fill"></i> Payment processing</li>
            <li><i class="ri-verified-badge-fill"></i> Reporting tools</li>
            <li><i class="ri-verified-badge-fill"></i> Loan management</li>
          </ul>
        </div>
      </div>
    </div>
  </div> -->

  <!-- section 17 -->
  <!-- digital carousel 1 -->
  <!-- <div class="stellar-swiper-container becker">
    <h1 class="cosmic-title text-4xl font-medium">Blockchain Related Cases</h1>
    <div class="cosmic-swiper">
      <div class="orbital-wrapper swiper-wrapper">
        <div class="galaxy-slide swiper-slide">
          <div class="cadder overflow-hidden">
            <img class="w-full zoom-img"
              src="https://innowise.com/wp-content/uploads/2024/12/Small-Cover-Tokenization-of-artworks-certificates-for-Ranadu-1.png"
              alt="Card image">

            <div class="cadder-title">
              <div class="font-bold text-2xl mt-5 mb-2">Stock trading app<br>development</div>
            </div>

            <div class=" cadder-buttons">
              <a href="#" class="inline-block py-1 px-2 digital-buttons ">FinTech</a>
              <a href="#" class="inline-block py-1 px-2 digital-buttons ">Java</a>
              <a href="#" class="inline-block py-1 px-2 digital-buttons">Kotlin</a>
              <a href="#" class="inline-block py-1 px-2 digital-buttons">Mobile</a>
              <a href="#" class="inline-block py-1 px-2 digital-buttons">React</a>
              <a href="#" class="inline-block py-1 px-2 digital-buttons">Swift</a>
            </div>
          </div>
        </div>

        <div class="galaxy-slide swiper-slide">
          <div class="cadder overflow-hidden">
            <img class="w-full zoom-img"
              src="https://innowise.com/wp-content/uploads/2024/09/Satellite-command-management-platform-95-increase-in-cybercrime-prevention_small_cover.png"
              alt="Card image">

            <div class="cadder-title">
              <div class="font-bold text-2xl mt-5 mb-2">Stock trading app<br>development</div>
            </div>

            <div class=" cadder-buttons">
              <a href="#" class="inline-block py-1 px-2 digital-buttons ">FinTech</a>
              <a href="#" class="inline-block py-1 px-2 digital-buttons ">Java</a>
              <a href="#" class="inline-block py-1 px-2 digital-buttons">Kotlin</a>
              <a href="#" class="inline-block py-1 px-2 digital-buttons">Mobile</a>
              <a href="#" class="inline-block py-1 px-2 digital-buttons">React</a>
              <a href="#" class="inline-block py-1 px-2 digital-buttons">Swift</a>
            </div>
          </div>
        </div>

        <div class="galaxy-slide swiper-slide">
          <div class="cadder overflow-hidden">
            <img class="w-full zoom-img"
              src="https://innowise.com/wp-content/uploads/2024/07/Document-management-solution-with-RAG-chatbot-cover-small.jpg"
              alt="Card image">

            <div class="cadder-title">
              <div class="font-bold text-2xl mt-5 mb-2">Stock trading app<br>development</div>
            </div>

            <div class=" cadder-buttons">
              <a href="#" class="inline-block py-1 px-2 digital-buttons ">FinTech</a>
              <a href="#" class="inline-block py-1 px-2 digital-buttons ">Java</a>
              <a href="#" class="inline-block py-1 px-2 digital-buttons">Kotlin</a>
              <a href="#" class="inline-block py-1 px-2 digital-buttons">Mobile</a>
              <a href="#" class="inline-block py-1 px-2 digital-buttons">React</a>
              <a href="#" class="inline-block py-1 px-2 digital-buttons">Swift</a>
            </div>
          </div>
        </div>

        <div class="galaxy-slide swiper-slide">
          <div class="cadder overflow-hidden">
            <img class="w-full zoom-img"
              src="https://innowise.com/wp-content/uploads/2024/07/Telegram-based-tap-clicker-game-for-crypto-company-Small-Cover.png"
              alt="Card image">

            <div class="cadder-title">
              <div class="font-bold text-2xl mt-5 mb-2">Stock trading app<br>development</div>
            </div>

            <div class=" cadder-buttons">
              <a href="#" class="inline-block py-1 px-2 digital-buttons ">FinTech</a>
              <a href="#" class="inline-block py-1 px-2 digital-buttons ">Java</a>
              <a href="#" class="inline-block py-1 px-2 digital-buttons">Kotlin</a>
              <a href="#" class="inline-block py-1 px-2 digital-buttons">Mobile</a>
              <a href="#" class="inline-block py-1 px-2 digital-buttons">React</a>
              <a href="#" class="inline-block py-1 px-2 digital-buttons">Swift</a>
            </div>
          </div>
        </div>

        <div class="galaxy-slide swiper-slide">
          <div class="cadder overflow-hidden">
            <img class="w-full zoom-img" src="https://innowise.com/wp-content/uploads/2024/06/tizer.jpg"
              alt="Card image">

            <div class="cadder-title">
              <div class="font-bold text-2xl mt-5 mb-2">Stock trading app<br>development</div>
            </div>

            <div class=" cadder-buttons">
              <a href="#" class="inline-block py-1 px-2 digital-buttons ">FinTech</a>
              <a href="#" class="inline-block py-1 px-2 digital-buttons ">Java</a>
              <a href="#" class="inline-block py-1 px-2 digital-buttons">Kotlin</a>
              <a href="#" class="inline-block py-1 px-2 digital-buttons">Mobile</a>
              <a href="#" class="inline-block py-1 px-2 digital-buttons">React</a>
              <a href="#" class="inline-block py-1 px-2 digital-buttons">Swift</a>
            </div>
          </div>
        </div>

        <div class="galaxy-slide swiper-slide">
          <div class="cadder overflow-hidden">
            <img class="w-full zoom-img" src="https://innowise.com/wp-content/uploads/2024/05/diamonds-tizer.png"
              alt="Card image">

            <div class="cadder-title">
              <div class="font-bold text-2xl mt-5 mb-2">Stock trading app<br>development</div>
            </div>

            <div class=" cadder-buttons">
              <a href="#" class="inline-block py-1 px-2 digital-buttons ">FinTech</a>
              <a href="#" class="inline-block py-1 px-2 digital-buttons ">Java</a>
              <a href="#" class="inline-block py-1 px-2 digital-buttons">Kotlin</a>
              <a href="#" class="inline-block py-1 px-2 digital-buttons">Mobile</a>
              <a href="#" class="inline-block py-1 px-2 digital-buttons">React</a>
              <a href="#" class="inline-block py-1 px-2 digital-buttons">Swift</a>
            </div>
          </div>
        </div>

        <div class="galaxy-slide swiper-slide">
          <div class="cadder overflow-hidden">
            <img class="w-full zoom-img" src="https://innowise.com/wp-content/uploads/2024/04/space-tizer.png"
              alt="Card image">

            <div class="cadder-title">
              <div class="font-bold text-2xl mt-5 mb-2">Stock trading app<br>development</div>
            </div>

            <div class=" cadder-buttons">
              <a href="#" class="inline-block py-1 px-2 digital-buttons ">FinTech</a>
              <a href="#" class="inline-block py-1 px-2 digital-buttons ">Java</a>
              <a href="#" class="inline-block py-1 px-2 digital-buttons">Kotlin</a>
              <a href="#" class="inline-block py-1 px-2 digital-buttons">Mobile</a>
              <a href="#" class="inline-block py-1 px-2 digital-buttons">React</a>
              <a href="#" class="inline-block py-1 px-2 digital-buttons">Swift</a>
            </div>
          </div>
        </div>
      </div>
      <div class="digital-pagi swiper-pagination"></div>
    </div>
  </div> -->

  <!-- section-18 -->
  <!-- <div class="stellar-swiper-container panda">
    <h1 class="cosmic-title text-4xl font-medium">Need other services?</h1>
    <div class="cosmic-swiper">
      <div class="orbital-wrapper swiper-wrapper">
        <div class="galaxy-slide swiper-slide">
          <div class="boxer overflow-hidden">
            <div class="cadder-title">
              <div class="font-bold text-2xl">Stock trading app<br>development</div>
            </div>
          </div>
        </div>

        <div class="galaxy-slide swiper-slide">
          <div class="boxer overflow-hidden">
            <div class="cadder-title">
              <div class="font-bold text-2xl">Stock trading app<br>development</div>
            </div>
          </div>
        </div>

        <div class="galaxy-slide swiper-slide">
          <div class="boxer overflow-hidden">
            <div class="cadder-title">
              <div class="font-bold text-2xl">Stock trading app<br>development</div>
            </div>
          </div>
        </div>

        <div class="galaxy-slide swiper-slide">
          <div class="boxer overflow-hidden">
            <div class="cadder-title">
              <div class="font-bold text-2xl">Stock trading app<br>development</div>
            </div>
          </div>
        </div>

        <div class="galaxy-slide swiper-slide">
          <div class="boxer overflow-hidden">
            <div class="cadder-title">
              <div class="font-bold text-2xl">Stock trading app<br>development</div>
            </div>
          </div>
        </div>

        <div class="galaxy-slide swiper-slide">
          <div class="boxer overflow-hidden">
            <div class="cadder-title">
              <div class="font-bold text-2xl">Stock trading app<br>development</div>
            </div>
          </div>
        </div>

        <div class="galaxy-slide swiper-slide">
          <div class="boxer overflow-hidden">
            <div class="cadder-title">
              <div class="font-bold text-2xl">Stock trading app<br>development</div>
            </div>
          </div>
        </div>
      </div>
      <div class="pagger swiper-pagination"></div>
    </div>
  </div> -->

  <!-- last secton -->
  <div class="antuan w-full h-full flex flex-col lg:flex-row mb-8">
    <!-- Left Section  -->
    <div class="glorifier w-full lg:w-1/2 p-8 flex flex-col justify-center">
      <h2 class="pluto-1  font-medium text-5xl mb-8">Contact us!</h2>
      <p class="text-xl text-gray-800 mb-6"><span class="text-red-700 underline"><a href="#">Book a
            call</a></span> or fill out the form below and we’ll get back to you once we’ve processed
        your request.</p>

      <form class="w-full">
        <!-- Name Field -->
        <div class="relative z-0 w-full mb-5 group">
          <input type="text" name="floating_name" id="floating_name"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
            placeholder=" " required />
          <label for="floating_name"
            class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Name</label>
        </div>

        <!-- Company Field -->
        <div class="relative z-0 w-full mb-5 group">
          <input type="text" name="floating_company" id="floating_company"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
            placeholder=" " required />
          <label for="floating_company"
            class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Company</label>
        </div>

        <!-- Confirm Email Field -->
        <div class="relative z-0 w-full mb-5 group">
          <input type="text" name="repeat_corporate" id="floating_repeat_corporate"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
            placeholder=" " required />
          <label for="floating_repeat_corporate"
            class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Confirm
            Corporate Email</label>
        </div>

        <!-- Phone and Subject Fields -->
        <div class="grid md:grid-cols-2 md:gap-6">
          <div class="relative z-0 w-full mb-5 group">
            <input type="number" name="floating_first_phone" id="floating_first_phone"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
              placeholder=" " required />
            <label for="floating_first_phone"
              class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">First
              Phone</label>
          </div>
          <div class="relative z-0 w-full mb-5 group">
            <input type="text" name="floating_last_subject" id="floating_last_subject"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
              placeholder=" " required />
            <label for="floating_last_subject"
              class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Last
              Subject</label>
          </div>
        </div>

        <!-- Project Budget Field -->
        <div class="relative z-0 w-full mb-5 group">
          <input type="number" name="floating_phone" id="floating_project"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
            placeholder=" " required />
          <label for="floating_project"
            class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Project
            Budget (GMD100K)</label>
        </div>

        <!-- Description Field -->
        <div class="relative z-0 w-full mb-5 group">
          <input type="text" name="floating_description" id="floating_description"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
            placeholder=" " required />
          <label for="floating_description"
            class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Description</label>
        </div>

        <!-- Action Buttons -->
        <div class="flex flex-col justify-center items-center">
          <div class="flex flex-col lg:flex-row gap-4 w-full">
            <!-- Record Message Button -->
            <div class="flex flex-col items-center border border-gray-300 rounded-md p-4 w-full lg:w-1/2">
              <p class="text-sm font-medium mb-2">Record a voice message about your project to help us
                understand it better</p>
              <button
                class="border border-red-500 hover:bg-gray-100 text-red-500 font-bold py-2 px-4 rounded flex items-center justify-center gap-2">
                <i class="ri-mic-2-line text-xl"></i>
                Record a voice message
              </button>
            </div>

            <!-- Attach Documents Button -->
            <div class="flex flex-col items-center border border-gray-300 rounded-md p-4 w-full lg:w-1/2">
              <p class="text-sm font-medium mb-2">Attach additional documents as needed</p>
              <button
                class="attacher border lg:mt-3 border-red-500 hover:bg-gray-100 text-red-500 font-bold py-2 px-4 rounded flex items-center justify-center gap-2">
                <i class="ri-file-2-line text-xl"></i>
                Attach documents
              </button>
            </div>
          </div>
        </div>

        <!-- Legal Notice -->
        <p class="text-sm text-gray-500 mt-4">Please be informed that when you click the Send button, we
          will process your personal data in accordance with our <span class="text-black font-medium"> <a
              href="#">Privacy Policy</a> </span>and Terms and Conditions.</p>

        <!-- Full-Width Send Button -->
        <button type="submit" class="mt-4 w-full bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded">
          Send
        </button>
      </form>

    </div>





    <!-- Right Section -->
    <div class="w-full lg:w-1/2 flex justify-center items-center">
      <!-- statistic -->
      <div class="next-container">
        <div class="next-title">What happens next?</div>
        <div class="next-step">
          <div class="next-step-number">1</div>
          <div class="next-step-content">Once we’ve received and processed your request, we’ll <br> get back to you to
            detail your project needs and sign <br>an NDA to ensure confidentiality.</div>
        </div>
        <div class="next-step">
          <div class="next-step-number">2</div>
          <div class="next-step-content">After examining your wants, needs, and expectations, <br> our team will devise
            a project proposal with the scope <br> of work, team size, time, and cost estimates.</div>
        </div>
        <div class="next-step">
          <div class="next-step-number">3</div>
          <div class="next-step-content">We’ll arrange a meeting with you to discuss the offer <br> and nail down the
            details.</div>
        </div>
        <div class="next-step">
          <div class="next-step-number">4</div>
          <div class="next-step-content">Finally, we’ll sign a contract and start working on <br> your project right
            away.</div>
        </div>
      </div>

    </div>

  </div>


  <script src="/javascripts/account.js"></script>