<%- layout('layouts/boilerplate') %>
  <link rel="stylesheet" href="/helper/web.css">

  <div class="cont flex items-center justify-center bg-no-repeat bg-center bg-cover bg-black bg-opacity-50"
    style="background-image: url('https://img.freepik.com/premium-photo/blue-background-with-light-it_1034303-518085.jpg?uid=R178129720&ga=GA1.1.1951979353.1732287376&semt=ais_hybrid');">
    <div class="flex flex-col items-center text-center">
      <p class="text-white text-4xl font-medium">Get your blockchain project forged by high-class
        <br> IT professionals
      </p>
      <a href="#" class="mt-14 px-6 py-4 text-white bg-red-500 rounded-sm hover:bg-blue-700">Visit Here</a>
    </div>
  </div>



  <div class="flex flex-col stack">
    <div class="flex flex-col hexer">
      <h1 class="main text-4xl font-medium text-gray-900">Our blockchain technology stack</h1>
      <h3 class="text-2xl text-red-500">PLATFORMS</h3>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2  md:grid-cols-4 gap-8 hexer">
      <!-- Example Item -->
      <div class="flex flex-col">
        <a href="#" class="flex flex-row items-center space-x-3">
          <img
            src="https://innowise.com/wp-content/uploads/2022/03/Blockchain/icons/hyperledgerfoundation_horizontal-dark%201.svg"
            alt="Hyperledger" class="h-12">
          <p class="font-bold text-gray-700 hover:text-red-500">HYPERLEDGER</p>
        </a>
        <div class="ontop w-full mt-2"></div>
      </div>

      <div class="flex flex-col">
        <a href="#" class="flex flex-row items-center space-x-3">
          <img src="https://innowise.com/wp-content/uploads/2022/03/Blockchain/icons/Ethereum.svg" alt="" class="h-12">
          <p class="font-bold text-gray-700 hover:text-red-500 uppercase">Ethereum</p>
        </a>
        <div class="ontop w-full mt-2"></div>
      </div>

      <div class="flex flex-col">
        <a href="#" class="flex flex-row items-center space-x-3">
          <img src="https://innowise.com/wp-content/uploads/2022/03/Blockchain/icons/Bitcoin.svg" alt="" class="h-12">
          <p class="font-bold text-gray-700 hover:text-red-500 uppercase">Bitcoin</p>
        </a>
        <div class="ontop w-full mt-2"></div>
      </div>

      <div class="flex flex-col">
        <a href="#" class="flex flex-row items-center space-x-3">
          <img
            src="https://innowise.com/wp-content/uploads/2022/03/Blockchain/icons/b7c472d6-ea94-40cd-8e2c-89e7eb0c1ae8%201.svg"
            alt="" class="h-12">
          <p class="font-bold text-gray-700 hover:text-red-500 uppercase">Dash</p>
        </a>
        <div class="ontop w-full mt-2"></div>
      </div>

      <div class="flex flex-col">
        <a href="#" class="flex flex-row items-center space-x-3">
          <img src="https://innowise.com/wp-content/uploads/2022/03/Blockchain/icons/image%20327.svg" alt=""
            class="h-12">
          <p class="font-bold text-gray-700 hover:text-red-500 uppercase">ripple</p>
        </a>
        <div class="ontop w-full mt-2"></div>
      </div>

      <div class="flex flex-col">
        <a href="#" class="flex flex-row items-center space-x-3">
          <img src="https://innowise.com/wp-content/uploads/2022/03/Blockchain/icons/litecoin%201.svg" alt=""
            class="h-12">
          <p class="font-bold text-gray-700 hover:text-red-500 uppercase">Litecoin</p>
        </a>
        <div class="ontop w-full mt-2"></div>
      </div>

      <div class="flex flex-col">
        <a href="#" class="flex flex-row items-center space-x-3">
          <img src="https://innowise.com/wp-content/uploads/2022/03/Blockchain/icons/nem-logo-svg-vector%201.svg" alt=""
            class="h-12">
          <p class="font-bold text-gray-700 hover:text-red-500 uppercase">nem</p>
        </a>
        <div class="ontop w-full mt-2"></div>
      </div>

      <div class="flex flex-col">
        <a href="#" class="flex flex-row items-center space-x-3">
          <img src="https://innowise.com/wp-content/uploads/2022/03/Blockchain/icons/image%20328.svg" alt=""
            class="h-12">
          <p class="font-bold text-gray-700 hover:text-red-500 uppercase">eos</p>
        </a>
        <div class="ontop w-full mt-2"></div>
      </div>

      <div class="flex flex-col">
        <a href="#" class="flex flex-row items-center space-x-3">
          <img src="https://innowise.com/wp-content/uploads/2022/03/Blockchain/icons/image%20329.svg" alt=""
            class="h-12">
          <p class="font-bold text-gray-700 hover:text-red-500 uppercase">tether</p>
        </a>
        <div class="ontop w-full mt-2"></div>
      </div>

      <div class="flex flex-col">
        <a href="#" class="flex flex-row items-center space-x-3">
          <img src="https://innowise.com/wp-content/uploads/2022/03/Blockchain/icons/unnamed%20%281%29%201.svg" alt=""
            class="h-12">
          <p class="font-bold text-gray-700 hover:text-red-500 uppercase">chain</p>
        </a>
        <div class="ontop w-full mt-2"></div>
      </div>

      <div class="flex flex-col">
        <a href="#" class="flex flex-row items-center space-x-3">
          <img src="https://innowise.com/wp-content/uploads/2022/03/Blockchain/icons/unnamed%201.svg" alt=""
            class="h-12">
          <p class="font-bold text-gray-700 hover:text-red-500 uppercase">matic/polygon</p>
        </a>
        <div class="ontop w-full mt-2"></div>
      </div>

      <div class="flex flex-col">
        <a href="#" class="flex flex-row items-center space-x-3">
          <img src="https://innowise.com/wp-content/uploads/2022/03/Blockchain/icons/image%20331.svg" alt=""
            class="h-12">
          <p class="font-bold text-gray-700 hover:text-red-500 uppercase">corda</p>
        </a>
        <div class="ontop w-full mt-2"></div>
      </div>

      <div class="flex flex-col">
        <a href="#" class="flex flex-row items-center space-x-3">
          <img src="https://innowise.com/wp-content/uploads/2022/03/Blockchain/icons/image%20333.svg" alt=""
            class="h-12">
          <p class="font-bold text-gray-700 hover:text-red-500 uppercase">tron</p>
        </a>
        <div class="ontop w-full mt-2"></div>
      </div>

      <div class="flex flex-col">
        <a href="#" class="flex flex-row items-center space-x-3">
          <img src="https://innowise.com/wp-content/uploads/2022/03/Blockchain/icons/image%20334.svg" alt=""
            class="h-12">
          <p class="font-bold text-gray-700 hover:text-red-500 uppercase">stellar</p>
        </a>
        <div class="ontop w-full mt-2"></div>
      </div>

      <div class="flex flex-col">
        <a href="#" class="flex flex-row items-center space-x-3">
          <img src="https://innowise.com/wp-content/uploads/2022/03/Blockchain/icons/unnamed%20%282%29%201.svg" alt=""
            class="h-12">
          <p class="font-bold text-gray-700 hover:text-red-500 uppercase">solana</p>
        </a>
        <div class="ontop w-full mt-2"></div>
      </div>


    </div>

  </div>

  <div class="flex flex-col stacks">
    <div class="flex flex-col hexer">
      <h3 class="text-2xl text-red-500 hex">LANGUAGES</h3>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2  md:grid-cols-4 gap-8 hexer">
      <!-- Example Item -->
      <div class="flex flex-col">
        <a href="#" class="flex flex-row items-center space-x-3">
          <img src="https://innowise.com/wp-content/uploads/2022/03/Blockchain/icons/c%2B%2B.svg" alt="Hyperledger"
            class="h-12">
          <p class="font-bold text-gray-700 hover:text-red-500">C++</p>
        </a>
        <div class="ontop w-full mt-2"></div>
      </div>

      <div class="flex flex-col">
        <a href="#" class="flex flex-row items-center space-x-3">
          <img src="https://innowise.com/wp-content/uploads/2022/02/pyt.svg" alt="" class="h-12">
          <p class="font-bold text-gray-700 hover:text-red-500 uppercase">PYThon</p>
        </a>
        <div class="ontop w-full mt-2"></div>
      </div>

      <div class="flex flex-col">
        <a href="#" class="flex flex-row items-center space-x-3">
          <img src="https://innowise.com/wp-content/uploads/2021/12/Java.svg" alt="" class="h-12">
          <p class="font-bold text-gray-700 hover:text-red-500 uppercase">java</p>
        </a>
        <div class="ontop w-full mt-2"></div>
      </div>

      <div class="flex flex-col">
        <a href="#" class="flex flex-row items-center space-x-3">
          <img src="https://innowise.com/wp-content/uploads/2022/03/Blockchain/icons/Solidity.svg" alt="" class="h-12">
          <p class="font-bold text-gray-700 hover:text-red-500 uppercase">solidity</p>
        </a>
        <div class="ontop w-full mt-2"></div>
      </div>

      <div class="flex flex-col">
        <a href="#" class="flex flex-row items-center space-x-3">
          <img src="https://innowise.com/wp-content/uploads/2022/03/Blockchain/icons/JAVA%20SCRIPT.svg" alt=""
            class="h-12">
          <p class="font-bold text-gray-700 hover:text-red-500 uppercase">javascript</p>
        </a>
        <div class="ontop w-full mt-2"></div>
      </div>

      <div class="flex flex-col">
        <a href="#" class="flex flex-row items-center space-x-3">
          <img src="https://innowise.com/wp-content/uploads/2022/03/Blockchain/icons/C%23.svg" alt="" class="h-12">
          <p class="font-bold text-gray-700 hover:text-red-500 uppercase">C#</p>
        </a>
        <div class="ontop w-full mt-2"></div>
      </div>

      <div class="flex flex-col">
        <a href="#" class="flex flex-row items-center space-x-3">
          <img src="https://innowise.com/wp-content/uploads/2022/03/Blockchain/icons/GO%20LANG.svg" alt="" class="h-12">
          <p class="font-bold text-gray-700 hover:text-red-500 uppercase">GOLANG</p>
        </a>
        <div class="ontop w-full mt-2"></div>
      </div>

      <div class="flex flex-col">
        <a href="#" class="flex flex-row items-center space-x-3">
          <img src="https://innowise.com/wp-content/uploads/2022/03/Blockchain/icons/Vyper.svg" alt="" class="h-12">
          <p class="font-bold text-gray-700 hover:text-red-500 uppercase">vyper</p>
        </a>
        <div class="ontop w-full mt-2"></div>
      </div>

      <div class="flex flex-col">
        <a href="#" class="flex flex-row items-center space-x-3">
          <img src="https://innowise.com/wp-content/uploads/2022/03/Blockchain/icons/Simplicity.svg" alt=""
            class="h-12">
          <p class="font-bold text-gray-700 hover:text-red-500 uppercase">Simplicity</p>
        </a>
        <div class="ontop w-full mt-2"></div>
      </div>

      <div class="flex flex-col">
        <a href="#" class="flex flex-row items-center space-x-3">
          <img src="https://innowise.com/wp-content/uploads/2022/03/Blockchain/icons/Rholang.svg" alt="" class="h-12">
          <p class="font-bold text-gray-700 hover:text-red-500 uppercase">rholang</p>
        </a>
        <div class="ontop w-full mt-2"></div>
      </div>

      <div class="flex flex-col">
        <a href="#" class="flex flex-row items-center space-x-3">
          <img src="https://innowise.com/wp-content/uploads/2022/12/Property-1Rust.svg" alt="" class="h-12">
          <p class="font-bold text-gray-700 hover:text-red-500 uppercase">rust</p>
        </a>
        <div class="ontop w-full mt-2"></div>
      </div>
    </div>

  </div>

  <div class="cont flex items-center justify-center bg-no-repeat bg-center bg-cover bg-black bg-opacity-50"
  style="background-image: url('https://img.freepik.com/premium-photo/blue-background-with-light-it_1034303-518085.jpg?uid=R178129720&ga=GA1.1.1951979353.1732287376&semt=ais_hybrid');">
  <div class="flex flex-col items-center text-center">
    <p class="text-white text-4xl font-medium">Have your blockchain project crafted by top-tier
      <br> IT experts
    </p>
    <a href="#" class="mt-14 px-6 py-4 text-white bg-red-500 rounded-sm hover:bg-blue-700">Visit Here</a>
  </div>
</div>


  <div class="next">
    <div class=" mx-auto">
      <h1 class="title text-4xl font-medium text-gray-800 mb-8">Most popular blockchain platforms</h1>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-6 grid-container">
        <!-- Bitcoin -->
        <div class="text-left">
          <div class="logo flex justify-start mb-4">
            <img src="https://innowise.com/wp-content/uploads/2022/03/Bitcoin.svg" alt="" class="h-16">
          </div>
          <h2 class="logo-title text-2xl font-semibold text-gray-800 mb-2">Bitcoin</h2>
          <p class="text-gray-600 text-lg">
            The world’s most popular cryptocurrency, Bitcoin, and the Bitcoin Core, the technology it’s based on, are no
            strangers to Innowise’s blockchain developers. Our software engineers will build a solution based on the
            Bitcoin blockchain technology perfectly matching your business needs.
          </p>
        </div>
        <!-- Etherum -->
        <div class="text-left">
          <div class="logo flex justify-start mb-4">
            <img src="https://innowise.com/wp-content/uploads/2022/03/eth.svg" alt="" class="h-16">
          </div>
          <h2 class="logo-title text-2xl font-semibold text-gray-800 mb-2">Ethereum</h2>
          <p class="text-gray-600 text-lg">
            Being the world’s second most popular blockchain, Ethereum offers not only the Ether cryptocurrency but also
            a platform for decentralized applications and smart contracts, unlike Bitcoin. This feature opens an array
            of opportunities to utilize the Ethereum blockchain for business purposes.
          </p>
        </div>

        <!-- Hyperledger -->
        <div class="text-left">
          <div class="logo flex justify-start mb-4">
            <img src="https://innowise.com/wp-content/uploads/2022/03/ledger.svg" alt="" class="h-16">
          </div>
          <h2 class="logo-title text-2xl font-semibold text-gray-800 mb-2">Hyperledger</h2>
          <p class="text-gray-600 text-lg">
            Started by the Linux Foundation and receiving contributions from IBM, SAP Ariba, and Intel, Hyperledger
            offers an array of blockchain frameworks and tools with numerous implementation ways. Our blockchain
            developers are well-versed in Hyperledger and its frameworks and tools.
          </p>
        </div>
      </div>

    </div>

  </div>

  <div id="insights" class="darker-stellar ai-steller stellar-swiper-container">
    <h1 class="darker-cosmic cosmic-title coastal text-4xl font-medium text-left">Blockchain development services
    </h1>
    <div class="cosmic-swiper">
      <div class="orbital-wrapper swiper-wrapper">
        <!-- card 1 -->
        <div class="galaxy-slide swiper-slide">
          <div class="cadder overflow-hidden">
            <!-- Image at the top -->
            <img class="w-full zoom-img" src="https://innowise.com/wp-content/uploads/2022/03/Blockchain/1.png"
              alt="Card image">

            <!-- Title below the image -->
            <div class="cadder-title">
              <div class="font-bold text-2xl mt-5 mb-2 pl-3 text-left">ICO support</div>
            </div>

            <div class="account-description-outer">
              <div class="account-description dess">
                <p class="text-xl font-medium ziga text-left  inner-para">
                  At Emiri Fintech, we offer full ICO support, using our blockchain expertise to help businesses launch
                  successful Initial Coin Offerings. Our services cover strategic planning, technical development, and
                  regulatory compliance for a smooth ICO process.
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- card 1 -->
        <div class="galaxy-slide swiper-slide">
          <div class="cadder overflow-hidden">
            <!-- Image at the top -->
            <img class="w-full zoom-img" src="https://innowise.com/wp-content/uploads/2022/03/Blockchain/2.png"
              alt="Card image">

            <!-- Title below the image -->
            <div class="cadder-title">
              <div class="font-bold text-2xl mt-5 mb-2 pl-3 text-left">DAO development</div>
            </div>

            <div class="account-description-outer">
              <div class="account-description dess">
                <p class="text-xl ziga font-medium inner-para">
                  At Emiri Fintech, we excel in DAO development, leveraging blockchain and smart contracts to build
                  decentralized, autonomous organizations. Our solutions help businesses improve governance, enhance
                  transparency, and optimize efficiency.
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- card 1 -->
        <div class="galaxy-slide swiper-slide">
          <div class="cadder overflow-hidden">
            <!-- Image at the top -->
            <img class="w-full zoom-img" src="https://innowise.com/wp-content/uploads/2022/03/Blockchain/4.png"
              alt="Card image">

            <!-- Title below the image -->
            <div class="cadder-title">
              <div class="font-bold text-2xl mt-5 mb-2 pl-3 text-left">NFT-related services</div>
            </div>

            <div class="account-description-outer">
              <div class="account-description dess">
                <p class="text-xl ziga font-medium inner-para">
                  At Emiri Fintech, we excel in NFT development, leveraging blockchain technology to create, manage, and
                  trade unique digital assets. Our solutions help businesses improve ownership, enhance engagement, and
                  maximize monetization opportunities.
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- card 1 -->
        <div class="galaxy-slide swiper-slide">
          <div class="cadder overflow-hidden">
            <!-- Image at the top -->
            <img class="w-full zoom-img" src="https://innowise.com/wp-content/uploads/2022/03/Blockchain/3.png"
              alt="Card image">

            <!-- Title below the image -->
            <div class="cadder-title">
              <div class="font-bold text-2xl mt-5 mb-2 pl-3 text-left">Blockchain security</div>
            </div>

            <div class="account-description-outer">
              <div class="account-description dess">
                <p class="ziga text-xl font-medium inner-para">
                  At Emiri Fintech, we prioritize blockchain security. Our advanced solutions ensure the integrity,
                  confidentiality, and availability of blockchain data, protecting against threats and vulnerabilities
                  to maintain robust and secure blockchain environments for businesses.
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- card 1 -->
        <div class="galaxy-slide swiper-slide">
          <div class="cadder overflow-hidden">
            <!-- Image at the top -->
            <img class="w-full zoom-img" src="https://innowise.com/wp-content/uploads/2022/03/Blockchain/5.png"
              alt="Card image">

            <!-- Title below the image -->
            <div class="cadder-title">
              <div class="font-bold text-2xl mt-5 mb-2 pl-3 text-left">Smart contract development</div>
            </div>

            <div class="account-description-outer">
              <div class="account-description dess">
                <p class="ziga text-xl font-medium inner-para">
                  At Emiri Fintech, we specialize in smart contract development, leveraging cutting-edge blockchain technology to create secure, automated, and transparent agreements. Our solutions help businesses streamline operations, reduce risks, and enhance overall efficiency.                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- card 1 -->
        <div class="galaxy-slide swiper-slide">
          <div class="cadder overflow-hidden">
            <!-- Image at the top -->
            <img class="w-full zoom-img" src="https://innowise.com/wp-content/uploads/2022/03/Blockchain/6.png"
              alt="Card image">

            <!-- Title below the image -->
            <div class="cadder-title">
              <div class="font-bold text-2xl mt-5 mb-2 pl-3 text-left">Cryptocurrency development</div>
            </div>

            <div class="account-description-outer">
              <div class="account-description dess">
                <p class="ziga text-xl font-medium inner-para">
                  At Emiri Fintech, we specialize in cryptocurrency development, using cutting-edge blockchain technology to create secure, scalable, and efficient digital currencies. Our solutions help businesses drive innovation, enhance security, and unlock new market potential.                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="galaxy-slide swiper-slide">
          <div class="cadder overflow-hidden">
            <!-- Image at the top -->
            <img class="w-full zoom-img" src="https://innowise.com/wp-content/uploads/2022/03/Blockchain/7.png"
              alt="Card image">

            <!-- Title below the image -->
            <div class="cadder-title">
              <div class="font-bold text-2xl mt-5 mb-2 pl-3 text-left">Custom blockchain solutions development</div>
            </div>

            <div class="account-description-outer">
              <div class="account-description dess">
                <p class="ziga text-xl font-medium inner-para">
                  At Emiri Fintech, we specialize in custom blockchain solutions, utilizing advanced technology to build secure, scalable networks. Our services help businesses improve performance, enhance security, and drive innovation.
                </p>
              </div>
            </div>
          </div>
        </div>


      </div>
      <!-- Swiper Pagination -->
      <div class="swiper-pagination"></div>
      <!-- Swiper Navigation -->
      <!-- <div class="stellar-button-prev swiper-button-prev"></div>
            <div class="stellar-button-next swiper-button-next"></div> -->
    </div>
  </div>

  <script src="/javascripts/account.js"></script>