<footer class="bg-gray-900 footer-container flex justify-center items-center  text-gray-300">
    <div class="container  mx-auto px-8">
        <div class=" first-footer mb-8 grid gap-8">
            <div>
                <h2 class="footer-title text-lg text-[#FA64FF] mb-4">PLATFORM</h2>
                <ul>
                    <li class="mb-2"><a href="#" class="text-white">GIISS</a></li>
                    <li class="mb-2"><a href="#" class="text-white">GIIPSS</a></li>
                    <li class="mb-2"><a href="#" class="text-white">Emiri Pay</a></li>
                    <li class="mb-2"><a href="#" class="text-white">Emiri Coin</a></li>
                </ul>

            </div>

            <div>
                <h2 style="white-space: nowrap;" class=" footer-title text-lg text-[#FA64FF] mb-4">FOR WHO</h2>
                <ul>
                    <li class="mb-2"><a href="#" class="text-white">Banks
                        </a></li>
                    <li class="mb-2"><a style="white-space: nowrap;" href="#" class="text-white">Insurance</a></li>
                    <li class="mb-2"><a style="white-space: nowrap;" href="#" class="text-white">Remittance
                        </a></li>
                    <li class="mb-2"><a style="white-space: nowrap;" href="#" class="text-white">Real Estate
                        </a></li>

                </ul>
            </div>

            <div>
                <h2 class="footer-title text-lg text-[#FA64FF] mb-4">COMPANY</h2>
                <ul>
                    <li class="mb-2"><a href="/about" class="text-white">About Us</a></li>
                    <li class="mb-2"><a href="/board" class="text-white">Our Board</a></li>
                    <li class="mb-2"><a style="white-space: nowrap;" href="/why" class="text-white">Why Emiri</a></li>
                    <li class="mb-2"><a href="/careers" class="text-white">Careers</a></li>
                </ul>
            </div>


            <div>
                <h2 class="footer-title text-lg text-[#FA64FF] mb-4">INSIGHTS</h2>
                <ul>
                    <li class="mb-2"><a href="#" class="text-white">Blog</a></li>
                    <li class="mb-2"><a href="#" class="text-white ">Research & reports</a></li>
                    <li class="mb-2"><a href="#" class="text-white ">Events & webinars</a></li>
                </ul>
            </div>


            <div>
                <h2 class=" footer-title text-lg text-[#FA64FF] mb-4">DEVELOPERS</h2>
                <ul>
                    <li class="mb-2"><a href="/developer" class="text-white">API</a></li>
                    <li class="mb-2"><a href="/open-source" class="text-white">Open Source</a></li>
                </ul>
            </div>


        </div>

        <div class="footer-second mb-8 grid form-social-gap">
            <div>
                <h2 style="white-space: nowrap;" class=" footer-title text-lg text-[#FA64FF] mb-4">HOW WE WORK</h2>
                <ul>
                    <li class="mb-2"><a href="/eco" class="text-white">Ecosystem </a></li>
                    <li class="mb-2"><a style="white-space: nowrap;" href="/getting-started" class="text-white">Getting started</a>
                    </li>
                    <li class="mb-2"><a href="/privacy" class="text-white">Security & Privacy</a></li>
                </ul>
            </div>

            <div class="form-for">
                <h2 style="white-space: nowrap;" class=" footer-title text-lg text-[#FA64FF] mb-4">SUBSCRIBE TO OUR
                    NEWSLETTER</h2>
                <form class="footer-form" style="white-space: nowrap;">
                    <input type="email" placeholder="Email*"
                        class="bg-gray-800 text-gray-300 border-2 border-gray-700 rounded-md px-4 py-2 mb-2" />
                    <button type="submit"
                        class="bg-pink-500 hover:bg-pink-600 text-white rounded-md px-4 py-2">SUBSCRIBE</button>
                </form>
                <p style="white-space: nowrap;" class="text-xs text-gray-500">This website is protected by reCAPTCHA and
                    the Google Privacy <br> Policy and Terms of Service apply.</p>
            </div>

            <div class="imra"></div>


            <div class="footer-contact text-center pr-5">
                <p class="underline text-gray-500">Contact us</p>
                <div class="flex justify-center mt-2 social-icons gap-2">
                    <a href="#"
                        class="w-12 h-12 flex items-center justify-center bg-gray-800 border-2 border-gray-600 rounded-full">
                        <i class="fab fa-linkedin text-white"></i>
                    </a>
                    <a href="#"
                        class="w-12 h-12 flex items-center justify-center bg-gray-800 border-2 border-gray-600 rounded-full">
                        <i class="fab fa-facebook text-white"></i>
                    </a>
                </div>

            </div>
        </div>

        <div class="footer-accordion">
            <div class="carod">
                <div class="foot grid grid-cols-1 gap-4">
                    <!-- First Column -->
                    <!-- First Accordion -->
                    <div class="accordion-foot">
                        <div class="accordion-header">
                            <button type="button" class="accordion-toggle">
                                PLATFORM
                                <i class="ri-arrow-down-s-line toggle-icon"></i>
                            </button>
                        </div>
                        <div class="accordion-content">
                            <ul>
                                <li class="mb-2"><a href="#" class="text-white">GIISS</a></li>
                                <li class="mb-2"><a href="#" class="text-white">GIIPSS</a></li>
                                <li class="mb-2"><a href="#" class="text-white">Emiri Pay</a></li>
                                <li class="mb-2"><a href="#" class="text-white">Emiri Coin</a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Second Accordion -->
                    <div class="accordion-foot">
                        <div class="accordion-header">
                            <button type="button" class="accordion-toggle">
                                FOR WHO
                                <i class="ri-arrow-down-s-line toggle-icon"></i>
                            </button>
                        </div>
                        <div class="accordion-content">
                            <ul>
                                <li class="mb-2"><a href="#" class="text-white">Banks
                                    </a></li>
                                <li class="mb-2"><a style="white-space: nowrap;" href="#"
                                        class="text-white">Insurance</a></li>
                                <li class="mb-2"><a style="white-space: nowrap;" href="#" class="text-white">Remittance
                                    </a></li>
                                <li class="mb-2"><a style="white-space: nowrap;" href="#" class="text-white">Real Estate
                                    </a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Second Column --> <!-- Third Accordion -->
                    <div class="accordion-foot">
                        <div class="accordion-header">
                            <button type="button" class="accordion-toggle">
                                COMPANY
                                <i class="ri-arrow-down-s-line toggle-icon"></i>
                            </button>
                        </div>
                        <div class="accordion-content">
                            <ul>
                                <li class="mb-2"><a href="/about" class="text-white">About Us</a></li>
                                <li class="mb-2"><a href="/board" class="text-white">Our Board</a></li>
                                <li class="mb-2"><a style="white-space: nowrap;" href="/why" class="text-white">Why
                                        Emiri</a></li>
                                <li class="mb-2"><a href="careers" class="text-white">Careers</a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Fourth Accordion -->
                    <div class="accordion-foot">
                        <div class="accordion-header">
                            <button type="button" class="accordion-toggle">
                                INSIGHTS
                                <i class="ri-arrow-down-s-line toggle-icon"></i>
                            </button>
                        </div>
                        <div class="accordion-content">
                            <ul>
                                <li class="mb-2"><a href="#" class="text-white">Blog</a></li>
                                <li class="mb-2"><a href="#" class="text-white ">Research & reports</a></li>
                                <li class="mb-2"><a href="#" class="text-white ">Events & webinars</a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Third Accordion -->
                    <div class="accordion-foot">
                        <div class="accordion-header">
                            <button type="button" class="accordion-toggle">
                                DEVELOPERS
                                <i class="ri-arrow-down-s-line toggle-icon"></i>
                            </button>
                        </div>
                        <div class="accordion-content">
                            <ul>
                                <li class="mb-2"><a href="/developer" class="text-white">API</a></li>
                                <li class="mb-2"><a href="/open-source" class="text-white">Open Source</a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Fourth Accordion -->
                    <div class="accordion-foot">
                        <div class="accordion-header">
                            <button type="button" class="accordion-toggle">
                                HOW WE WORK
                                <i class="ri-arrow-down-s-line toggle-icon"></i>
                            </button>
                        </div>
                        <div class="accordion-content">
                            <ul>
                                <li class="mb-2"><a href="/eco" class="text-white">Ecosystem </a></li>
                                <li class="mb-2"><a style="white-space: nowrap;" href="/getting-started" class="text-white">Getting started</a>
                                </li>
                                <li class="mb-2"><a href="/privacy" class="text-white">Security & Privacy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="social-footer">
                <div class="flex justify-center mt-2 social-icons gap-2">
                    <a href="#"
                        class="w-12 h-12 flex items-center justify-center bg-gray-800 border-2 border-gray-600 rounded-full">
                        <i class="fab fa-linkedin text-white"></i>
                    </a>
                    <a href="#"
                        class="w-12 h-12 flex items-center justify-center bg-gray-800 border-2 border-gray-600 rounded-full">
                        <i class="fab fa-facebook text-white"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="goblin border-t border-gray-700 mt-12 pt-8 flex justify-between items-center">
            <div class="gaboon">
                <a href="#" class="text-2xl font-semibold">Powered by Coders Clutch</a>
            </div>

            <div class="text-center mt-4 text-gray-500">
                <p>&copy; 2024 Emiri Fintech. All rights reserved.</p>
            </div>

            <!-- flex space-x-5 -->
            <div class="gaboon-1 text-center space-x-5">
                <a href="#" class="hover:text-pink-600">Legal</a>
                <a href="#" class="hover:text-pink-600">Terms</a>
                <a href="#" class="hover:text-pink-600">Privacy</a>
            </div>
        </div>

        <div class="gobla border-t border-gray-700 mt-12 pt-8">
            <div class="text-center mt-4 text-gray-500">
                <p>&copy; 2024 Emiri Fintech. All rights reserved.</p>
                <p style="color: #fff;" class="text-2xl font-semibold">Powered by Coders Clutch</p>
            </div>
        </div>
    </div>
</footer>

<script src="/javascripts/footer.js"></script>