<!DOCTYPE html>
<html class="m-0 p-0 overflow-x-hidden" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emiri Fintech</title>

    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/contact.css">
    <link rel="stylesheet" href="/stylesheets/hacking.css">
    <link rel="stylesheet" href="/stylesheets/board.css">
    <link rel="stylesheet" href="/stylesheets/account.css">
    <link rel="stylesheet" href="/stylesheets/digital.css">
    <link rel="stylesheet" href="/stylesheets/careers.css">
    <link rel="stylesheet" href="/stylesheets/cloud.css">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" href="/stylesheets/about.css">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link crossorigin="anonymous" rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <!-- Swiper CSS (ensure this is in your <head> section) -->
    <script src="https://unpkg.com/scrollreveal"></script>
</head>

<body class=" text-white m-0 p-0 max-w-full overflow-x-hidden">
    <%- include('../partials/navbar') %>
        <main>
            <%- body %>
        </main>

        <%-include('../partials/footer') %>

            <script crossorigin="anonymous"
                src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
</body>

</html>