.google {
    width: 100%;
    height: auto;
    background: #2D2832;
}
.intro {
    padding: 50px;
}
.anchor {
   width: 150px;
   height: 40px;
   border-radius: 5px;
}

.gapper p{
    max-width: 350px;
}

.open-color{
    color: #EC4899;
}

.coin-grid{
    margin-left: 11%;
    margin-right: 11%;
}

.coin-1-1{
    border: 1px solid #ccc;
}

.open-color-2{
    color: #fff;
}

.coin-image{
    width: 400px;
}

.google-image{
    height: 245px;
}

.limited-color{
    background-color: #53789A;
}

.open-text{
    padding: 5px 19px;
    color: #EC4899;
    border: 1px solid #EC4899;
}

.open-text-2{
    padding: 5px 19px;
    color: #fff;
    border: 1px solid #fff;
}

.gif {
    max-width: 500px;
}

@media (max-width: 768px) {
    .gapper + .gapper {
        margin-top: 50px;
    }
}

@media (min-width: 768px) {
    .gapper-container {
        gap: 50px;
    }
}

.parag {
 font-weight: 500;
}

.google-texter{
    color: #333;
}

.gapper{
    padding: 15px;
    border: 1px solid #ccc;
}

.gapper-container {
    margin-top: 20px;
}

.excel {
    padding-top: 90px !important;
    padding-bottom: 90px !important;
}

.sub1 {
padding-left: 60px;
}

.sub2 {
padding-right: 60px;

}

.sub2 img {
    width: auto; 
    height: 400px;
    max-width: 475px;
    object-fit: contain;
}


.card-container {
    padding-left: 13%;
    padding-right: 13%;
    /* margin-top: 100px; */
}


.push{
    margin-top: 80px;
    padding-bottom: 60px;
}

.container4 {
    background: #FFFFFF;
    padding-top: 30px;
}

.container5 {
    background: #F1F3F4;
    padding-top: 30px;
    padding-bottom: 30px;
}

.heck {
    background: #F1F3F4;
}

.pusher {
    padding-top: 300px;
}

.coin {
    height: 245px;
}

.coin-1{
    padding-left: 3%;
    padding-right: 3%;
}

.coin-h1{
    color: #EC4899;
    padding-bottom: 30px;
}

.coin-1-2{
    padding-left: 10%;
}

.coin-para{
    color: #333;
    padding-bottom: 30px;
}

.coin-techs{
    padding-bottom: 30px;
    column-gap: 50px;
}

.coin-techs button{
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px 11px;
    color: #333;
}

.coin-link{
    color: #333;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px 19px;
}