.cont {
    height: 450px;
}

.stack {
    padding-top: 100px;
    padding-bottom: 100px;
}

.stack h3 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.ontop {
    border-top: 1px solid #000;
}

.hexer {
    padding: 0 75px;
}

.main {
    padding-bottom: 50px;
}

.next {
    padding: 100px 20px;
}

.title {
    padding-bottom: 80px;
}

.logo {
    padding-bottom: 40px;
}

.logo-title {
    padding-bottom: 40px;
}

.grid-container {
    padding: 0 40px;
}

.stacks {
    padding-bottom: 40px;
}

.hex {
    padding-bottom: 30px;
}

.inner-para {
    padding: 20px;
}


.hoveffect:hover {
    color: #C63031;
}

.hoveffect {

    border-bottom: 4px solid black;
}

.innertext {
    padding-top: 60px;
}

.innertext p {
    padding-top: 40px;
}


.gridder {
    gap: 40px;
}

.main-content {
    padding: 0 40px;
}

@media screen and (max-width) {
    .innertext {
        padding: 0;
    }
}

.mainer {
    padding: 0 100px;
    padding-bottom: 70px;
}


.innerinfo {
    padding-top: 50px;
}


.paragraph {
    padding-top: 30px;
}
.hexmen {
    margin-top: 80px;
}

.lexmen {
    background: #FBFBFD;
}

.grid-cont {
    width: 75%;
}

@media screen and (max-width: 768px) {
    .grid-cont {
        width: 100%;
    }
}

.hh {
    padding-top: 30px;
}

.pp {
    padding-top: 30px;
}

.section {
    padding-left: 100px;
    padding-top: 100px;
}

@media screen and (max-width: 768px) {
    .section {
        padding-left: 20px;
        padding-right: 20px;    
    }
}

.emi {
    padding-bottom: 60px;
}

.remi {
    padding-bottom: 60px;
    max-width: 70%;
}

.step-content {
    padding: 100px 60px;
    background: #2E2E2E;
}

.padder {
    padding-bottom: 70px;
}
.step-res {
    align-items: center;
    padding-left: 100px;
}

@media screen and (max-width: 768px) {
    .step-res {
        align-items: start;
    }

    .stepper {
        padding-bottom: 40px;
    }
    
}

/* .stepper {
    padding-right: 100px;
} */

@media screen and (min-width: 768px) {
    .step {
        align-items: start;
        max-width: 50%;
        padding-left: 200px;
    }
}
