/* .forensic-container{
    margin-top: 55px;
    color: #333;
} */

/* ================================================= */

.forensic-hero {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
  background: url('https://img.freepik.com/free-photo/accountant-calculating-profit-with-financial-analysis-graphs_74855-4937.jpg?uid=R176520851&ga=GA1.1.438080985.1725988205&semt=ais_tags_boosted') no-repeat center center/cover;
  color: white;
  text-align: center;
  position: relative;
}

.forensic-hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
}

.heart-grid{
  width: 97%;
}

.heart-gridder{
  display: flex;
  justify-content: center;
}

.forensic-hero-content {
  z-index: 1;
}

.forensic-hero h1 {
  margin-top: 110px;
  font-size: 4rem;
}

.forensic-hero-content span{
  margin-left: -65px;
}

.inner-content{
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.inner-content .gemini{
  margin-top: 50px;
  max-width: 450px;
  height: auto;
}

.inner-content .gemini img{
  object-fit: cover;
}




/* ================================== */

.content-links{
  margin-top: -50px;
    padding-bottom: 40px;
    color: #3b60e4;
}

.forensic-links{
    max-width: 1200px;
    margin-top: 50px;
    padding-top: 8px;
    border-top: 1px solid #999;
}

.forensic-links a {
    display: inline-block; /* Ensures spacing works */
    margin-right: 10px;    /* Adjust spacing between links */
    text-decoration: none; /* Optional: removes underline */
  }

  .forensic-links a:hover{
    text-decoration: underline;
  }

  .forensic-links a:last-child {
    margin-right: 0;       /* Removes extra margin after the last link */
  }


  .forensic-text-div{
    padding-left: 150px;
    color: #444;
    padding-bottom: 70px;
  }

  .chijo{
    padding-bottom: 50px;
    padding-left: 75px;
    color: #333;
  }

  .dropper-container{
    padding-left: 110px;
    padding-right: 110px;
    color: #333;
    padding-top: 100px;
    padding-bottom: 110px;
  }

.forensic-dropper{
    background-color: #f2f4f8;
}

  .dropper-container .border-b{
    border-bottom: 1px solid #999;
  }

  .dropper-container .border-t{
    border-top: 1px solid #999;
  }

  .darker-stellar{
    background-color: #333 !important;
  }

  .darker-stellar .cadder{
    border: 1px solid #fff;
    aspect-ratio: unset;
  }

  .account-cadder{
    margin-top: 135px;
    border: 1px solid #fff;
    margin-left: 10px;
    margin-right: 10px;
  }

  .digital-button{
    color: #333;
    padding: 10px;
    border: 1px solid #333;
  }
  
  .galaxy-slide .cadder:hover .digital-button{
    color: #fff;
    border: 1px solid #fff;
  }

  .digital-button-outer{
    margin-top: 40px;
    margin-bottom: 40px;
  }


  .digital-button:hover{
    background-color: #3b60e4;
  }

  .account-description{
    display: flex;
    justify-content: center;
  }

  .darker-cosmic{
    color: #fff !important;
  }


 .heart-column-1 .container {
    /* width: 450px; */
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    padding: 30px 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.heart-column-1 .icon {
    font-size: 60px;
    color: #000;
    margin-bottom: 15px;
}
.heart-column-1 h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 15px 0;
    color: #333;
}

.heart-column-1 p {
    font-size: 16px;
    color: #555;
    margin-bottom: 30px;
}

.heart-column-1 .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #D62027;
    color: #fff;
    margin-bottom: 7px;
    margin-top: 5px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}
.heart-column-1 .btn:hover {
    background-color: #b81d21;
}

@media screen and (max-width: 1023px) {
  .accounting-gap{
    gap: 0px !important;
  }
}

.merge-me{
  margin-bottom: 100px;
}