.career-container{
    color: #444;
}

.careers{
    /* padding-left: 5%;
    padding-right: 5%; */
    border-radius: 2px;
    padding-bottom: 100px !important;
}

.career-title{
    padding-top: 120px;
    padding-bottom: 75px;
}

.job-item {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 20px;
  }
  
  .job-icon{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 18px;
  }

  .career-role{
    color: #555;
  }

  .career-detail{
    color: #999;
  }

  .career-detail span{
    padding-right: 5px;
  }


  .career-detail {
    display: flex;
    flex-wrap: wrap;
  }

  .arrow-icon{
    font-size: 1.7rem;
    color: #999;
  }