.digital-hero{
  background-color: #2D2832;
  height: 60vh;
  color:#FFFFFF;
}

.digital-texts{
  padding-top: 250px;
  display: flex;
  justify-content: center;
}

.title-1{
  display: flex;
  flex-direction: row;
  margin-top: -70px;
}
.title-1 span{
  padding-right: 8px;

}
.acordion{
  display: flex;
  justify-content: center;
}
.forensic-dropper{
  max-width: 80%;
  margin-top: -100px;
}

.acord-starter{
  margin-top: -50px;
}

 .acord-starter .acord-2{
  padding-bottom: 45px;
}

.acord-2{
  display: flex;
  justify-content: center;
}

.unordered{
  padding-top: 13px;
}

.unordered i{
  color: #1E90FF;
}

.digital-hero i{
  color: #F061F5;
}


/* Responsive design for accordion */

@media screen and (max-width:500px){
  .forensic-dropper{
    max-width: 100% !important;
  }
  .dropper-container{
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
}

@media (min-width: 501px) and (max-width:850px){
  .forensic-dropper{
    max-width: 95% !important;
  }

  .dropper-container{
    padding-left: 50px !important;
    padding-right: 50px !important;
  }

}

@media (min-width: 851px) and (max-width:1024px){
  .forensic-dropper{
    max-width: 90% !important;
  }

  .dropper-container{
    padding-left: 50px !important;
    padding-right: 50px !important;
  }

}

@media (min-width: 1025px) and (max-width:1400px){
  .forensic-dropper{
    max-width: 85% !important;
  }

  .dropper-container{
    padding-left: 50px !important;
    padding-right: 50px !important;
  }

}

@media screen and (max-width: 768px){
  .dropper-expand a{
    display: none;
  }
}

@media screen and (max-width: 420px) {
  .acordion button{
    font-size: 1.1rem;
  }
  .dropper-expand h1, .dropper-expand strong{
    font-size: 1.1rem;
  }
}

@media (min-width: 421px) and (max-width: 460px) {
  .acordion button{
    font-size: 1.3rem;
  }
  .dropper-expand h1, .dropper-expand strong{
    font-size: 1.3rem;
  }
}

/* responsive design for hero */

@media screen and (max-width: 344px){

  .digital-hero{
    height: 38vh;
  }

  .title-1{
    margin-top: -160px !important;
    font-size: 1.2rem;
  }
}

@media (min-width:345px) and (max-width:389px){
  .digital-hero{
    height: 40vh;
  }

  .title-1{
    margin-top: -200px !important;
    font-size: 1.2rem;
  }
}

@media (min-width:390px) and (max-width:450px){
  .digital-hero{
    height: 40vh;
  }

  .title-1{
    margin-top: -160px !important;
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 451px) {
  .title-1{
    font-size: 2.3rem;
  }
}

