.footer-container{
    padding-left: 50px;
padding-right: 50px;

}

.footer-title{
    color: #FA64FF;
}

.border-gray-600:hover{
    border-color: #FA64FF;
}


/* footer responsiveness */

@media screen and (max-width:350px){
    .footer-grid{
        padding-right: 30px;
    }
    
}

.footer-form input{
    width: 500px;
}

footer{
    padding-top: 65px;
    padding-bottom: 65px;
}

.first-footer{
    padding-bottom: 40px;
}

.footer-contact{
    margin-left: -50px;
}