.footer-container .container{
    max-width: 100%;
    /* padding-left: 5%; */
}

/* .footer-container{
    padding-left:3%
} */
 
.footer-container .footer-second{
    max-width: 100%;
}

.footer-title{
    color: #FA64FF;
}

.border-gray-600:hover{
    border-color: #FA64FF;
}

.form-for{
    margin-left: 13%;
}

.footer-form input{
    width: 450px;
}




footer{
    padding-top: 65px;
    padding-bottom: 65px;
}

.first-footer{
    padding-bottom: 40px;
}

/* .footer-contact{
    margin-left: 180px !important;
} */

/* footer responsiveness */

@media screen and (max-width){

}

@media screen and (max-width:350px){
    .footer-grid{
        padding-right: 30px;
    }
    
}


@media screen and (max-width: 470px) {
    .first-footer {
      grid-template-columns: 1fr 1fr;
    }

    .footer-second{
        grid-template-columns: 1fr;
    }
    
    .form-for{
        display: none;
    }

    .footer-contact{
        margin-left: 0px;
    }

    .gaboon{
        display: none;
    }
    
    .gaboon-1{
        display: none;
    }
  }
  

  @media (min-width: 471px) and (max-width: 575px) {
    .first-footer {
      grid-template-columns: 1fr 1fr 1fr;
    }

    .footer-second{
        grid-template-columns: 1fr  1fr 1fr 1fr 1fr;
    }
    
    .form-for{
        display: none;
    }

    .footer-contact{
        margin-left: 0px;
    }

    .gaboon{
        display: none;
    }
    
    .gaboon-1{
        display: none;
    }
  }
  

  @media (min-width: 576px) and (max-width: 768px) {
    .first-footer {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .footer-second{
        grid-template-columns: 1fr  1fr 1fr 1fr 1fr;
    }
    
    .form-for{
        display: none;
    }

    .footer-contact{
        margin-left: 0px;
    }

    .gaboon{
        display: none;
    }
    
    .gaboon-1{
        display: flex;
        margin-top: 20px;
    }
  }

  @media (min-width: 769px) and (max-width: 898px) {
    .first-footer {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .footer-second{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
    .form-for input{
        /* display: none; */
        width: auto;
    }

    .footer-contact{
        margin-left: 0px;
    }

    .gaboon{
        display: none;
    }
    
    .gaboon-1{
        display: none;
    }
  }


  @media (min-width: 899px) and (max-width: 1024px) {
    .first-footer {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .footer-second{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
    .form-for input{
        /* display: none; */
        width: auto;
    }

    .footer-contact{
        margin-left: 0px;
    }

    .gaboon{
        display: none;
    }
    
    .gaboon-1{
        display: none;
    }
  }


  @media screen and (min-width: 1024px) {
    .first-footer {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .footer-second{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
    /* .form-for{
        display: none;
    }
 */
    .footer-contact{
        margin-left: 0px;
    }
  }


  @media screen and (min-width: 1183px) {
    .footer-second{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .footer-container .container{
        max-width: 98%;
    }
  }


  /* .footer-accordion{
    display: none;
  } */

  .accordion-foot {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.accordion-header{
    background-color: #111827 !important;

}

.accordion-header button {
    color: #FA64FF;
    white-space: nowrap;
    width: 100%;
    text-align: left;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion-content {
    display: none;
    padding: 10px;
}

.toggle-icon {
    transition: transform 0.3s ease;
}

.toggle-icon.rotate {
    transform: rotate(180deg);
}


.social-footer{
    padding-top: 20px;
    padding-bottom: 30px;
}

@media screen and (min-width: 500px){
    .footer-accordion, .gobla{
        display: none;
    }
}

@media screen and (max-width: 501px){
    .footer-contact{
        display: none;
    }

    .goblin{
        display: none !important;
    }

    .first-footer, .footer-second{
        display: none !important;
    }
}