.title{
    color: #FA64FF;
}

.border-gray-600:hover{
    border-color: #FA64FF;
}


/* footer responsiveness */

@media screen and (max-width:350px){
    .footer-grid{
        padding-right: 30px;
    }
    
}

.footer-form input{
    width: 500px;
}

footer .social-icons{
}