.digital-h1 {
    padding-top: 150px;
}

.hacking-contact {
    padding-top: 50px;
    padding-bottom: 100px;
}  

.white-r {
    width: 650px;
    border-top: 4px solid #fff;
    margin-top: 60px;
}

.hacking-solid{
    margin-top: -170px;
}

.hacking-solid-outer{
    height: 65vh;
}

.hacking-button {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    background-color: #D13B3B; /* Initial background color */
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s; /* Smooth transition */
  }
  
  .hacking-button:hover {
    background-color: #a41818; /* Background color on hover */
    transform: scale(1.1); /* Slightly enlarge the button on hover */
  }
  

  .benef{
    padding-bottom: 70px;
  }

.hacking-container {
    padding-bottom: 80px;
}

.hacking-title {
    color: #333;
    padding-left: 50px;
    padding-top: 60px;
    padding-bottom: 40px;
}

.benef-container .benef{
    width: 75%;
}
.benef-container{
    display: flex;
    justify-content: center;
}

.cost-boxex{
    margin-top: -40px;
}

.cost-para {
    color: #333;
    padding-left: 55px;
}

.cost {
    padding-top: 50px;
    padding-bottom: 50px;
}

.cost-boxes {
    margin-left: 45px;
    margin-right: 45px;
    padding-bottom: 100px;
    color: #333;
    margin-bottom: 20px;
}


.zero-pad {
    background: linear-gradient(to bottom, #fafafa, #fff);
}

.hrr {
    margin-top: 30px;
    border: none;
    height: 2px;
    background-color: #999;
}


.cost-padder {
    padding: 25px;
    border: 1px solid #111;
}

.cost-icon {
    font-size: 2.5rem;
}

/* video*/
.secure-button {
    background-color: #a41818;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
}

.video-itself {
    width: 800px;
    padding-left: 50px;
    padding-right: 50px;
}

/* hire */
.cosmic-swiper-video {
    display: flex;
    justify-content: center;
    margin: auto;
    padding-left: 30px;
}

.hire-card {
    background-color: #fff !important;
    width: 90%;
    /* Use percentage for responsive width */
    max-width: 440px;
    /* Set a maximum width */
    height: auto;
    aspect-ratio: unset !important;
    margin: auto;
    border: 1px solid black;
}

.hire-name {
    color: #333;
    padding: 20px 20px;
}

.cost-whiter{
    border: 1px solid #fff;
}

.hire-name {
    padding-top: 30px;
}

.hire-details {
    color: #555;
    padding: 20px 20px;
}

.hire-button {
    padding: 20px 20px;
}

.industry-container {
    padding-top: 100px;
    padding-bottom: 70px;
}

.struggle{
    padding-top: 70px;
    padding-bottom: 70px;
}

.swiper-slide {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.active-slide .hire-card{
    transform: scale(1.06);
    background-color: #222 !important;
    z-index: 10;
}

.active-slide .hire-card .hire-details{
    color: #fff;
}

.active-slide .hire-card .hire-name{
    color: #fff;
}