/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap'); */

.all-hero {
  height: 100vh;
}

.inner-hero {
  height: 100vh;
}

.all-hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
}

.divider {
  width: 33.333333%;
  height: 0.5rem;
}

.style-outer {
  display: flex;
  justify-content: center;
}

.style-bottom {
  padding-bottom: 8px;
  border-bottom: 8px solid white;
  width: 300px;
}



.ri-verified-badge-line {
  color: #8c1c13;
}

/* Style for outer container */
.outer-container {
  position: relative;
  /* Outer container as the reference */
  width: 100%;
  /* font-family: Arial, Helvetica, sans-serif; */
  height: 100px;
  background-color: white;
  /* Outer container background */
  overflow: visible;
  /* Ensure inner container can overflow */
}

.home-carou-pad {
  margin-left: 5%;
  margin-right: 5%;
  overflow: hidden;
  background-color: white !important;
}

.digital-logo-container.uniq {
  background-color: white !important;
}

.home-carou-pad.marg {
  margin-left: 10%;
  margin-right: 10%;
}

.home-carou-pad-2.marg {
  margin-left: 10%;
  margin-right: 10%;
}

.home-carou-pad-2 {
  margin-left: 6%;
  margin-right: 6%;
  overflow: hidden;
  background-color: white !important;
}

.coders-clutch{
  width: 110px;
  height: 80px;
}

.stripe{
  width: 100px;
  height: 30px;
}

.visa{
  width: 100px;
  height: 30px;
}
.mtn-1 {
  width: 60px;
  height: 80px;
}

.bitcoiner{
  width: 70px;
  height: 70px;
}

.telecel-1 {
  width: 85px;
  height: 40px;
}

.master-card-1 {
  height: 80px;
}

.gamswitch{
  width: 100px;
  height: 60px;
}

.bloom-bank-1 {
  width: 100px;
  height: 90px;
}

.paxful-1 {
  width: 60px;
  height: 60px;
}

.paystack{
  width: 100px;
  height: 120px;
}

.orange-money{
  width: 130px;
  height: 80px;
}

.paypal-1 {
  width: 60px;
  height: 35px;
}

.ethereum-1 {
  width: 65px;
  height: 45px;
}

.intech-1 {
  height: 30px;
}

.inner-container {
  position: absolute;
  top: 20%;
  left: 50%;
  width: 90%;
  background-color: white;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
}

.top-margin{
  margin-top: -30px;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}

@media screen and (max-width:490px) {
  .inner-container {
    width: 100%;
  }
}

.texter {
  color: #2D2832;
}

#slider {
  display: flex;
  gap: 10px;
  will-change: transform;
}

.slide {
  flex: 0 0 auto;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  #slider .slide {
    width: 40vw;
    height: 20vh;
  }
}

@media (max-width: 480px) {
  #slider .slide {
    width: 60vw;
    height: 20vh;
  }
}

.dashed-border {
  position: relative;
  /* Needed for positioning the pseudo-elements */
  border-left: 1px dashed #968a8a5a;
  /* Default border color */
  height: 100px;
  /* Set the height of your element */
}

.does {
  border-right: 1px dashed #968a8a5a;
}

.does::after {
  content: '';
  position: absolute;
  right: 0;
  /* Align with the right border */
  top: 20%;
  /* Start the pink section at 20% of the height */
  height: 8%;
  /* Make the pink section 8% of the total height */
  width: 1px;
  background-color: #F50057;
  /* The pink color for the specific part */
}

.dashed-border::before {
  content: '';
  position: absolute;
  left: 0;
  /* Align with the left border */
  top: 20%;
  /* Start the pink section at 20% of the height */
  height: 8%;
  /* Make the pink section 30% of the total height */
  width: 1px;
  background-color: #F50057;
  /* The pink color for the specific part */
}


.para-1 {
  font-size: 15px;
  /* font-family: sans-serif; */
  color: #333;
}

.custom-circle {
  width: 34px;
  /* Adjust width to make it a perfect circle */
  height: 34px;
  /* Height should match width */
  border-radius: 50%;
  /* Ensure perfect circle */
  border: 2px solid #111;
  /* Light gray border */
  display: flex;
  /* Center icon inside */
  align-items: center;
  /* Vertically center */
  justify-content: center;
  /* Horizontally center */
}

.custom-circle-2 {
  width: 34px;
  /* Adjust width to make it a perfect circle */
  height: 34px;
  /* Height should match width */
  border-radius: 50%;
  /* Ensure perfect circle */
  border: 2px solid #111;
  /* Light gray border */
  display: flex;
  /* Center icon inside */
  align-items: center;
  /* Vertically center */
  justify-content: center;
  /* Horizontally center */
}

/* Adjust font size for medium and smaller screens */
@media (max-width: 774px) {
  .para-1 {
    font-size: 13px;
    /* Smaller font size for medium screens */
  }
}

/* Adjust font size for smaller screens */
@media (max-width: 480px) {
  .para-1 {
    font-size: 12px;
    /* Even smaller font size for small screens */
  }
}

/* General styling for .image-card */
.image-card {
  position: relative;
  /* To allow pseudo-elements for custom borders */
  height: 275px;
  padding: 1.5rem;
  /* Adjust padding as per your design */
  border: 2px solid transparent;
  /* Initially transparent border */
  border-radius: 8px;
  /* Rounded corners */
  background-color: #FEFEFE;
  /* Background color of the card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Light shadow for the card */
  transition: all 0.3s ease;
  /* Smooth transition on hover */
}

/* Thin colored borders with specific length (1cm) */
.image-card:nth-child(1) {
  position: relative;
  /* Position relative to place the thin border */
}

.image-card:nth-child(1)::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1cm;
  /* Set the width of the thin border */
  height: 1px;
  /* Thin border (height) */
  background-color: #dda15e;
  /* Red border */
}

.image-card:nth-child(2) {
  position: relative;
  /* Position relative to place the thin border */
}

.image-card:nth-child(2)::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1cm;
  /* Set the width of the thin border */
  height: 1px;
  /* Thin border (height) */
  background-color: #dda15e;
  /* Blue border */
}

.image-card:nth-child(3) {
  position: relative;
  /* Position relative to place the thin border */
}

.image-card:nth-child(3)::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 1cm;
  /* Set the width of the thin border */
  height: 1px;
  /* Thin border (height) */
  background-color: #dda15e;
  /* Green border */
}

/* Hover effect to highlight the card */
.image-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  /* Stronger shadow on hover */
  transform: translateY(-4px);
  /* Lift the card slightly */
}

.second-para {
  color: black !important;
  font-size: 2.5rem;
}

.unified {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 75px;
  padding-top: 20px !important;
  margin-bottom: -20px;
}

@media screen and (max-width:490px) {
  .unified {
    padding-left: 8%;
    padding-right: 8%;
  }
}


@media (min-width: 1200px) {
  .inner-div {
    width: 250px;
  }
}

.topper {
  background: white;
  padding-top: 20px !important;
  padding: 80px;
}

.protlogo {
  color: #F50057;
}

.flexon {
  width: 99%;
}

.seventh-container {
  display: none;
  justify-content: center;
  align-items: center;
  position: relative;
  background: white;
  color: white;
}

@media screen and (min-width:1463px) {
  .seventh-container {
    display: flex;
  }
}


.controls {
  position: absolute;
  top: 85%;
  left: 44%;
}

.seventh-text {
  padding: 70px;
  padding-top: 40px;
  /* width: 800px; */
  width: 52%;
}


.quote {
  position: relative;
  padding: 30px;
}

.quote::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 7px;
  height: 38px;
  background-color: #F50057;
  border-top: 3px solid #F50057;
  box-sizing: border-box;
}

.quote::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 26px;
  height: 8px;
  background-color: #F50057;
  border-right: 3px solid #F50057;
  box-sizing: border-box;
}

.black-border {
  position: relative;
}

.top-left-border {
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 7px;
  background-color: #F50057;
}

.bottom-right-border {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 8px;
  height: 38px;
  background-color: #F50057;
}

.author {
  padding-left: 30px;
  padding-top: 48px;
  margin-bottom: 20px;
}

.author-2 {
  padding-left: 30px;
  padding-top: 8px;
  margin-bottom: 20px;
}


.founder {
  padding-left: 30px;
  margin-bottom: 31px;
}

.find-more {
  width: 255px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 25px;
  padding-right: 25px;
  padding: 13px;
  margin-left: 30px;
  background-color: #F50057;
}


.seventh-image {
  height: 473px !important;
}

.carousel-item img {
  height: 472.9px !important;
  /* margin-left: 70px; */
}

.logo-container .seventh-text {
  height: 473px;
}

.control-line {
  width: 43px;
  height: 5px;
  background-color: #888;
  transition: transform 0.2s, background-color 0.2s;
}

.control-line.active {
  background-color: #F50057;
  transform: translateY(-8px);
}

/* Center the container horizontally */
.logo-container {
  display: flex;
  justify-content: center;
  /* padding: 20px; */
  padding-top: 0px;
  background-color: white;
}

/* Define the grid layout */
.logo-grid {
  margin-top: 3%;
  background-color: white;
  padding-top: 19px;
  display: grid;
  grid-template-columns: repeat(5, auto);
  /* Three columns, adjust based on content */
  gap: 50px;
  /* Small gap between logos */
}

/* Style individual logo items */
.logo-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  /* Padding around each logo */
}

/* Logo images */
.logo-item img {
  width: 225px;
  /* Set a fixed width for the logos */
  height: auto;
  /* Maintain the aspect ratio */
  max-width: 100%;
  /* Ensure logos do not exceed their container */
}

.special-logo img {
  height: 150px;
}

.special-logo-2 img {
  height: 75px;
}

@media (max-width: 768px) {
  .logo-grid {
    grid-template-columns: repeat(3, auto);
    /* Three columns, adjust based on content */
    gap: unset;
    /* Adjust spacing for smaller screens */
  }
}



.insight-container {
  background-color: white;
}

.insight-grid-1 {
  white-space: nowrap;
  background-color: white;
  padding-top: 50px;
  color: #333;
}

.insight-grid-1 span {
  color: #F50057;
}


.insight-link {
  color: #F50057;
  /* padding-left: 160px; */
}

.insight-title {
  color: #444;
}

.insight-grid {
  padding-top: 150px;
}

.form-input {
  border: none;
}

/* last section styling */
/* Center align the Swiper container */
.swiper-container {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  padding-top: 90px;
  padding-bottom: 45px;
}

.swiper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  /* Make sure the swiper takes full width */
}

/* Ensure Swiper slides are displayed properly */
.swiper-slide {
  display: flex;
  /* Optional: Align slide content */
  justify-content: center;
  /* Optional: Center content horizontally */
  align-items: center;
  /* Optional: Center content vertically */
}

.card-link {
  user-select: none;
  display: block;
  text-decoration: none;
  border: 2px solid transparent;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
  transition: 0.2s ease;
}

.swiper-wrapper {
  margin-bottom: 70px;
}

.swiper-pagination .swiper-pagination-bullet {
  width: 43px;
  /* Set the width of the line */
  height: 3px;
  /* Set the height (thickness) of the line */
  margin: 0 5px;
  /* Space between each line */
  background-color: #888;
  /* Color of the line */
  border-radius: 0;
  opacity: 1 !important;
  /* Remove rounded corners to make them rectangular */
}

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: #F50057;
  /* Active state color (blue) */
  transform: translateY(-8px);
}

.swiper-button-prev,
.swiper-button-next {
  color: #5372f0;
  margin-top: -35px;
}

@media screen and (max-width: 768px) {
  .swiper-wrapper {
    margin: 0 10px 25px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
}

.title-date {
  color: black;
  margin-top: 50px;
}

.short-para {
  color: black;
  margin-top: 20px;
}

.date {
  padding-top: 5px;
}

.slider-link {
  margin-top: 27px;
  color: #F50057;
}

.ri-arrow-right-circle-line {
  padding-right: 4px;
}


/* laptops section */
.laptop-container {
  margin-left: 33px;
  margin-right: 33px;
}

@media screen and (max-width:490px) {
  .laptop-container {
    margin-left: 3%;
    margin-right: 3%;
  }

  /* .special-logo-2{
    height: 10px;
  } */
}

.laptop-grid {
  gap: 30px;
}

.laptop-container .column-1,
.laptop-container .column-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #FAFAFA;
}

.laptop-container h2 {
  color: #333;
}

.laptop-container h1 {
  padding-top: 38px;
  padding-bottom: 15px;
  color: #333;
}

.laptop-container .column-1,
.laptop-container .column-2 {
  padding: 24px;
  padding-bottom: 47px;
}

.laptop-container .column-1-title,
.laptop-container .column-2-title {
  font-size: 1.33rem;
}

.laptop-container .button {
  display: inline-block;
  background-color: #ff4fff;
  color: #ffffff;
  padding: 13px 75px;
  margin-top: 65px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}

.laptop-container img {
  margin-top: 68px;
  width: 500px;
  height: auto;
}

.laptop-container .icon-image {
  width: 177px;
  height: auto;
  margin-top: -20px;
}

/* sectiton fourth, fifth, sixth */
.four-custom-height {
  height: 400px;
}



.four-outer-container {
  margin-left: 33px;
  margin-right: 33px;
  padding-bottom: 100px;
}

.four-title {
  font-size: 2.8rem;
}

.four-title .four-1 {
  color: #FA64FF;
}

.four-title .four-2,
.four-list {
  color: #212529;
}


.four-list {
  position: relative;
  font-size: 1.2rem;
  padding-left: 23px;
  border-left: 1px dashed #968a8a5a;
}


.four-list::before {
  content: '';
  position: absolute;
  left: 0;
  top: 20%;
  height: 8%;
  width: 1px;
  background-color: #F50057;
}


.four-left-column .button {
  display: none;
  background-color: #ff6fff;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 15px 30px;
  padding-bottom: 70px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.four-left-column {
  padding-bottom: 40px;
}

.four-left-column .button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}


.five-outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.five-inner {
  margin-left: 60px;
  margin-right: 60px;
  padding-bottom: 60px;
}

.grid-text {
  margin-top: 50px;
  margin-bottom: 40px;
}

.grid-1,
.grid-2 {
  position: relative;
  border-left: 1px dashed #968a8a5a;
  /* Default border color */
  padding: 10px;
  color: black;
}

.grid-1 {
  padding-right: 20px !important;
}




.grid-1::before,
.grid-2::before {
  content: '';
  position: absolute;
  left: 0;
  top: 20%;
  /* Start the pink section at 20% of the height */
  height: 25%;
  /* Make the pink section 30% of the total height */
  width: 1px;
  background-color: #F50057;
  /* The pink color for the specific part */
}


.text-starter {
  color: black;
  /* padding-left: 24px; */
  padding-top: 15px;
}


.find-taurus {
  margin-top: -145px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45.7%;
  background-color: #2D2832;
  margin-left: 70px;
  margin-bottom: 80px;
}

.find-taurus button {
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #ff6fff;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 15px 80px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.four-right-column img {
  width: auto;
  height: 504px;
}

/* .four-right-column img {
  max-width: 100%;
  height: auto;
  display: block;
} */


.hero-bots {
  margin-top: 50px;
  gap: 20px;
}

.hero-bots .booko-1 {
  background-color: #EC4899;
}

.hero-bots .booko-1:hover {
  background-color: transparent !important;
}