/* section 1 */

/* section 2 */

/* section 3 */

/* section 4 */
.smart-logor.grid{
    padding-bottom: 40px;
}

/* section 5 */
.nft-black{
    background-color: #2E2E2E !important;
    color: white !important;
}

.nft-black-a{
    background-color: #333333 !important;
    color: white !important;
}

.device-container.nft-black{
    padding-top: 50px;
}

.diverse-text.smart-diverse{
    border-bottom: 1px solid #fff;
}

/* .section-6 */

.smart-car{
    color: #333;
    margin-left: 53px;
    padding-bottom: 50px;
    font-size: 21px;
}

.cadder.geck-1{
    height: 550px;
}

.cadder.smart-geck:hover{
    background-color: #2E2E2E !important;
}

/* section 8 */
.devicer.smart-kaira{
    border-top: 1px solid #fff;
}

/* section 9*/

/* section 10*/

.smart-boxes{
    padding-top: 100px;
}

.gridder.smart-boxes{
    row-gap: 40px !important;
}

/* section 11 */
.devicer.smart-devicer{
    margin-top: 130px;
}

.vidify-container.smart-vidify{
    padding-bottom: 0px;
}


.diverse-text.smart-dope{
    padding-bottom: 90px !Important;
}

.step-content.smart-content{
    padding-bottom: 220px;
}


/* section 12 */
.smart-aki{
    padding-top: 0px !important;
}

.smart-rem{
    padding-bottom: 0px !important;
}

/* section 13 */
.smart-padd{
    padding-top: 0px !important;
}

/* section 16 */

/*last section*/