/* section 1 */

/* section 2 */

/* section 3 */

/* section 4 */
.smart-logor.grid{
    padding-bottom: 40px;
}

.jambolee{
    padding-top: 70px;
    padding-bottom: 20px;
}

.icon-smaller{
    margin-right: 10px;
}

/* section 5 */
.nft-black{
    background-color: #2E2E2E !important;
    color: white !important;
}

.nft-black-a{
    background-color: #333333 !important;
    color: white !important;
}

.device-container.nft-black{
    padding-top: 50px;
}

.diverse-text.smart-diverse{
    border-bottom: 1px solid #fff;
}

/* .section-6 */

.smart-car{
    color: #333;
    padding-bottom: 50px;
    padding-left: 4%;
    padding-right: 4%;
    font-size: 21px;
    text-align: center;
}

.cadder.geck-1{
    height: 550px;
}

.cadder.smart-geck:hover{
    background-color: #2E2E2E !important;
}

.kaira-text.smart-ruby{
    margin-right: 0px;
}

/* section 8 */
.devicer.smart-kaira{
    border-top: 1px solid #fff;
}

.meddler.kaira-image{
    width: 300px;

}

.smart-stack.tech-stack{
    width: 70%;
}

.lined-boxes{
    padding-top: 50px;
}

.box-liner{
    border: 1px solid #ccc;
    padding: 30px;
}

/* section 9*/

/* section 10*/

.smart-boxes{
    padding-top: 100px;
}

.gridder.smart-boxes{
    row-gap: 40px !important;
}

/* section 11 */
.devicer.smart-devicer{
    margin-top: 130px;
}

.vidify-container.smart-vidify{
    padding-bottom: 0px;
}


.smart-dope{
    font-size: 1.2rem;
    padding: 70px;
    padding-top: 50px;
    padding-bottom: 50px;
    
}

.diverse-text.smart-diverse{
    padding-bottom: 70px !important;
}

.step-content.smart-content{
    padding-bottom: 220px;
}


/* section 12 */
.smart-aki{
    padding-top: 0px !important;
}

.smart-rem{
    padding-bottom: 0px !important;
}

/* section 13 */
.smart-padd{
    padding-top: 0px !important;
}

/* section 16 */

/*last section*/