.we-use.hr {
    margin: 0px;
    margin-left: 0px;
    margin-right: 0px;
}z


.forensic-dropper{
    max-width: 90% !important;
}


/* responsive */
@media screen and (max-width:500px){
    .forensic-dropper{
      max-width: 100% !important;
    }
    .dropper-container{
      padding-left: 5px !important;
      padding-right: 5px !important;
    }
  }

  @media screen and (max-width:768px){
    .cloud-hider{
        display: none;
    }
  }
  
  @media (min-width: 501px) and (max-width:850px){
    .forensic-dropper{
      max-width: 95% !important;
    }
  
    .dropper-container{
      padding-left: 25px !important;
      padding-right: 25px !important;
    }
  
  }
  
  @media (min-width: 851px) and (max-width:1024px){
    .forensic-dropper{
      max-width: 90% !important;
    }
  
    .dropper-container{
      padding-left: 25px !important;
      padding-right: 25px !important;
    }
  
  }
  
  @media (min-width: 1025px) and (max-width:1400px){
    .forensic-dropper{
      max-width: 85% !important;
    }
  
    .dropper-container{
      padding-left: 25px !important;
      padding-right: 25px !important;
    }
  
  }
  
  @media screen and (max-width: 500px){
    .title-1.flex{
      font-size: 28px;
    }

    .title-1{
      margin-bottom: 30%;
    }    

    .white-r{
      display: none;
    }
  }


  @media (min-width:501px) and (max-width: 650px){
    .title-1.flex{
      font-size: 30px;
    }

    .white-r{
      display: none;
    }
  }

  @media (min-width:651px) and (max-width: 702px){
    .title-1.flex{
      font-size: 33px;
    }

    .white-r{
      display: none;
    }
  }

  @media screen and (min-width: 703px) {
    .title-1.flex{
      font-size: 40px;
    }
  }