<%- layout('layouts/boilerplate') %>

    <div class="digital-hero">
        <div class="digital-texts">
            <div class=" title-1 font-bold text-5xl flex flex-col justify-center gap-7"><span><i
                        class="ri-file-search-line"></i> Forensic Accounting</span>
                <div class="white-r"></div>
            </div>
        </div>
    </div>

    <div class="acordion">
        <div class="forensic-dropper">
            <div class=" dropper-container zero-pad">
                <div class="acord-starter">
                    <div class="content-links">
                        <div class="font-bold forensic-links">
                            <a href="#overview">Overview</a>
                            <a href="#book">Book a Call</a>
                        </div>
                    </div>

                    <p id="overview" class="acord-2 corder">Emiri FinTech delivers expert forensic accounting solutions
                        to address
                        allegations of fraud, embezzlement, financial misstatements, bribery, money laundering, and
                        related misconduct. We support businesses in independent investigations, regulatory responses,
                        litigation, and white-collar defense, ensuring integrity and compliance. Our cross-trained teams
                        provide swift, actionable insights, empowering clients to navigate complex challenges
                        effectively.
                        <hr class="hrr">
                    </p>
                </div>

                <div class="dropper-expand flex justify-between corder">
                    <h1 class="text-3xl font-bold mb-6">Expertise from Cross-Trained Teams</h1>
                    <a href="#" class="text-blue-600 text-lg" onclick="toggleAllSections(event)"><strong>Expand
                            All</strong></a>
                </div>

                <div class="accounting-gap grid grid-cols-1 lg:grid-cols-2 gap-12">
                    <div class="colo-1">
                        <div class="border-b py-6">
                            <button
                                class="flex justify-between items-center w-full text-left text-2xl font-semibold text-blue-600"
                                onclick="toggleSection('section2')">
                                Corporate Investigations
                                <span class="text-gray-500">+</span>
                            </button>
                            <div id="section2" class="mt-2 hidden">
                                <p class="text-gray-700">At Emiri FinTech, we bring the right blend of expertise,
                                    technical skills, and global reach to address allegations and regulatory inquiries.
                                    Our forensic accountants collaborate closely with legal teams, corporate leaders,
                                    and regulatory bodies to conduct thorough investigations into financial statement
                                    fraud, asset misappropriation, and complex corruption schemes. We excel in analyzing
                                    both structured and unstructured data to uncover the full scope of issues,
                                    understand their origins, and develop effective remediation strategies.</p>
                            </div>
                        </div>

                        <div class="border-b py-6">
                            <button
                                class="flex justify-between items-center w-full text-left text-2xl font-semibold text-blue-600"
                                onclick="toggleSection('section3')">
                                Financial Reporting Fraud
                                <span class="text-gray-500">+</span>
                            </button>
                            <div id="section3" class="mt-2 hidden">
                                <p class="text-gray-700">At Emiri FinTech, we assist clients in investigating and
                                    addressing allegations of financial reporting fraud, including GAAP violations,
                                    model inaccuracies, breaches of fiduciary duties, money laundering, embezzlement,
                                    white-collar crimes, and other misconduct that may lead to financial misstatements
                                    and fraud risks.</p>
                            </div>
                        </div>

                        <div class="border-b py-6">
                            <button
                                class="flex justify-between items-center w-full text-left text-2xl font-semibold text-blue-600"
                                onclick="toggleSection('section4')">
                                Compliance and Fraud Risk Control
                                <span class="text-gray-500">+</span>
                            </button>
                            <div id="section4" class="mt-2 hidden">
                                <p class="text-gray-700">Investing in fraud prevention is crucial for any organization.
                                    At Emiri FinTech, our forensic accountants leverage extensive experience to develop,
                                    communicate, and implement robust fraud and compliance frameworks. Recognizing that
                                    all compliance programs face potential fraud or corruption risks, we conduct timely
                                    and thorough assessments to ensure their effectiveness. Whether it's performing risk
                                    assessments, enhancing compliance systems, measuring progress, or providing
                                    education, Emiri FinTech customizes its fraud risk management strategies to meet the
                                    unique needs of our clients.</p>
                            </div>
                        </div>
                    </div>

                    <div class="colo-2">
                        <div class="border-b py-6">
                            <button
                                class="flex justify-between items-center w-full text-left text-2xl font-semibold text-blue-600"
                                onclick="toggleSection('section5')">
                                Inability to Pay Analysis
                                <span class="text-gray-500">+</span>
                            </button>
                            <div id="section5" class="mt-2 hidden">
                                <p class="text-gray-700">Emiri FinTech assists clients facing significant regulatory
                                    fines by providing independent assessments and clear communication regarding their
                                    financial capacity to pay. Our team utilizes extensive accounting, finance, and
                                    economic expertise to evaluate and quantify the potential impact of fines on the
                                    organization, including effects on the market, workforce, and other stakeholders. We
                                    also consider the organization's ability to comply with other laws and regulations.
                                    Our analysis is guided by relevant standards and regulations, including those from
                                    the FASB, PCAOB, AICPA, IRS, Bankruptcy Code, and case law.</p>
                            </div>
                        </div>

                        <div class="border-b py-6">
                            <button
                                class="flex justify-between items-center w-full text-left text-2xl font-semibold text-blue-600"
                                onclick="toggleSection('section6')">
                                Model Error Investigations
                                <span class="text-gray-500">+</span>
                            </button>
                            <div id="section6" class="mt-2 hidden">
                                <p class="text-gray-700">At Emiri FinTech, we understand that businesses often depend on
                                    models for investment decisions, accurate financial reporting, customer transaction
                                    monitoring, and capital stress testing. Regulatory bodies in the US and UK have
                                    taken action against companies using models that were later found to have errors,
                                    insufficient controls, poor governance, or misuse. These issues can result in fines,
                                    litigation, and other penalties. Our team specializes in investigating model errors,
                                    improving model governance, and defending against regulatory and legal challenges.
                                </p>
                            </div>
                        </div>

                        <div class="border-b py-6">
                            <button
                                class="flex justify-between items-center w-full text-left text-2xl font-semibold text-blue-600"
                                onclick="toggleSection('section7')">
                                Transactional Due Diligence
                                <span class="text-gray-500">+</span>
                            </button>
                            <div id="section7" class="mt-2 hidden">
                                <p class="text-gray-700">Emiri FinTech recognizes the time-sensitive nature of
                                    acquisitions, mergers, and investments. Our team is adept at identifying and
                                    mitigating potential fraud or corruption risks, while also providing valuable
                                    insights into financial risks and possible future regulatory challenges.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
    <!-- card-container -->
    <!-- <div id="insights" class="darker-stellar stellar-swiper-container">
        <h1 class="darker-cosmic cosmic-title text-4xl font-medium">Latest Insights</h1>
        <div class="cosmic-swiper">
            <div class="orbital-wrapper swiper-wrapper">
                <div class="galaxy-slide swiper-slide">
                    <div class="cadder overflow-hidden">
                        <img class="w-full zoom-img"
                            src="https://img.freepik.com/free-photo/representation-user-experience-interface-design-smartphone_23-2150165982.jpg?t=st=1733205455~exp=1733209055~hmac=dafd361d40760c502b656252b730e318806628bb5e2732d1a66350a5d7560286&w=996"
                            alt="Card image">

                        <div class="cadder-title">
                            <div class="font-bold text-2xl mt-5 mb-2">Stock trading app<br>development</div>
                        </div>

                        <div class="account-description-outer">
                            <div class="account-description">
                                <p class="text-xl font-medium">short description about the card</p>
                            </div>
                        </div>

                        <div class="digital-button-outer flex justify-center items-center">
                            <button class="digital-button"><a href="#">Read more</a></button>
                        </div>
                    </div>
                </div>

                <div class="galaxy-slide swiper-slide">
                    <div class="cadder overflow-hidden">
                        <img class="w-full zoom-img"
                            src="https://img.freepik.com/free-photo/representation-user-experience-interface-design-smartphone_23-2150165982.jpg?t=st=1733205455~exp=1733209055~hmac=dafd361d40760c502b656252b730e318806628bb5e2732d1a66350a5d7560286&w=996"
                            alt="Card image">

                        <div class="cadder-title">
                            <div class="font-bold text-2xl mt-5 mb-2">Stock trading app<br>development</div>
                        </div>

                        <div class="account-description-outer">
                            <div class="account-description">
                                <p class="text-xl font-medium">short description about the card</p>
                            </div>
                        </div>

                        <div class="digital-button-outer flex justify-center items-center">
                            <button class="digital-button"><a href="#">Read more</a></button>
                        </div>


                    </div>
                </div>

                <div class="galaxy-slide swiper-slide">
                    <div class="cadder overflow-hidden">
                        <img class="w-full zoom-img"
                            src="https://img.freepik.com/free-photo/representation-user-experience-interface-design-smartphone_23-2150165982.jpg?t=st=1733205455~exp=1733209055~hmac=dafd361d40760c502b656252b730e318806628bb5e2732d1a66350a5d7560286&w=996"
                            alt="Card image">

                        <div class="cadder-title">
                            <div class="font-bold text-2xl mt-5 mb-2">Stock trading app<br>development</div>
                        </div>

                        <div class="account-description-outer">
                            <div class="account-description">
                                <p class="text-xl font-medium">short description about the card</p>
                            </div>
                        </div>

                        <div class="digital-button-outer flex justify-center items-center">
                            <button class="digital-button"><a href="#">Read more</a></button>
                        </div>

                    </div>
                </div>

                <div class="galaxy-slide swiper-slide">
                    <div class="cadder overflow-hidden">
                        <img class="w-full zoom-img"
                            src="https://img.freepik.com/free-photo/representation-user-experience-interface-design-smartphone_23-2150165982.jpg?t=st=1733205455~exp=1733209055~hmac=dafd361d40760c502b656252b730e318806628bb5e2732d1a66350a5d7560286&w=996"
                            alt="Card image">

                        <div class="cadder-title">
                            <div class="font-bold text-2xl mt-5 mb-2">Stock trading app<br>development</div>
                        </div>

                        <div class="account-description-outer">
                            <div class="account-description">
                                <p class="text-xl font-medium">short description about the card</p>
                            </div>
                        </div>

                        <div class="digital-button-outer flex justify-center items-center">
                            <button class="digital-button"><a href="#">Read more</a></button>
                        </div>

                    </div>
                </div>

                <div class="galaxy-slide swiper-slide">
                    <div class="cadder overflow-hidden">
                        <img class="w-full zoom-img"
                            src="https://img.freepik.com/free-photo/representation-user-experience-interface-design-smartphone_23-2150165982.jpg?t=st=1733205455~exp=1733209055~hmac=dafd361d40760c502b656252b730e318806628bb5e2732d1a66350a5d7560286&w=996"
                            alt="Card image">

                        <div class="cadder-title">
                            <div class="font-bold text-2xl mt-5 mb-2">Stock trading app<br>development</div>
                        </div>

                        <div class="account-description-outer">
                            <div class="account-description">
                                <p class="text-xl font-medium">short description about the card</p>
                            </div>
                        </div>

                        <div class="digital-button-outer flex justify-center items-center">
                            <button class="digital-button"><a href="#">Read more</a></button>
                        </div>

                    </div>
                </div>

                <div class="galaxy-slide swiper-slide">
                    <div class="cadder overflow-hidden">
                        <img class="w-full zoom-img"
                            src="https://img.freepik.com/free-photo/representation-user-experience-interface-design-smartphone_23-2150165982.jpg?t=st=1733205455~exp=1733209055~hmac=dafd361d40760c502b656252b730e318806628bb5e2732d1a66350a5d7560286&w=996"
                            alt="Card image">

                        <div class="cadder-title">
                            <div class="font-bold text-2xl mt-5 mb-2">Stock trading app<br>development</div>
                        </div>

                        <div class="account-description-outer">
                            <div class="account-description">
                                <p class="text-xl font-medium">short description about the card</p>
                            </div>
                        </div>

                        <div class="digital-button-outer flex justify-center items-center">
                            <button class="digital-button"><a href="#">Read more</a></button>
                        </div>

                    </div>
                </div>

                <div class="galaxy-slide swiper-slide">
                    <div class="cadder overflow-hidden">
                        <img class="w-full zoom-img"
                            src="https://img.freepik.com/free-photo/representation-user-experience-interface-design-smartphone_23-2150165982.jpg?t=st=1733205455~exp=1733209055~hmac=dafd361d40760c502b656252b730e318806628bb5e2732d1a66350a5d7560286&w=996"
                            alt="Card image">

                        <div class="cadder-title">
                            <div class="font-bold text-2xl mt-5 mb-2">Stock trading app<br>development</div>
                        </div>

                        <div class="account-description-outer">
                            <div class="account-description">
                                <p class="text-xl font-medium">short description about the card</p>
                            </div>
                        </div>

                        <div class="digital-button-outer flex justify-center items-center">
                            <button class="digital-button"><a href="#">Read more</a></button>
                        </div>

                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div> -->

    <!-- contact-expert section -->
    <div id="book" class="heart-container merge-me panda-2 mx-auto p-4 pb-8">
        <p class="faq-text pb-8 text-4xl font-semibold text-center"> <span
                class="related-underline underline">Related</span> capabilities
        </p>
        <!-- Grid container -->
        <div class="heart-gridder">
            <div class=" heart-grid grid grid-cols-1 lg:grid-cols-2 gap-4">
                <!-- First column -->
                <div class="heart-column-1 p-4">
                    <div class="container">
                        <i class="ri-headphone-line icon"></i>
                        <h3>Feel free to book a call and get all the answers you need.</h3>
                        <a href="/book" class="btn">Book a call</a>
                    </div>
                </div>

                <!-- Second column -->
                <div class="heart-column-2 grid grid-rows-3 gap-4">
                    <div class="border-b py-6">
                        <button
                            class="flex justify-between items-center w-full text-left text-2xl font-semibold text-blue-600"
                            onclick="toggleSection('section10')">
                            Financial Services
                            <span class="text-gray-500">+</span>
                        </button>
                        <div id="section10" class="mt-2 hidden">
                            <p class="text-gray-700">Emiri FinTech has played a pivotal role in numerous high-profile
                                financial disputes over the past decade. Our clients, including retail, commercial, and
                                wholesale banks, insurers, payment companies, fintech firms, and wealth and asset
                                managers, depend on us for top-tier research, expert testimony, and comprehensive
                                support in litigation and regulatory matters. Our team comprises professionals with
                                backgrounds in finance and accounting, collaborating with leading academics and former
                                members of regulatory bodies such as the SEC, CFTC, DOJ, and European Commission. We
                                excel in consumer finance, particularly in areas like fair lending, non-discrimination,
                                and regulatory compliance. Emiri FinTech also assists financial institutions in
                                navigating the evolving regulatory and competitive landscape, optimizing strategies for
                                capital allocation, market models, and organizational structures to drive value
                                creation.</p>
                        </div>
                    </div>

                    <div class="border-b py-6">
                        <button
                            class="flex justify-between items-center w-full text-left text-2xl font-semibold text-blue-600"
                            onclick="toggleSection('section11')">
                            Investigations & Compliance
                            <span class="text-gray-500">+</span>
                        </button>
                        <div id="section11" class="mt-2 hidden">
                            <p class="text-gray-700">Clients and their legal teams frequently rely on Emiri FinTech's
                                investigations and compliance experts to address a wide array of allegations, including
                                fraud, corruption, money laundering, theft of trade secrets, accounting and financial
                                reporting issues, cybercrime, False Claims Act violations, and employee misconduct. We
                                also provide comprehensive investigative due diligence, business intelligence, and
                                evaluate and develop effective compliance programs.

                                Emiri FinTech deploys cross-functional teams to conduct large-scale, complex
                                investigations and monitorships that require a blend of data analytics, forensic
                                accounting, investigative, cyber, e-discovery, and subject matter expertise. Our
                                professionals include former prosecutors and government agents, white-collar
                                investigators, data analytics and cyber specialists, forensic accountants, damages
                                experts, and risk management professionals.

                                We offer a multidisciplinary and strategic approach to investigations, delivering
                                actionable intelligence and expert advice to law firms, financial institutions,
                                government regulators, multinational corporations, and other organizations worldwide.
                            </p>
                        </div>
                    </div>

                    <div class="border-b py-6">
                        <button
                            class="flex justify-between items-center w-full text-left text-2xl font-semibold text-blue-600"
                            onclick="toggleSection('section12')">
                            Financial Litigation & Regulation
                            <span class="text-gray-500">+</span>
                        </button>
                        <div id="section12" class="mt-2 hidden">
                            <p class="text-gray-700">Emiri FinTech has extensive experience in handling high-profile,
                                complex financial litigation and regulatory issues. We assist organizations across
                                various industries through all stages of financial litigation, with specialized
                                expertise in securities, commodities, derivatives, mortgage, finance, and consumer
                                litigation. Emiri FinTech also offers a wide range of services related to financial
                                regulation. We help financial institutions manage compliance risks, develop and validate
                                financial models, and navigate changes in the competitive landscape of financial
                                markets. Additionally, we provide guidance through arbitration and dispute resolution
                                processes.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script src="/javascripts/account.js"></script>