<%- layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/ai.css">
    <div class="digital-hero">
        <div class="digital-texts">
            <div class=" title-1 font-bold text-5xl flex flex-col justify-center gap-7"><span><i
                        class="ri-brain-line"></i> Artificial Intelligence and Machine Learning</span>
                <div class="white-r"></div>
            </div>
        </div>
    </div>

    <div class="acordion">
        <div class="forensic-dropper">
            <div class=" dropper-container zero-AI zero-pad">
                <div class="acord-starter">
                    <p class="acord-2 corder">Emiri FinTech’s artificial intelligence and machine learning experts
                        provide businesses with first-class, domain-specific solutions of any complexity and scale. Our
                        developers are experts in rendering the services as follows:
                        <hr class="hrr">
                    </p>
                </div>

                <div class="dropper-expand flex justify-center corder text-center">
                    <h1 class="text-3xl font-bold mb-6">Unlock true cloud value with expert deployments.</h1>
                </div>

                <div class="ai-grid grid grid-cols-3 gap-5">
                    <div class="colo-1 space-y-6">
                        <!-- Card 1 -->
                        <div class="">
                            <div class="pad  p-10">
                                <h3 style="white-space: nowrap; padding-top: 28px; padding-bottom: 20px; padding-left: 10px;"
                                    class="text-xl font-bold text-center cursor-pointer flex justify-between items-center"
                                    onclick="toggleContent(1)">
                                    <div>
                                        <i class="ri-cloud-line mr-2 text-xl "></i>AI Consulting
                                    </div>
                                    <i id="arrow-1" class="ri-arrow-drop-down-line text-4xl "></i>
                                </h3>
                                <div style="padding: 20px;" id="content-1"
                                    class="text-gray-900 leading-relaxed  text-center hidden">
                                    Artificial intelligence has already transformed how businesses function and will
                                    continue to do so in the years ahead. As a leading IT advisory firm, our AI
                                    consulting experts are here to help you adapt to this shift and build a more
                                    efficient and successful business.
                                </div>
                            </div>
                        </div>

                        <!-- Card 2 -->
                        <div class="">
                            <div class="pad p-10">
                                <h3 style="white-space: nowrap; padding-top: 28px; padding-bottom: 20px; padding-left: 10px;"
                                    class="text-xl font-bold text-center cursor-pointer flex justify-between items-center"
                                    onclick="toggleContent(2)">
                                    <div>
                                        <i class="ri-cloud-line mr-2 text-xl "></i>Audit of AI/ML Algorithms
                                    </div>
                                    <i id="arrow-2" class="ri-arrow-drop-down-line text-4xl "></i>
                                </h3>
                                <div style="padding: 20px;" id="content-2"
                                    class="text-gray-900 leading-relaxed  text-center hidden">
                                    Emiri Fintech also offers audit services for businesses, leveraging artificial intelligence
                                    and machine learning technologies. We assist companies in refining their business
                                    strategies, ensuring a high level of automation and minimizing errors.
                                </div>
                            </div>
                        </div>

                        <div class="">
                            <div class="pad p-10">
                                <h3 style="white-space: nowrap; padding-top: 28px; padding-bottom: 20px; padding-left: 10px;"
                                    class="text-xl font-bold text-center cursor-pointer flex justify-between items-center"
                                    onclick="toggleContent(2)">
                                    <div>
                                        <i class="ri-cloud-line mr-2 text-xl "></i>Intelligent Automation
                                    </div>
                                    <i id="arrow-2" class="ri-arrow-drop-down-line text-4xl "></i>
                                </h3>
                                <div style="padding: 20px;" id="content-2"
                                    class="text-gray-900 leading-relaxed  text-center hidden">
                                    Emiri Fintech can seamlessly integrate its solutions to intelligently automate your operations. This includes the creation and management of metadata, as well as document recognition and information extraction from unstructured data volumes.
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="colo-2 space-y-6">
                        <!-- Card 3 -->
                        <div class="">
                            <div class="pad p-10">
                                <h3 style="white-space: nowrap; padding-top: 28px; padding-bottom: 20px; padding-left: 10px;"
                                    class="text-xl font-bold text-center cursor-pointer flex justify-between items-center"
                                    onclick="toggleContent(3)">
                                    <div>
                                        <i class="ri-cloud-line mr-2 text-xl "></i>ANN Design
                                    </div>
                                    <i id="arrow-3" class="ri-arrow-drop-down-line text-4xl "></i>
                                </h3>
                                <div style="padding: 20px;" id="content-3"
                                    class="text-gray-900 leading-relaxed  text-center hidden">
                                    Emiri Fintech's specialists in artificial neural network development utilize AI-driven tools to enhance classification, prediction, regression, smart grid, and more, inspired by biological neural networks. This technology is beneficial for tasks such as object recognition, speech recognition, text generation, and various other applications.
                                </div>
                            </div>
                        </div>

                        <!-- Card 4 -->
                        <div class="">
                            <div class="pad p-10">
                                <h3 style="white-space: nowrap; padding-top: 28px; padding-bottom: 20px; padding-left: 10px;"
                                    class="text-xl font-bold text-center cursor-pointer flex justify-between items-center"
                                    onclick="toggleContent(4)">
                                    <div>
                                        <i class="ri-cloud-line mr-2 text-xl "></i> NN Optimization
                                    </div>
                                    <i id="arrow-4" class="ri-arrow-drop-down-line text-4xl "></i>
                                </h3>
                                <div style="padding: 20px;" id="content-4"
                                    class="text-gray-900 leading-relaxed  text-center hidden">
                                    Our team at Emiri Fintech specializes in enhancing neural network performance through advanced optimization techniques. By fine-tuning neural network parameters and leveraging cutting-edge optimization tools, we ensure faster and more precise analyses.
                                </div>
                            </div>
                        </div>

                        <!-- Card 3 -->
                        <div class="">

                            <div class="pad p-10">
                                <h3 style="white-space: nowrap; padding-top: 28px; padding-bottom: 20px; padding-left: 10px;"
                                    class="text-xl font-bold text-center cursor-pointer flex justify-between items-center"
                                    onclick="toggleContent(3)">
                                    <div>
                                        <i class="ri-cloud-line mr-2 text-xl "></i>AI for Cybersecurity
                                    </div>
                                    <i id="arrow-3" class="ri-arrow-drop-down-line text-4xl "></i>
                                </h3>
                                <div style="padding: 20px;" id="content-3"
                                    class="text-gray-900 leading-relaxed  text-center hidden">
                                    AI is revolutionizing cybersecurity by automating threat detection and response, optimizing network security, and identifying vulnerabilities. Emiri Fintech leverages advanced AI technologies to enhance cybersecurity measures, ensuring robust protection against evolving threats.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="colo-3 space-y-6">
                        <!-- Card 5 -->
                        <div class="">
                            <div class="pad p-10">
                                <h3 style="white-space: nowrap; padding-top: 28px; padding-bottom: 20px; padding-left: 10px;"
                                    class="text-xl font-bold text-center cursor-pointer flex justify-between items-center"
                                    onclick="toggleContent(5)">
                                    <div>
                                        <i class="ri-cloud-line mr-2 text-xl"></i>Predictive Analysis
                                    </div>
                                    <i id="arrow-5" class="ri-arrow-drop-down-line text-4xl "></i>
                                </h3>
                                <div style="padding: 20px;" id="content-5"
                                    class="text-gray-900 leading-relaxed  text-center hidden">
                                    Emiri Fintech excels in predictive analysis using advanced AI and ML techniques. Our expertise in this domain helps businesses forecast trends, optimize operations, and make data-driven decisions, ensuring enhanced efficiency and profitability.
                                </div>
                            </div>
                        </div>

                        <!-- Card 6 -->
                        <div class="">
                            <div class="pad p-10">
                                <h3 style="white-space: nowrap; padding-top: 28px; padding-bottom: 20px; padding-left: 10px;"
                                    class="text-xl font-bold text-center cursor-pointer flex justify-between items-center"
                                    onclick="toggleContent(6)">
                                    <div>
                                        <i class="ri-cloud-line mr-2 text-xl "></i>Fraud Detection Systems
                                    </div>
                                    <i id="arrow-6" class="ri-arrow-drop-down-line text-4xl "></i>
                                </h3>
                                <div style="padding: 20px;" id="content-6"
                                    class="text-gray-900 leading-relaxed  text-center hidden">
                                    Emiri Fintech leverages machine learning solutions to detect and prevent fraud by training algorithms on specific datasets. These algorithms monitor user actions based on predefined rules and identify anomalies that may indicate fraudulent activities.
                                </div>
                            </div>
                        </div>

                        <div class="">
                            <div class="pad p-10">
                                <h3 style="white-space: nowrap; padding-top: 28px; padding-bottom: 20px; padding-left: 10px;"
                                    class="text-xl font-bold text-center cursor-pointer flex justify-between items-center"
                                    onclick="toggleContent(10)">
                                    <div>
                                        <i class="ri-cloud-line mr-2 text-xl "></i>VA Develppment
                                    </div>
                                    <i id="arrow-6" class="ri-arrow-drop-down-line text-4xl "></i>
                                </h3>
                                <div style="padding: 20px;" id="content-10"
                                    class="text-gray-900 leading-relaxed  text-center hidden">
                                    At Emiri Fintech, we develop virtual assistants that foster a unique connection between your products and users through audiovisual comprehension, deep learning, and natural language processing. Additionally, a virtual assistant can serve as a catalyst for creating a comprehensive product ecosystem.
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>

    <div class="hacking-solid-outer reduce-height bg-cover bg-center flex items-center justify-center"
        style="background-image: url('https://blogs.microsoft.com/wp-content/uploads/prod/2023/06/OMB-AI-Blog-Image_06.08.23-scaled.jpg');">
        <div class="hacking-solid solid-pad text-center">
            <h1 class="digital-h1 text-4xl text-white ">Take the lead utilising technical advancements with AI.</h1>
            <div class="hacking-contact flex justify-center">
                <a href="#" class="hacking-button text-xl text-white">Contact us</a>
            </div>
        </div>
    </div>

    <div id="insights" class="darker-stellar ai-steller stellar-swiper-container">
        <h1 class="darker-cosmic cosmic-title coastal text-4xl font-semibold text-center">Our machine learning services
        </h1>
        <div class="cosmic-swiper">
            <div class="orbital-wrapper swiper-wrapper">
                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="cadder overflow-hidden">
                        <!-- Image at the top -->
                        <img class="w-full zoom-img"
                            src=""
                            alt="Card image">

                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-2xl mt-5 mb-2 pl-3 text-left">Computer Vision</div>
                        </div>

                        <div class="account-description-outer">
                            <div class="account-description dess">
                                <p class="text-xl font-medium ziga text-left">At Emiri Fintech, we excel in computer vision, utilizing advanced AI techniques to analyze images and videos. Our solutions automate processes, enhance accuracy, and provide insights, helping businesses improve operations and achieve greater efficiency.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="cadder overflow-hidden">
                        <!-- Image at the top -->
                        <img class="w-full zoom-img"
                            src="https://img.freepik.com/free-photo/representation-user-experience-interface-design-smartphone_23-2150165982.jpg?t=st=1733205455~exp=1733209055~hmac=dafd361d40760c502b656252b730e318806628bb5e2732d1a66350a5d7560286&w=996"
                            alt="Card image">

                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-2xl mt-5 mb-2 pl-3 text-left">Predictive Analysis</div>
                        </div>

                        <div class="account-description-outer">
                            <div class="account-description dess">
                                <p class="text-xl ziga font-medium">At Emiri Fintech, we excel in predictive analysis, leveraging advanced AI and machine learning techniques to forecast trends and optimize business operations. Our solutions help businesses make data-driven decisions, enhance efficiency, and achieve greater profitability.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="cadder overflow-hidden">
                        <!-- Image at the top -->
                        <img class="w-full zoom-img"
                            src="https://img.freepik.com/free-photo/representation-user-experience-interface-design-smartphone_23-2150165982.jpg?t=st=1733205455~exp=1733209055~hmac=dafd361d40760c502b656252b730e318806628bb5e2732d1a66350a5d7560286&w=996"
                            alt="Card image">

                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-2xl mt-5 mb-2 pl-3 text-left">Sentiment Analysis and NLP</div>
                        </div>

                        <div class="account-description-outer">
                            <div class="account-description dess">
                                <p class="text-xl ziga font-medium">At Emiri Fintech, we specialize in sentiment analysis and natural language processing (NLP). Our advanced AI solutions analyze text data to understand emotions, opinions, and trends, helping businesses gain valuable insights and improve customer engagement.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="cadder overflow-hidden">
                        <!-- Image at the top -->
                        <img class="w-full zoom-img"
                            src="https://img.freepik.com/free-photo/representation-user-experience-interface-design-smartphone_23-2150165982.jpg?t=st=1733205455~exp=1733209055~hmac=dafd361d40760c502b656252b730e318806628bb5e2732d1a66350a5d7560286&w=996"
                            alt="Card image">

                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-2xl mt-5 mb-2 pl-3 text-left">Optical Character Recognition</div>
                        </div>

                        <div class="account-description-outer">
                            <div class="account-description dess">
                                <p class="ziga text-xl font-medium">At Emiri Fintech, we specialize in optical character recognition (OCR) technology. Our advanced AI solutions accurately extract and process text from images and documents, streamlining data entry, enhancing accuracy, and improving operational efficiency for businesses.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Swiper Pagination -->
            <div class="swiper-pagination"></div>
            <!-- Swiper Navigation -->
            <!-- <div class="stellar-button-prev swiper-button-prev"></div>
                <div class="stellar-button-next swiper-button-next"></div> -->
        </div>
    </div>

    <div class="bg-gray-900 acord-quote quotation-back mx-auto flex justify-around mt-6">
        <div class="w-2/3 pl-8 lg:flex flex-col justify-center sm:hidden">
            <p class="para2 text-gray-200 text-lg mb-4 ml-7 pt-4 items-center"> At Innowise, we’re all about building fintech
                software solutions
                that make business life easier. From using AI to<br>speed up data processing to securing every
                transaction with blockchain, our solutions take the headache out of<br>managing finances. We help
                companies stay compliant, cut risks, and make smart decisions fast, so they can<br>focus on what really
                matters — growth and success. </p>
            <p class="para2 text-gray-900 font-bold text-2xl">Siarhei Sukhadolski</p>
            <p class="para2 text-green-300 text-2xl">FinTech Expert at Innowise</p>
        </div>
        <img src="/images/eric.png" alt="Description of the image" class="pakinese mx-auto">
    </div>

    <div class="acordion ai-acord">
        <div class="forensic-dropper dropper-accord ai-acord">
            <div class="dropper-container zero-pad ">
                <div class="acord-starter">

                </div>

                <div class="dropper-expand flex justify-between">
                    <h1 class="text-3xl font-bold mb-6">Our AI Development Tech Stack</h1>
                    <a href="#" class="text-blue-600 text-lg" onclick="toggleAllSections(event)"><strong>Expand
                            All</strong></a>
                </div>
                <div class="border-b py-6">
                    <button
                        class="flex justify-between items-center w-full text-left text-2xl font-semibold text-blue-600"
                        onclick="toggleSection('section3')">
                        Languages
                        <span class="text-gray-500">+</span>
                    </button>
                    <div id="section3" class="mt-2 hidden">
                        <div class="tech-list flex justify-center">
                            <ul class="text-lg font-medium">
                                <li><i class="ri-git-commit-line"></i> Python</li>
                                <li><i class="ri-git-commit-line"></i> SQL</li>
                                <li><i class="ri-git-commit-line"></i> C++</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="border-b py-6">
                    <button
                        class="flex justify-between items-center w-full text-left text-2xl font-semibold text-blue-600"
                        onclick="toggleSection('section2')">
                        Frameworks
                        <span class="text-gray-500">+</span>
                    </button>
                    <div id="section2" class="mt-2 hidden">
                        <div class="tech-list flex justify-center">
                            <ul class="text-lg font-medium">
                                <li><i class="ri-git-commit-line"></i> PyTorch</li>
                                <li><i class="ri-git-commit-line"></i> MXNet</li>
                                <li><i class="ri-git-commit-line"></i> Nvidia Caffe</li>
                                <li><i class="ri-git-commit-line"></i> Caffe2</li>
                                <li><i class="ri-git-commit-line"></i> Theano</li>
                            </ul>
                        </div>

                    </div>
                </div>

                <div class="border-b py-6">
                    <button
                        class="flex justify-between items-center w-full text-left text-2xl font-semibold text-blue-600"
                        onclick="toggleSection('section4')">
                        Algorithms
                        <span class="text-gray-500">+</span>
                    </button>
                    <div id="section4" class="mt-2 hidden">
                        <div class="tech-list flex justify-center">
                            <ul class="text-lg font-medium">
                                <li><i class="ri-git-commit-line"></i> Supervised/unsupervised</li>
                                <li><i class="ri-git-commit-line"></i> Learning</li>
                                <li><i class="ri-git-commit-line"></i> Clustering</li>
                                <li><i class="ri-git-commit-line"></i> Metric learing</li>
                                <li><i class="ri-git-commit-line"></i> Few-shot learning</li>
                            </ul>
                        </div>

                    </div>
                </div>

                <div class="border-t border-b py-6">
                    <button
                        class="flex justify-between items-center w-full text-left text-2xl font-semibold text-blue-600"
                        onclick="toggleSection('section1')">
                        Libraries
                        <span class="text-gray-500">+</span>
                    </button>
                    <div id="section1" class="mt-2 hidden">
                        <div class="tech-list flex justify-center">
                            <ul class="text-lg font-medium">
                                <li><i class="ri-git-commit-line"></i> OpenNN</li>
                                <li><i class="ri-git-commit-line"></i> Neuroph</li>
                                <li><i class="ri-git-commit-line"></i> Sonnet</li>
                                <li><i class="ri-git-commit-line"></i> Tensorflow</li>
                                <li><i class="ri-git-commit-line"></i> Tensor</li>
                                <li><i class="ri-git-commit-line"></i> tf-slim</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="border-t border-b py-6">
                    <button
                        class="flex justify-between items-center w-full text-left text-2xl font-semibold text-blue-600"
                        onclick="toggleSection('section6')">
                        Neural Networks
                        <span class="text-gray-500">+</span>
                    </button>
                    <div id="section6" class="mt-2 hidden">
                        <div class="tech-list flex justify-center">
                            <ul class="text-lg font-medium">
                                <li><i class="ri-git-commit-line"></i> CNN</li>
                                <li><i class="ri-git-commit-line"></i> RNN</li>
                                <li><i class="ri-git-commit-line"></i> Representation Learning</li>
                                <li><i class="ri-git-commit-line"></i> Manifold learning</li>
                                <li><i class="ri-git-commit-line"></i> Variational</li>
                                <li><i class="ri-git-commit-line"></i> Autoencoders</li>
                                <li><i class="ri-git-commit-line"></i> Bayesian networks</li>
                                <li><i class="ri-git-commit-line"></i> Autoregressive networks</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="stellar-swiper-container AI-container">
        <h1 class="cosmic-title text-4xl font-medium">Our Artificial Intelligence Related Cases</h1>
        <div class="cosmic-swiper ai-swiper">
            <div class="orbital-wrapper swiper-wrapper">
                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="cadder overflow-hidden">
                        <!-- Image at the top -->
                        <img class="w-full zoom-img"
                            src="https://img.freepik.com/free-photo/representation-user-experience-interface-design-smartphone_23-2150165982.jpg?t=st=1733205455~exp=1733209055~hmac=dafd361d40760c502b656252b730e318806628bb5e2732d1a66350a5d7560286&w=996"
                            alt="Card image">

                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-2xl mt-5 mb-2">Mobile Hypertension<br>Analyzer & Adviser</div>
                        </div>

                        <!-- Links below the title -->
                        <div class=" cadder-buttons">
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">FinTech</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">Java</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Kotlin</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Mobile</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">React</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Swift</a>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="cadder overflow-hidden">
                        <!-- Image at the top -->
                        <img class="w-full zoom-img"
                            src="https://img.freepik.com/free-photo/representation-user-experience-interface-design-smartphone_23-2150165982.jpg?t=st=1733205455~exp=1733209055~hmac=dafd361d40760c502b656252b730e318806628bb5e2732d1a66350a5d7560286&w=996"
                            alt="Card image">

                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-2xl mt-5 mb-2">AI Compliance<br>Management System</div>
                        </div>

                        <!-- Links below the title -->
                        <div class=" cadder-buttons">
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">FinTech</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">Java</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Kotlin</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Mobile</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">React</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Swift</a>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="cadder overflow-hidden">
                        <!-- Image at the top -->
                        <img class="w-full zoom-img"
                            src="https://img.freepik.com/free-photo/representation-user-experience-interface-design-smartphone_23-2150165982.jpg?t=st=1733205455~exp=1733209055~hmac=dafd361d40760c502b656252b730e318806628bb5e2732d1a66350a5d7560286&w=996"
                            alt="Card image">

                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-2xl mt-5 mb-2">AI-Powered<br>Stock Prediction Application</div>
                        </div>

                        <!-- Links below the title -->
                        <div class=" cadder-buttons">
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">FinTech</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">Java</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Kotlin</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Mobile</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">React</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Swift</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Swiper Pagination -->
            <div class="swiper-pagination"></div>
            <!-- Swiper Navigation -->
            <!-- <div class="stellar-button-prev swiper-button-prev"></div>
            <div class="stellar-button-next swiper-button-next"></div> -->
        </div>
    </div>

    <div class="tech-container">
        <div class="tech-text">
            <h1>Are you looking for ways to optimize your business with AI and ML?</h1>
            <p>Let's solve your challenges with AI</p>
            <a href="#" class="tech-button">Drop us a line</a>
        </div>
        <div class="tech-image">
            <img src="/images/artificial-intelligence.png" alt="Tech Optimization AI ML">
        </div>
    </div>

    <div class=" ai-contact w-full h-full flex flex-col lg:flex-row mb-8">
        <!-- Left Section  -->
        <div class="contacterer w-full lg:w-1/2 p-8 flex flex-col justify-center">
            <h2 class="pluto-1  font-medium text-5xl mb-8">Contact us!</h2>
            <p class="text-xl text-gray-800 mb-6"><span class="text-red-700 underline"><a href="#">Book a
                        call</a></span> or fill out the form below and we’ll get back to you once we’ve processed
                your request.</p>

            <form class="w-full">
                <!-- Name Field -->
                <div class="relative z-0 w-full mb-5 group">
                    <input type="text" name="floating_name" id="floating_name"
                        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                        placeholder=" " required />
                    <label for="floating_name"
                        class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Name</label>
                </div>

                <!-- Company Field -->
                <div class="relative z-0 w-full mb-5 group">
                    <input type="text" name="floating_company" id="floating_company"
                        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                        placeholder=" " required />
                    <label for="floating_company"
                        class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Company</label>
                </div>

                <!-- Confirm Email Field -->
                <div class="relative z-0 w-full mb-5 group">
                    <input type="text" name="repeat_corporate" id="floating_repeat_corporate"
                        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                        placeholder=" " required />
                    <label for="floating_repeat_corporate"
                        class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Confirm
                        Corporate Email</label>
                </div>

                <!-- Phone and Subject Fields -->
                <div class="grid md:grid-cols-2 md:gap-6">
                    <div class="relative z-0 w-full mb-5 group">
                        <input type="number" name="floating_first_phone" id="floating_first_phone"
                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" " required />
                        <label for="floating_first_phone"
                            class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">First
                            Phone</label>
                    </div>
                    <div class="relative z-0 w-full mb-5 group">
                        <input type="text" name="floating_last_subject" id="floating_last_subject"
                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" " required />
                        <label for="floating_last_subject"
                            class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Last
                            Subject</label>
                    </div>
                </div>

                <!-- Project Budget Field -->
                <div class="relative z-0 w-full mb-5 group">
                    <input type="number" name="floating_phone" id="floating_project"
                        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                        placeholder=" " required />
                    <label for="floating_project"
                        class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Project
                        Budget (GMD100K)</label>
                </div>

                <!-- Description Field -->
                <div class="relative z-0 w-full mb-5 group">
                    <input type="text" name="floating_description" id="floating_description"
                        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                        placeholder=" " required />
                    <label for="floating_description"
                        class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Description</label>
                </div>

                <!-- Action Buttons -->
                <div class="flex flex-col justify-center items-center">
                    <div class="flex flex-col lg:flex-row gap-4 w-full">
                        <!-- Record Message Button -->
                        <div class="flex flex-col items-center border border-gray-300 rounded-md p-4 w-full lg:w-1/2">
                            <p class="text-sm font-medium mb-2">Record a voice message about your project to help us
                                understand it better</p>
                            <button
                                class="border border-red-500 hover:bg-gray-100 text-red-500 font-bold py-2 px-4 rounded flex items-center justify-center gap-2">
                                <i class="ri-mic-2-line text-xl"></i>
                                Record a voice message
                            </button>
                        </div>

                        <!-- Attach Documents Button -->
                        <div class="flex flex-col items-center border border-gray-300 rounded-md p-4 w-full lg:w-1/2">
                            <p class="text-sm font-medium mb-2">Attach additional documents as needed</p>
                            <button
                                class="attacher border lg:mt-3 border-red-500 hover:bg-gray-100 text-red-500 font-bold py-2 px-4 rounded flex items-center justify-center gap-2">
                                <i class="ri-file-2-line text-xl"></i>
                                Attach additional documents
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Legal Notice -->
                <p class="text-sm text-gray-500 mt-4">Please be informed that when you click the Send button, we
                    will process your personal data in accordance with our <span class="text-black font-medium"> <a
                            href="#">Privacy Policy</a> </span>and Terms and Conditions.</p>

                <!-- Full-Width Send Button -->
                <button type="submit"
                    class="mt-4 w-full bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded">
                    Send
                </button>
            </form>

        </div>





        <!-- Right Section -->
        <div class="dart w-full lg:w-1/2 flex justify-center items-center">
            <!-- statistic -->
            <div class="bg-gray-800 bg-opacity-75 text-white rounded-lg p-8 max-w-4xl shadow-lg">
                <h2 class="text-3xl font-bold mb-8 text-center">Why Emiri FinTech?</h2>
                <div class="grid grid-cols-2 gap-8">
                    <div class="text-center">
                        <p class="text-4xl font-bold">97+</p>
                        <p class="text-lg">IT professionals</p>
                    </div>
                    <div class="text-center">
                        <p class="text-4xl font-bold">93%</p>
                        <p class="text-lg">recurring customers</p>
                    </div>
                    <div class="text-center">
                        <p class="text-4xl font-bold">5+</p>
                        <p class="text-lg">years of expertise</p>
                    </div>
                    <div class="text-center">
                        <p class="text-4xl font-bold">100+</p>
                        <p class="text-lg">successful projects</p>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <script src="/javascripts/ai.js"></script>
    <script src="/javascripts/account.js"></script>
    <script src="/javascripts/cloud.js"></script>