<%- layout('layouts/boilerplate') %>
    <div class="custom-board relative text-white h-screen">
        <img class="custom-board-img absolute inset-0 w-full h-full object-cover"
            src="https://img.freepik.com/free-photo/group-people-stands-room-with-table-that-says-number-4-it_1340-35828.jpg?uid=R176520851&ga=GA1.1.438080985.1725988205&semt=ais_hybrid"
            alt="">

        <div class="board-text relative flex flex-col items-center justify-center min-h-screen bg-black bg-opacity-50">
            <div class="px-6 text-center ml-14">
                <h1 class="board-h1 text-4xl font-semibold md:text-6xl mb-2">
                    Innovate boldly, adapt swiftly, and disrupt the norm.
                </h1>
                <h1 class="board-h1-2 text-4xl font-semibold md:text-6xl">
                    <em>– Fintech Team Mindset</em>
                </h1>
            </div>
        </div>
    </div>

    <section class="secter px-[100px] py-10 flex justify-center">
        <div class="w-full lg:w-7/12 bg-white z-50">
            <div class="text-center mb-3 pt-10">
                <h2 style="color: #444; padding-bottom: 60px;" class=" font-normal text-3xl pt-8">We are a team of entrepreneurs and experts building the future of<br>capital markets</h2>
            </div>
            <div class="board-image-container pl-2 pr-2">
                <div class="modal-con grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-1" id="team-container">
                </div>
            </div>        
        </div>
    </section>
    <script src="/javascripts/board.js"></script>