<%- layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/business.css">
    <link rel="stylesheet" href="/stylesheets/businessres.css">

    <div class="digital-hero">
        <div class="digital-texts">
            <div class=" title-1 font-bold flex flex-col justify-center items-center gap-7"><span><i
                        class="ri-node-tree"></i> BP Automation</span>
                <div class="white-r"></div>
            </div>
        </div>
    </div>

    <div class="acordion">
        <div class="forensic-dropper">
            <div class=" dropper-container zero-pad">
                <div class="acord-starter">
                    <p id="overview" class="acord-2 corder">
                        For a decade and a half, Emiri Fintech has been designing sophisticated BPA solutions to
                        navigate the
                        complexities of modern businesses and bring tangible outputs enterprise-wide. Whether it’s
                        traditional document routing and data entry, or complex supply chain automation and CRM, the
                        solutions we build help streamline repeatable, rules-based activities and ensure accuracy,
                        efficiency, and visibility on a day-to-day basis.
                    </p>
                </div>
                <div class="business-text-cont">
                    <div class="font-semibold business-tit text-center">
                        Integrate BPA into your Business Operations
                    </div>
                    <div class="business-button">
                        <a class="text-lg" href="#">Automate now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ai-solid mt-12 bg-[#01102D] flex items-center justify-center">
        <div class="hacking-solid w-full max-w-6xl">
            <div class="hacking-solid-content text-center">
                <h1 class="digital-h1 text-2xl md:text-4xl text-white">
                    What are business process automation services?
                </h1>
                <p class="text-base md:text-lg text-white mt-4 mx-auto max-w-3xl">
                    Business Process Automation (BPA) leverages technology to streamline operations, automate tasks, and
                    enhance efficiency, ultimately reducing costs.
                </p>
                <a href="#" class="hacking-button text-lg md:text-xl text-white mt-6 inline-block px-6 py-3 rounded">
                    Contact us
                </a>
            </div>
        </div>
    </div>

    <div class="business-table">
        <div class="table-content business-version">
            <div class="content-title flex justify-center items-center text-3xl text-center font-medium">
                <h1 class="text-center">Business Process Automation Services we Offer</h1>
            </div>
            <div class="content-container">
                <div class="left-column">
                    <ul class="font-bold john-text">
                        <li><a href="#" class="active" data-section="section1">FinTech
                                software development</a>
                        </li>
                        <li><a href="#" data-section="section2">FinTech software support</a></li>
                        <li><a href="#" data-section="section3">FinTech consulting</a></li>
                        <li><a href="#" data-section="section4">FinTech integration</a></li>
                        <li><a href="#" data-section="section5">FinTech cybersecurity</a></li>
                        <li><a href="#" data-section="section6">Banking software</a></li>
                        <li><a href="#" data-section="section7">Insurance software</a></li>
                        <li><a href="#" data-section="section8">Digital financial transformation</a></li>
                        <li><a href="#" data-section="section9">Blockchain software</a></li>
                        <li><a href="#" data-section="section10">Cryptocurrency software</a></li>
                        <li><a href="#" data-section="section11">Legacy system modernization</a></li>
                        <li><a href="#" data-section="section12">Financial data management</a></li>
                    </ul>
                </div>
                <div class="right-column" id="content">
                    <div class="right-container">
                        <h2 class="font-bold text-2xl">Fintech software</h2>
                        <p class="text-lg">Innowise creates custom-built solutions for financial, banking, and
                            insurance industries, <br> bringing in 16+ years of experience in IT.</p>
                        <img src="https://diceus.com/wp-content/uploads/2023/09/og_cover_1-1.jpg" alt="$FinTech"
                            class="section-image mt-4">
                    </div>
                </div>
            </div>

        </div>

        <!-- accord-on-responsiveness -->

    </div>

    <!-- show accordion responsiveness -->
    <div class="respond-container">
        <!-- Accordion Items -->
         <h1 class="flex justify-center text-gone items-center text-center font-medium">Business Process Automation Services we Offer</h1>
        <div class="respond-item">
            <div class="respond-header">Fintech software development</div>
            <div class="respond-body">
                <p>Innowise creates custom-built solutions for financial, banking, and insurance industries, bringing in 16+ years of experience in IT.</p>
                <img src="https://diceus.com/wp-content/uploads/2023/09/og_cover_1-1.jpg" alt="Fintech software development">
            </div>
        </div>
        <div class="respond-item">
            <div class="respond-header">FinTech software support</div>
            <div class="respond-body">
                <p>Our company provides software maintenance services to ensure its reliability, operability, security, and regulation compliance.</p>
                <img src="https://img.freepik.com/free-photo/corporate-clients-evaluating-investment-opportunity-real-estate_482257-94925.jpg" alt="FinTech software support">
            </div>
        </div>
        <div class="respond-item">
            <div class="respond-header">FinTech consulting services</div>
            <div class="respond-body">
                <p>As a leading IT advisory, Innowise offers expert guidance on navigating financial technology, from market analysis to regulatory requirements and strategic planning.</p>
                <img src="https://img.freepik.com/premium-photo/diverse-businesspeople-coworkers-standing-conference-table-analyzing-financial-graphs-paperwork_482257-7558.jpg?w=1060" alt="FinTech consulting services">
            </div>
        </div>
        <div class="respond-item">
            <div class="respond-header">FinTech integration services</div>
            <div class="respond-body">
                <p>We connect FinTech solutions with your existing systems so they work together smoothly — automating data flow and giving you better insights across all your platforms.</p>
                <img src="https://img.freepik.com/premium-photo/businessman-showing-smartphone-with-pie-chart-screen-by-futuristic-designs-presenting-business-data-man-with-cellphone-introducing-new-ideas-strategies-progress_424947-5834.jpg?w=1380" alt="FinTech integration services">
            </div>
        </div>
        <div class="respond-item">
            <div class="respond-header">FinTech cybersecurity services</div>
            <div class="respond-body">
                <p>If you need stronger data protection, we’re here to help — we can audit your current setup, add data encryption, and set up role-based access to keep your FinTech systems secure.</p>
                <img src="https://img.freepik.com/premium-photo/financial-security-text-luminous-inscription-financial-security-concept3d-render_507676-4825.jpg?uid=R176520851&ga=GA1.1.438080985.1725988205&semt=ais_hybrid" alt="FinTech cybersecurity services">
            </div>
        </div>
        <div class="respond-item">
            <div class="respond-header">Banking software development</div>
            <div class="respond-body">
                <p>Our A-level developers build banking software solutions that guarantee robust data security, compliance with regulatory standards, and accessible banking services to the customers.</p>
                <img src="https://img.freepik.com/premium-photo/online-banking-digital-money-technology-conceptual_31965-19058.jpg?uid=R176520851&ga=GA1.1.438080985.1725988205&semt=ais_hybrid" alt="Banking software development">
            </div>
        </div>
        <div class="respond-item">
            <div class="respond-header">Insurance software development</div>
            <div class="respond-body">
                <p>At Innowise, we develop insurance software that automates and streamlines everything from claims and policy management to underwriting, billing, and actuarial modeling.</p>
                <img src="https://img.freepik.com/free-psd/internet-cloud-technology-concept_53876-15432.jpg?uid=R176520851&ga=GA1.1.438080985.1725988205&semt=ais_hybrid" alt="Insurance software development">
            </div>
        </div>
        <div class="respond-item">
            <div class="respond-header">Digital financial transformation</div>
            <div class="respond-body">
                <p>Our skilled teams of software engineers help businesses comprehend the pros of digitization and embrace business transformation to step on another level of financial efficiency.</p>
                <img src="https://img.freepik.com/premium-photo/rpa-financial-servicesrobotic-process-automation-banking-intelligent-automation-digital-transformation-finance-error-reduction-time-savings-financial-services_1082696-4477.jpg?w=1060" alt="Digital financial transformation">
            </div>
        </div>
        <div class="respond-item">
            <div class="respond-header">Blockchain software development</div>
            <div class="respond-body">
                <p>Our experts use blockchain to build decentralized trading and asset management platforms where security is unbreakable and transparency isn’t just a feature — it’s the foundation.</p>
                <img src="https://img.freepik.com/free-photo/big-data-blockchain-technology-isometric-mobile-phone-data-visualization_587448-4817.jpg?uid=R176520851&ga=GA1.1.438080985.1725988205&semt=ais_hybrid" alt="Blockchain software development">
            </div>
        </div>
        <div class="respond-item">
            <div class="respond-header">Cryptocurrency software development</div>
            <div class="respond-body">
                <p>Innowise offers top-tier crypto software development services, ensuring unwavering security and convenience for users to manage their digital assets.</p>
                <img src="https://img.freepik.com/free-vector/nft-nonfungible-tokens-concept-dark-blue-background_1419-2249.jpg?uid=R176520851&ga=GA1.1.438080985.1725988205&semt=ais_hybrid" alt="Cryptocurrency software development">
            </div>
        </div>
        <div class="respond-item">
            <div class="respond-header">Legacy app and system modernization</div>
            <div class="respond-body">
                <p>With our profound assistance, upgrading obsolete software and adding new features to the existing solutions go smoothly, with no interruptions to the business.</p>
                <img src="https://img.freepik.com/premium-photo/top-view-realistic-smartphone-screen-with-url-square-frame-shape-copy-space-black-background_1302-35617.jpg?uid=R176520851&ga=GA1.1.438080985.1725988205&semt=ais_hybrid" alt="Legacy app and system modernization">
            </div>
        </div>
        <div class="respond-item">
            <div class="respond-header">Financial data management</div>
            <div class="respond-body">
                <p>We help companies design secure, compliant solutions that automate the collection, storage, and analysis of financial information to improve risk management for businesses.</p>
                <img src="https://img.freepik.com/free-photo/financial-advisor-expert-highlighting-important-terms-retirement-plan_482257-91506.jpg?uid=R176520851&ga=GA1.1.438080985.1725988205&semt=ais_hybrid" alt="Financial data management">
            </div>
        </div>
    </div>
     
    <div class="sticky-grid-outer">
        <h1 class="sticky-bro text-center text-3xl">Our Business Process Automation Process</h1>
        <div class=" sticky-grid grid grid-cols-1 gap-4 p-4">
            <div class=" flex justify-center items-center">
                <div class="stick-container">
                    <div class="step">
                        <div class="step-number">01</div>
                        <div class="step-detes flex flex-col md:flex-row justify-between">
                            <div class="step-title">Process identification</div>
                            <div class="step-description">
                                We start by identifying routine, error-prone tasks that require automation, including
                                data
                                entry, invoicing, employee onboarding, etc. When automated, these processes will bring
                                considerable time savings and cost reduction.
                            </div>
                        </div>
                        <div class="arrow">&#8595;</div>
                        <div class="divideroll"></div>
                    </div>

                    <div class="step">
                        <div class="step-number">02</div>
                        <div class="step-detes flex flex-col md:flex-row justify-between">
                            <div class="step-title">Workflow analysis</div>
                            <div class="step-description">
                                Our project teams map out the existing workflow in detail, delving into each step and
                                responsible parties. This helps in understanding the process inside-out to identify
                                inefficiencies and areas for improvement.
                            </div>
                        </div>
                        <div class="arrow">&#8595;</div>
                        <div class="divideroll"></div>
                    </div>

                    <div class="step">
                        <div class="step-number">03</div>
                        <div class="step-detes flex flex-col md:flex-row justify-between">
                            <div class="step-title">Design</div>
                            <div class="step-description">
                                In this phase, our endowed designers define automation steps, rules, and data flow.
                                Further,
                                they choose appropriate tools and create a detailed blueprint of the business automation
                                solution, delivering a scalable automation framework.
                            </div>
                        </div>
                        <div class="arrow">&#8595;</div>
                        <div class="divideroll"></div>
                    </div>

                    <div class="step">
                        <div class="step-number">04</div>
                        <div class="step-detes flex flex-col md:flex-row justify-between">
                            <div class="step-title">Design</div>
                            <div class="step-description">
                                In this phase, our endowed designers define automation steps, rules, and data flow.
                                Further,
                                they choose appropriate tools and create a detailed blueprint of the business automation
                                solution, delivering a scalable automation framework.
                            </div>
                        </div>
                        <div class="arrow">&#8595;</div>
                        <div class="divideroll"></div>
                    </div>

                    <div class="step">
                        <div class="step-number">05</div>
                        <div class="step-detes flex flex-col md:flex-row justify-between">
                            <div class="step-title">Design</div>
                            <div class="step-description">
                                In this phase, our endowed designers define automation steps, rules, and data flow.
                                Further,
                                they choose appropriate tools and create a detailed blueprint of the business automation
                                solution, delivering a scalable automation framework.
                            </div>
                        </div>
                        <div class="arrow">&#8595;</div>
                        <div class="divideroll"></div>
                    </div>

                    <div class="step">
                        <div class="step-number">06</div>
                        <div class="step-detes flex flex-col md:flex-row justify-between">
                            <div class="step-title">Design</div>
                            <div class="step-description">
                                In this phase, our endowed designers define automation steps, rules, and data flow.
                                Further,
                                they choose appropriate tools and create a detailed blueprint of the business automation
                                solution, delivering a scalable automation framework.
                            </div>
                        </div>
                        <div class="arrow">&#8595;</div>
                        <div class="divideroll"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="stellar-swiper-container AI-container">
        <h1 class="cosmic-title text-3xl font-medium text-center">BPA services: our recent case studies</h1>
        <div class="cosmic-swiper ai-swiper">
            <div class="orbital-wrapper swiper-wrapper">
                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="cadder overflow-hidden">
                        <!-- Image at the top -->
                        <img class="w-full zoom-img"
                            src="https://img.freepik.com/free-photo/representation-user-experience-interface-design-smartphone_23-2150165982.jpg?t=st=1733205455~exp=1733209055~hmac=dafd361d40760c502b656252b730e318806628bb5e2732d1a66350a5d7560286&w=996"
                            alt="Card image">

                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-2xl mt-5 mb-2">Stock trading app<br>development</div>
                        </div>

                        <!-- Links below the title -->
                        <div class=" cadder-buttons">
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">FinTech</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">Java</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Kotlin</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Mobile</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">React</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Swift</a>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="cadder overflow-hidden">
                        <!-- Image at the top -->
                        <img class="w-full zoom-img"
                            src="https://img.freepik.com/free-photo/representation-user-experience-interface-design-smartphone_23-2150165982.jpg?t=st=1733205455~exp=1733209055~hmac=dafd361d40760c502b656252b730e318806628bb5e2732d1a66350a5d7560286&w=996"
                            alt="Card image">

                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-2xl mt-5 mb-2">Stock trading app<br>development</div>
                        </div>

                        <!-- Links below the title -->
                        <div class=" cadder-buttons">
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">FinTech</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">Java</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Kotlin</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Mobile</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">React</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Swift</a>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="cadder overflow-hidden">
                        <!-- Image at the top -->
                        <img class="w-full zoom-img"
                            src="https://img.freepik.com/free-photo/representation-user-experience-interface-design-smartphone_23-2150165982.jpg?t=st=1733205455~exp=1733209055~hmac=dafd361d40760c502b656252b730e318806628bb5e2732d1a66350a5d7560286&w=996"
                            alt="Card image">

                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-2xl mt-5 mb-2">Stock trading app<br>development</div>
                        </div>

                        <!-- Links below the title -->
                        <div class=" cadder-buttons">
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">FinTech</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">Java</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Kotlin</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Mobile</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">React</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Swift</a>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="cadder overflow-hidden">
                        <!-- Image at the top -->
                        <img class="w-full zoom-img"
                            src="https://img.freepik.com/free-photo/representation-user-experience-interface-design-smartphone_23-2150165982.jpg?t=st=1733205455~exp=1733209055~hmac=dafd361d40760c502b656252b730e318806628bb5e2732d1a66350a5d7560286&w=996"
                            alt="Card image">

                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-2xl mt-5 mb-2">Stock trading app<br>development</div>
                        </div>

                        <!-- Links below the title -->
                        <div class=" cadder-buttons">
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">FinTech</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">Java</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Kotlin</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Mobile</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">React</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Swift</a>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="cadder overflow-hidden">
                        <!-- Image at the top -->
                        <img class="w-full zoom-img"
                            src="https://img.freepik.com/free-photo/representation-user-experience-interface-design-smartphone_23-2150165982.jpg?t=st=1733205455~exp=1733209055~hmac=dafd361d40760c502b656252b730e318806628bb5e2732d1a66350a5d7560286&w=996"
                            alt="Card image">

                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-2xl mt-5 mb-2">Stock trading app<br>development</div>
                        </div>

                        <!-- Links below the title -->
                        <div class=" cadder-buttons">
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">FinTech</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">Java</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Kotlin</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Mobile</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">React</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Swift</a>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="cadder overflow-hidden">
                        <!-- Image at the top -->
                        <img class="w-full zoom-img"
                            src="https://img.freepik.com/free-photo/representation-user-experience-interface-design-smartphone_23-2150165982.jpg?t=st=1733205455~exp=1733209055~hmac=dafd361d40760c502b656252b730e318806628bb5e2732d1a66350a5d7560286&w=996"
                            alt="Card image">

                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-2xl mt-5 mb-2">Stock trading app<br>development</div>
                        </div>

                        <!-- Links below the title -->
                        <div class=" cadder-buttons">
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">FinTech</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">Java</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Kotlin</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Mobile</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">React</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Swift</a>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="cadder overflow-hidden">
                        <!-- Image at the top -->
                        <img class="w-full zoom-img"
                            src="https://img.freepik.com/free-photo/representation-user-experience-interface-design-smartphone_23-2150165982.jpg?t=st=1733205455~exp=1733209055~hmac=dafd361d40760c502b656252b730e318806628bb5e2732d1a66350a5d7560286&w=996"
                            alt="Card image">

                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-2xl mt-5 mb-2">Stock trading app<br>development</div>
                        </div>

                        <!-- Links below the title -->
                        <div class=" cadder-buttons">
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">FinTech</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">Java</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Kotlin</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Mobile</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">React</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Swift</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Swiper Pagination -->
            <div class="business-swiper swiper-pagination"></div>
            <!-- Swiper Navigation -->
            <!-- <div class="stellar-button-prev swiper-button-prev"></div>
            <div class="stellar-button-next swiper-button-next"></div> -->
        </div>
    </div>

    <div class="business-stellar stellar-swiper-container AI-container">
        <h1 class="cosmic-title text-3xl font-medium text-center">What our Customers Think</h1>
        <div class="cosmic-swiper ai-swiper">
            <div class="orbital-wrapper swiper-wrapper">
                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="cadder overflow-hidden flex flex-col">
                        <div class="stala flex flex-row"> <i class="ri-double-quotes-l"></i>
                            <p>We are delighted withe emiri fintech's commitment to delivering quality work
                                and solving issues quickly. They lead an engaged approach to understanding the team's
                                needs
                                and accomplishing their goals.</p>
                        </div>
                        <div class="gala-outer">
                            <div class="gala business-gala">
                                <!-- <p class="quote-name"><strong>Or Iny</strong></p> -->
                                <p class="quote-po">CEO</p>
                                <p class="quote-r">Zero Beta</p>
                            </div>
                            <div class="gala-img gala-hider">
                                <img src="https://innowise.com/wp-content/uploads/2024/11/image-3335-1.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="cadder overflow-hidden flex flex-col">
                        <div class="stala flex flex-row"> <i class="ri-double-quotes-l"></i>
                            <p>We are delighted withe emiri fintech's commitment to delivering quality work
                                and solving issues quickly. They lead an engaged approach to understanding the team's
                                needs
                                and accomplishing their goals.</p>
                        </div>
                        <div class="gala-outer">
                            <div class="gala  business-gala">
                                <!-- <p class="quote-name"><strong>Or Iny</strong></p> -->
                                <p class="quote-po">CEO</p>
                                <p class="quote-r">Zero Beta</p>
                            </div>
                            <div class="gala-img gala-hider">
                                <img src="https://innowise.com/wp-content/uploads/2024/11/image-3335-1.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="galaxy-slide swiper-slide">
                    <div class="cadder overflow-hidden flex flex-col">
                        <div class="stala flex flex-row"> <i class="ri-double-quotes-l"></i>
                            <p>We are delighted withe emiri fintech's commitment to delivering quality work
                                and solving issues quickly. They lead an engaged approach to understanding the team's
                                needs
                                and accomplishing their goals.</p>
                        </div>
                        <div class="gala-outer">
                            <div class="gala  business-gala">
                                <!-- <p class="quote-name"><strong>Or Iny</strong></p> -->
                                <p class="quote-po">CEO</p>
                                <p class="quote-r">Zero Beta</p>
                            </div>
                            <div class="gala-img gala-hider">
                                <img src="https://innowise.com/wp-content/uploads/2024/11/image-3335-1.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Swiper Pagination -->
            <div class="business-swiper swiper-pagination"></div>
            <!-- Swiper Navigation -->
            <!-- <div class="stellar-button-prev swiper-button-prev"></div>
            <div class="stellar-button-next swiper-button-next"></div> -->
        </div>
    </div>

    <div class="stellar-faq">
        <div class="faqqer">
            <h1 class="text-3xl text-center">FAQ</h1>
            <div class="border-b py-6">
                <button class="flex justify-between items-center w-full text-left text-xl font-semibold text-blue-600"
                    onclick="toggleSection('section3')">
                    Banking CRM
                    <span class="text-gray-500">+</span>
                </button>
                <div id="section3" class="mt-2 hidden">
                    <p class="text-gray-700 mb-3">As part of our financial software development services at Emiri
                        Fintech Solutions, we build flexible CRM systems to drive customer attraction and retention,
                        optimize their journey within the sales funnel, and address customers’ growing needs
                        proactively rather than reactively. Our CRM systems are bolstered with a high level of
                        automation, comprehensive security features, and advanced analytics capabilities that
                        contribute to increased employee productivity, data protection, and better adjustment to
                        customer demands.</p>
                    <p class="text-gray-700">To create a full-fledged portrait of the target audience, we integrate
                        CRMs with a plethora of data sources, such as mobile apps, websites, social media platforms,
                        email, call centers, and more. Being provided with almost endless opportunities to gain
                        insights into your customers’ preferences, you can offer them the most relevant options that
                        will meet their financial needs.</p>
                </div>
            </div>

            <div class="border-b py-6">
                <button class="flex justify-between items-center w-full text-left text-xl font-semibold text-blue-600"
                    onclick="toggleSection('section2')">
                    Mobile Banking
                    <span class="text-gray-500">+</span>
                </button>
                <div id="section2" class="mt-2 hidden">
                    <p class="text-gray-700">To make banking services accessible from anywhere anytime, Emiri
                        FinTech’s experts deliver mobile solutions that reshape and simplify communication along
                        with increasing customer engagement and retention. With both the basic and cutting-edge
                        features of our mobile apps, end users can 100% securely and effortlessly manage their
                        finances, make financial transactions, and get personal assistance 24/7.</p>
                    <ul class="unordered">
                        <li><i class="ri-verified-badge-fill"></i> Payment scheduling</li>
                        <li><i class="ri-verified-badge-fill"></i> Personalized customers' support</li>
                        <li><i class="ri-verified-badge-fill"></i> Money transfer</li>
                        <li><i class="ri-verified-badge-fill"></i> Biometric authentication</li>
                        <li><i class="ri-verified-badge-fill"></i> Opening and managing bank accounts</li>
                        <li><i class="ri-verified-badge-fill"></i> Voice navigation</li>
                        <li><i class="ri-verified-badge-fill"></i> Customized alerts</li>
                    </ul>
                </div>
            </div>

            <div class="border-b py-6">
                <button class="flex justify-between items-center w-full text-left text-xl font-semibold text-blue-600"
                    onclick="toggleSection('section4')">
                    Opening Banking
                    <span class="text-gray-500">+</span>
                </button>
                <div id="section4" class="mt-2 hidden">
                    <p class="text-gray-700 mb-3">Open banking is changing the landscape of financial relationships.
                        By getting access to open APIs, banks can cut down on integration expenses and increase
                        client flow thanks to the information they get from their partners.</p>
                    <p class="text-gray-700 mb-3">At Emiri Fintech Solutions, we create trustworthy solutions
                        (Platforms) that allow banks to rapidly launch new services developed by third-party
                        companies and easily embed innovative solutions into their ecosystems while reducing
                        overhead costs.</p>
                    <p class="text-gray-700 mb-3">To capture the overall value of open banking solutions without
                        undermining their reliability, we at Emiri adhere to all the necessary security measures in
                        compliance with regulations such as GDPR, PSD2, among others.</p>
                </div>
            </div>

            <div class="border-t border-b py-6">
                <button class="flex justify-between items-center w-full text-left text-xl font-semibold text-blue-600"
                    onclick="toggleSection('section1')">
                    Core Banking services
                    <span class="text-gray-500">+</span>
                </button>
                <div id="section1" class="mt-2 hidden">
                    <p class="text-gray-700">Whether you want your banking software to be on-premise or cloud-based,
                        we can deliver a solution that will facilitate the key functions of your bank and drive your
                        day-to-day operations.</p>
                    <ul class="unordered">
                        <li><i class="ri-verified-badge-fill"></i> Account management</li>
                        <li><i class="ri-verified-badge-fill"></i> Currency exchange</li>
                        <li><i class="ri-verified-badge-fill"></i> Payment processing</li>
                        <li><i class="ri-verified-badge-fill"></i> Reporting tools</li>
                        <li><i class="ri-verified-badge-fill"></i> Loan management</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="stellar-swiper-container panda">
        <h1 class="cosmic-title text-3xl font-medium text-center">Need other services?</h1>
        <div class="cosmic-swiper">
            <div class="orbital-wrapper swiper-wrapper">
                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="boxer overflow-hidden">
                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-2xl">Stock trading app<br>development</div>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="boxer overflow-hidden">
                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-2xl">Stock trading app<br>development</div>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="boxer overflow-hidden">
                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-2xl">Stock trading app<br>development</div>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="boxer overflow-hidden">
                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-2xl">Stock trading app<br>development</div>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="boxer overflow-hidden">
                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-2xl">Stock trading app<br>development</div>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="boxer overflow-hidden">
                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-2xl">Stock trading app<br>development</div>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="boxer overflow-hidden">
                        <!-- Image at the top -->
                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-2xl">Stock trading app<br>development</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Swiper Pagination -->
            <div class="business-swiper swiper-pagination"></div>
            <!-- Swiper Navigation -->
            <!-- <div class="stellar-button-prev swiper-button-prev"></div>
            <div class="stellar-button-next swiper-button-next"></div> -->
        </div>
    </div>

    <script>
        // JavaScript for accordion functionality
        document.querySelectorAll('.respond-header').forEach(header => {
            header.addEventListener('click', () => {
                const allHeaders = document.querySelectorAll('.respond-header');
                const allBodies = document.querySelectorAll('.respond-body');
    
                // Close all other accordions
                allHeaders.forEach(h => h !== header && h.classList.remove('active'));
                allBodies.forEach(b => b !== header.nextElementSibling && (b.style.display = 'none'));
    
                // Toggle current accordion
                header.classList.toggle('active');
                const body = header.nextElementSibling;
                body.style.display = body.style.display === 'block' ? 'none' : 'block';
            });
        });
    </script>

    <script src="/javascripts/business.js"></script>
    <script src="/javascripts/account.js"></script>
    <script src="/javascripts/cloud.js"></script>