<%- layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/business.css">

    <div class="digital-hero">
        <div class="digital-texts">
            <div class=" title-1 font-bold text-5xl flex flex-col justify-center gap-7"><span><i
                        class="ri-node-tree"></i> Business Process Automation</span>
                <div class="white-r"></div>
            </div>
        </div>
    </div>

    <div class="acordion">
        <div class="forensic-dropper">
            <div class=" dropper-container zero-pad">
                <div class="acord-starter">
                    <p id="overview" class="acord-2 corder">
                        For a decade and a half, Emiri Fintech has been designing sophisticated BPA solutions to
                        navigate the
                        complexities of modern businesses and bring tangible outputs enterprise-wide. Whether it’s
                        traditional document routing and data entry, or complex supply chain automation and CRM, the
                        solutions we build help streamline repeatable, rules-based activities and ensure accuracy,
                        efficiency, and visibility on a day-to-day basis.
                    </p>
                </div>
                <div class="business-text-cont">
                    <div class="text-3xl font-semibold business-tit">
                        Integrate BPA into your Business Operations
                    </div>
                    <div class="business-button">
                        <a class="text-lg" href="#">Automate now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ai-solid">
        <div class="hacking-solid-outer reduce-height bg-cover bg-center flex items-center justify-center">
            <div class="hacking-solid solid-pad text-center">
                <h1 class="digital-h1 text-4xl text-white ">What are business process automation services?</h1>
                <p class="text-lg">
                    Business Process Automation (BPA) uses technology to streamline operations, automate tasks, and
                    improve efficiency. It simplifies workflows, enhances service quality, supports digital
                    transformation, and reduces costs.
                </p>
                <a href="#" class="hacking-button text-xl text-white">Contact us</a>
            </div>
        </div>
    </div>

    <div class="business-table">
        <div class="table-content">
            <div class="content-title text-4xl font-medium">
                <h1 class="text-center">Business Process Automation Services we Offer</h1>
            </div>
            <div class="content-container">
                <div class="left-column">
                    <ul class="font-bold text-lg">
                        <li><a href="#" class="active" data-section="section1">Custom FinTech
                                software<br>development</a>
                        </li>
                        <li><a href="#" data-section="section2">FinTech software support</a></li>
                        <li><a href="#" data-section="section3">FinTech consulting services</a></li>
                        <li><a href="#" data-section="section4">FinTech integration services</a></li>
                        <li><a href="#" data-section="section5">FinTech cybersecurity services</a></li>
                        <li><a href="#" data-section="section6">Banking software development</a></li>
                        <li><a href="#" data-section="section7">Insurance software development</a></li>
                        <li><a href="#" data-section="section8">Digital financial transformation</a></li>
                        <li><a href="#" data-section="section9">Blockchain software development</a></li>
                        <li><a href="#" data-section="section10">Cryptocurrency software development</a></li>
                        <li><a href="#" data-section="section11">Legacy app system modernization</a></li>
                        <li><a href="#" data-section="section12">Financial data management</a></li>
                    </ul>
                </div>
                <div class="right-column" id="content">
                    <div class="right-container">
                        <h2 class="font-bold text-2xl">Custom Fintech software development</h2>
                        <p class="text-lg">Innowise creates custom-built solutions for financial, banking, and
                            insurance<br>industries, bringing in 16+ years of experience in IT.</p>
                        <img src="https://diceus.com/wp-content/uploads/2023/09/og_cover_1-1.jpg" alt="$FinTech"
                            class="section-image mt-4">
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="acordion cope">
        <div class="forensic-dropper">
            <div class=" dropper-container zero-AI zero-pad">
                <div class="acord-starter">
                    <p class="acord-2 cloud-merger corder">Emiri FinTech’s artificial intelligence and machine learning experts
                        provide businesses with first-class, domain-specific solutions of any complexity and scale. Our
                        developers are experts in rendering the services as follows:
                        <hr class="hrr">
                    </p>
                </div>

                <div class="dropper-expand flex justify-center corder text-center">
                    <h1 class="merger-cloud text-3xl font-bold mb-6">Unlock true cloud value with expert deployments.</h1>
                </div>

                <div class="ai-grid grid grid-cols-3 gap-5">
                    <div class="colo-1 space-y-6">
                        <!-- Card 1 -->
                        <div class="">
                            <div class="pad  p-10">
                                <h3 style="white-space: nowrap; padding-top: 28px; padding-bottom: 20px; padding-left: 10px;"
                                    class="text-xl font-bold text-center cursor-pointer flex justify-between items-center"
                                    onclick="toggleContent(1)">
                                    <div>
                                        <i class="ri-cloud-line mr-2 text-xl "></i>AI Consulting
                                    </div>
                                    <i id="arrow-1" class="ri-arrow-drop-down-line text-4xl "></i>
                                </h3>
                                <div style="padding: 20px;" id="content-1"
                                    class="text-gray-900 leading-relaxed  text-center hidden">
                                    Artificial intelligence has already changed the way businesses operate and is only
                                    going to continue to do so in the coming years. Our company is a leading IT
                                    advisory, and with the help of our AI consulting experts, you can embrace this
                                    change and create a more efficient and successful business.
                                </div>
                            </div>
                        </div>

                        <!-- Card 2 -->
                        <div class="">
                            <div class="pad p-10">
                                <h3 style="white-space: nowrap; padding-top: 28px; padding-bottom: 20px; padding-left: 10px;"
                                    class="text-xl font-bold text-center cursor-pointer flex justify-between items-center"
                                    onclick="toggleContent(2)">
                                    <div>
                                        <i class="ri-cloud-line mr-2 text-xl "></i>Audit of AI/ML Algorithms
                                    </div>
                                    <i id="arrow-2" class="ri-arrow-drop-down-line text-4xl "></i>
                                </h3>
                                <div style="padding: 20px;" id="content-2"
                                    class="text-gray-900 leading-relaxed  text-center hidden">
                                    Innowise also provides audit services for businesses, taking full advantage of
                                    artificial intelligence and machine learning technologies. We help companies adjust
                                    their business strategies, ensuring a high level of automation and reducing
                                    erroneous actions.
                                </div>
                            </div>
                        </div>

                        <div class="">
                            <div class="pad p-10">
                                <h3 style="white-space: nowrap; padding-top: 28px; padding-bottom: 20px; padding-left: 10px;"
                                    class="text-xl font-bold text-center cursor-pointer flex justify-between items-center"
                                    onclick="toggleContent(2)">
                                    <div>
                                        <i class="ri-cloud-line mr-2 text-xl "></i>Intelligent Automation
                                    </div>
                                    <i id="arrow-2" class="ri-arrow-drop-down-line text-4xl "></i>
                                </h3>
                                <div style="padding: 20px;" id="content-2"
                                    class="text-gray-900 leading-relaxed  text-center hidden">
                                    Innowise can integrate its solutions to intelligently automate your operations. This
                                    allows the creation and management of metadata and includes document recognition and
                                    information extraction from unstructured data volumes.
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="colo-2 space-y-6">
                        <!-- Card 3 -->
                        <div class="">
                            <div class="pad p-10">
                                <h3 style="white-space: nowrap; padding-top: 28px; padding-bottom: 20px; padding-left: 10px;"
                                    class="text-xl font-bold text-center cursor-pointer flex justify-between items-center"
                                    onclick="toggleContent(3)">
                                    <div>
                                        <i class="ri-cloud-line mr-2 text-xl "></i>ANN Design
                                    </div>
                                    <i id="arrow-3" class="ri-arrow-drop-down-line text-4xl "></i>
                                </h3>
                                <div style="padding: 20px;" id="content-3"
                                    class="text-gray-900 leading-relaxed  text-center hidden">
                                    Innowise's experts in developing artificial neural networks use AI-based tools to
                                    foster classification, prediction, regression, smart grid, etc., based on
                                    inspiration from biological neural networks. This can be useful for object
                                    recognition, speech recognition, text writing, and other purposes.
                                </div>
                            </div>
                        </div>

                        <!-- Card 4 -->
                        <div class="">
                            <div class="pad p-10">
                                <h3 style="white-space: nowrap; padding-top: 28px; padding-bottom: 20px; padding-left: 10px;"
                                    class="text-xl font-bold text-center cursor-pointer flex justify-between items-center"
                                    onclick="toggleContent(4)">
                                    <div>
                                        <i class="ri-cloud-line mr-2 text-xl "></i> NN Optimization
                                    </div>
                                    <i id="arrow-4" class="ri-arrow-drop-down-line text-4xl "></i>
                                </h3>
                                <div style="padding: 20px;" id="content-4"
                                    class="text-gray-900 leading-relaxed  text-center hidden">
                                    Our engineers provide algorithms and methods for changing neural network attributes
                                    and statuses with neural network optimizer tools. Optimization is an important part
                                    of "training," helping to make analyses faster and more accurate.
                                </div>
                            </div>
                        </div>

                        <!-- Card 3 -->
                        <div class="">

                            <div class="pad p-10">
                                <h3 style="white-space: nowrap; padding-top: 28px; padding-bottom: 20px; padding-left: 10px;"
                                    class="text-xl font-bold text-center cursor-pointer flex justify-between items-center"
                                    onclick="toggleContent(3)">
                                    <div>
                                        <i class="ri-cloud-line mr-2 text-xl "></i>AI for Cybersecurity
                                    </div>
                                    <i id="arrow-3" class="ri-arrow-drop-down-line text-4xl "></i>
                                </h3>
                                <div style="padding: 20px;" id="content-3"
                                    class="text-gray-900 leading-relaxed  text-center hidden">
                                    Artificial intelligence is playing an increasingly important role in
                                    cybersecurity. Among the ways AI can improve cybersecurity are the automation of
                                    the detection and response to attacks, the optimization of networks, and the
                                    detection of vulnerabilities.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="colo-3 space-y-6">
                        <!-- Card 5 -->
                        <div class="">
                            <div class="pad p-10">
                                <h3 style="white-space: nowrap; padding-top: 28px; padding-bottom: 20px; padding-left: 10px;"
                                    class="text-xl font-bold text-center cursor-pointer flex justify-between items-center"
                                    onclick="toggleContent(5)">
                                    <div>
                                        <i class="ri-cloud-line mr-2 text-xl"></i>Predictive Analysis
                                    </div>
                                    <i id="arrow-5" class="ri-arrow-drop-down-line text-4xl "></i>
                                </h3>
                                <div style="padding: 20px;" id="content-5"
                                    class="text-gray-900 leading-relaxed  text-center hidden">
                                    When it comes to the public cloud, eSparkBiz specializes in AWS, AZURE, and GCP
                                    cloud solutions.
                                    Our services of cloud-based solutions provide maximum output while developing
                                    plans
                                    for more
                                    effective functioning as per the scalability and cost sensitiveness of business.
                                </div>
                            </div>
                        </div>

                        <!-- Card 6 -->
                        <div class="">
                            <div class="pad p-10">
                                <h3 style="white-space: nowrap; padding-top: 28px; padding-bottom: 20px; padding-left: 10px;"
                                    class="text-xl font-bold text-center cursor-pointer flex justify-between items-center"
                                    onclick="toggleContent(6)">
                                    <div>
                                        <i class="ri-cloud-line mr-2 text-xl "></i>Fraud Detection Systems
                                    </div>
                                    <i id="arrow-6" class="ri-arrow-drop-down-line text-4xl "></i>
                                </h3>
                                <div style="padding: 20px;" id="content-6"
                                    class="text-gray-900 leading-relaxed  text-center hidden">
                                    To detect and prevent fraud, Innowise teaches machine learning solutions on
                                    specific
                                    data sets that teach the algorithms to check users’ actions according to certain
                                    rules or detect specific anomalies happening when a fraud case occurs.
                                </div>
                            </div>
                        </div>

                        <div class="">
                            <div class="pad p-10">
                                <h3 style="white-space: nowrap; padding-top: 28px; padding-bottom: 20px; padding-left: 10px;"
                                    class="text-xl font-bold text-center cursor-pointer flex justify-between items-center"
                                    onclick="toggleContent(6)">
                                    <div>
                                        <i class="ri-cloud-line mr-2 text-xl "></i>VA Develppment
                                    </div>
                                    <i id="arrow-6" class="ri-arrow-drop-down-line text-4xl "></i>
                                </h3>
                                <div style="padding: 20px;" id="content-6"
                                    class="text-gray-900 leading-relaxed  text-center hidden">
                                    Building a virtual assistant, we create a special bond between your products and
                                    users with the help of audiovisual comprehension, deep learning, and natural
                                    language processing. Moreover, a virtual assistant can become a driver of
                                    creating a
                                    product ecosystem. </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>

    <div class="sticky-grid-outer">
        <h1 class="sticky-bro text-3xl">Our Business Process Automation Process</h1>
        <div class=" sticky-grid grid grid-cols-1 gap-4 p-4">
            <div class="">
                <div class="stick-container">
                    <div class="step">
                        <div class="step-number">01</div>
                        <div class="step-detes flex flex-row justify-between">
                            <div class="step-title">Process identification</div>
                            <div class="step-description">
                                We start by identifying routine, error-prone tasks that require automation, including
                                data
                                entry, invoicing, employee onboarding, etc. When automated, these processes will bring
                                considerable time savings and cost reduction.
                            </div>
                        </div>
                        <div class="arrow">&#8595;</div>
                        <div class="divideroll"></div>
                    </div>

                    <div class="step">
                        <div class="step-number">02</div>
                        <div class="step-detes flex flex-row justify-between">
                            <div class="step-title">Workflow analysis</div>
                            <div class="step-description">
                                Our project teams map out the existing workflow in detail, delving into each step and
                                responsible parties. This helps in understanding the process inside-out to identify
                                inefficiencies and areas for improvement.
                            </div>
                        </div>
                        <div class="arrow">&#8595;</div>
                        <div class="divideroll"></div>
                    </div>

                    <div class="step">
                        <div class="step-number">03</div>
                        <div class="step-detes flex flex-row justify-between">
                            <div class="step-title">Design</div>
                            <div class="step-description">
                                In this phase, our endowed designers define automation steps, rules, and data flow.
                                Further,
                                they choose appropriate tools and create a detailed blueprint of the business automation
                                solution, delivering a scalable automation framework.
                            </div>
                        </div>
                        <div class="arrow">&#8595;</div>
                        <div class="divideroll"></div>
                    </div>

                    <div class="step">
                        <div class="step-number">04</div>
                        <div class="step-detes flex flex-row justify-between">
                            <div class="step-title">Design</div>
                            <div class="step-description">
                                In this phase, our endowed designers define automation steps, rules, and data flow.
                                Further,
                                they choose appropriate tools and create a detailed blueprint of the business automation
                                solution, delivering a scalable automation framework.
                            </div>
                        </div>
                        <div class="arrow">&#8595;</div>
                        <div class="divideroll"></div>
                    </div>

                    <div class="step">
                        <div class="step-number">05</div>
                        <div class="step-detes flex flex-row justify-between">
                            <div class="step-title">Design</div>
                            <div class="step-description">
                                In this phase, our endowed designers define automation steps, rules, and data flow.
                                Further,
                                they choose appropriate tools and create a detailed blueprint of the business automation
                                solution, delivering a scalable automation framework.
                            </div>
                        </div>
                        <div class="arrow">&#8595;</div>
                        <div class="divideroll"></div>
                    </div>

                    <div class="step">
                        <div class="step-number">06</div>
                        <div class="step-detes flex flex-row justify-between">
                            <div class="step-title">Design</div>
                            <div class="step-description">
                                In this phase, our endowed designers define automation steps, rules, and data flow.
                                Further,
                                they choose appropriate tools and create a detailed blueprint of the business automation
                                solution, delivering a scalable automation framework.
                            </div>
                        </div>
                        <div class="arrow">&#8595;</div>
                        <div class="divideroll"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="stellar-swiper-container AI-container">
        <h1 class="cosmic-title text-4xl font-medium text-center">BPA services: our recent case studies</h1>
        <div class="cosmic-swiper ai-swiper">
            <div class="orbital-wrapper swiper-wrapper">
                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="cadder overflow-hidden">
                        <!-- Image at the top -->
                        <img class="w-full zoom-img"
                            src="https://img.freepik.com/free-photo/representation-user-experience-interface-design-smartphone_23-2150165982.jpg?t=st=1733205455~exp=1733209055~hmac=dafd361d40760c502b656252b730e318806628bb5e2732d1a66350a5d7560286&w=996"
                            alt="Card image">

                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-2xl mt-5 mb-2">Stock trading app<br>development</div>
                        </div>

                        <!-- Links below the title -->
                        <div class=" cadder-buttons">
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">FinTech</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">Java</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Kotlin</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Mobile</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">React</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Swift</a>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="cadder overflow-hidden">
                        <!-- Image at the top -->
                        <img class="w-full zoom-img"
                            src="https://img.freepik.com/free-photo/representation-user-experience-interface-design-smartphone_23-2150165982.jpg?t=st=1733205455~exp=1733209055~hmac=dafd361d40760c502b656252b730e318806628bb5e2732d1a66350a5d7560286&w=996"
                            alt="Card image">

                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-2xl mt-5 mb-2">Stock trading app<br>development</div>
                        </div>

                        <!-- Links below the title -->
                        <div class=" cadder-buttons">
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">FinTech</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">Java</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Kotlin</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Mobile</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">React</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Swift</a>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="cadder overflow-hidden">
                        <!-- Image at the top -->
                        <img class="w-full zoom-img"
                            src="https://img.freepik.com/free-photo/representation-user-experience-interface-design-smartphone_23-2150165982.jpg?t=st=1733205455~exp=1733209055~hmac=dafd361d40760c502b656252b730e318806628bb5e2732d1a66350a5d7560286&w=996"
                            alt="Card image">

                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-2xl mt-5 mb-2">Stock trading app<br>development</div>
                        </div>

                        <!-- Links below the title -->
                        <div class=" cadder-buttons">
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">FinTech</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">Java</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Kotlin</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Mobile</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">React</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Swift</a>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="cadder overflow-hidden">
                        <!-- Image at the top -->
                        <img class="w-full zoom-img"
                            src="https://img.freepik.com/free-photo/representation-user-experience-interface-design-smartphone_23-2150165982.jpg?t=st=1733205455~exp=1733209055~hmac=dafd361d40760c502b656252b730e318806628bb5e2732d1a66350a5d7560286&w=996"
                            alt="Card image">

                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-2xl mt-5 mb-2">Stock trading app<br>development</div>
                        </div>

                        <!-- Links below the title -->
                        <div class=" cadder-buttons">
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">FinTech</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">Java</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Kotlin</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Mobile</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">React</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Swift</a>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="cadder overflow-hidden">
                        <!-- Image at the top -->
                        <img class="w-full zoom-img"
                            src="https://img.freepik.com/free-photo/representation-user-experience-interface-design-smartphone_23-2150165982.jpg?t=st=1733205455~exp=1733209055~hmac=dafd361d40760c502b656252b730e318806628bb5e2732d1a66350a5d7560286&w=996"
                            alt="Card image">

                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-2xl mt-5 mb-2">Stock trading app<br>development</div>
                        </div>

                        <!-- Links below the title -->
                        <div class=" cadder-buttons">
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">FinTech</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">Java</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Kotlin</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Mobile</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">React</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Swift</a>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="cadder overflow-hidden">
                        <!-- Image at the top -->
                        <img class="w-full zoom-img"
                            src="https://img.freepik.com/free-photo/representation-user-experience-interface-design-smartphone_23-2150165982.jpg?t=st=1733205455~exp=1733209055~hmac=dafd361d40760c502b656252b730e318806628bb5e2732d1a66350a5d7560286&w=996"
                            alt="Card image">

                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-2xl mt-5 mb-2">Stock trading app<br>development</div>
                        </div>

                        <!-- Links below the title -->
                        <div class=" cadder-buttons">
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">FinTech</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">Java</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Kotlin</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Mobile</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">React</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Swift</a>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="cadder overflow-hidden">
                        <!-- Image at the top -->
                        <img class="w-full zoom-img"
                            src="https://img.freepik.com/free-photo/representation-user-experience-interface-design-smartphone_23-2150165982.jpg?t=st=1733205455~exp=1733209055~hmac=dafd361d40760c502b656252b730e318806628bb5e2732d1a66350a5d7560286&w=996"
                            alt="Card image">

                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-2xl mt-5 mb-2">Stock trading app<br>development</div>
                        </div>

                        <!-- Links below the title -->
                        <div class=" cadder-buttons">
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">FinTech</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">Java</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Kotlin</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Mobile</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">React</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Swift</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Swiper Pagination -->
            <div class="swiper-pagination"></div>
            <!-- Swiper Navigation -->
            <!-- <div class="stellar-button-prev swiper-button-prev"></div>
            <div class="stellar-button-next swiper-button-next"></div> -->
        </div>
    </div>


    <div class="business-stellar stellar-swiper-container AI-container">
        <h1 class="cosmic-title text-4xl font-medium text-center">What our Customers Think</h1>
        <div class="cosmic-swiper ai-swiper">
            <div class="orbital-wrapper swiper-wrapper">
                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="cadder overflow-hidden flex flex-col">
                        <div class="stala flex flex-row"> <i class="ri-double-quotes-l"></i>
                            <p>We are delighted withe emiri fintech's commitment to delivering quality work
                                and solving issues quickly. They lead an engaged approach to understanding the team's
                                needs
                                and accomplishing their goals.</p>
                        </div>
                        <div class="gala-outer">
                            <div class="gala">
                                <p class="quote-name"><strong>Or Iny</strong></p>
                                <p class="quote-po">CEO</p>
                                <p class="quote-r">Zero Beta</p>
                            </div>
                            <div class="gala-img">
                                <img src="https://innowise.com/wp-content/uploads/2024/11/image-3335-1.png" alt="">
                            </div>    
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="cadder overflow-hidden flex flex-col">
                        <div class="stala flex flex-row"> <i class="ri-double-quotes-l"></i>
                            <p>We are delighted withe emiri fintech's commitment to delivering quality work
                                and solving issues quickly. They lead an engaged approach to understanding the team's
                                needs
                                and accomplishing their goals.</p>
                        </div>
                        <div class="gala-outer">
                            <div class="gala">
                                <p class="quote-name"><strong>Or Iny</strong></p>
                                <p class="quote-po">CEO</p>
                                <p class="quote-r">Zero Beta</p>
                            </div>
                            <div class="gala-img">
                                <img src="https://innowise.com/wp-content/uploads/2024/11/image-3335-1.png" alt="">
                            </div>    
                        </div>
                    </div>
                </div>

                <div class="galaxy-slide swiper-slide">
                    <div class="cadder overflow-hidden flex flex-col">
                        <div class="stala flex flex-row"> <i class="ri-double-quotes-l"></i>
                            <p>We are delighted withe emiri fintech's commitment to delivering quality work
                                and solving issues quickly. They lead an engaged approach to understanding the team's
                                needs
                                and accomplishing their goals.</p>
                        </div>
                        <div class="gala-outer">
                            <div class="gala">
                                <p class="quote-name"><strong>Or Iny</strong></p>
                                <p class="quote-po">CEO</p>
                                <p class="quote-r">Zero Beta</p>
                            </div>
                            <div class="gala-img">
                                <img src="https://innowise.com/wp-content/uploads/2024/11/image-3335-1.png" alt="">
                            </div>    
                        </div>
                    </div>
                </div>

            </div>
            <!-- Swiper Pagination -->
            <div class="swiper-pagination"></div>
            <!-- Swiper Navigation -->
            <!-- <div class="stellar-button-prev swiper-button-prev"></div>
            <div class="stellar-button-next swiper-button-next"></div> -->
        </div>
    </div>

    <div class="stellar-faq">
        <div class="faqqer">
            <h1 class="text-3xl text-center">FAQ</h1>
            <div class="border-b py-6">
                <button
                    class="flex justify-between items-center w-full text-left text-2xl font-semibold text-blue-600"
                    onclick="toggleSection('section3')">
                    Banking CRM
                    <span class="text-gray-500">+</span>
                </button>
                <div id="section3" class="mt-2 hidden">
                    <p class="text-gray-700 mb-3">As part of our financial software development services at Emiri
                        Fintech Solutions, we build flexible CRM systems to drive customer attraction and retention,
                        optimize their journey within the sales funnel, and address customers’ growing needs
                        proactively rather than reactively. Our CRM systems are bolstered with a high level of
                        automation, comprehensive security features, and advanced analytics capabilities that
                        contribute to increased employee productivity, data protection, and better adjustment to
                        customer demands.</p>
                    <p class="text-gray-700">To create a full-fledged portrait of the target audience, we integrate
                        CRMs with a plethora of data sources, such as mobile apps, websites, social media platforms,
                        email, call centers, and more. Being provided with almost endless opportunities to gain
                        insights into your customers’ preferences, you can offer them the most relevant options that
                        will meet their financial needs.</p>
                </div>
            </div>

            <div class="border-b py-6">
                <button
                    class="flex justify-between items-center w-full text-left text-2xl font-semibold text-blue-600"
                    onclick="toggleSection('section2')">
                    Mobile Banking
                    <span class="text-gray-500">+</span>
                </button>
                <div id="section2" class="mt-2 hidden">
                    <p class="text-gray-700">To make banking services accessible from anywhere anytime, Emiri
                        FinTech’s experts deliver mobile solutions that reshape and simplify communication along
                        with increasing customer engagement and retention. With both the basic and cutting-edge
                        features of our mobile apps, end users can 100% securely and effortlessly manage their
                        finances, make financial transactions, and get personal assistance 24/7.</p>
                    <ul class="unordered">
                        <li><i class="ri-verified-badge-fill"></i> Payment scheduling</li>
                        <li><i class="ri-verified-badge-fill"></i> Personalized customers' support</li>
                        <li><i class="ri-verified-badge-fill"></i> Money transfer</li>
                        <li><i class="ri-verified-badge-fill"></i> Biometric authentication</li>
                        <li><i class="ri-verified-badge-fill"></i> Opening and managing bank accounts</li>
                        <li><i class="ri-verified-badge-fill"></i> Voice navigation</li>
                        <li><i class="ri-verified-badge-fill"></i> Customized alerts</li>
                    </ul>
                </div>
            </div>

            <div class="border-b py-6">
                <button
                    class="flex justify-between items-center w-full text-left text-2xl font-semibold text-blue-600"
                    onclick="toggleSection('section4')">
                    Opening Banking
                    <span class="text-gray-500">+</span>
                </button>
                <div id="section4" class="mt-2 hidden">
                    <p class="text-gray-700 mb-3">Open banking is changing the landscape of financial relationships.
                        By getting access to open APIs, banks can cut down on integration expenses and increase
                        client flow thanks to the information they get from their partners.</p>
                    <p class="text-gray-700 mb-3">At Emiri Fintech Solutions, we create trustworthy solutions
                        (Platforms) that allow banks to rapidly launch new services developed by third-party
                        companies and easily embed innovative solutions into their ecosystems while reducing
                        overhead costs.</p>
                    <p class="text-gray-700 mb-3">To capture the overall value of open banking solutions without
                        undermining their reliability, we at Emiri adhere to all the necessary security measures in
                        compliance with regulations such as GDPR, PSD2, among others.</p>
                </div>
            </div>

            <div class="border-t border-b py-6">
                <button
                    class="flex justify-between items-center w-full text-left text-2xl font-semibold text-blue-600"
                    onclick="toggleSection('section1')">
                    Core Banking services
                    <span class="text-gray-500">+</span>
                </button>
                <div id="section1" class="mt-2 hidden">
                    <p class="text-gray-700">Whether you want your banking software to be on-premise or cloud-based,
                        we can deliver a solution that will facilitate the key functions of your bank and drive your
                        day-to-day operations.</p>
                    <ul class="unordered">
                        <li><i class="ri-verified-badge-fill"></i> Account management</li>
                        <li><i class="ri-verified-badge-fill"></i> Currency exchange</li>
                        <li><i class="ri-verified-badge-fill"></i> Payment processing</li>
                        <li><i class="ri-verified-badge-fill"></i> Reporting tools</li>
                        <li><i class="ri-verified-badge-fill"></i> Loan management</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="stellar-swiper-container panda">
        <h1 class="cosmic-title text-4xl font-medium text-center">Need other services?</h1>
        <div class="cosmic-swiper">
            <div class="orbital-wrapper swiper-wrapper">
                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="boxer overflow-hidden">
                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-2xl">Stock trading app<br>development</div>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="boxer overflow-hidden">
                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-2xl">Stock trading app<br>development</div>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="boxer overflow-hidden">
                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-2xl">Stock trading app<br>development</div>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="boxer overflow-hidden">
                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-2xl">Stock trading app<br>development</div>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="boxer overflow-hidden">
                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-2xl">Stock trading app<br>development</div>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="boxer overflow-hidden">
                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-2xl">Stock trading app<br>development</div>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="boxer overflow-hidden">
                        <!-- Image at the top -->
                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-2xl">Stock trading app<br>development</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Swiper Pagination -->
            <div class="swiper-pagination"></div>
            <!-- Swiper Navigation -->
            <!-- <div class="stellar-button-prev swiper-button-prev"></div>
            <div class="stellar-button-next swiper-button-next"></div> -->
        </div>
    </div>
    <script src="/javascripts/business.js"></script>
    <script src="/javascripts/account.js"></script>
    <script src="/javascripts/cloud.js"></script>