<%- layout('layouts/boilerplate') %>

    <div class="container bg-white mx-auto p-4">
        <!-- Outer container -->
        <div class="bg-white container-2 h-screen">
            <!-- Inner container with bigger max width -->
            <div class="max-w-4xl mx-auto">
                <!-- Contact Us Text -->
                <h2 class="text-center text-2xl contact-text font-semibold mb-4">Contact Us</h2>

                <!-- Image with relative positioning for the icons -->
                <div class="relative-container">
                    <img src="/images/dottedMap1.png" alt="Image description" class="zoom-in-out w-full h-auto rounded-md">

                    <!-- Icons positioned absolutely over the image -->
                    <div class="icon-box icon-1">
                        <i class="ri-map-pin-line"></i>
                        <div class="dropdown-box z-50">
                            <div class="country">
                                <a href="https://www.google.com/maps/place/Arlington+County,+Arlington,+VA,+USA/@38.8808654,-77.1022095,12z/data=!3m1!4b1!4m6!3m5!1s0x89b7b69d7ba7a70f:0xe08603603385be34!8m2!3d38.8816208!4d-77.0909809!16zL20vMG1wYng?entry=ttu&g_ep=EgoyMDI0MTEyNC4xIKXMDSoASAFQAw%3D%3D"
                                    class="text-2xl map-country font-thin text-blue-500">North America</a>
                                <i class="ri-map-pin-line text-2xl country-icon"></i>
                            </div>
                            <p><strong>Resident Director, Tata Sons</strong></p>
                            <p>North America<br>1700 North Moore St,Suite 1520,<br>Arlington, VA 22209-1911</p>
                            <p><strong>Name:</strong> John Doe</p>
                            <p><strong>Phone:</strong> +123456789</p>
                            <p><strong>Fax:</strong> +123456789</p>
                            <p style="white-space: nowrap;">
                                <strong>Email:</strong>
                                <a class="underline text-blue-600"
                                    href="mailto:john.doe@example.com">john.doe@example.com</a>
                            </p>
                            <div class="bottom-space">

                            </div>
                        </div>
                    </div>
                    <div class="icon-box icon-2">
                        <i class="ri-map-pin-line"></i>
                        <div class="dropdown-box z-50">
                            <div class="country">
                                <a href="https://www.google.com/maps/place/Grosvenor+Pl,+London,+UK/@51.5004249,-0.149358,17z/data=!3m1!4b1!4m6!3m5!1s0x487605247bacc931:0xd0a8b56c33e9bcab!8m2!3d51.5004249!4d-0.149358!16s%2Fm%2F03mhdhb?entry=ttu&g_ep=EgoyMDI0MTEyNC4xIKXMDSoASAFQAw%3D%3D"
                                    class="text-2xl map-country font-thin text-blue-500">Europe</a>
                                <i class="ri-map-pin-line text-2xl country-icon"></i>
                            </div>
                            <p><strong>Resident Director, Tata Sons</strong></p>
                            <p>North America<br>1700 North Moore St,Suite 1520,<br>Arlington, VA 22209-1911</p>
                            <p><strong>Name:</strong> Jane Smith</p>
                            <p><strong>Phone:</strong> +987654321</p>
                            <p><strong>Fax:</strong> +987654321</p>
                            <p style="white-space: nowrap;">
                                <strong>Email:</strong>
                                <a class="underline text-blue-600"
                                    href="mailto:jane.smith@example.com">jane.smith@example.com</a>
                            </p>
                            <div class="bottom-space">

                            </div>
                        </div>
                    </div>
                    <!-- Repeat for other icons -->
                    <div class="icon-box icon-3">
                        <i class="ri-map-pin-line"></i>
                        <div class="dropdown-box z-50">
                            <div class="country">
                                <a href="https://www.google.com/maps/place/Bombay+House,+Homi+Modi+St,+Kala+Ghoda,+Fort,+Mumbai,+Maharashtra+400001,+India/@18.9316245,72.8326694,17z/data=!3m1!4b1!4m6!3m5!1s0x3be7d1dcb481d10d:0x1c2e7cb385078ad3!8m2!3d18.9316245!4d72.8326694!16s%2Fm%2F02wyzs_?entry=ttu&g_ep=EgoyMDI0MTEyNC4xIKXMDSoASAFQAw%3D%3D"
                                    class="text-2xl map-country font-thin text-blue-500">India</a>
                                <i class="ri-map-pin-line text-2xl country-icon"></i>
                            </div>
                            <p><strong>Resident Director, Tata Sons</strong></p>
                            <p>North America<br>1700 North Moore St,Suite 1520,<br>Arlington, VA 22209-1911</p>
                            <p><strong>Name:</strong> Alice Brown</p>
                            <p><strong>Phone:</strong> +123123123</p>
                            <p><strong>Fax:</strong> +123123123</p>
                            <p style="white-space: nowrap;">
                                <strong>Email:</strong>
                                <a class="underline text-blue-600"
                                    href="mailto:alice.brown@example.com">alice.brown@example.com</a>
                            </p>
                            <div class="bottom-space">

                            </div>
                        </div>
                    </div>
                    <div class="icon-box icon-4">
                        <i class="ri-map-pin-line"></i>
                        <div class="dropdown-box z-50">
                            <div class="country">
                                <a href="https://www.google.com/maps/place/Chaoyang,+Beijing,+China/@39.9603949,116.4981949,11z/data=!3m1!4b1!4m6!3m5!1s0x35f1abee23736947:0xd7bb8b3026d0813a!8m2!3d39.867402!4d116.4882929!16zL20vMDNmM2N4?entry=ttu&g_ep=EgoyMDI0MTEyNC4xIKXMDSoASAFQAw%3D%3D"
                                    class="text-2xl map-country font-thin text-blue-500">China</a>
                                <i class="ri-map-pin-line text-2xl country-icon"></i>
                            </div>
                            <p><strong>Resident Director, Tata Sons</strong></p>
                            <p>North America<br>1700 North Moore St,Suite 1520,<br>Arlington, VA 22209-1911</p>
                            <p><strong>Name:</strong> Bob White</p>
                            <p><strong>Phone:</strong> +456789456</p>
                            <p><strong>Fax:</strong> +456789456</p>
                            <p style="white-space: nowrap;">
                                <strong>Email:</strong>
                                <a class="underline text-blue-600"
                                    href="mailto:bob.white@example.com">bob.white@example.com</a>
                            </p>
                            <div class="bottom-space">

                            </div>
                        </div>
                    </div>
                    <div class="icon-box icon-5">
                        <i class="ri-map-pin-line"></i>
                        <div class="dropdown-box z-50">
                            <div class="country">
                                <a href="https://www.google.com/maps/place/Jumeirah+Bay+-+Jumeirah+Lake+Towers+-+Dubai+-+United+Arab+Emirates/@25.0801149,55.1532663,17z/data=!3m1!4b1!4m6!3m5!1s0x3e5f6ca738f53aa5:0x455cda22409a3edf!8m2!3d25.0801149!4d55.1532663!16zL20vMGRsdHd5?entry=ttu&g_ep=EgoyMDI0MTEyNC4xIKXMDSoASAFQAw%3D%3D"
                                    class="text-2xl map-country font-thin text-blue-500">Mena</a>
                                <i class="ri-map-pin-line text-2xl country-icon"></i>
                            </div>
                            <p><strong>Resident Director, Tata Sons</strong></p>
                            <p>North America<br>1700 North Moore St,Suite 1520,<br>Arlington, VA 22209-1911</p>
                            <p><strong>Name:</strong> Charlie Green</p>
                            <p><strong>Phone:</strong> +654321987</p>
                            <p><strong>Fax:</strong> +654321987</p>
                            <p style="white-space: nowrap;">
                                <strong>Email:</strong>
                                <a class="underline text-blue-600"
                                    href="mailto:charlie.green@example.com">charlie.green@example.com</a>
                            </p>
                            <div class="bottom-space">

                            </div>
                        </div>
                    </div>
                    <div class="icon-box icon-6">
                        <i class="ri-map-pin-line"></i>
                        <div class="dropdown-box z-50">
                            <div class="country">
                                <a href="https://www.google.com/maps/place/Shenton+Wy,+Singapore/@1.2760941,103.8481899,17z/data=!3m1!4b1!4m6!3m5!1s0x31da1913a1f9b1cd:0x72f1729f03ef70df!8m2!3d1.2760941!4d103.8481899!16zL20vMDlnN25r?entry=ttu&g_ep=EgoyMDI0MTEyNC4xIKXMDSoASAFQAw%3D%3D"
                                    class="text-2xl map-country font-thin text-blue-500">Singaphore</a>
                                <i class="ri-map-pin-line text-2xl country-icon"></i>
                            </div>
                            <p><strong>Resident Director, Tata Sons</strong></p>
                            <p>North America<br>1700 North Moore St,Suite 1520,<br>Arlington, VA 22209-1911</p>
                            <p><strong>Name:</strong> Emma Black</p>
                            <p><strong>Phone:</strong> +789654123</p>
                            <p><strong>Fax:</strong> +789654123</p>
                            <p style="white-space: nowrap;">
                                <strong>Email:</strong>
                                <a class="underline text-blue-600"
                                    href="mailto:emma.black@example.com">emma.black@example.com</a>
                            </p>
                            <div class="bottom-space">

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/javascripts/contact.js"></script>