<%- layout('layouts/boilerplate') %>

  <div class="mapper container mx-auto p-4">
    <section class="contact-section bg-white">
      <div class="text-center mb-0">
        <h2 style="color: #EC4899;" class="text-3xl font-bold">Contact Us</h2>
      </div>

      <!-- Map Image with Positioned Icons -->
      <div class="relative map-container">
        <img src="/images/dottedMap1.png" alt="World Map with locations" class="location-img w-full h-auto ">

        <!-- Location Markers -->
        <div class="icon-box icon-1" aria-label="North America">
          <i class="ri-map-pin-line"></i>
          <div class="dropdown-box">
            <h3 class="text-xl font-semibold text-gray-700">Sierra Leone</h3>
            <p><strong>Resident Director:</strong> John Doe</p>
            <p>1700 North Moore St, Suite 1520<br>Arlington, VA 22209-1911</p>
            <p><strong>Phone:</strong> +123456789</p>
            <p><strong>Email:</strong> <a href="mailto:john.doe@example.com"
                class="text-blue-600 underline">john.doe@example.com</a></p>
          </div>
        </div>

        <!-- Example for Europe -->
        <div class="icon-box icon-2" aria-label="Europe">
          <i class="ri-map-pin-line"></i>
          <div class="dropdown-box">
            <h3 class="text-xl font-semibold text-gray-700">The Gambia</h3>
            <p><strong>Resident Director:</strong> Jane Smith</p>
            <p>Grosvenor Pl, London, UK</p>
            <p><strong>Phone:</strong> +987654321</p>
            <p><strong>Email:</strong> <a href="mailto:jane.smith@example.com"
                class="text-blue-600 underline">jane.smith@example.com</a></p>
          </div>
        </div>

        <div class="icon-box icon-3" aria-label="Europe">
          <i class="ri-map-pin-line"></i>
          <div class="dropdown-box">
            <h3 class="text-xl font-semibold text-gray-700">Ghana</h3>
            <p><strong>Resident Director:</strong> Jane Smith</p>
            <p>Grosvenor Pl, London, UK</p>
            <p><strong>Phone:</strong> +987654321</p>
            <p><strong>Email:</strong> <a href="mailto:jane.smith@example.com"
                class="text-blue-600 underline">jane.smith@example.com</a></p>
          </div>
        </div>

      </div>
    </section>
  </div>

  <script src="/javascripts/contact.js"></script>