<%- layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/ai.css">
    <link rel="stylesheet" href="/stylesheets/crypto.css">
    <link rel="stylesheet" href="/helper/web.css">

    <!-- second section -->
    <div class="digital-hero">
        <div class="digital-texts">
            <div class=" title-1 font-bold text-5xl flex flex-col justify-center gap-7"><span><i
                        class="ri-money-dollar-circle-line"></i>
                    Cryptocurrencies</span>
                <div class="white-r"></div>
            </div>
        </div>
    </div>

    <div class="acordion">
        <div class="forensic-dropper">
            <div class=" dropper-container zero-pad">
                <div class="acord-starter">
                    <p class="acord-2 corder">Emiri Fintech offers custom cryptocurrency exchange development services,
                        ensuring fast and secure software performance. We provide consultation, market analysis, trend
                        research, and assist with regulatory challenges. Our team is dedicated to delivering innovative
                        solutions tailored to your specific needs.
                        We also offer comprehensive support for integrating blockchain technology into your existing
                        systems.
                        <hr class="hrr">
                    </p>
                </div>

                <div class="dropper-expand flex justify-center corder text-center">
                    <h1 class="text-3xl font-bold mb-6">We Thoroughly Analyze</h1>
                </div>

                <div id="insights" class="darker-stellar ai-steller stellar-swiper-container">
                    <div class="cosmic-swiper">
                        <div class="orbital-wrapper swiper-wrapper">
                            <!-- card 1 -->
                            <div class="galaxy-slide swiper-slide">
                                <div class="cadder crypto-carder overflow-hidden">
                                    <!-- Image at the top -->
                                    <img class="w-full zoom-img"
                                        src="https://img.freepik.com/free-photo/representation-user-experience-interface-design-smartphone_23-2150165982.jpg?t=st=1733205455~exp=1733209055~hmac=dafd361d40760c502b656252b730e318806628bb5e2732d1a66350a5d7560286&w=996"
                                        alt="Card image">

                                    <!-- Title below the image -->
                                    <div class="cadder-title">
                                        <div class="font-bold text-2xl mt-5 mb-2 pl-3 text-left">Predictive Analysis
                                        </div>
                                    </div>

                                    <div class="account-description-outer">
                                        <div class="account-description dess">
                                            <p style="font-size: 16px;" class=" ziga font-medium">At Emiri Fintech, we
                                                excel in predictive analysis, leveraging advanced AI and machine
                                                learning techniques to forecast trends and optimize business operations.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- card 1 -->
                            <div class="galaxy-slide swiper-slide">
                                <div class="cadder crypto-carder overflow-hidden">
                                    <!-- Image at the top -->
                                    <img class="w-full zoom-img"
                                        src="https://img.freepik.com/free-photo/representation-user-experience-interface-design-smartphone_23-2150165982.jpg?t=st=1733205455~exp=1733209055~hmac=dafd361d40760c502b656252b730e318806628bb5e2732d1a66350a5d7560286&w=996"
                                        alt="Card image">

                                    <!-- Title below the image -->
                                    <div class="cadder-title">
                                        <div class="font-bold text-2xl mt-5 mb-2 pl-3 text-left">Predictive Analysis
                                        </div>
                                    </div>

                                    <div class="account-description-outer">
                                        <div class="account-description dess">
                                            <p style="font-size: 16px;" class=" ziga font-medium">At Emiri Fintech, we
                                                excel in predictive analysis, leveraging advanced AI and machine
                                                learning techniques to forecast trends and optimize business operations.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- card 1 -->
                            <div class="galaxy-slide swiper-slide">
                                <div class="cadder crypto-carder overflow-hidden">
                                    <!-- Image at the top -->
                                    <img class="w-full zoom-img"
                                        src="https://img.freepik.com/free-photo/representation-user-experience-interface-design-smartphone_23-2150165982.jpg?t=st=1733205455~exp=1733209055~hmac=dafd361d40760c502b656252b730e318806628bb5e2732d1a66350a5d7560286&w=996"
                                        alt="Card image">

                                    <!-- Title below the image -->
                                    <div class="cadder-title">
                                        <div class="font-bold text-2xl mt-5 mb-2 pl-3 text-left">Predictive Analysis
                                        </div>
                                    </div>

                                    <div class="account-description-outer">
                                        <div class="account-description dess">
                                            <p style="font-size: 16px;" class=" ziga font-medium">At Emiri Fintech, we
                                                excel in predictive analysis, leveraging advanced AI and machine
                                                learning techniques to forecast trends and optimize business operations.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- second section -->
    <div class="crypto-second">
        <div class="digital-hero">
            <div class="digital-texts">
                <div class=" title-1 font-bold text-5xl flex flex-col justify-center gap-7"><span><i
                            class="ri-money-dollar-circle-line"></i>
                        Smart Contracts</span>
                    <div class="white-r"></div>
                </div>
            </div>
        </div>
        <div class="acordion">
            <div class="forensic-dropper">
                <div class="dropper-container zero-pad">
                    <div class="acord-starter">
                        <p class="acord-2">With about half a decade of proven experience in financial software
                            development,
                            we help banks to adapt to new realities framed by pandemic-induced high-speed digital
                            adoption.
                            Combining technology with a personal touch, intelligent use of data, and compelling service
                            delivery models, we pave the way for our clients to increase customer engagement.</p>
                    </div>

                    <div class="dropper-expand flex justify-between">
                        <h1 class="text-3xl font-bold mb-6">Cryptocurrency Exchange Platform</h1>
                        <a style="white-space: nowrap;" href="#" class="text-blue-600 text-lg"
                            onclick="toggleAllSections(event)"><strong>Expand
                                All</strong></a>
                    </div>
                    <div class="grid grid-cols-3 gap-6">
                        <div class="border-b py-6">
                            <button
                                class="flex justify-between items-center w-full blackner text-left text-lg font-semibold text-blue-600"
                                onclick="toggleSection('section4')">
                                Hybrid
                                <span class="text-gray-500">+</span>
                            </button>
                            <div id="section4" class="mt-2 hidden">
                                <p class="text-gray-700 mb-3">Hybrid exchange platforms integrate the advantages of both
                                    centralized and decentralized exchanges: the ease of use and liquidity of
                                    centralized
                                    exchanges, along with the security and privacy of decentralized exchanges. These
                                    hybrid
                                    platforms address scalability issues by allowing users to retain control of their
                                    private keys. Additionally, hybrid cryptocurrency exchange platforms offered by
                                    Emiri
                                    Fintech do not impose taker or gas fees.</p>
                            </div>
                        </div>

                        <div class="border-b py-6">
                            <button
                                class="flex justify-between items-center blackner w-full text-left text-lg font-semibold text-blue-600"
                                onclick="toggleSection('section3')">
                                Centralized
                                <span class="text-gray-500">+</span>
                            </button>
                            <div id="section3" class="mt-2 hidden">
                                <p class="text-gray-700 mb-3">
                                    This type of crypto exchange platform utilizes a third party or intermediary to
                                    facilitate transactions within the blockchain system. The exchange platform serves
                                    as a
                                    trusted entity for the parties involved in the transactions. The centralized
                                    cryptocurrency exchange platform not only guarantees the security and speed of
                                    transactions but also offers its network for connecting traders.
                                </p>
                            </div>
                        </div>

                        <div class="border-b py-6">
                            <button
                                class="flex justify-between blackner items-center w-full text-left text-lg font-semibold text-blue-600"
                                onclick="toggleSection('section2')">
                                Decentralized
                                <span class="text-gray-500">+</span>
                            </button>
                            <div id="section2" class="mt-2 hidden">
                                <p class="text-gray-700">Decentralized or peer-to-peer (P2P) cryptocurrency exchanges
                                    operate without intermediaries, allowing transactions to be conducted directly
                                    between
                                    users. These platforms utilize smart contracts and atomic swaps to facilitate
                                    exchanges,
                                    eliminating the need for a third party to hold crypto or fiat assets. While
                                    decentralized exchanges offer an alternative to centralized ones, they have yet to
                                    gain
                                    widespread popularity in the market.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- third section -->
    <div class="crypto-second">
        <div class="digital-hero">
            <div class="digital-texts">
                <div class=" title-1 font-bold text-5xl flex flex-col justify-center gap-7"><span><i
                            class="ri-money-dollar-circle-line"></i>
                        Benefits of using a white label crypto exchange</span>
                </div>
            </div>
        </div>

        <div class="acordion">
            <div class="forensic-dropper">
                <div class="dropper-container zero-pad">
                    <div class="acord-starter">
                        <p class="acord-2">We assist clients in developing, launching, promoting, and
                            maintaining white label crypto exchange solutions. These products offer undeniable
                            benefits for crypto market players and have significant business potential.</p>
                        <!-- boxes here -->
                        <div class="text-gray-800  hexmen">
                            <div class="mx-auto mainer">
                                <div class="grid grid-cols-1 md:grid-cols-3 gridder">
                                    <!-- Smart Contracts -->
                                    <div class="innertext flex flex-col">
                                        <div class="custom-circle text-xl text-pink-400">
                                            <i class="ri-money-dollar-circle-line"></i>
                                        </div>
                                        <a href="#" class="text-2xl font-semibold text-gray-900  hoveffect">Great ROI
                                            potential</a>
                                        <p class="text-base font-medium leading-relaxed max-w-md">
                                            Our engineers have been creating advanced solutions since 2007, delivering
                                            top-notch blockchain applications from infrastructure setup to individual
                                            components.</p>
                                    </div>

                                    <!-- DAO (Decentralized Autonomous Organizations) -->
                                    <div class="innertext flex flex-col">
                                        <div class="custom-circle text-xl text-pink-400">
                                            <i class="ri-money-dollar-circle-line"></i>
                                        </div>
                                        <a href="#" class="text-2xl font-semibold text-gray-900  hoveffect">Rapid app
                                            launch
                                        </a>
                                        <p class="text-base font-medium leading-relaxed max-w-md">
                                            Our engineers have been creating advanced solutions since 2007, delivering
                                            top-notch blockchain applications from infrastructure setup to individual
                                            components.</p>
                                    </div>
                                    <!-- Blockchain ecosystems -->
                                    <div class="innertext flex flex-col">
                                        <div class="custom-circle text-xl text-pink-400">
                                            <i class="ri-money-dollar-circle-line"></i>
                                        </div>
                                        <a href="#" class="text-2xl font-semibold text-gray-900 hoveffect">
                                            Cost-effectiveness</a>
                                        <p class="text-base font-medium leading-relaxed max-w-md">
                                            Our engineers have been creating advanced solutions since 2007, delivering
                                            top-notch blockchain applications from infrastructure setup to individual
                                            components.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>

                        <div class="kaira-container">
                            <div class="kaira-image">
                                <img src="https://innowise.com/wp-content/uploads/2023/12/img-1-2-1.png" alt="Andrew Nalichaev">
                            </div>
                            <div class="kaira-text">
                                <p>We see huge potential in the field of cryptocurrencies and strive to be part of the new financial reality. I believe Innowise has the necessary expertise and experience to help innovative companies create the new Coinbase, Gemini, Kraken or FTX.US.</p>
                                <div class="kaira-author">
                                    <h4>Andrew Nalichaev</h4>
                                    <p class="font-semibold">Blockchain domain expert & DeFi analyst at Innowise</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="/javascripts/account.js"></script>
    <script src="/javascripts/crypto.js"></script>