<%- layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/nft.css">
    <link rel="stylesheet" href="/helper/web.css">
    <link rel="stylesheet" href="/stylesheets/smart.css">
    <link rel="stylesheet" href="/stylesheets/crypto.css">
    <link rel="stylesheet" href="/stylesheets/digitalres.css">
    <link rel="stylesheet" href="/stylsheets/digital2.css">
    <link rel="stylesheet" href="/stylesheets/business.css">
    <link rel="stylesheet" href="/stylesheets/digital.css">

    <!-- section-1 -->
    <div class="digital-hero">
        <div class="digital-texts">
            <div class=" title-1 font-bold text-5xl flex flex-col items-center justify-center gap-7">
                <div class="image-digi flex gap-3"> <img src="/images/bitcoins.png" class="h-12"
                        alt=""><span>Cryptocurrency exchange development company</span></div>
                <div class="white-r"></div>
            </div>
        </div>
    </div>

    <div class="acordion">
        <div class="forensic-dropper">
            <div class=" dropper-container zero-pad">
                <div class="acord-starter">
                    <p class="acord-2 corder">Emiri FinTech specializes in developing cryptocurrency exchange platforms,
                        ensuring they are fast, secure, and customized to your needs. We create innovative solutions
                        that drive business growth. With deep expertise in the crypto market, we also offer consultancy
                        services, helping with software implementation, market research, trend analysis, and navigating
                        regulatory challenges.
                        <hr class="hrr">
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- section-2 -->
    <div class="claire nft-does cont flex items-center justify-center bg-no-repeat bg-center bg-cover bg-black bg-opacity-50"
        style="background-image: url('https://innowise.com/wp-content/themes/hello-elementor/assets/images/crypto/Frame%204910.jpg');">
        <div class="flex flex-col items-center text-center">
            <p class="text-white text-4xl font-medium">Skyrocket your revenue with crypto exchange <br> software</p>
            <a href="#" class="mt-14 px-6 py-4 text-white bg-red-500 rounded-sm hover:bg-blue-700">Get consulted</a>
        </div>
    </div>

    <div class="acordion">
        <div class="forensic-dropper">
            <div class=" dropper-container zero-pad">
                <div class="acord-starter">
                    <h1 class="text-2xl text-center mb-5 font-semibold">What is a cryptocurrency exchange?</h1>
                    <p class="acord-2 corder">A cryptocurrency exchange is a specialized online platform designed to
                        exchange crypto and fiat currencies. The cryptocurrency exchange platforms have a clear and
                        profitable business model based on charging a commission for each fiat-for-cryptocurrency,
                        crypto-to-fiat, or crypto-to-crypto transaction. The cryptocurrency exchange platforms may come
                        in the form of web and mobile applications with a variety of functions and industry
                        peculiarities.
                    </p>
                </div>

            </div>
        </div>
    </div>

    <!-- section-3 -->
    <!-- <div class="text-gray-800  hexmen flex justify-center">
        <div class="mx-auto mainer">
            <div class="thug-header nft-thug-header">
                <p class="thug-title">What is a cryptocurrency exchange?</p>
                <div class="cryptol grid grid-cols-2">
                    <div class="crytpol-1">
                        <p>A cryptocurrency exchange is a specialized online platform designed to exchange crypto and
                            fiat currencies. The cryptocurrency exchange platforms have a clear and profitable business
                            model based on charging a commission for each fiat-for-cryptocurrency, crypto-to-fiat, or
                            crypto-to-crypto transaction.</p>
                    </div>

                    <div class="cryptol-2">
                        <p>The cryptocurrency exchange platforms may come in the form
                            of web and mobile applications with a variety of functions and industry peculiarities.</p>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <!-- section 4 -->
    <div id="insights" class="nft-bug darker-stellar ai-steller stellar-swiper-container">
        <p class="neft">
            Our cryptocurrency exchange development services
        </p>
        <div class="cosmic-swiper">
            <div class="orbital-wrapper swiper-wrapper">
                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="cadder nft-bug crypto-carder overflow-hidden">
                        <!-- Image at the top -->
                        <img class="w-full zoom-img"
                            src="https://innowise.com/wp-content/themes/hello-elementor/assets/images/crypto/Frame%204716.jpg"
                            alt="Card image">

                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-2xl mt-5 mb-2 pl-3 text-left">Strategy development and consulting
                            </div>
                        </div>

                        <div class="account-description-outer">
                            <div class="account-description dess">
                                <p style="font-size: 16px;" class=" ziga font-medium">At Emiri Fintech, we
                                    excel in predictive analysis, leveraging advanced AI and machine
                                    learning techniques to forecast trends and optimize business operations.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="cadder nft-bug crypto-carder overflow-hidden">
                        <!-- Image at the top -->
                        <img class="w-full zoom-img"
                            src="https://innowise.com/wp-content/themes/hello-elementor/assets/images/crypto/Frame%204716%20(1).jpg"
                            alt="Card image">

                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-2xl mt-5 mb-2 pl-3 text-left">Cryptocurrency exchange development
                            </div>
                        </div>

                        <div class="account-description-outer">
                            <div class="account-description dess">
                                <p style="font-size: 16px;" class=" ziga font-medium">At Emiri Fintech, we
                                    excel in predictive analysis, leveraging advanced AI and machine
                                    learning techniques to forecast trends and optimize business operations.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="cadder nft-bug crypto-carder overflow-hidden">
                        <!-- Image at the top -->
                        <img class="w-full zoom-img"
                            src="https://innowise.com/wp-content/themes/hello-elementor/assets/images/crypto/Frame%204716%20(2).jpg"
                            alt="Card image">

                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-2xl mt-5 mb-2 pl-3 text-left">Cryptocurrency exchange support
                            </div>
                        </div>

                        <div class="account-description-outer">
                            <div class="account-description dess">
                                <p style="font-size: 16px;" class=" ziga font-medium">At Emiri Fintech, we
                                    excel in predictive analysis, leveraging advanced AI and machine
                                    learning techniques to forecast trends and optimize business operations.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="claire nft-does cont flex items-center justify-center bg-no-repeat bg-center bg-cover bg-black bg-opacity-50"
        style="background-image: url('https://innowise.com/wp-content/themes/hello-elementor/assets/images/crypto/Frame%204910.jpg');">
        <div class="flex flex-col items-center text-center">
            <p class="text-white text-4xl font-medium">Cryptocurrency exchange platforms</p>
        </div>
    </div>

    <div class="acordion">
        <div class="forensic-dropper">
            <div class=" dropper-container zero-pad">
                <div class="acord-starter">
                    <h1 class="text-2xl text-center mb-5">White label cryptocurrency exchange software solutions</h1>
                    <p class="acord-2 corder">Emiri Fintech develops all types of cryptocurrency exchange software for customers from The Gambia, Africa, and beyond. Our company can assist you in creating and launching custom crypto exchanges for specific business projects, as well as providing white-label crypto solutions.</p>
                </div>
                <div class=" util-grid grid grid-cols-1 md:grid-cols-3 cryptol-gapper">
                    <div class="util-grid-item golbat">
                        <h3 class="util-grid-item-title font-semibold">Centralized platforms</h3>
                        <p class="util-grid-item-description">Emiri Fintech's centralized crypto exchange platform acts as an intermediary, securely facilitating blockchain transactions. It ensures fast, safe exchanges and provides a network for connecting traders.</p>
                    </div>
    
                    <div class="util-grid-item golbat">
                        <h3 class="util-grid-item-title font-semibold">Decentralized platforms</h3>
                        <p class="util-grid-item-description">Emiri Fintech's decentralized P2P exchange enables direct transactions via smart contracts and atomic swaps, offering a secure and efficient alternative to centralized platforms, though less.</p>
                    </div>
    
                    <div class="util-grid-item golbat">
                        <h3 class="util-grid-item-title font-semibold">Hybrid platforms</h3>
                        <p class="util-grid-item-description">Emiri Fintech's hybrid exchange combines the benefits of both centralized and decentralized platforms, offering security, liquidity, and no taker or gas fees. Users retain control of their private keys.</p>
                    </div>
                </div>
    
            </div>
        </div>
    </div>

    <!-- section-7 -->
    <div style="background-color: #333333 !important; color: #fff;"
        class="cryptoland text-gray-800  hexmen flex justify-center">
        <div class="mx-auto mainer">
            <div class="thug-header nft-thug-header">
                <p class="text-center cryptol-apm thug-title">Benefits of using a white label crypto exchange</p>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-4 gridder">
                <!-- Security-->
                <div class="golbat innertext flex flex-col">
                    <div class="custom-nft">
                        <img src="/images/adaptability.png" class="h-12" alt="">
                    </div>
                    <a href="#" class="cryptol-apm text-xl font-semibold text-gray-900  hoveffect">Flexibility</a>
                    <p class="text-base font-medium leading-relaxed max-w-md">One can select the best-suited white label
                        crypto exchange platform with reasonable pricing policy and suitable functionality. Also, the
                        time saved on development can be spent by businesses on quality branding and marketing
                        campaigns.</p>
                </div>

                <!--Versatility  -->
                <div class="golbat innertext flex flex-col">
                    <div class="custom-nft">
                        <img src="/images/improve.png" class="h-12" alt="">
                    </div>
                    <a href="#" class="cryptol-apm text-xl font-semibold text-gray-900  hoveffect">Great ROI
                        potential</a>
                    <p class="text-base font-medium leading-relaxed max-w-md">The white label solutions allow businesses
                        to enter the crypto exchange market as quickly as possible with the lowest technological risks
                        and minimal costs. This favorably affects the potential return on investment.</p>
                </div>

                <!-- Market efficiency-->
                <div class="golbat innertext flex flex-col">
                    <div class="custom-nft">
                        <img src="/images/rapid.png" class="h-12" alt="">
                    </div>
                    <a href="#" class="cryptol-apm text-xl font-semibold text-gray-900  hoveffect">Rapid app launch</a>
                    <p class="text-base font-medium leading-relaxed max-w-md">The white label cryptocurrency exchange
                        platforms are an outstanding option to reduce time-to-market, start rapidly making profits with
                        a new solution, and save resources on the development process.</p>
                </div>

                <div class="golbat innertext flex flex-col">
                    <div class="custom-nft">
                        <img src="/images/Cost-effectiveness.png" class="h-12" alt="">
                    </div>
                    <a href="#"
                        class="cryptol-apm text-xl font-semibold text-gray-900  hoveffect">Cost-effectiveness</a>
                    <p class="text-base font-medium leading-relaxed max-w-md">Opting for white label crypto exchange
                        development services, businesses can not only avoid the high costs of developing software and
                        maintaining a development team, but also significantly reduce the cost of maintaining and
                        supporting a running solution.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="cryptol-divider flex justify-center items-center"><span class="cryptol-span"></span></div>

    <div style="background-color: #333333;" class="cryptol-kaira second-kaira flex justify-start items-center">
        <div class="cryptol-conta kaira-container">
            <div class="meddle kaira-image">
                <img src="/images/eric.png" alt="Andrew Nalichaev">
            </div>
            <div class="meddle kaira-text">
                <p class="bigger">At Emiri FinTech, we’re excited about the potential of cryptocurrencies and <br> are passionate about helping businesses build the next big platform, like <br> Coinbase, Gemini, or Kraken. With our experience, we’re here to drive <br> innovation and shape the future of digital finance together.</p>
                <div class="kaira-author">
                    <h4>Eric Kabutey</h4>
                    <p class="font-semibold">Blockchain domain expert & DeFi analyst at Emiri</p>
                </div>
            </div>
        </div>

    </div>

    <div class="acordion">
        <div class="forensic-dropper">
            <div class=" dropper-container zero-pad">
                <div class="acord-starter">
                    <h1 class=" text-2xl text-center mb-5">Security features of cryptocurrency exchange platforms</h1>
                    <p class="acord-2 corder">One cannot overestimate the importance of cybersecurity features in cryptocurrency exchange
                        software, as data leaks and security breaches can result in severe financial and reputational damage.
                        At Innowise, we house an experienced team of cryptocurrency exchange developers with extensive
                        experience in ensuring high-level app security with effective measures.</p>
                </div>
            </div>
        </div>
    </div>


    <!-- section 8 -->
    <!-- <section class="max-w-6xl mx-auto section">
        <div class="">
            <h1 class="text-5xl font-medium text-gray-800 text-left emi">Cryptocurrency exchange app development</h1>
        </div>

        <div class="grid md:grid-cols-2 gap-8 grid-cont">
            <div class="bg-white overflow-hidden w-3/4">
                <img src="https://innowise.com/wp-content/uploads/2022/05/Frame-4859.jpg" alt="Asset Design"
                    class="w-full h-40 object-cover">
                <div class="">
                    <h2 class="text-xl font-bold text-gray-800 mb-2 hh">Web crypto exchanges</h2>
                    <p class="text-gray-600 text-lg pp">Innowise offers cryptocurrency exchange development services,
                        delivering cutting-edge web exchange platforms and covering back-end and front-end parts.
                        Rendering cryptocurrency exchange website development services, our company leverages extensive
                        technological expertise in most popular and widely used programming languages, frameworks, and
                        libraries, including Java, Python, .NET, PHP, JavaScript, TypeScript, React, Angular, Go, and
                        more.
                    </p>
                </div>
            </div>

            <div class="bg-white overflow-hidden w-3/4">
                <img src="https://innowise.com/wp-content/uploads/2022/05/Frame-4858.jpg" alt="NFT Tokens Minting"
                    class="w-full h-40 object-cover">
                <div class="">
                    <h2 class="text-xl font-bold text-gray-800 mb-2 hh">Mobile crypto exchanges</h2>
                    <p class="text-gray-600 text-lg pp">Innowise, an experienced iOS app development company, delivers
                        high-quality cryptocurrency exchange software development services and designs mobile
                        applications for crypto exchange platforms. Our mobile development teams create native Android &
                        iOS and cross-platform applications. Intuitive user interface, high performance, and
                        feature-rich – Innowise ensures high quality of the developed mobile apps utilizing
                        comprehensive tech stack: Swift, Objective-C, Kotlin, Flutter, React Native, and more.</p>
                </div>
            </div>
        </div>

    </section> -->

    <!-- section 9 -->
    <div id="insights" class="nft-bug darker-stellar ai-steller stellar-swiper-container">
        <div class="meddle cosmic-swiper">
            <div class="orbital-wrapper swiper-wrapper">
                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="cadder nft-bug crypto-carder overflow-hidden">
                        <!-- Image at the top -->
                        <img class="w-full zoom-img"
                            src="https://innowise.com/wp-content/themes/hello-elementor/assets/images/crypto/Frame%204962.jpg"
                            alt="Card image">

                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-2xl mt-5 mb-2 pl-3 text-left">Data Encryption
                            </div>
                        </div>

                        <div class="account-description-outer">
                            <div class="account-description dess">
                                <p style="font-size: 16px;" class=" ziga font-medium">At Emiri Fintech, we
                                    excel in predictive analysis, leveraging advanced AI and machine
                                    learning techniques to forecast trends and optimize business operations.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="cadder nft-bug crypto-carder overflow-hidden">
                        <!-- Image at the top -->
                        <img class="w-full zoom-img"
                            src="https://innowise.com/wp-content/themes/hello-elementor/assets/images/crypto/Frame%204716%20(3).jpg"
                            alt="Card image">

                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-2xl mt-5 mb-2 pl-3 text-left">User access control
                            </div>
                        </div>

                        <div class="account-description-outer">
                            <div class="account-description dess">
                                <p style="font-size: 16px;" class=" ziga font-medium">At Emiri Fintech, we
                                    excel in predictive analysis, leveraging advanced AI and machine
                                    learning techniques to forecast trends and optimize business operations.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="cadder nft-bug crypto-carder overflow-hidden">
                        <!-- Image at the top -->
                        <img class="w-full zoom-img"
                            src="https://innowise.com/wp-content/themes/hello-elementor/assets/images/crypto/Frame%204962%20(1).jpg"
                            alt="Card image">

                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-2xl mt-5 mb-2 pl-3 text-left">Regulatory compliance
                            </div>
                        </div>

                        <div class="account-description-outer">
                            <div class="account-description dess">
                                <p style="font-size: 16px;" class=" ziga font-medium">At Emiri Fintech, we
                                    excel in predictive analysis, leveraging advanced AI and machine
                                    learning techniques to forecast trends and optimize business operations.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- section 5 -->
    <div class="cryptol-device device-container flex justify-center items-center">
        <div class="devicer">
            <p class="diverse-text"></p>

            <div class="vidify-container grid grid-cols-1 md:grid-cols-2">
                <div class="vidify-1">
                    <video width="100%" height="auto" controls autoplay muted>
                        <source src="https://innowise.com/wp-content/uploads/2022/12/2-call-to-action.mp4"
                            type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
                <div class="vidify-2">
                    <div class="let-space">
                        <p class="vidify-title font-semibold">Developing crypto exchange software?</p>
                        <p class="vidify-question">Ensure the security of your cryptocurrency exchange with <br>
                            Innowise.</p>
                        <div class="fire">
                            <a href="#" class="vidify-button">Schedule consultation</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="claire nft-does cont flex items-center justify-center bg-no-repeat bg-center bg-cover bg-black bg-opacity-50"
    style="background-image: url('https://innowise.com/wp-content/themes/hello-elementor/assets/images/crypto/Frame%204910.jpg');">
    <div class="flex flex-col items-center text-center">
        <p class="text-white text-4xl font-medium">How much does it cost to make a cryptocurrency exchange?</p>
    </div>
</div>

<div class="acordion">
    <div class="forensic-dropper">
        <div class=" dropper-container zero-pad">
            <div class="acord-starter">
                <p class="acord-2 corder">The world of cryptocurrencies and blockchain technology is increasingly integrating with everyday online activities. Crypto exchange platforms are empowering more people to participate in the global ecosystem of this new financial landscape, offering a potentially lucrative investment opportunity. Fortunately, launching a cryptocurrency exchange from scratch doesn't demand exorbitant investments. Each development project is unique and requires tailored calculations based on various factors and variables, making it a personalized process for Emiri Fintech.</p>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-3 goaler gridder smart-boxes">
                <div class="colo-1 block-colo space-y-6">
                    <div class="cost-padder text-lg font-medium flex items-center space-x-4">
                        <img src="https://innowise.com/wp-content/themes/hello-elementor/assets/icons/icons-crypto/bc.svg"
                            class="h-8" alt="">
                        <span class="font-semibold">Crypto exchange type</span>
                    </div>
                </div>

                <div class="colo-1 block-colo space-y-6">
                    <div class="cost-padder text-lg font-medium flex items-center space-x-4">
                        <img src="https://innowise.com/wp-content/themes/hello-elementor/assets/icons/icons-crypto/bi.svg"
                            class="h-8" alt="">
                        <span class="font-semibold">Feature set</span>
                    </div>
                </div>

                <div class="colo-1 block-colo space-y-6">
                    <div class="cost-padder text-lg font-medium flex items-center space-x-4">
                        <img src="https://innowise.com/wp-content/themes/hello-elementor/assets/icons/icons-crypto/Frame%204950.svg"
                            class="h-8" alt="">
                        <span class="font-semibold">Scope of work</span>
                    </div>
                </div>

                <div class="colo-1 block-colo space-y-6">
                    <div class="cost-padder text-lg font-medium flex items-center space-x-4">
                        <img src="https://innowise.com/wp-content/themes/hello-elementor/assets/icons/icons-crypto/Frame%2048964.svg"
                            alt="" class="h-8">
                        <span class="font-semibold">Project complexity</span>
                    </div>
                </div>

                <div class="colo-1 block-colo space-y-6">
                    <div class="cost-padder text-lg font-medium flex items-center space-x-4">
                        <img src="https://innowise.com/wp-content/themes/hello-elementor/assets/icons/icons-crypto/Frame%2048971.svg"
                            alt="" class="h-8">
                        <span class="font-semibold">Project duration</span>
                    </div>
                </div>

                <div class="colo-1 block-colo space-y-6">
                    <div class="cost-padder text-lg font-medium flex items-center space-x-4">
                        <img src="https://innowise.com/wp-content/themes/hello-elementor/assets/icons/icons-crypto/Frame%2048968.svg"
                            alt="" class="h-8">
                        <span class="font-semibold">Team size</span>
                    </div>
                </div>

                <div class="colo-1 block-colo space-y-6">
                    <div class="cost-padder text-lg font-medium flex items-center space-x-4">
                        <img src="https://innowise.com/wp-content/themes/hello-elementor/assets/icons/icons-crypto/Frame%204968.svg"
                            alt="" class="h-8">
                        <span class="font-semibold">Team composition</span>
                    </div>
                </div>

                <div class="colo-1 block-colo space-y-6">
                    <div class="cost-padder text-lg font-medium flex items-center space-x-4">
                        <img src="https://innowise.com/wp-content/themes/hello-elementor/assets/icons/icons-crypto/Frame%2048970.svg"
                            alt="" class="h-8">
                        <span class="font-semibold">Team members level</span>
                    </div>
                </div>

                <div class="colo-1 block-colo space-y-6">
                    <div class="cost-padder text-lg font-medium flex items-center space-x-4">
                        <img src="https://innowise.com/wp-content/themes/hello-elementor/assets/icons/icons-crypto/Frame%2048969.svg"
                            alt="" class="h-8">
                        <span class="font-semibold">Cooperation model</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


    <!-- section 10 -->
    <!-- <div class="text-gray-800 hexmen flex justify-center">
        <div class="mx-auto mainer">
            <div class="thug-header nft-thug-header">
                <p class="thug-title">
                    How much does it cost to make a cryptocurrency exchange?
                </p>
                <p class="that-para">
                    The world of cryptocurrencies and blockchain technology is getting closer to
                    <br>routine online activities by the day. Crypto exchange platforms help more and
                    <br>more people get involved in the global ecosystem of the new financial reality
                    <br>and become a potentially successful investment option. Fortunately, creating a
                    <br>cryptocurrency exchange from scratch does not require astronomical
                    <br>investments. Each development project is unique and requires an individual
                    <br>calculation based on multiple parameters and variables.
                </p>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-3 gridder smart-boxes">
                <div class="colo-1 block-colo space-y-6">
                    <div class="cost-padder text-lg font-medium flex items-center space-x-4">
                        <img src="https://innowise.com/wp-content/themes/hello-elementor/assets/icons/icons-crypto/bc.svg"
                            class="h-8" alt="">
                        <span class="font-semibold">Crypto exchange type</span>
                    </div>
                </div>

                <div class="colo-1 block-colo space-y-6">
                    <div class="cost-padder text-lg font-medium flex items-center space-x-4">
                        <img src="https://innowise.com/wp-content/themes/hello-elementor/assets/icons/icons-crypto/bi.svg"
                            class="h-8" alt="">
                        <span class="font-semibold">Feature set</span>
                    </div>
                </div>

                <div class="colo-1 block-colo space-y-6">
                    <div class="cost-padder text-lg font-medium flex items-center space-x-4">
                        <img src="https://innowise.com/wp-content/themes/hello-elementor/assets/icons/icons-crypto/Frame%204950.svg"
                            class="h-8" alt="">
                        <span class="font-semibold">Scope of work</span>
                    </div>
                </div>

                <div class="colo-1 block-colo space-y-6">
                    <div class="cost-padder text-lg font-medium flex items-center space-x-4">
                        <img src="https://innowise.com/wp-content/themes/hello-elementor/assets/icons/icons-crypto/Frame%2048964.svg"
                            alt="" class="h-8">
                        <span class="font-semibold">Project complexity</span>
                    </div>
                </div>

                <div class="colo-1 block-colo space-y-6">
                    <div class="cost-padder text-lg font-medium flex items-center space-x-4">
                        <img src="https://innowise.com/wp-content/themes/hello-elementor/assets/icons/icons-crypto/Frame%2048971.svg"
                            alt="" class="h-8">
                        <span class="font-semibold">Project duration</span>
                    </div>
                </div>

                <div class="colo-1 block-colo space-y-6">
                    <div class="cost-padder text-lg font-medium flex items-center space-x-4">
                        <img src="https://innowise.com/wp-content/themes/hello-elementor/assets/icons/icons-crypto/Frame%2048968.svg"
                            alt="" class="h-8">
                        <span class="font-semibold">Team size</span>
                    </div>
                </div>

                <div class="colo-1 block-colo space-y-6">
                    <div class="cost-padder text-lg font-medium flex items-center space-x-4">
                        <img src="https://innowise.com/wp-content/themes/hello-elementor/assets/icons/icons-crypto/Frame%204968.svg"
                            alt="" class="h-8">
                        <span class="font-semibold">Team composition</span>
                    </div>
                </div>

                <div class="colo-1 block-colo space-y-6">
                    <div class="cost-padder text-lg font-medium flex items-center space-x-4">
                        <img src="https://innowise.com/wp-content/themes/hello-elementor/assets/icons/icons-crypto/Frame%2048970.svg"
                            alt="" class="h-8">
                        <span class="font-semibold">Team members level</span>
                    </div>
                </div>

                <div class="colo-1 block-colo space-y-6">
                    <div class="cost-padder text-lg font-medium flex items-center space-x-4">
                        <img src="https://innowise.com/wp-content/themes/hello-elementor/assets/icons/icons-crypto/Frame%2048969.svg"
                            alt="" class="h-8">
                        <span class="font-semibold">Cooperation model</span>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <!-- section 11 -->
    <!-- <div class="text-gray-800 nft-white  hexmen flex justify-center">
        <div class="mx-auto mainer">
            <div class="thug-header nft-thug-header">
                <p class="thug-title">Why choose Innowise as a <br> cryptocurrency exchange <br> development company?
                </p>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-3 gridder smart-boxes">
                <div class="rating-crypto">
                    <p class="tan-crypt">17+</p>
                    <p class="sin-crypt">years in IT</p>
                </div>
                <div class="rating-crypto">
                    <p class="tan-crypt">1800+</p>
                    <p class="sin-crypt">IT talents on board.</p>
                </div>

                <div class="rating-crypto">
                    <p class="tan-crypt">1100+</p>
                    <p class="sin-crypt">projects delivered</p>
                </div>
            </div>
            <div class="colombo grid grid-cols-2">
                <div class="colomb-1">
                    <p>Innowise is a software development and IT consulting company focusing on crypto, blockchain,
                        machine learning, and NFT. As a cryptocurrency exchange development agency, we work closely with
                        innovative start-ups and businesses worldwide who want to be part of the new crypto financial
                        order. Our IT experts keep up with recent cryptocurrency market trends, know industry specifics,
                        and anticipate its development paths.</p>
                </div>

                <div class="colomb-2">
                    <ul>
                        <li class="flex flex-row device-exchange"><i class="ri-git-commit-line"></i>
                            <p>Rapid crypto exchange app deployment</p>
                        </li>
                        <li class="flex flex-row device-museum"><i class="ri-git-commit-line"></i>
                            <p>Improved team productivity</p>
                        </li>
                        <li class="flex flex-row device-artist"><i class="ri-git-commit-line"></i>
                            <p>Operational costs reduction</p>
                        </li>
                        <li class="flex flex-row device-brand"><i class="ri-git-commit-line"></i>
                            <p>Large pool of cryptocurrency exchange developers</p>
                        </li>
                        <li class="flex flex-row device-musician"><i class="ri-git-commit-line"></i>
                            <p>Security and regulation compliance</p>
                        </li>
                        <li class="flex flex-row device-creator"><i class="ri-git-commit-line"></i>
                            <p>Expertise in 20+ industries</p>
                        </li>
                        <li class="flex flex-row device-creator"><i class="ri-git-commit-line"></i>
                            <p>Flexible pricing options</p>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div> -->

    <!-- section 12 -->
    <div style="background-color: #fff !important;" class="nft-business business-stellar stellar-swiper-container webr AI-container">
        <h1 class="nft-related cosmic-title text-4xl font-medium text-start">Working with Innowise</h1>
        <div class="cosmic-swiper ai-swiper">
            <div class="orbital-wrapper swiper-wrapper">
                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div style="background-color: #fff !important;" class="nft-business cadder webr overflow-hidden flex flex-col">
                        <div class="stala flex flex-row"> <i class="ri-double-quotes-l"></i>
                            <p>We are delighted withe emiri fintech's commitment to delivering quality work
                                and solving issues quickly. They lead an engaged approach to understanding the team's
                                needs
                                and accomplishing their goals.</p>
                        </div>
                        <div class="gala-outer">
                            <div class="gala">
                                <p class="quote-name"><strong>Or Iny</strong></p>
                                <p class="quote-po">CEO</p>
                                <p class="quote-r">Zero Beta</p>
                            </div>
                            <div class="gala-img">
                                <img src="https://innowise.com/wp-content/uploads/2024/11/image-3335-1.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div style="background-color: #fff !important;" class="nft-business cadder webr overflow-hidden flex flex-col">
                        <div class="stala flex flex-row"> <i class="ri-double-quotes-l"></i>
                            <p>We are delighted withe emiri fintech's commitment to delivering quality work
                                and solving issues quickly. They lead an engaged approach to understanding the team's
                                needs
                                and accomplishing their goals.</p>
                        </div>
                        <div class="gala-outer">
                            <div class="gala">
                                <p class="quote-name"><strong>Or Iny</strong></p>
                                <p class="quote-po">CEO</p>
                                <p class="quote-r">Zero Beta</p>
                            </div>
                            <div class="gala-img">
                                <img src="https://innowise.com/wp-content/uploads/2024/11/image-3335-1.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="galaxy-slide swiper-slide">
                    <div style="background-color: #fff !important;" class="nft-business cadder webr overflow-hidden flex flex-col">
                        <div class="stala flex flex-row"> <i class="ri-double-quotes-l"></i>
                            <p>We are delighted withe emiri fintech's commitment to delivering quality work
                                and solving issues quickly. They lead an engaged approach to understanding the team's
                                needs
                                and accomplishing their goals.</p>
                        </div>
                        <div class="gala-outer">
                            <div class="gala">
                                <p class="quote-name"><strong>Or Iny</strong></p>
                                <p class="quote-po">CEO</p>
                                <p class="quote-r">Zero Beta</p>
                            </div>
                            <div class="gala-img">
                                <img src="https://innowise.com/wp-content/uploads/2024/11/image-3335-1.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Swiper Pagination -->
            <div class="swiper-pagination"></div>
            <!-- Swiper Navigation -->
            <!-- <div class="stellar-button-prev swiper-button-prev"></div>
            <div class="stellar-button-next swiper-button-next"></div> -->
        </div>
    </div>

    <!-- section 13 -->
    <div class="crytal stack-outer flex justify-start items-center">
        <div class="smart-stack tech-stack">
            <div class="dropper-expand flex justify-between">
                <p class="text-left tech-text mb-6">FAQ</p>
            </div>
            <div class="border-b py-6">
                <button class="flex  items-center w-full text-left text-lg font-semibold"
                    onclick="toggleSection('section1')"><span class="text-gray-500 font-thin">+</span>
                    How much does it cost to build a cryptocurrency exchange?
                </button>
                <div id="section1" class="mt-2 hidden">
                    <p class=" mb-3">Each cryptocurrency exchange development project is unique, so it is not possible
                        to establish a standard cost level. The final cost of creating a crypto exchange solution from
                        scratch is influenced by such factors as cryptocurrency exchange platform type, its
                        functionality, project duration, team composition and size, staff experience level, and more.
                    </p>
                </div>
            </div>

            <div class="border-b py-6">
                <button class="flex  items-center w-full text-left text-lg font-semibold"
                    onclick="toggleSection('section2')"><span class="text-gray-500 font-thin">+</span>What are the key
                    features of a crypto exchange?
                </button>
                <div id="section2" class="mt-2 hidden">
                    <p class=" mb-3">The major feature of a crypto exchange solution is secure crypto-crypto,
                        fiat-crypto, or crypto-fiat exchange procedures. Among possible features are atomic swaps, admin
                        panel, hot & cold wallet nodes, order book, irreversible transactions, and more.</p>
                </div>
            </div>

            <div class="border-b py-6">
                <button class="flex  items-center w-full text-left text-lg font-semibold"
                    onclick="toggleSection('section3')"><span class="text-gray-500 font-thin">+</span>How long does it
                    take to create a cryptocurrency exchange?
                </button>
                <div id="section3" class="mt-2 hidden">
                    <p class=" mb-3">Based on our experience, creating a cryptocurrency exchange solution from scratch
                        may take about 4-6 months. However, these are approximate calculations. Feel free to turn to our
                        IT specialists to get consulted on your particular crypto exchange development project
                        implementation time and costs.</p>
                </div>
            </div>

            <div class="py-6">
                <button class="flex  items-center w-full text-left text-lg font-semibold"
                    onclick="toggleSection('section4')"><span class="text-gray-500 font-thin">+</span>How can I ensure
                    the security of my crypto exchange?
                </button>
                <div id="section4" class="mt-2 hidden">
                    <p class=" mb-3">The best way to ensure the security of your crypto exchange is to opt for the
                        services of a reliable IT partner with comprehensive expertise in the cybersecurity domain. At
                        Innowise, we employ multiple measures to secure cryptocurrency exchange software from all
                        possible threats: data encryption, vulnerability assessment, stress testing, penetration
                        testing, compliance testing, security code review, and more.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- section 14 -->
    <div class="nft-bug stellar-swiper-container panda">
        <h1 class="cosmic-title text-4xl font-medium">Need other services?</h1>
        <div class="cosmic-swiper">
            <div class="orbital-wrapper swiper-wrapper">
                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="boxer nft-boxer overflow-hidden">
                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-xl">Digital marketing software development services</div>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="boxer nft-boxer  overflow-hidden">
                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-xl">eCommerce software development services</div>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="boxer nft-boxer  overflow-hidden">
                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-xl">eLearning software development services</div>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="boxer nft-boxer  overflow-hidden">
                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-xl">Enterprise software development services</div>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="boxer nft-boxer  overflow-hidden">
                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-xl">CRM software development company</div>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="boxer nft-boxer  overflow-hidden">
                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-xl">Logistics software development company</div>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="boxer nft-boxer  overflow-hidden">
                        <!-- Image at the top -->
                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-xl">Agriculture software development</div>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="boxer nft-boxer  overflow-hidden">
                        <!-- Image at the top -->
                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-xl">Web 3.0 development company</div>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="boxer nft-boxer  overflow-hidden">
                        <!-- Image at the top -->
                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-xl">Manufacturing software development company</div>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="boxer nft-boxer  overflow-hidden">
                        <!-- Image at the top -->
                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-xl">Headless development services</div>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="boxer nft-boxer  overflow-hidden">
                        <!-- Image at the top -->
                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-xl">Buy now, pay later development company
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Swiper Pagination -->
            <div class="pagger swiper-pagination"></div>
            <!-- Swiper Navigation -->
            <!-- <div class="stellar-button-prev swiper-button-prev"></div>
            <div class="stellar-button-next swiper-button-next"></div> -->
        </div>
    </div>

    <!-- last section -->
    <div class="final-ngt flex justify-center items-center">
        <div class="nft-final nft-white antuan w-full h-full flex flex-col lg:flex-row mb-8">
            <!-- Left Section  -->
            <div class="w-full lg:w-1/2 p-8 flex flex-col justify-center">
                <h2 class="pluto-1  font-medium text-5xl mb-8">Contact us!</h2>
                <p class="text-xl text-gray-800 mb-6"><span class="text-red-700 underline"><a href="#">Book a
                            call</a></span> or fill out the form below and we’ll get back <br> to you once we’ve
                    processed
                    your request.</p>

                <form class="w-full">
                    <!-- Phone and Subject Fields -->
                    <div class="grid md:grid-cols-2 md:gap-6">
                        <div class="relative z-0 w-full mb-5 group">
                            <input type="text" name="floating_first_phone" id="floating_first_phone"
                                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                                placeholder=" " required />
                            <label for="floating_first_phone"
                                class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">First
                                Name</label>
                        </div>
                        <div class="relative z-0 w-full mb-5 group">
                            <input type="text" name="floating_last_subject" id="floating_last_subject"
                                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                                placeholder=" " required />
                            <label for="floating_last_subject"
                                class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Last
                                Company</label>
                        </div>
                    </div>

                    <!-- Phone and Subject Fields -->
                    <div class="grid md:grid-cols-2 md:gap-6">
                        <div class="relative z-0 w-full mb-5 group">
                            <input type="number" name="floating_first_phone" id="floating_first_phone"
                                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                                placeholder=" " required />
                            <label for="floating_first_phone"
                                class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">First
                                Corporate email</label>
                        </div>
                        <div class="relative z-0 w-full mb-5 group">
                            <input type="text" name="floating_last_subject" id="floating_last_subject"
                                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                                placeholder=" " required />
                            <label for="floating_last_subject"
                                class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Last
                                Phone</label>
                        </div>
                    </div>


                    <!-- Description Field -->
                    <div class="relative z-0 w-full mb-5 group">
                        <input type="text" name="floating_description" id="floating_description"
                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" " required />
                        <label for="floating_description"
                            class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Description</label>
                    </div>

                    <!-- Action Buttons -->
                    <div class="flex flex-col justify-center items-center">
                        <div class="flex flex-col lg:flex-row gap-4 w-full">
                            <!-- Record Message Button -->
                            <div
                                class="flex flex-col items-center border border-gray-300 rounded-md p-4 w-full lg:w-1/2">
                                <p class="text-sm text-gray-500 text-center  font-medium mb-2">Record a voice message
                                    about your project to help us
                                    understand it better</p>
                                <button
                                    class="border border-red-500 hover:bg-gray-100 text-red-500 font-bold py-2 px-4 rounded flex items-center justify-center gap-2">
                                    <i class="ri-mic-2-line text-xl"></i>
                                    Record a voice message
                                </button>
                            </div>

                            <!-- Attach Documents Button -->
                            <div
                                class="flex flex-col items-center border border-gray-300 rounded-md p-4 w-full lg:w-1/2">
                                <p class="text-sm font-medium mb-2 text-center text-gray-500 ">Attach additional
                                    documents as needed</p>
                                <button
                                    class="attacher border lg:mt-3 border-red-500 hover:bg-gray-100 text-red-500 font-bold py-2 px-4 rounded flex items-center justify-center gap-2">
                                    <i class="ri-file-2-line text-xl"></i>
                                    Attach additional documents
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- Legal Notice -->
                    <p class="text-sm text-gray-500 mt-4">Please be informed that when you click the Send button, we
                        will process your personal data in accordance with our <span class="text-black font-medium"> <a
                                href="#">Privacy Policy</a> </span>and Terms and Conditions.</p>

                    <!-- Full-Width Send Button -->
                    <button type="submit"
                        class="mt-4 w-full bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded">
                        Send
                    </button>
                </form>

            </div>
            
            <!-- Right Section -->
            <div class="w-full lg:w-1/2 flex justify-center items-center">
                <!-- statistic -->
                <div class="next-container">
                    <div class="next-title">What happens next?</div>
                    <div class="next-step">
                        <div class="next-step-number">1</div>
                        <div class="next-step-content">Once we’ve received and processed your request, we’ll <br> get
                            back to you to
                            detail your project needs and sign <br>an NDA to ensure confidentiality.</div>
                    </div>
                    <div class="next-step">
                        <div class="next-step-number">2</div>
                        <div class="next-step-content">After examining your wants, needs, and expectations, <br> our
                            team will devise
                            a project proposal with the scope <br> of work, team size, time, and cost estimates.</div>
                    </div>
                    <div class="next-step">
                        <div class="next-step-number">3</div>
                        <div class="next-step-content">We’ll arrange a meeting with you to discuss the offer <br> and
                            nail down the
                            details.</div>
                    </div>
                    <div class="next-step">
                        <div class="next-step-number">4</div>
                        <div class="next-step-content">Finally, we’ll sign a contract and start working on <br> your
                            project right
                            away.</div>
                    </div>
                </div>

            </div>

        </div>
    </div>


    <script src="/javascripts/crypto.js"></script>
    <script src="/javascripts/nft.js"></script>
    <script src="/javascripts/account.js"></script>