<%- layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/developer.css">
<div class="developer-container">
    <header class="border-b-dev border-gray-200">
        <div class="max-w-8xl mx-auto flex justify-between items-center py-4 px-6">
            <div class="text-lg font-bold text-gray-800">EMIRI FINTECH SOLUTIONS</div>
            <nav class="space-x-6">
                <a href="#" class="text-gray-700 developer-hover font-semibold text-sm">Emiri Coin</a>
                <a href="#" class="text-gray-700 developer-hover font-semibold text-sm">Emiri Pay</a>
                <a href="#" class="text-gray-700 developer-hover font-semibold text-sm">OneSwitch</a>
                <a href="#" class="text-gray-700 developer-hover font-semibold text-sm">GIISS</a>
                <a href="#" class="text-gray-700 developer-hover font-semibold text-sm">GIIPSS</a>
                <a href="#" class="text-gray-700 developer-hover font-semibold text-sm">User & Technical guide</a>
            </nav>
        </div>
    </header>

    <header class="border-b border-gray-200">
        <div class="max-w-8xl mx-auto flex justify-between items-center py-1 px-3">
            <!-- Left: Dropdown Input -->
            <div class="relative">
                <select class="border-transparent rounded-md py-1 px-4 text-gray-700 hover:border-gray-300 focus:border-gray-300 focus:outline-none">
                    <option value="" disabled selected>Developer Hub</option>
                    <option value="option1">Emiri Coin</option>
                    <option value="option2">Emiri Pay</option>
                    <option value="option3">OneSwitch</option>
                    <option value="option4">GIISS</option>
                    <option value="option5">GIIPSS</option>
                </select>
            </div>
            
            <!-- Right: Search Input -->
            <div class="relative dev-search">
                <input type="text" placeholder="Search   CTRL+K"
                    class="border border-gray-300 rounded-md py-2 px-4 text-sm focus:outline-none focus:ring-2 focus:ring-purple-500">
            </div>
        </div>
    </header>


    <main class="max-w-7xl flex justify-start mt-10 px-8">
        <div class="grid grid-cols-5 gap-5">
            <!-- Taurus Explorer -->
            <div class="border developer-box border-gray-300 rounded-lg shadow-sm p-6 flex flex-col">
                <div class="developer-item flex items-center mb-2">
                    <i class="ri-coin-line icon-circle mr-1"></i>
                    <div>
                        <div class="text-sm font-semibold text-gray-800">Emiri</div>
                        <div class="text-2xl font-semibold text-gray-800">Emiri Coin</div>
                    </div>
                </div>
                <div class="developer-center flex justify-center">
                    <p class="text-sm developer-1 text-gray-600">Think Crypto</p>
                </div>
            </div>

            <!-- Taurus Protect -->
            <div class="border developer-box border-gray-300 rounded-lg shadow-sm p-6 flex flex-col">
                <div class="developer-item flex items-center mb-2">
                    <i class="ri-wallet-line icon-circle mr-1"></i>
                    <div>
                        <div class="text-sm font-semibold text-gray-800">Emiri</div>
                        <div class="text-2xl font-semibold text-gray-800">Emiri Pay</div>
                    </div>
                </div>
                <div class="developer-center flex justify-center">
                    <p class="text-sm developer-1 text-gray-600">Easy payment <br> Fast delivery</p>
                </div>
            </div>

            <!-- Taurus T-DX -->
            <div class="border developer-box border-gray-300 rounded-lg shadow-sm p-6 flex flex-col">
                <div class="developer-item flex items-center mb-2">
                    <i class="ri-switch-line icon-circle mr-1"></i>
                    <div>
                        <div class="text-sm font-semibold text-gray-800">Emiri</div>
                        <div class="text-2xl font-semibold text-gray-800">OneSwitch</div>
                    </div>
                </div>
                <div class="developer-center flex justify-center">
                    <p class="text-sm developer-1 text-gray-600">Think payment <br> Think compliance,</p>
                </div>
            </div>

            <!-- Taurus Guides -->
            <div class="border developer-box border-gray-300 rounded-lg shadow-sm p-6 flex flex-col">
                <div class="developer-item flex items-center mb-2">
                    <i class="ri-shield-keyhole-line icon-circle mr-1"></i>
                    <div>
                        <div class="text-sm font-semibold text-gray-800">Emiri</div>
                        <div class="text-2xl font-semibold text-gray-800">GIISS</div>
                    </div>
                </div>
                <div class="developer-center flex justify-center">
                    <p class="text-sm developer-1 text-gray-600">Think Security <br> Choose GIISS</p>
                </div>
            </div>

            <div class="border developer-box border-gray-300 rounded-lg shadow-sm p-6 flex flex-col">
                <div class="developer-item flex items-center mb-2">
                    <i class="ri-exchange-dollar-line icon-circle mr-1"></i>
                    <div>
                        <div class="text-sm font-semibold text-gray-800">Emiri</div>
                        <div class="text-2xl font-semibold text-gray-800">GIIPSS</div>
                    </div>
                </div>
                <div class="developer-center flex justify-center">
                    <p class="text-sm developer-1 text-gray-600">Easy integration <br> Easy interconnectivity</p>
                </div>
            </div>

        </div>
    </main>
</div>