<%- layout('layouts/boilerplate') %>

    <div class="digital-hero">
        <div class="digital-texts">
            <div class=" title-1 font-bold text-5xl gap-7"><span><i class="ri-money-dollar-box-line"></i></span> <div>DIGITAL BANKING</div>
            </div>
        </div>
    </div>

    <div class="acordion">
        <div class="forensic-dropper">
            <div class="dropper-container zero-pad">
                <div class="acord-starter">
                    <p class="acord-2">With about half a decade of proven experience in financial software development,
                        we help banks to adapt to new realities framed by pandemic-induced high-speed digital adoption.
                        Combining technology with a personal touch, intelligent use of data, and compelling service
                        delivery models, we pave the way for our clients to increase customer engagement.</p>
                </div>

                <div class="dropper-expand flex justify-between">
                    <h1 class="text-3xl font-bold mb-6">A Grasp of Modern Banking</h1>
                    <a style="white-space: nowrap;" href="#" class="text-blue-600 text-lg" onclick="toggleAllSections(event)"><strong>Expand
                            All</strong></a>
                </div>
                <div class="border-b py-6">
                    <button
                        class="flex justify-between items-center w-full text-left text-2xl font-semibold text-blue-600"
                        onclick="toggleSection('section3')">
                        Banking CRM
                        <span class="text-gray-500">+</span>
                    </button>
                    <div id="section3" class="mt-2 hidden">
                        <p class="text-gray-700 mb-3">As part of our financial software development services at Emiri
                            Fintech Solutions, we build flexible CRM systems to drive customer attraction and retention,
                            optimize their journey within the sales funnel, and address customers’ growing needs
                            proactively rather than reactively. Our CRM systems are bolstered with a high level of
                            automation, comprehensive security features, and advanced analytics capabilities that
                            contribute to increased employee productivity, data protection, and better adjustment to
                            customer demands.</p>
                        <p class="text-gray-700">To create a full-fledged portrait of the target audience, we integrate
                            CRMs with a plethora of data sources, such as mobile apps, websites, social media platforms,
                            email, call centers, and more. Being provided with almost endless opportunities to gain
                            insights into your customers’ preferences, you can offer them the most relevant options that
                            will meet their financial needs.</p>
                    </div>
                </div>

                <div class="border-b py-6">
                    <button
                        class="flex justify-between items-center w-full text-left text-2xl font-semibold text-blue-600"
                        onclick="toggleSection('section2')">
                        Mobile Banking
                        <span class="text-gray-500">+</span>
                    </button>
                    <div id="section2" class="mt-2 hidden">
                        <p class="text-gray-700">To make banking services accessible from anywhere anytime, Emiri
                            FinTech’s experts deliver mobile solutions that reshape and simplify communication along
                            with increasing customer engagement and retention. With both the basic and cutting-edge
                            features of our mobile apps, end users can 100% securely and effortlessly manage their
                            finances, make financial transactions, and get personal assistance 24/7.</p>
                        <ul class="unordered">
                            <li><i class="ri-verified-badge-fill"></i> Payment scheduling</li>
                            <li><i class="ri-verified-badge-fill"></i> Personalized customers' support</li>
                            <li><i class="ri-verified-badge-fill"></i> Money transfer</li>
                            <li><i class="ri-verified-badge-fill"></i> Biometric authentication</li>
                            <li><i class="ri-verified-badge-fill"></i> Opening and managing bank accounts</li>
                            <li><i class="ri-verified-badge-fill"></i> Voice navigation</li>
                            <li><i class="ri-verified-badge-fill"></i> Customized alerts</li>
                        </ul>
                    </div>
                </div>

                <div class="border-b py-6">
                    <button
                        class="flex justify-between items-center w-full text-left text-2xl font-semibold text-blue-600"
                        onclick="toggleSection('section4')">
                        Opening Banking
                        <span class="text-gray-500">+</span>
                    </button>
                    <div id="section4" class="mt-2 hidden">
                        <p class="text-gray-700 mb-3">Open banking is changing the landscape of financial relationships.
                            By getting access to open APIs, banks can cut down on integration expenses and increase
                            client flow thanks to the information they get from their partners.</p>
                        <p class="text-gray-700 mb-3">At Emiri Fintech Solutions, we create trustworthy solutions
                            (Platforms) that allow banks to rapidly launch new services developed by third-party
                            companies and easily embed innovative solutions into their ecosystems while reducing
                            overhead costs.</p>
                        <p class="text-gray-700 mb-3">To capture the overall value of open banking solutions without
                            undermining their reliability, we at Emiri adhere to all the necessary security measures in
                            compliance with regulations such as GDPR, PSD2, among others.</p>
                    </div>
                </div>

                <div class="border-t border-b py-6">
                    <button
                        class="flex justify-between items-center w-full text-left text-2xl font-semibold text-blue-600"
                        onclick="toggleSection('section1')">
                        Core Banking services
                        <span class="text-gray-500">+</span>
                    </button>
                    <div id="section1" class="mt-2 hidden">
                        <p class="text-gray-700">Whether you want your banking software to be on-premise or cloud-based,
                            we can deliver a solution that will facilitate the key functions of your bank and drive your
                            day-to-day operations.</p>
                        <ul class="unordered">
                            <li><i class="ri-verified-badge-fill"></i> Account management</li>
                            <li><i class="ri-verified-badge-fill"></i> Currency exchange</li>
                            <li><i class="ri-verified-badge-fill"></i> Payment processing</li>
                            <li><i class="ri-verified-badge-fill"></i> Reporting tools</li>
                            <li><i class="ri-verified-badge-fill"></i> Loan management</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="/javascripts/account.js"></script>