<%- layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/helper/web.css">
    <link rel="stylesheet" href="/stylesheets/crypto.css">
    <link rel="stylesheet" href="/stylesheets/digitalres.css">
    <!-- intro section -->
    <div class="digital-hero">
        <div class="digital-texts">
            <div class=" title-1 font-bold text-5xl flex flex-col items-center justify-center gap-7">
                <div class="image-digi flex gap-3"> <img src="/images/fintech.png" class="h-12" alt=""><span>FinTech
                        software development services</span></div>
                <div class="white-r"></div>
            </div>
        </div>
    </div>

    <div class="acordion">
        <div class="forensic-dropper">
            <div class=" dropper-container zero-pad">
                <div class="acord-starter">
                    <p class="acord-2 cloud-merger corder">Elevate your FinTech operations with our tailored cloud
                        solutions. We provide customized cloud services to meet your specific needs, ensuring secure and
                        flexible implementation. Partner with us to enhance your digital transformation journey. Our
                        team of experts is dedicated to delivering top-notch cloud infrastructure. Experience seamless
                        integration and unparalleled support with our cloud solutions.</p>
                    <hr class="hrr">
                    </p>
                </div>

                <div class="merger-cloud dropper-expand flex justify-center corder text-center">
                    <h1 class="text-3xl font-bold mb-6">We Thoroughly Analyze</h1>
                </div>

                <div class="grid grid-cols-3 gap-5">
                    <div class="colo-1 block-colo space-y-6">
                        <div class="cost-padder text-xl font-medium flex flex-col items-center space-x-4">
                            <div class="cry">
                                <i class="ri-money-dollar-box-line"></i>
                                <span>Digital Banking</span>
                            </div>
                            <p class="text-sm mt-3 text-center">We develop unique crypto coin/ token working on either
                                public or private blockchain</p>
                            <button onclick="window.location.href='/crypto'" class="leader mt-4 text-sm">read
                                more</button>
                        </div>
                    </div>

                    <div class="colo-1 block-colo space-y-6">
                        <div class="cost-padder text-xl font-medium flex flex-col items-center space-x-4">
                            <div class="cry">
                                <i class="ri-exchange-funds-line"></i>
                                <span>Lending Software</span>
                            </div>
                            <p class="text-sm mt-3 text-center">To ensure well-informed loan decision-making and reduce
                                the time and costs of loan delivery</p>
                            <button onclick="window.location.href='/smart-contracts'" class="leader mt-4 text-sm">read
                                more</button>
                        </div>
                    </div>

                    <div class="colo-1 block-colo space-y-6">
                        <div class="cost-padder text-xl font-medium flex flex-col items-center space-x-4">
                            <div class="cry">
                                <i class="ri-qr-code-line"></i>
                                <span>Online Payment</span>
                            </div>
                            <p class="text-sm mt-3 text-center">At Emiri Fintech Solutions we help our clients conduct
                                business 24/7 by accepting secure and</p>
                            <button onclick="window.location.href='/nft'" class="leader mt-4 text-sm">read more</button>
                        </div>
                    </div>

                    <div class="colo-1 block-colo space-y-6">
                        <div class="cost-padder text-xl font-medium flex flex-col items-center space-x-4">
                            <div class="cry">
                                <i class="ri-shield-check-line"></i>
                                <span>Insurance Technology</span>
                            </div>
                            <p class="text-sm mt-3 text-center">Skilled in developing solutions at the junction of
                                cutting-edge technologies and finance, Emiri Fintech</p>
                            <button onclick="window.location.href='/crypto'" class="leader mt-4 text-sm">read
                                more</button>
                        </div>
                    </div>

                    <div class="colo-1 block-colo space-y-6">
                        <div class="cost-padder text-xl font-medium flex flex-col items-center space-x-4">
                            <div class="cry">
                                <i class="ri-bar-chart-line"></i>
                                <span>Investment Management</span>
                            </div>
                            <p class="text-sm mt-3 text-center">Ranging from financial institutions, real estate firms,
                                investment advisors, or individuals</p>
                            <button onclick="window.location.href='/smart-contracts'" class="leader mt-4 text-sm">read
                                more</button>
                        </div>
                    </div>

                    <div class="colo-1 block-colo space-y-6">
                        <div class="cost-padder text-xl font-medium flex flex-col items-center space-x-4">
                            <div class="cry">
                                <i class="ri-user-5-line"></i>
                                <span>Finance Management</span>
                            </div>
                            <p class="text-sm mt-3 text-center">Large technology firms have set new and higher bars for
                                customer experience. Here, at</p>
                            <button onclick="window.location.href='/nft'" class="leader mt-4 text-sm">read more</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- table of content -->
    <!-- <div class="table-content">
        <div class="content-title hide-seek text-4xl font-medium">
            <h1>Get comprehensive FinTech development services</h1>
        </div>
        <div class="content-container">
            <div class="left-column">
                <ul class="font-bold text-lg">
                    <li><a href="#" class="active" data-section="section1">Custom FinTech software<br>development</a>
                    </li>
                    <li><a href="#" data-section="section2">FinTech software support</a></li>
                    <li><a href="#" data-section="section3">FinTech consulting services</a></li>
                    <li><a href="#" data-section="section4">FinTech integration services</a></li>
                    <li><a href="#" data-section="section5">FinTech cybersecurity services</a></li>
                    <li><a href="#" data-section="section6">Banking software development</a></li>
                    <li><a href="#" data-section="section7">Insurance software development</a></li>
                    <li><a href="#" data-section="section8">Digital financial transformation</a></li>
                    <li><a href="#" data-section="section9">Blockchain software development</a></li>
                    <li><a href="#" data-section="section10">Cryptocurrency software development</a></li>
                    <li><a href="#" data-section="section11">Legacy app system modernization</a></li>
                    <li><a href="#" data-section="section12">Financial data management</a></li>
                </ul>
            </div>
            <div class="right-column" id="content">
                <div class="right-container">
                    <h2 class="font-bold text-2xl">Custom Fintech software development</h2>
                    <p class="text-lg">Innowise creates custom-built solutions for financial, banking, and
                        insurance<br>industries, bringing in 16+ years of experience in IT.</p>
                    <img src="https://diceus.com/wp-content/uploads/2023/09/og_cover_1-1.jpg" alt="$FinTech"
                        class="section-image mt-4">
                </div>
            </div>
        </div>

        <div class="response-handler">
            <div class="content-title seek-hide text-4xl font-medium">
                <h1>Get comprehensive FinTech development services</h1>
            </div>
            <div class="accordion-unique">
                <div class="accordion-item-unique">
                    <div class="accordion-title-unique" data-section="section1">
                        Custom FinTech software development
                    </div>
                    <div class="accordion-content-unique">
                        <p>Innowise creates custom-built solutions for financial, banking, and insurance industries,
                            bringing in 16+ years of experience in IT.</p>
                        <img src="https://diceus.com/wp-content/uploads/2023/09/og_cover_1-1.jpg"
                            alt="Custom FinTech software development">
                    </div>
                </div>

                <div class="accordion-item-unique">
                    <div class="accordion-title-unique" data-section="section2">
                        FinTech software support
                    </div>
                    <div class="accordion-content-unique">
                        <p>Our company provides software maintenance services to ensure its reliability, operability,
                            security, and regulation compliance.</p>
                        <img src="https://img.freepik.com/free-photo/corporate-clients-evaluating-investment-opportunity-real-estate_482257-94925.jpg"
                            alt="FinTech software support">
                    </div>
                </div>

                <div class="accordion-item-unique">
                    <div class="accordion-title-unique" data-section="section3">
                        FinTech consulting services
                    </div>
                    <div class="accordion-content-unique">
                        <p>As a leading IT advisory, Innowise offers expert guidance on navigating financial technology,
                            from market analysis to regulatory requirements and strategic planning.</p>
                        <img src="https://img.freepik.com/premium-photo/diverse-businesspeople-coworkers-standing-conference-table-analyzing-financial-graphs-paperwork_482257-7558.jpg?w=1060"
                            alt="FinTech consulting services">
                    </div>
                </div>

                <div class="accordion-item-unique">
                    <div class="accordion-title-unique" data-section="section3">
                        FinTech integration services
                    </div>
                    <div class="accordion-content-unique">
                        <p>As a leading IT advisory, Innowise offers expert guidance on navigating
                            financial<br>technology, from market analysis to regulatory requirements and
                            strategic<br>planning.</p>
                        <img src="https://img.freepik.com/premium-photo/businessman-showing-smartphone-with-pie-chart-screen-by-futuristic-designs-presenting-business-data-man-with-cellphone-introducing-new-ideas-strategies-progress_424947-5834.jpg?w=1380"
                            alt="FinTech consulting services">
                    </div>
                </div>

                <div class="accordion-item-unique">
                    <div class="accordion-title-unique" data-section="section3">
                        FinTech cybersecurity services
                    </div>
                    <div class="accordion-content-unique">
                        <p>If you need stronger data protection, we’re here to help — we can audit your
                            current<br>setup, add data encryption, and set up role-based access to keep your
                            FinTech<br>systems secure.</p>
                        <img src="https://img.freepik.com/premium-photo/financial-security-text-luminous-inscription-financial-security-concept3d-render_507676-4825.jpg?uid=R176520851&ga=GA1.1.438080985.1725988205&semt=ais_hybrid"
                            alt="FinTech consulting services">
                    </div>
                </div>

                <div class="accordion-item-unique">
                    <div class="accordion-title-unique" data-section="section3">
                        Banking software development
                    </div>
                    <div class="accordion-content-unique">
                        <p>Our A-level developers build banking software solutions that guarantee robust<br>data
                            security, compliance with regulatory standards, and accessible banking<br>services to the
                            customers.</p>
                        <img src="https://img.freepik.com/premium-photo/online-banking-digital-money-technology-conceptual_31965-19058.jpg?uid=R176520851&ga=GA1.1.438080985.1725988205&semt=ais_hybrid"
                            alt="FinTech consulting services">
                    </div>
                </div>

                <div class="accordion-item-unique">
                    <div class="accordion-title-unique" data-section="section3">
                        Insurance software development
                    </div>
                    <div class="accordion-content-unique">
                        <p>At Innowise, we develop insurance software that automates and streamlines<br>everything from
                            claims and policy management to underwriting, billing, and<br>actuarial modeling.</p>
                        <img src="https://img.freepik.com/free-psd/internet-cloud-technology-concept_53876-15432.jpg?uid=R176520851&ga=GA1.1.438080985.1725988205&semt=ais_hybrid"
                            alt="FinTech consulting services">
                    </div>
                </div>

                <div class="accordion-item-unique">
                    <div class="accordion-title-unique" data-section="section3">
                        Digital financial transformation
                    </div>
                    <div class="accordion-content-unique">
                        <p>Our skilled teams of software engineers help businesses comprehend the pros
                            of<br>digitization and embrace business transformation to step on another level
                            of<br>financial efficiency.</p>
                        <img src="https://img.freepik.com/premium-photo/rpa-financial-servicesrobotic-process-automation-banking-intelligent-automation-digital-transformation-finance-error-reduction-time-savings-financial-services_1082696-4477.jpg?w=1060"
                            alt="FinTech consulting services">
                    </div>
                </div>

                <div class="accordion-item-unique">
                    <div class="accordion-title-unique" data-section="section3">
                        Blockchain software development
                    </div>
                    <div class="accordion-content-unique">
                        <p>Our experts use blockchain to build decentralized trading and asset management<br>platforms
                            where security is unbreakable and transparency isn’t just a feature —<br>it’s the
                            foundation.</p>
                        <img src="https://img.freepik.com/free-photo/big-data-blockchain-technology-isometric-mobile-phone-data-visualization_587448-4817.jpg?uid=R176520851&ga=GA1.1.438080985.1725988205&semt=ais_hybrid"
                            alt="FinTech consulting services">
                    </div>
                </div>

                <div class="accordion-item-unique">
                    <div class="accordion-title-unique" data-section="section3">
                        Cryptocurrency software development
                    </div>
                    <div class="accordion-content-unique">
                        <p>Innowise offers top-tier crypto software development services, ensuring<br>unwavering
                            security and convenience for users to manage their digital assets.</p>
                        <img src="https://img.freepik.com/free-photo/big-data-blockchain-technology-isometric-mobile-phone-data-visualization_587448-4817.jpg?uid=R176520851&ga=GA1.1.438080985.1725988205&semt=ais_hybrid"
                            alt="FinTech consulting services">
                    </div>
                </div>

                <div class="accordion-item-unique">
                    <div class="accordion-title-unique" data-section="section3">
                        Legacy app and system modernization
                    </div>
                    <div class="accordion-content-unique">
                        <p>With our profound assistance, upgrading obsolete software and adding new<br>features to the
                            existing solutions go smoothly, with no interruptions to the<br>business.</p>
                        <img src="https://img.freepik.com/premium-photo/top-view-realistic-smartphone-screen-with-url-square-frame-shape-copy-space-black-background_1302-35617.jpg?uid=R176520851&ga=GA1.1.438080985.1725988205&semt=ais_hybrid"
                            alt="FinTech consulting services">
                    </div>
                </div>

                <div class="accordion-item-unique">
                    <div class="accordion-title-unique" data-section="section3">
                        Financial data management
                    </div>
                    <div class="accordion-content-unique">
                        <p>We help companies design secure, compliant solutions that automate the<br>collection,
                            storage, and analysis of financial information to improve risk<br>management for businesses.
                        </p>
                        <img src="https://img.freepik.com/free-photo/financial-advisor-expert-highlighting-important-terms-retirement-plan_482257-91506.jpg?uid=R176520851&ga=GA1.1.438080985.1725988205&semt=ais_hybrid"
                            alt="FinTech consulting services">
                    </div>
                </div>

            </div>

        </div>

    </div> -->

    <!-- here background overlapp -->
    <div class="nft-does cont flex items-center justify-center bg-no-repeat bg-center bg-cover bg-black bg-opacity-50"
        style="background-color: #2D2832;">
        <div class="flex flex-col items-center text-center">
            <p class="text-white text-4xl font-medium">Advanced technologies we use
            </p>
        </div>
    </div>

    <div class="acordion">
        <div class="forensic-dropper">
            <div class="dropper-container zero-pad">
                <div class="acord-starter">
                    <p class="acord-2">We leverage cutting-edge technologies to deliver innovative FinTech solutions.
                        Our expertise includes Machine Learning for predictive analytics and process automation, IoT for
                        real-time data and advanced options, and Blockchain for secure and transparent transactions.
                        These technologies enable us to create robust, scalable, and efficient financial software that
                        meets the evolving needs of our clients.</p>
                </div>

                <div class="dropper-expand flex justify-between">
                    <h1 class="text-2xl font-bold mb-6">Advanced Technologies</h1>
                    <a style="white-space: nowrap; color: #EC4899" href="#" class=" text-lg"
                        onclick="toggleAllSections(event)"><strong>Expand
                            All</strong></a>
                </div>

                <div class="border-b py-6">
                    <button style="color: #EC4899"
                        class="flex justify-between items-center w-full text-left text-xl font-semibold "
                        onclick="toggleSection('section1')">
                        Machine Learning
                        <span class="text-gray-500">+</span>
                    </button>
                    <div id="section1" class="mt-2 hidden">
                        <p class="text-gray-700 mb-3">We build ML-powered applications that support a huge variety of
                            financial software use cases with predictive analytics, algorithmic trading, process
                            automation, and more.

                            IoT in finance
                            With IoT, our Fintech developers launch innovative solutions that exceed clients’
                            expectations and offer advanced options to tackle everyday needs.

                            Cryptocurrency solutions
                            Our experts roll out sophisticated and efficient apps that make it easy and secure for users
                            to purchase, trade, and store cryptocurrencies.

                        </p>
                    </div>
                </div>

                <div class="border-b py-6">
                    <button style="color: #EC4899"
                        class="flex justify-between items-center w-full text-left text-xl font-semibold"
                        onclick="toggleSection('section2')">
                        IoT in Finance
                        <span class="text-gray-500">+</span>
                    </button>
                    <div id="section2" class="mt-2 hidden">
                        <p class="text-gray-700">With IoT, our Fintech developers launch innovative solutions that
                            exceed clients’ expectations and offer advanced options to tackle everyday needs.</p>
                    </div>
                </div>

                <div class="border-b py-6">
                    <button style="color: #EC4899"
                        class="flex justify-between items-center w-full text-left text-xl font-semibold "
                        onclick="toggleSection('section3')">
                        Cryptocurrency Solutions
                        <span class="text-gray-500">+</span>
                    </button>
                    <div id="section3" class="mt-2 hidden">
                        <p class="text-gray-700 mb-3">Our experts roll out sophisticated and efficient apps that make it
                            easy and secure for users to purchase, trade, and store cryptocurrencies.</p>
                    </div>
                </div>

                <div class="border-t border-b py-6">
                    <button style="color: #EC4899"
                        class="flex justify-between items-center w-full text-left text-xl font-semibold "
                        onclick="toggleSection('section4')">
                        Big Data in Finance
                        <span class="text-gray-500">+</span>
                    </button>
                    <div id="section4" class="mt-2 hidden">
                        <p class="text-gray-700">In BFSI, big data is key for refining anti-fraud detection along with
                            other activities. With big data development services, you can turn raw info into actionable
                            insights to protect your business.</p>
                    </div>
                </div>

                <div class="border-t border-b py-6">
                    <button style="color: #EC4899"
                        class="flex justify-between items-center w-full text-left text-xl font-semibold "
                        onclick="toggleSection('section5')">
                        FinTech Blockchain
                        <span class="text-gray-500">+</span>
                    </button>
                    <div id="section5" class="mt-2 hidden">
                        <p class="text-gray-700">Innowise creates custom blockchain solutions to reinforce data
                            security, automate transaction processes, and optimize operational efficiency for FinTech
                            ecosystems.</p>
                    </div>
                </div>

                <div class="border-t border-b py-6">
                    <button style="color: #EC4899"
                        class="flex justify-between items-center w-full text-left text-xl font-semibold "
                        onclick="toggleSection('section6')">
                        Cloud Solutions
                        <span class="text-gray-500">+</span>
                    </button>
                    <div id="section6" class="mt-2 hidden">
                        <p class="text-gray-700">We develop cloud-native FinTech applications and help transfer
                            on-premise software to the cloud to achieve better flexibility, security, and
                            cost-effectiveness.</p>
                    </div>
                </div>

                <div class="border-t border-b py-6">
                    <button style="color: #EC4899"
                        class="flex justify-between items-center w-full text-left text-xl font-semibold "
                        onclick="toggleSection('section7')">
                        Devops For FinTech
                        <span class="text-gray-500">+</span>
                    </button>
                    <div id="section7" class="mt-2 hidden">
                        <p class="text-gray-700">We at Innowise ensure development and operation teams work side by
                            side, aiming to reach fast product delivery and keep up with the latest FinTech industry
                            trends.</p>
                    </div>
                </div>

                <div class="border-t border-b py-6">
                    <button style="color: #EC4899"
                        class="flex justify-between items-center w-full text-left text-xl font-semibold "
                        onclick="toggleSection('section8')">
                        AI Financial Services
                        <span class="text-gray-500">+</span>
                    </button>
                    <div id="section8" class="mt-2 hidden">
                        <p class="text-gray-700">Innowise masters AI-based financial software to improve operational
                            performance with fraud detection systems, smart chatbots, and risk management solutions./p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="back mx-auto flex justify-around mt-6">
        <div class="para-goal w-2/3 pl-8 lg:flex flex-col justify-center sm:hidden">
            <p class="para2 text-gray-200 text-lg mb-4 pt-4 items-center"> At Emiri, we’re all about building fintech
                software solutions
                that make business life easier. From using AI to<br>speed up data processing to securing every
                transaction with blockchain, our solutions take the headache out of<br>managing finances. We help
                companies stay compliant, cut risks, and make smart decisions fast, so they can<br>focus on what really
                matters — growth and success. </p>
            <p class="para2 font-bold text-xl">Eric kabutey</p>
            <p class="para2 text-green-300">FinTech Expert at Emiri</p>
        </div>
        <img src="/images/eric.png" alt="Description of the image" class="image-sizer mx-auto mt-4">
    </div>

    <!-- This section will be outside of the .back div on small screens -->
    <div class="w-2/3 pl-8 sm:flex flex-col justify-center lg:hidden">
        <p class=" text-gray-900 text-lg mb-4 pt-4 items-center"> At Innowise, we’re all about building fintech software
            solutions
            that make business life easier. From using AI to speed up data processing to securing every
            transaction with blockchain, our solutions take the headache out of managing finances. We help
            companies stay compliant, cut risks, and make smart decisions fast, so they can focus on what really
            matters — growth and success. </p>
        <p class=" text-red-400 font-bold text-xl">Siarhei Sukhadolski</p>
        <p class=" text-gray-800">FinTech Expert at Innowise</p>
    </div>

    <!-- nav navigator -->
    <!-- <div class="nav-navigator">
        <div class="navigator-title text-4xl font-medium">
            <h1>Industries we serve</h1>
        </div>
        <div class="digital-navigator-wrapper">
            <nav class="digital-navigator flex border-b border-gray-200">
                <button
                    class="tab text-red-500 border-b-2 border-red-500 focus:outline-none font-bold text-xl">Banking</button>
                <button
                    class="tab text-gray-500 hover:text-red-500 focus:outline-none border-b-2 border-transparent font-bold text-xl">Finance</button>
                <button
                    class="tab text-gray-500 hover:text-red-500 focus:outline-none border-b-2 border-transparent font-bold text-xl">Insurance</button>
                <button style="white-space: nowrap;"
                    class="tab text-gray-500 hover:text-red-500 focus:outline-none border-b-2 border-transparent font-bold text-xl">Real
                    Estate</button>
                <button
                    class="tab text-gray-500 hover:text-red-500 focus:outline-none border-b-2 border-transparent font-bold text-xl">eCommerce</button>
                <button
                    class="tab text-gray-500 hover:text-red-500 focus:outline-none border-b-2 border-transparent font-bold text-xl">Cryptocurrency</button>
            </nav>
        </div>

        <div class="px-2 py-12 max-w-7xl">
            <div class="tab-content">
                <div class="tab-grid grid grid-cols-1 lg:grid-cols-2 justify-center">
                    <div>
                        <h1 class="text-2xl font-bold text-gray-800 mb-8">Banking</h1>
                        <p class="text-gray-600 text-lg mb-4">
                            We build core banking systems and online platforms, self-service banking apps, loan
                            management tools, and AI-powered fraud detection software to provide secure real-time
                            transactions, protect customer data, and improve operational efficiency.
                        </p>
                        <ul class="space-y-4 text-gray-800">
                            <li class="flex items-start">
                                <span class="w-2.5 h-2.5 rounded-full bg-red-500 mr-3 mt-1"></span>
                                <span>Faster transaction processing and loan approvals</span>
                            </li>
                            <li class="flex items-start">
                                <span class="w-2.5 h-2.5 rounded-full bg-red-500 mr-3 mt-1"></span>
                                <span>Enhanced customer loyalty</span>
                            </li>
                            <li class="flex items-start">
                                <span class="w-2.5 h-2.5 rounded-full bg-red-500 mr-3 mt-1"></span>
                                <span>Reduced financial losses</span>
                            </li>
                        </ul>
                    </div>

                    <div class="nav-image">
                        <img src="https://img.freepik.com/free-vector/bank-finance-infographic-template_23-2149732179.jpg?t=st=1733190669~exp=1733194269~hmac=cf1e8441a17d3b346f18fc7e881beebb11b1321a573a8e2448d5bb121bcad7e7&w=996"
                            alt="Banking" class="nav-img">
                    </div>
                </div>
            </div>


            <div class="tab-content hidden">
                <div class="tab-grid grid grid-cols-1 lg:grid-cols-2 justify-center">
                    <div>
                        <h1 class="text-2xl font-bold text-gray-800 mb-8">Finance</h1>
                        <p class="text-gray-600 text-lg mb-4">
                            We create everything from accounting platforms to investment and wealth management tools.
                            Our fintech solutions make investing a breeze with robo-advisors, simplify payments, offer
                            personalized wealth services, and level up risk management with AI.
                        </p>
                        <ul class="space-y-4 text-gray-800">
                            <li class="flex items-start">
                                <span class="w-2.5 h-2.5 rounded-full bg-red-500 mr-3 mt-1"></span>
                                <span>Improved business processes</span>
                            </li>
                            <li class="flex items-start">
                                <span class="w-2.5 h-2.5 rounded-full bg-red-500 mr-3 mt-1"></span>
                                <span>Higher operational efficiency</span>
                            </li>
                            <li class="flex items-start">
                                <span class="w-2.5 h-2.5 rounded-full bg-red-500 mr-3 mt-1"></span>
                                <span>Reduced manual errors</span>
                            </li>
                        </ul>
                    </div>

                    <div class="nav-image">
                        <img src="https://img.freepik.com/free-vector/gradient-cryptocurrency-concept_23-2149215736.jpg?t=st=1733192042~exp=1733195642~hmac=d9a20d80c94aa1d0b59f6a8281016a4bee14d615d356b3dc5e37c75205bbe598&w=996"
                            alt="Finance" class="nav-img">
                    </div>
                </div>
            </div>

            <div class="tab-content hidden">
                <div class="tab-grid grid grid-cols-1 lg:grid-cols-2 justify-center">
                    <div>
                        <h1 class="text-2xl font-bold text-gray-800 mb-8">Insurance</h1>
                        <p class="text-gray-600 text-lg mb-4">
                            Imagine having insurance systems that make life easier — our insurance automation and policy
                            management tools, AI-driven claims platforms, and smart underwriting software do just that.
                            Plus, with our IoT risk assessment tools delivering real-time data, insurers can make
                            faster, sharper decisions.
                        </p>
                        <ul class="space-y-4 text-gray-800">
                            <li class="flex items-start">
                                <span class="w-2.5 h-2.5 rounded-full bg-red-500 mr-3 mt-1"></span>
                                <span>Reduced claim processing times</span>
                            </li>
                            <li class="flex items-start">
                                <span class="w-2.5 h-2.5 rounded-full bg-red-500 mr-3 mt-1"></span>
                                <span>More accurate risk assessments</span>
                            </li>
                            <li class="flex items-start">
                                <span class="w-2.5 h-2.5 rounded-full bg-red-500 mr-3 mt-1"></span>
                                <span>Automated actuarial workflows</span>
                            </li>
                        </ul>
                    </div>

                    <div class="nav-image">
                        <img src="https://img.freepik.com/premium-photo/protection-insurance-concept-car-home-health-preventing-evaluating-potential-business-investment-benefits-life-insurance-protect-your-family-loved-ones-from-accidents_1364543-2339.jpg?w=1380"
                            alt="Insurance" class="nav-img">
                    </div>
                </div>
            </div>

            <div class="tab-content hidden">
                <div class="tab-grid grid grid-cols-1 lg:grid-cols-2 justify-center">
                    <div>
                        <h1 class="text-2xl font-bold text-gray-800 mb-8">Real Estate</h1>
                        <p class="text-gray-600 text-lg mb-4">
                            We're here to assist real estate companies on their journey to PropTech. Our Fintech
                            solutions include blockchain-based smart contracts for quicker, secure deals, digital
                            mortgage platforms for smooth loan approvals, data-backed property valuation tools, and
                            automated rent collection systems.
                        </p>
                        <ul class="space-y-4 text-gray-800">
                            <li class="flex items-start">
                                <span class="w-2.5 h-2.5 rounded-full bg-red-500 mr-3 mt-1"></span>
                                <span>Automated mortgage close and foreclosure processes</span>
                            </li>
                            <li class="flex items-start">
                                <span class="w-2.5 h-2.5 rounded-full bg-red-500 mr-3 mt-1"></span>
                                <span>More transparent property transactions</span>
                            </li>
                            <li class="flex items-start">
                                <span class="w-2.5 h-2.5 rounded-full bg-red-500 mr-3 mt-1"></span>
                                <span>Better decision-makings</span>
                            </li>
                        </ul>
                    </div>

                    <div class="nav-image">
                        <img src="https://www.adanirealty.com/-/media/project/realty/blogs/what-is-real-estate-meaning-types-characteristics.ashx"
                            alt="Real Estate" class="nav-img">
                    </div>
                </div>
            </div>

            <div class="tab-content hidden">
                <div class="tab-grid grid grid-cols-1 lg:grid-cols-2 justify-center">
                    <div>
                        <h1 class="text-2xl font-bold text-gray-800 mb-8">eCommerce</h1>
                        <p class="text-gray-600 text-lg mb-4">
                            Innowise helps eCommerce platforms tap into limitless FinTech possibilities — like BNPL
                            options for flexible payments, digital wallets for repeat business, and omnichannel payment
                            gateways for easy checkouts and improved conversion rates.
                        </p>
                        <ul class="space-y-4 text-gray-800">
                            <li class="flex items-start">
                                <span class="w-2.5 h-2.5 rounded-full bg-red-500 mr-3 mt-1"></span>
                                <span>Advanced transaction security</span>
                            </li>
                            <li class="flex items-start">
                                <span class="w-2.5 h-2.5 rounded-full bg-red-500 mr-3 mt-1"></span>
                                <span>Better payment options</span>
                            </li>
                            <li class="flex items-start">
                                <span class="w-2.5 h-2.5 rounded-full bg-red-500 mr-3 mt-1"></span>
                                <span>Increased sales</span>
                            </li>
                        </ul>
                    </div>

                    <div class="nav-image">
                        <img src="https://img.freepik.com/premium-photo/online-shopping-concept-smartphone-blue-background-ai-generation_201606-4494.jpg?w=996"
                            alt="eCommerce" class="nav-img">
                    </div>
                </div>
            </div>

            <div class="tab-content hidden">
                <div class="tab-grid grid grid-cols-1 lg:grid-cols-2 justify-center">
                    <div>
                        <h1 class="text-2xl font-bold text-gray-800 mb-8">Cryptocurrency</h1>
                        <p class="text-gray-600 text-lg mb-4">
                            We build secure crypto trading platforms, digital wallets, and tokenization systems that let
                            businesses benefit from DeFi. With smart contracts, multi-factor authentication, and
                            advanced encryption, our solutions protect your assets while delivering a seamless crypto
                            experience.
                        </p>
                        <ul class="space-y-4 text-gray-800">
                            <li class="flex items-start">
                                <span class="w-2.5 h-2.5 rounded-full bg-red-500 mr-3 mt-1"></span>
                                <span>Reduced risks with smart contracts</span>
                            </li>
                            <li class="flex items-start">
                                <span class="w-2.5 h-2.5 rounded-full bg-red-500 mr-3 mt-1"></span>
                                <span>Faster cross-border transactions</span>
                            </li>
                            <li class="flex items-start">
                                <span class="w-2.5 h-2.5 rounded-full bg-red-500 mr-3 mt-1"></span>
                                <span>Minimized risks of financial fraud</span>
                            </li>
                        </ul>
                    </div>

                    <div class="nav-image">
                        <img src="https://img.freepik.com/free-photo/bitcoin-is-new-concept-virtual-money-graphics-digital-background-coins-with-image-letter-b_169016-4596.jpg?t=st=1733193173~exp=1733196773~hmac=62823cbf2c5c6dccaf57c9f175df6d5935625e580a2c92bc76e33231302eb633&w=1060"
                            alt="Cryptocurrency" class="nav-img">
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <!-- logo carousel 1 -->
    <div class="avenger-container">
        <div id="digital-auto-slider" class="digital-logo-container flex gap-8"> <!-- Reduced gap -->
            <!-- Slides -->
            <div class="auto-slide flex-shrink-0 w-40 h-28 mx-2 text-center">
                <!-- Reduced width and height -->
                <img src="https://codersclutch.com/wp-content/uploads/2024/05/coders-logo.png"
                    alt="Best Performer Award" class="w-full h-full object-contain rounded-md opacity-45"
                    aria-label="Best Performer Award">
            </div>
            <div class="slide flex-shrink-0 w-40 h-28 mx-2 text-center"> <!-- Reduced width and height -->
                <img src="https://fintech.com/wp-content/uploads/2023/06/Fintech-Logo-no-tagline-696x696-1.png"
                    alt="Most Creative Award" class="w-full h-full object-contain rounded-md opacity-45"
                    aria-label="Most Creative Award">
            </div>
            <div class="slide flex-shrink-0 w-40 h-28 mx-2 text-center"> <!-- Reduced width and height -->
                <img src="https://www.qdb.qa/-/media/qdbapp/exports-directory/fine-posture-logo.ashx?h=1263&iar=0&w=1785&hash=73D8D798966370772A297D49D8823B29"
                    alt="Top Achievement Award" class="w-full h-full object-contain rounded-md opacity-45"
                    aria-label="Top Achievement Award">
            </div>
            <div class="slide flex-shrink-0 w-40 h-28 mx-2 text-center"> <!-- Reduced width and height -->
                <img src="https://fintech.com/wp-content/uploads/2023/06/Fintech-Logo-no-tagline-696x696-1.png"
                    alt="Leadership Award" class="w-full h-full object-contain rounded-md opacity-45"
                    aria-label="Leadership Award">
            </div>
            <div class="slide flex-shrink-0 w-40 h-28 mx-1 text-center"> <!-- Reduced width and height -->
                <img src="https://codersclutch.com/wp-content/uploads/2024/05/coders-logo.png"
                    alt="Excellence in Innovation Award" class="w-full h-full object-contain rounded-md opacity-45"
                    aria-label="Excellence in Innovation Award">
            </div>
            <div class="slide flex-shrink-0 w-40 h-28 mx-1 text-center"> <!-- Reduced width and height -->
                <img src="https://www.qdb.qa/-/media/qdbapp/exports-directory/fine-posture-logo.ashx?h=1263&iar=0&w=1785&hash=73D8D798966370772A297D49D8823B29"
                    alt="Community Service Award" class="w-full h-full object-contain rounded-md opacity-45"
                    aria-label="Community Service Award">
            </div>
        </div>

    </div>

    <!-- logo carousel 1 -->
    <div class="avenger-container">
        <div id="digital-auto-slider-2" class="digital-logo-container digital-logo-2  flex gap-8"> <!-- Reduced gap -->
            <!-- Slides -->
            <div class="auto-slide flex-shrink-0 w-40 h-28 mx-2 text-center">
                <!-- Reduced width and height -->
                <img src="https://codersclutch.com/wp-content/uploads/2024/05/coders-logo.png"
                    alt="Best Performer Award" class="w-full h-full object-contain rounded-md opacity-45"
                    aria-label="Best Performer Award">
            </div>
            <div class="slide flex-shrink-0 w-40 h-28 mx-2 text-center"> <!-- Reduced width and height -->
                <img src="https://fintech.com/wp-content/uploads/2023/06/Fintech-Logo-no-tagline-696x696-1.png"
                    alt="Most Creative Award" class="w-full h-full object-contain rounded-md opacity-45"
                    aria-label="Most Creative Award">
            </div>
            <div class="slide flex-shrink-0 w-40 h-28 mx-2 text-center"> <!-- Reduced width and height -->
                <img src="https://www.qdb.qa/-/media/qdbapp/exports-directory/fine-posture-logo.ashx?h=1263&iar=0&w=1785&hash=73D8D798966370772A297D49D8823B29"
                    alt="Top Achievement Award" class="w-full h-full object-contain rounded-md opacity-45"
                    aria-label="Top Achievement Award">
            </div>
            <div class="slide flex-shrink-0 w-40 h-28 mx-2 text-center"> <!-- Reduced width and height -->
                <img src="https://fintech.com/wp-content/uploads/2023/06/Fintech-Logo-no-tagline-696x696-1.png"
                    alt="Leadership Award" class="w-full h-full object-contain rounded-md opacity-45"
                    aria-label="Leadership Award">
            </div>
            <div class="slide flex-shrink-0 w-40 h-28 mx-1 text-center"> <!-- Reduced width and height -->
                <img src="https://codersclutch.com/wp-content/uploads/2024/05/coders-logo.png"
                    alt="Excellence in Innovation Award" class="w-full h-full object-contain rounded-md opacity-45"
                    aria-label="Excellence in Innovation Award">
            </div>
            <div class="slide flex-shrink-0 w-40 h-28 mx-1 text-center"> <!-- Reduced width and height -->
                <img src="https://www.qdb.qa/-/media/qdbapp/exports-directory/fine-posture-logo.ashx?h=1263&iar=0&w=1785&hash=73D8D798966370772A297D49D8823B29"
                    alt="Community Service Award" class="w-full h-full object-contain rounded-md opacity-45"
                    aria-label="Community Service Award">
            </div>
        </div>
    </div>

    <!-- holistic here -->
    <div class="container-main">
        <div class="titles-container">
            <h1 class="pluto font-medium text-4xl text-center text-gray-900">Our holistic approach to FinTech software
                development
                services</h1>
            <h4 class="font-medium text-xl text-center text-gray-800">Here at Innowise, we know that every stage of
                development
                counts, so we’ve built a <br> process that keeps things aligned, clear, and adaptable at every step.
            </h4>
        </div>
        <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            <div class="para-container">
                <h2 class="text-3xl text-gray-900 font-medium mb-6"><span
                        class="text-red-700 text-lg mr-2 text-center">●</span> Project scoping</h2>
                <p class="para-main text-sm leading-relaxed text-gray-700">
                    We carefully analyze client requirements and develop detailed project outlines and strategic plans
                    to keep the project aligned with key objectives.
                </p>
            </div>

            <div class="para-container">
                <h2 class="text-3xl text-gray-900 font-medium mb-6"><span
                        class="text-red-700 text-lg mr-2 text-center">●</span> Cost estimation</h2>
                <p class="para-main text-sm leading-relaxed text-gray-700">
                    Our estimates reflect the true scope of your project — taking all variables into account to keep you
                    within the budget and avoid unexpected costs.
                </p>
            </div>

            <div class="para-container">
                <h2 class="text-3xl text-gray-900 font-medium mb-6"><span
                        class="text-red-700 text-lg mr-2 text-center">●</span> Collaboration</h2>
                <p class="para-main text-sm leading-relaxed text-gray-700">
                    Clear communication is key for us. With regular updates and a proactive approach to challenges, we
                    keep you informed at every step.
                </p>
            </div>

            <div class="para-container">
                <h2 class="text-3xl text-gray-900 font-medium mb-6"><span
                        class="text-red-700 text-lg mr-2 text-center">●</span> Risk management</h2>
                <p class="para-main text-sm leading-relaxed text-gray-700">
                    Our team catches and clears roadblocks early in the process — making sure the project stays on
                    course, minimizing delays, and maintaining smooth progress.
                </p>
            </div>

            <div class="para-container">
                <h2 class="text-3xl text-gray-900 font-medium mb-6"><span
                        class="text-red-700 text-lg mr-2 text-center">●</span> Project documentation</h2>
                <p class="para-main text-sm leading-relaxed text-gray-700">
                    We prepare a wide array of documents throughout the software development lifecycle, ensuring clarity
                    and providing real-world examples for ease of reference.
                </p>
            </div>

            <div class="para-container">
                <h2 class="text-3xl text-gray-900 font-medium mb-6"><span
                        class="text-red-700 text-lg mr-2 text-center">●</span> Knowledge management</h2>
                <p class="para-main text-sm leading-relaxed text-gray-700">
                    Laying down a shared knowledge base into our processes, we bring together resources that make your
                    project more efficient and successful.
                </p>
            </div>

            <div class="para-container">
                <h2 class="text-3xl text-gray-900 font-medium mb-6"><span
                        class="text-red-700 text-lg mr-2 text-center">●</span> Reporting</h2>
                <p class="para-main text-sm leading-relaxed text-gray-700">
                    From regular project updates to detailed status reports, we’ve got you covered: you’ll never be left
                    in the dark about what’s going on with your project.
                </p>
            </div>

            <div class="para-container">
                <h2 class="text-3xl text-gray-900 font-medium mb-6"><span
                        class="text-red-700 text-lg mr-2 text-center">●</span> Post-launch warranty</h2>
                <p class="para-main text-sm leading-relaxed text-gray-700">
                    Our post-launch warranty covers critical aspects of SDLC — if any issues arise after deployment,
                    we’re here to resolve them swiftly.
                </p>
            </div>

            <div class="para-container">
                <h2 class="text-3xl text-gray-900 font-medium mb-6"><span
                        class="text-red-700 text-lg mr-2 text-center">●</span> Change request management</h2>
                <p class="para-main text-sm leading-relaxed text-gray-700">
                    We set up a smooth process to manage change requests. Our team logs them, assesses their impact and
                    gets them implemented without delay.
                </p>
            </div>

        </div>
    </div>

    <div style="background-color: #2D2832;"
        class="top-marger claire nft-does cont flex items-center justify-center bg-no-repeat bg-center bg-cover bg-opacity-50">
        <div class="flex flex-col items-center text-center">
            <p class="text-white text-4xl font-medium">How we evaluate code quality</p>
        </div>
    </div>

    <div class="acordion">
        <div class="forensic-dropper">
            <div class=" dropper-container zero-pad">
                <!-- <div class="acord-starter">
                    <h1 class="text-2xl text-center mb-5">White label cryptocurrency exchange software solutions</h1>
                    <p class="acord-2 corder">Emiri Fintech develops all types of cryptocurrency exchange software for
                        customers from The Gambia, Africa, and beyond. Our company can assist you in creating and
                        launching custom crypto exchanges for specific business projects, as well as providing
                        white-label crypto solutions.</p>
                </div> -->
                <div class=" util-grid grid grid-cols-1 md:grid-cols-3 cryptol-gapper">
                    <div class="util-grid-item golbat">
                        <h3 class="util-grid-item-title font-semibold">Code rules and guidelines</h3>
                        <p class="util-grid-item-description">We keep our code clean and consistent, using clear names
                            and breaking it down into reusable pieces. Plus, we also have a rigorous testing process to
                            catch any bugs early on.</p>
                    </div>

                    <div class="util-grid-item golbat">
                        <h3 class="util-grid-item-title font-semibold">Code documentation</h3>
                        <p class="util-grid-item-description">We believe in crystal-clear communication.That’s why we
                            provide easy-to-follow guides, tutorials, and in-depth explanations for every part of the
                            code. We simplify every component.</p>
                    </div>

                    <div class="util-grid-item golbat">
                        <h3 class="util-grid-item-title font-semibold"> Code review practices</h3>
                        <p class="util-grid-item-description">Our rigorous, multi-layered testing process is designed to
                            guarantee that every solution we deliver meets the highest standards of quality,
                            reliability, performance, and scalability.</p>
                    </div>

                    <div class="util-grid-item golbat">
                        <h3 class="util-grid-item-title font-semibold">Detail planning</h3>
                        <p class="util-grid-item-description">Before we dive into coding, we map out a clear path to
                            your project’s goals. We consider every detail, from project milestones to potential risks,
                            to ensure a smooth development process.</p>
                    </div>

                    <div class="util-grid-item golbat">
                        <h3 class="util-grid-item-title font-semibold">Rigorous testing</h3>
                        <p class="util-grid-item-description">We’re strict with our coding guidelines — no cutting
                            corners. We integrate testing before the ink is dry on the first line of code and maintain
                            consistent communication between teams.</p>
                    </div>

                    <div class="util-grid-item golbat">
                        <h3 class="util-grid-item-title font-semibold">Continious maintainance</h3>
                        <p class="util-grid-item-description">Our commitment goes beyond launch — we provide in-depth
                            test reports and keep the software running smoothly with ongoing support through CI/CD
                            pipelines and others.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- milestones -->

    <h1 class=" text-center mile-title text-3xl">
        Get your project done at your convenient pace
    </h1>
    <ol class="grid mb-10 grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-4 gap-6 mt-6 oxford">
        <li class="relative mb-6">
            <div class="flex items-center">
                <div
                    class="z-10 flex items-center justify-center w-6 h-6 bg-red-500 rounded-full ring-0 ring-white dark:ring-gray-900 shrink-0">
                </div>
                <div class="hidden lg:flex w-full bg-red-500 h-0.5 dark:bg-gray-700"></div>
            </div>
            <div class="mt-3">
                <h3 class="text-2xl font-semibold text-gray-900 dark:text-white mb-6">Manager assignment</h3>
                <h4 class="text-xl font-medium text-red-700 mb-6">1-2 hours</h4>
                <p class="text-base font-normal text-gray-600 dark:text-gray-400">Once you send in your request, we’ll
                    quickly get a dedicated sales manager on board. They’ll be your main point of contact, ready to
                    clear up any questions.</p>
            </div>
        </li>

        <li class="relative mb-6">
            <div class="flex items-center">
                <div
                    class="z-10 flex items-center justify-center w-6 h-6 bg-red-400 rounded-full ring-0 ring-white dark:ring-gray-900 shrink-0">
                </div>
                <div class="hidden lg:flex w-full bg-red-400 h-0.5 dark:bg-gray-700"></div>
            </div>
            <div class="mt-3">
                <h3 class="text-2xl font-semibold text-gray-900 dark:text-white mb-6">Resume screening
                </h3>
                <h4 class="text-xl font-medium text-red-700 mb-6">1-2 days</h4>
                <p class="text-base font-normal text-gray-600 dark:text-gray-400">We’ll filter through candidates with
                    the right FinTech expertise and send their resumes for you to review and approve.</p>
            </div>
        </li>

        <li class="relative mb-6">
            <div class="flex items-center">
                <div
                    class="z-10 flex items-center justify-center w-6 h-6 bg-red-300 rounded-full ring-0 ring-white dark:ring-gray-900 shrink-0">
                </div>
                <div class="hidden lg:flex w-full bg-red-300 h-0.5 dark:bg-gray-700"></div>
            </div>
            <div class="mt-3">
                <h3 class="text-2xl font-semibold text-gray-900 dark:text-white mb-6">Interview setup</h3>
                <h4 class="text-xl font-medium text-red-700 mb-6">(optional on request)</h4>
                <p class="text-base font-normal text-gray-600 dark:text-gray-400">If you want, we can arrange interviews
                    with the candidates that catch your eye and make sure you find the perfect match for your project.
                </p>
            </div>
        </li>
        <li class="relative mb-6">
            <div class="flex items-center">
                <div
                    class="z-10 flex items-center justify-center w-6 h-6 bg-red-200 rounded-full ring-0 ring-white dark:ring-gray-900 shrink-0">
                </div>
                <div class="hidden lg:flex w-full bg-red-200 h-0.5 dark:bg-gray-700"></div>
            </div>
            <div class="mt-3">
                <h3 class="text-2xl font-semibold text-gray-900 dark:text-white mb-6">Team assembly</h3>
                <h4 class="text-xl font-medium text-red-700 mb-6">1-2 weeks</h4>
                <p class="text-base font-normal text-gray-600 dark:text-gray-400">We’ll assemble a full project team
                    with the perfect blend of skills and experience to kick off the work.</p>
            </div>
        </li>

        <li class="relative mb-6">
            <div class="flex items-center">
                <div
                    class="z-10 flex items-center justify-center w-6 h-6 bg-purple-200 rounded-full ring-0 ring-white dark:ring-gray-900 shrink-0">
                </div>
                <div class="hidden lg:flex w-full bg-purple-200 h-0.5 dark:bg-gray-700"></div>
            </div>
            <div class="mt-3">
                <h3 class="text-2xl font-semibold text-gray-900 dark:text-white mb-6">MVP development</h3>
                <h4 class="text-xl font-medium text-red-700 mb-6">2-3 months</h4>
                <p class="text-base font-normal text-gray-600 dark:text-gray-400">We’ll design, build, and launch your
                    MVP, ensuring it meets the core requirements of your FinTech solution.</p>
            </div>
        </li>
        <li class="relative mb-6">
            <div class="flex items-center">
                <div
                    class="z-10 flex items-center justify-center w-6 h-6 bg-purple-300 rounded-full ring-0 ring-white dark:ring-gray-900 shrink-0">
                </div>
                <div class="hidden lg:flex w-full bg-purple-300 h-0.5 dark:bg-gray-700"></div>
            </div>
            <div class="mt-3">
                <h3 class="text-2xl font-semibold text-gray-900 dark:text-white mb-6">Full development</h3>
                <h4 class="text-xl font-medium text-red-700 mb-6">3-12 months</h4>
                <p class="text-base font-normal text-gray-600 dark:text-gray-400">We’ll develop a complete FinTech
                    solution that is custom-made to meet your exact specifications.</p>
            </div>
        </li>
        <li class="relative mb-6">
            <div class="flex items-center">
                <div
                    class="z-10 flex items-center justify-center w-6 h-6 bg-purple-500 rounded-full ring-0 ring-white dark:ring-gray-900 shrink-0">
                </div>
                <div class="hidden lg:flex w-full bg-purple-500 h-0.5 dark:bg-gray-700"></div>
            </div>
            <div class="mt-3">
                <h3 class="text-2xl font-semibold text-gray-900 dark:text-white mb-6">Continuous support
                </h3>
                <h4 class="text-xl font-medium text-red-700 mb-6">Lifetime</h4>
                <p class="text-base font-normal text-gray-600 dark:text-gray-400">Our team will be right there with you
                    — keeping your FinTech solution running smoothly, fixing issues, and rolling out updates.</p>
            </div>
        </li>

    </ol>

    <!-- service option -->
    <h1 class=" text-center mile-title text-3xl">
        Choose your Service Option
    </h1>

    <div class="flex sercic justify-center mx-4 mb-8">
        <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3  gap-5 w-full max-w-screen-xl">
            <!-- Card 1 -->
            <div class="dev bg-white p-8 relative h-[530px] border border-black group overflow-hidden">
                <h2 class="pluto-4 title text-2xl font-bold mb-4 transition-colors duration-500 z-10">
                    Leverage FinTech expertise
                </h2>
                <p class="description transition-opacity duration-500 z-10">
                    Our developers are here to take care of your entire FinTech project or help out with specific parts.
                    They'll blend right into your team and fill the skill gaps.
                </p>
                <div class="absolute bottom-4 left-1/2 transform -translate-x-1/2 z-10">
                    <button style="white-space: nowrap;"
                        class="bg-red-500 hover:bg-red-700 text-white font-bold py-3 px-6 min-w-[250px]">
                        Request staff augmentation
                    </button>
                </div>

                <!-- Dark blur overlay -->
                <div
                    class="dark-overlay absolute inset-0 bg-black/70 opacity-0 group-hover:opacity-100 transition-opacity duration-500">
                </div>
            </div>

            <!-- Card 2 -->
            <div class="dev bg-white p-8 relative h-[530px] border border-black group overflow-hidden">
                <h2 class="pluto-4 title text-2xl font-bold mb-4 transition-colors duration-500 z-10">
                    Hire a dedicated FinTech expert team
                </h2>
                <p class="description transition-opacity duration-500 z-10">
                    Our FinTech team is ready to roll the moment you say "go". We handle any task thrown at us – no
                    matter how challenging – with your managers at the helm.
                </p>
                <div class="absolute bottom-4 left-1/2 transform -translate-x-1/2 z-10">
                    <button style="white-space: nowrap;"
                        class="bg-red-500 hover:bg-red-700 text-white font-bold py-3 px-6 min-w-[250px]">
                        Request a dedicated team
                    </button>
                </div>

                <!-- Dark blur overlay -->
                <div
                    class="dark-overlay absolute inset-0 bg-black/70 opacity-0 group-hover:opacity-100 transition-opacity duration-500">
                </div>
            </div>

            <!-- Card 3 -->
            <div class="dev bg-white p-8 relative h-[530px] border border-black group overflow-hidden">
                <h2 class="pluto-4 title text-2xl font-bold mb-4 transition-colors duration-500 z-10">
                    Let us handle your FinTech project
                </h2>
                <p class="description transition-opacity duration-500 z-10">
                    Let us take care of your project. From setup to optimization, we've got everything under control.
                    You can focus on your business while we handle the tech details.
                </p>
                <div class="absolute bottom-4 left-1/2 transform -translate-x-1/2 z-10">
                    <button style="white-space: nowrap;"
                        class="bg-red-500 hover:bg-red-700 text-white font-bold py-3 px-6 min-w-[250px]">
                        Request project outsourcing
                    </button>
                </div>

                <!-- Dark blur overlay -->
                <div
                    class="dark-overlay absolute inset-0 bg-black/70 opacity-0 group-hover:opacity-100 transition-opacity duration-500">
                </div>
            </div>
        </div>
    </div>

    <!-- contact-us -->
    <div class="final-ngt flex justify-center items-center">
        <div class="nft-final digital-ngt nft-white antuan w-full h-full flex flex-col lg:flex-row mb-8">
            <!-- Left Section  -->
            <div class="w-full lg:w-1/2 p-8 flex flex-col justify-center">
                <h2 class="pluto-1  font-medium text-5xl mb-8">Contact us!</h2>
                <p class="text-xl text-gray-800 mb-6"><span class="text-red-700 underline"><a href="#">Book a
                            call</a></span> or fill out the form below and we’ll get back <br> to you once we’ve
                    processed
                    your request.</p>

                <form class="w-full">
                    <!-- Phone and Subject Fields -->
                    <div class="grid md:grid-cols-2 md:gap-6">
                        <div class="relative z-0 w-full mb-5 group">
                            <input type="text" name="floating_first_phone" id="floating_first_phone"
                                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                                placeholder=" " required />
                            <label for="floating_first_phone"
                                class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">First
                                Name</label>
                        </div>
                        <div class="relative z-0 w-full mb-5 group">
                            <input type="text" name="floating_last_subject" id="floating_last_subject"
                                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                                placeholder=" " required />
                            <label for="floating_last_subject"
                                class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Last
                                Company</label>
                        </div>
                    </div>

                    <!-- Phone and Subject Fields -->
                    <div class="grid md:grid-cols-2 md:gap-6">
                        <div class="relative z-0 w-full mb-5 group">
                            <input type="number" name="floating_first_phone" id="floating_first_phone"
                                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                                placeholder=" " required />
                            <label for="floating_first_phone"
                                class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">First
                                Corporate email</label>
                        </div>
                        <div class="relative z-0 w-full mb-5 group">
                            <input type="text" name="floating_last_subject" id="floating_last_subject"
                                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                                placeholder=" " required />
                            <label for="floating_last_subject"
                                class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Last
                                Phone</label>
                        </div>
                    </div>


                    <!-- Description Field -->
                    <div class="relative z-0 w-full mb-5 group">
                        <input type="text" name="floating_description" id="floating_description"
                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" " required />
                        <label for="floating_description"
                            class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Description</label>
                    </div>

                    <!-- Action Buttons -->
                    <div class="flex flex-col justify-center items-center">
                        <div class="flex flex-col lg:flex-row gap-4 w-full">
                            <!-- Record Message Button -->
                            <div
                                class="flex flex-col items-center border border-gray-300 rounded-md p-4 w-full lg:w-1/2">
                                <p class="text-sm text-gray-500 text-center  font-medium mb-2">Record a voice message
                                    about your project to help us
                                    understand it better</p>
                                <button
                                    class="border border-red-500 hover:bg-gray-100 text-red-500 font-bold py-2 px-4 rounded flex items-center justify-center gap-2">
                                    <i class="ri-mic-2-line text-xl"></i>
                                    Record a voice message
                                </button>
                            </div>

                            <!-- Attach Documents Button -->
                            <div
                                class="flex flex-col items-center border border-gray-300 rounded-md p-4 w-full lg:w-1/2">
                                <p class="text-sm font-medium mb-2 text-center text-gray-500 ">Attach additional
                                    documents as needed</p>
                                <button
                                    class="attacher border lg:mt-3 border-red-500 hover:bg-gray-100 text-red-500 font-bold py-2 px-4 rounded flex items-center justify-center gap-2">
                                    <i class="ri-file-2-line text-xl"></i>
                                    Attach documents
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- Legal Notice -->
                    <p class="text-sm text-gray-500 mt-4">Please be informed that when you click the Send button, we
                        will process your personal data in accordance with our <span class="text-black font-medium"> <a
                                href="#">Privacy Policy</a> </span>and Terms and Conditions.</p>

                    <!-- Full-Width Send Button -->
                    <button type="submit"
                        class="mt-4 w-full bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded">
                        Send
                    </button>
                </form>

            </div>

            <!-- Right Section -->
            <div class="w-full lg:w-1/2 flex justify-center items-center">
                <!-- statistic -->
                <div class="next-container">
                    <div class="next-title">What happens next?</div>
                    <div class="next-step">
                        <div class="next-step-number">1</div>
                        <div class="next-step-content">Once we’ve received and processed your request, we’ll <br> get
                            back to you to
                            detail your project needs and sign <br>an NDA to ensure confidentiality.</div>
                    </div>
                    <div class="next-step">
                        <div class="next-step-number">2</div>
                        <div class="next-step-content">After examining your wants, needs, and expectations, <br> our
                            team will devise
                            a project proposal with the scope <br> of work, team size, time, and cost estimates.</div>
                    </div>
                    <div class="next-step">
                        <div class="next-step-number">3</div>
                        <div class="next-step-content">We’ll arrange a meeting with you to discuss the offer <br> and
                            nail down the
                            details.</div>
                    </div>
                    <div class="next-step">
                        <div class="next-step-number">4</div>
                        <div class="next-step-content">Finally, we’ll sign a contract and start working on <br> your
                            project right
                            away.</div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
    // Slider 1: digital-auto-slider-2 (Moving to the right)
    const slider2 = document.getElementById("digital-auto-slider-2");
    const slider2Children = [...slider2.children];

    slider2Children.forEach((child) => {
        const clone = child.cloneNode(true);
        slider2.appendChild(clone);
    });

    let scrollAmount2 = 0;

    function scrollSlider2() {
        scrollAmount2 -= 1; // Moving to the right
        if (Math.abs(scrollAmount2) >= slider2Children[0].offsetWidth) {
            scrollAmount2 = 0;
            slider2.appendChild(slider2.children[0]);
        }
        slider2.style.transform = `translateX(${scrollAmount2}px)`;
        requestAnimationFrame(scrollSlider2);
    }

    scrollSlider2();

    // Slider 2: digital-auto-slider (Moving to the left)
    const slider1 = document.getElementById("digital-auto-slider");
    const slider1Children = [...slider1.children];

    slider1Children.forEach((child) => {
        const clone = child.cloneNode(true);
        slider1.appendChild(clone);
    });

    let scrollAmount1 = 0;

    function scrollSlider1() {
        scrollAmount1 += 1; // Moving to the left
        if (scrollAmount1 >= slider1Children[0].offsetWidth) {
            scrollAmount1 = 0;
            slider1.insertBefore(slider1.children[slider1.children.length - 1], slider1.children[0]);
        }
        slider1.style.transform = `translateX(${scrollAmount1}px)`;
        requestAnimationFrame(scrollSlider1);
    }

    scrollSlider1();
});

    </script>

    <!-- <script src="/javascripts/digital.js"></script> -->