<%- layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/eco.css">
    <link rel="stylesheet" href="/stylesheets/ecores.css">

    <!-- eco hero -->
    <main class="eco-hero-container">
        <div class="eco-hero-content">
            <p class="eco-hero-content-title">Taurus technology <span>Partner Ecosystem</span></p>
            <p class="eco-hero-content-paragraph">The Taurus technology Partner Ecosystem is a trusted network of
                technology and solution providers enabling you to tap into the full power of Taurus by accelerating
             its activation and operational efficiency.
            </p>
            <button class="eco-hero-content-button font-semibold">CONTACT US</button>
        </div>
        <div class="eco-hero-image-container">
            <img class="eco-hero-image" src="https://www.taurushq.com/img/ecosystem/hero_sign.svg" alt="Hero Image">
        </div>
    </main>

    <!-- Thorne section -->
    <div class="thorner flex items-center justify-center">
        <div class="thorne-section-container">
            <div class="thorne-column thorne-column-1">
                <p class="thorne-title">CORE BANKING</p>
                <p class="thorne-description">The Taurus platform is compatible with any core banking system and in
                    production with more than 10 of them Taurus platform. or hybrid deployment</p>
                <div class="thorne-logos">
                    <img src="https://www.taurushq.com/img/logotypes/logo-temenos-original.svg" alt="Logo 1"
                        class="thorne-logo">
                    <img src="https://www.taurushq.com/img/ecosystem/logo-avalog.svg" alt="Logo 2" class="thorne-logo">
                    <img src="https://www.taurushq.com/img/ecosystem/logo-finstar.svg" alt="Logo 3" class="thorne-logo">
                    <img src="https://www.taurushq.com/img/ecosystem/logo-bvb.webp" alt="Logo 4" class="thorne-logo">
                    <img src="https://www.taurushq.com/img/ecosystem/logo-finnova.svg" alt="Logo 5" class="thorne-logo">
                    <img src="https://www.taurushq.com/img/ecosystem/logo-lombard.svg" alt="Logo 6" class="thorne-logo">
                </div>
            </div>

            <div class="thorne-column thorne-column-2 flex flex-col items-end">
                <p class="thorne-title">CLOUD PROVIDERS</p>
                <p class="thorne-description text-right">Partnerships in place with top cloud providers to accelerate the integration of Taurus' platform (SaaS managed services or hybrid deployment)</p>
                <div class="thorne-logos thorne-logo-2 flex  justify-end">
                    <img src="https://www.taurushq.com/img/ecosystem/logo-azure.svg" alt="Logo 10" class="thorne-logo">
                    <img src="https://www.taurushq.com/img/ecosystem/logo-googlecloud.svg" alt="Logo 11"
                        class="thorne-logo">
                    <img src="https://www.taurushq.com/img/ecosystem/logo-aws.svg" alt="Logo 12" class="thorne-logo">
                    <img src="https://www.taurushq.com/img/ecosystem/logo-exoscale.svg" alt="Logo 13"
                        class="thorne-logo">
                    <img src="https://www.taurushq.com/img/ecosystem/logo-ibmcloud.svg" alt="Logo 14"
                        class="thorne-logo">
                    <img src="https://www.taurushq.com/img/ecosystem/logo-vshn.webp" alt="Logo 15" class="thorne-logo">
                </div>
            </div>
        </div>
    </div>

    <!-- academia section -->
    <div class="thorner flex items-center justify-center">
        <div class=" academia thorne-section-container">
            <div class="thorne-column thorne-column-1">
                <p class="thorne-title">RESEARCH & ACADEMIA</p>
                <p class="thorne-description">The Taurus platform is compatible with any core banking system and in
                    production with more than 10 of them Taurus platform. or hybrid deployment</p>
                <div class="thorne-logos">
                    <img src="https://www.taurushq.com/img/ecosystem/logo-epfl.svg" alt="Logo 1" class="thorne-logo">
                    <img src="https://www.taurushq.com/img/ecosystem/logo-ucl.svg" alt="Logo 2" class="thorne-logo">
                    <img src="https://www.taurushq.com/img/ecosystem/logo-hes.svg" alt="Logo 3" class="thorne-logo">
                    <img src="https://www.taurushq.com/img/ecosystem/logo-c4dt.svg" alt="Logo 4" class="thorne-logo">
                    <img src="https://www.taurushq.com/img/ecosystem/logo-elca.svg" alt="Logo 5" class="thorne-logo">
                    <img src="https://www.taurushq.com/img/ecosystem/logo_ekkiden.webp" alt="Logo 6"
                        class="thorne-logo">
                </div>
            </div>

            <div class="thorne-column thorne-column-2 flex flex-col items-end">
                <p class="thorne-title">ASSOCIATIONS</p>
                <p class="thorne-description text-right">Partnerships in place with top cloud providers to accelerate the integration of Taurus' platform (SaaS managed services or hybrid deployment)</p>
                <div class="thorne-logos thorne-logo-2 flex  justify-end">
                    <img src="https://www.taurushq.com/img/ecosystem/logo_cmta.webp" alt="Logo 10" class="thorne-logo">
                    <img src="https://www.taurushq.com/img/ecosystem/logo_eea.webp" alt="Logo 11" class="thorne-logo">
                    <img src="https://www.taurushq.com/img/ecosystem/logo_mpca.webp" alt="Logo 12" class="thorne-logo">
                    <img src="https://www.taurushq.com/img/ecosystem/logo-thales.webp" alt="Logo 13"
                        class="thorne-logo">
                    <img src="https://www.taurushq.com/img/ecosystem/logo-master.svg" alt="Logo 14" class="thorne-logo">
                    <img src="https://www.taurushq.com/img/ecosystem/logo-avalog.svg" alt="Logo 15" class="thorne-logo">
                </div>
            </div>
        </div>
    </div>

    <!-- become a partner -->
    <div class="partner-container">
        <div class="partner-text">
            <p class="partner-heading">Become a Partner</p>
            <p class="partner-subheading">Collaborate with us to build the digital asset economy</p>    
        </div>
        <button class="partner-button eco-hero-content-button font-semibold">CONTACT US</button>

    </div>
