<%- layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/gcr.css">

    <div class="digital-hero">
        <div class="digital-texts">
            <div class=" title-1 font-bold text-5xl flex flex-row gap-7"><span class="fraud"><i
                        class="ri-pass-pending-fill"></i> GCR & Anti Fraud</div>
        </div>
    </div>

    <div class="acordion">
        <div class="forensic-dropper">
            <div class="dropper-container zero-pad">
                <div class="acord-starter">
                    <p class="acord-2">AWith the ever-evolving landscape of risks and fraud, businesses need like yours
                        need an experienced partner to ensure you are always one step ahead. Whether you are looking to
                        streamline your compliance processes or safeguard your company from fraud, [Emiri Fintech is
                        here to help.</p>
                </div>
                <div class="cost-boxes cost-boxex">
                    <div class="grid grid-cols-2 gap-8">
                        <!-- First Row -->
                        <div class="cost-padder text-xl font-medium flex items-center space-x-4">
                            <i class="ri-shield-check-fill"></i>
                            <span class="font-semibold">Biometric Authentication</span>
                        </div>
                        <!-- Second Row -->
                        <div class="cost-padder text-xl font-medium flex items-center space-x-4">
                            <i class="ri-award-fill"></i>
                            <span class=" font-semibold">Data Analytics & AI</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="gena-container p-4" style="max-width: 100%;">
        <h1 class="gena-title text-3xl font-semibold">Our GCR Services Include</h1>
        <div class="mx-auto greggo grid grid-cols-1 lg:grid-cols-2 gap-3 ">
            <!-- Accordion Column -->
            <div class="gena-pad">
                <div class="border-b-bo py-6">
                    <button class="flex justify-between items-center w-full text-left text-xl font-normal text-blue-600"
                        onclick="toggleSection('section2')">
                        Audit and Reporting
                        <span class="text-gray-500">+</span>
                    </button>
                    <div id="section2" class="mt-2 hidden">
                        <p class="text-gray-700"> Ensure your business is on track with periodic audits and compliance reviews. Our comprehensive reporting gives you the transparency needed to make informed decisions and demonstrate adherence to relevant regulations.
                        </p>
                    </div>
                </div>

                <div class="border-b-bo py-6">
                    <button class="flex justify-between items-center w-full text-left text-xl font-normal text-blue-600"
                        onclick="toggleSection('section3')">
                        Regulatory Compliance
                        <span class="text-gray-500">+</span>
                    </button>
                    <div id="section3" class="mt-2 hidden">
                        <p class="text-gray-700">Stay compliant with evolving laws and regulations worldwide. Our team monitors local and international regulations, ensuring that your business adheres to all necessary guidelines — from GDPR and data privacy laws to industry-specific standards.
                        </p>
                    </div>
                </div>

                <div class="border-b-bo py-6">
                    <button class="flex justify-between items-center w-full text-left text-xl font-normal text-blue-600"
                        onclick="toggleSection('section4')">
                        Third Party Risk Management
                        <span class="text-gray-500">+</span>
                    </button>
                    <div id="section4" class="mt-2 hidden">
                        <p class="text-gray-700">Today’s businesses are interconnected, but third-party vendors, partners, and contractors can introduce risks. We help you evaluate, monitor, and manage third-party relationships to minimize exposure to risk.
                        </p>
                    </div>
                </div>
                <div class="border-b-bo py-6">
                    <button class="flex justify-between items-center w-full text-left text-xl font-normal text-blue-600"
                        onclick="toggleSection('section5')">

                        Risk Assessment and Mitigation
                        <span class="text-gray-500">+</span>
                    </button>
                    <div id="section5" class="mt-2 hidden">
                        <p class="text-gray-700">We conduct in-depth risk assessments to identify potential vulnerabilities in your processes and systems. From financial risks to cybersecurity threats, we provide tailored mitigation strategies to protect your business.
                        </p>
                    </div>
                </div>
                <div class="border-b-bo py-6">
                    <button class="flex justify-between items-center w-full text-left text-xl font-normal text-blue-600"
                        onclick="toggleSection('section6')">
                        Incident Response and Crisis Management
                        <span class="text-gray-500">+</span>
                    </button>
                    <div id="section6" class="mt-2 hidden">
                        <p class="text-gray-700">In the event of a security breach or compliance issue, our experts are ready to respond swiftly, investigate the root cause, and develop a recovery plan. Our crisis management service ensures that your reputation and operations remain intact during times of uncertainty.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Image Column -->
            <div class="flex justify-center">
                <img src="https://media.istockphoto.com/id/585806700/photo/fraud-prevention-button-concept-about-cybersecurity-and-credit-card-protection.jpg?s=612x612&w=0&k=20&c=QKfZ5jue39f02Q0FCouH_0_XwAou-3KClBEWbuaWK_4="
                    alt="Placeholder Image" class="gena-image rounded-md shadow-md">
            </div>
        </div>
    </div>

    <div class="gena-container gena-cont-2 p-4" style="max-width: 100%;">
        <h1 class="gena-title text-3xl font-semibold">Our Anti Fraud Services Include</h1>
        <div class="mx-auto greggo greggo-2 grid grid-cols-1 lg:grid-cols-2 gap-3 ">
            <!-- Image Column -->
            <div class="flex justify-center">
                <img src="https://media.istockphoto.com/id/585806700/photo/fraud-prevention-button-concept-about-cybersecurity-and-credit-card-protection.jpg?s=612x612&w=0&k=20&c=QKfZ5jue39f02Q0FCouH_0_XwAou-3KClBEWbuaWK_4="
                    alt="Placeholder Image" class="gena-image gemi-image rounded-md shadow-md">
            </div>


            <!-- Accordion Column -->
            <div class="gena-pad">
                <div class="border-b-bo py-6">
                    <button class="flex justify-between items-center w-full text-left text-xl font-normal text-blue-600"
                        onclick="toggleSection('section8')">
                        Fraud Detection Systems
                        <span class="text-gray-500">+</span>
                    </button>
                    <div id="section8" class="mt-2 hidden">
                        <p class="text-gray-700">Using cutting-edge technology and AI-powered tools, we continuously monitor transactions and business activities to identify any signs of fraudulent behavior. Our systems flag suspicious activities in real-time, reducing the chance of significant fraud exposure.
                        </p>
                    </div>
                </div>

                <div class="border-b-bo py-6">
                    <button class="flex justify-between items-center w-full text-left text-xl font-normal text-blue-600"
                        onclick="toggleSection('section7')">
                        Employee Fraud Prevention
                        <span class="text-gray-500">+</span>
                    </button>
                    <div id="section7" class="mt-2 hidden">
                        <p class="text-gray-700">We help clients investigate and respond to allegations of accounting
                            and
                            financial reporting (GAAP) fraud, as well as underlying model errors, breaches of fiduciary
                            obligations, money laundering, embezzlement, white-collar crimes, and other acts of
                            misconduct
                            or non-compliance that may give rise to financial statement misstatements and create
                            financial
                            reporting fraud risks.</p>
                    </div>
                </div>

                <div class="border-b-bo py-6">
                    <button class="flex justify-between items-center w-full text-left text-xl font-normal text-blue-600"
                        onclick="toggleSection('section9')">

                        Incident Response & Forensic Analysis
                        <span class="text-gray-500">+</span>
                    </button>
                    <div id="section9" class="mt-2 hidden">
                        <p class="text-gray-700"> If a fraud incident occurs, our team is ready to jump into action. We provide forensic analysis to trace the source of the fraud and support you through the investigation, recovery, and any legal processes that may follow.

                        </p>
                    </div>
                </div>
                <div class="border-b-bo py-6">
                    <button class="flex justify-between items-center w-full text-left text-xl font-normal text-blue-600"
                        onclick="toggleSection('section12')">
                        Identity and Access Management (IAM)
                        <span class="text-gray-500">+</span>
                    </button>
                    <div id="section12" class="mt-2 hidden">
                        <p class="text-gray-700">Safeguard your organization by ensuring that only authorized individuals have access to sensitive systems and data. Our IAM services help you enforce secure authentication protocols, monitor user activity, and prevent unauthorized access.
                        </p>
                    </div>
                </div>
                <div class="border-b-bo py-6">
                    <button class="flex justify-between items-center w-full text-left text-xl font-normal text-blue-600"
                        onclick="toggleSection('section10')">
                        Compliance with Anti-Fraud Regulations
                        <span class="text-gray-500">+</span>
                    </button>
                    <div id="section10" class="mt-2 hidden">
                        <p class="text-gray-700">We ensure that your company meets the necessary anti-fraud regulatory requirements, such as the *Fraud Prevention Act* and *Sarbanes-Oxley Act*, helping you avoid legal complications and penalties.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="grayon w-full flex justify-center items-center">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 p-4">
            <div class="hugs text-justify">
                <h1 class="text-2xl text-gray-900 text-justify font-bold leading-relaxed">Our Authorized Partner</h1>
                <p class="text-md text-gray-700 leading-relaxed text-center text-justify">Visit Coders Clutch to explore more about our GCR and anti fraud services</p>
                <div class="visitor-hour">
                    <a class="visitor font-semibold text-lg" href="#">Visit</a>
                </div>
            </div>

            <div class="men flex flex-row items-center justify-center md:mt-6">
                <div class="circle flex flex-col items-center justify-center">
                    <i class="ri-message-2-line text-3xl"></i>
                    <a href="#" class="font-medium">Book free consultation</a>
                </div>
                <div class="circle flex flex-col items-center justify-center">
                    <img src="https://img.freepik.com/premium-photo/happy-black-man-arms-crossed-office-portrait-corporate-motivation-company-about-us-profile-picture-smile-confident-mature-management-person-success-mindset-ceo-introduction_590464-171650.jpg?ga=GA1.1.1951979353.1732287376&semt=ais_hybrid"
                        alt="" class="h-3 w-3">
                    <p style="color: #333;" class="font-medium">Chintan Gor</p>
                    <p style="color: #333;">CTO, eSparkBiz</p>
                </div>
            </div>

        </div>
    </div>

    <script src="/javascripts/account.js"></script>
    <script src="/javascripts/grc.js"></script>