<%- layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/getting-started.css">
    <link rel="stylesheet" href="/stylesheets/getting-started-res.css">
    <link rel="stylesheet" href="/stylesheets/homeres.css">

    <!-- starting hero -->
    <main class="starting-hero">
        <div class="starting-content">
            <p class="starting-title font-thin">Modular platform</p>
            <p class="starting-title starting-color font-thin">End-to-end products</p>
            <p class="font-thin starter-dec">Capture any digital asset opportunity with a suite of
                products<br>integrated in one unified platform, multi-blockchain.</p>
            <div class="start-button">
                <button class="font-semibold uppercase">Book A Meeting</button>
            </div>
        </div>
        <div class="starting-image">
            <img src="https://www.taurushq.com/img/platform/hero_sign.svg" alt="Starting Hero Image" />
        </div>
    </main>

    <!-- issue section -->
    <div class="issue-outer mx-auto">
        <p class="issue-title  font-semibold">Issue, book, transfer, trade</p>
        <p class="issue">One platform to manage any digital asset activity</p>
    </div>

    <!-- trade box -->
    <div class="trade-container mx-auto">
        <div class="trade-card">
            <div class="trade-header">
                <div class="trade-icon trade-icon-capital"><i class="ri-stack-line"></i></div>
                <h2 class="font-semibold">CAPITAL</h2>
            </div>
            <p>Issuance platform</p>
            <p class="trade-para">Digitally issue, book, and manage tokenized assets across their full lifecycle, on any
                standard</p>
            <a href="#" class="underline">LEARN MORE ></a>
        </div>

        <div class="trade-card">
            <div class="trade-header">
                <div class="trade-icon trade-icon-protect"><i class="ri-shield-check-line"></i></div>
                <h2 class="font-semibold">PROTECT</h2>
            </div>
            <p>Custody platform</p>
            <p class="trade-para">Custody and process any digital asset: cryptocurrencies, tokenized assets, digital
                currencies</p>
            <a href="#" class="underline">LEARN MORE ></a>
        </div>

        <div class="trade-card">
            <div class="trade-header">
                <div class="trade-icon trade-icon-explorer"><i class="ri-cloud-line"></i></div>
                <h2 class="font-semibold">EXPLORER</h2>
            </div>
            <p>API connectivity</p>
            <p class="trade-para">Transfer assets, monitor wallets and manage counterparty risk, all in real time
                wordings</p>
            <a href="#" class="underline">LEARN MORE ></a>
        </div>

        <div class="trade-card">
            <div class="trade-header">
                <div class="trade-icon trade-icon-explorer"><i class="ri-exchange-box-line"></i></div>
                <h2 class="font-semibold">TDX</h2>
            </div>
            <p>Marketplace</p>
            <p class="trade-para">Trade any digital asset including tokenized securities on a regulated marketplace</p>
            <a href="#" class="underline">LEARN MORE ></a>
        </div>

    </div>

    <!-- custody-section -->
    <div class="custody-container">
        <div class="custody-image flex justify-center items-center">
            <img src="https://www.taurushq.com/img/platform/taurus_sign.svg" alt="">
        </div>

        <div class="right-custody left-custody">
            <div class="custody-section custody-0">
                <div class="custody-content">
                    <div class="custody-title font-semibold">Cryptocurrencies</div>
                    <div class="custody-subtitle">Custody, stake, transfer</div>
                </div>
                <div class="custody-icons-list">
                    <div class="custody-icon-item">
                        <img class="h-8 custody-icon" src="https://www.taurushq.com/img/icons/icon-shield.svg" alt="">
                        Custody + staking and DeFi
                    </div>
                    <div class="custody-icon-item">
                        <img class="h-8 custody-icon" src="https://www.taurushq.com/img/icons/icon-cloud.svg" alt="">
                        Blockchain connectivity form
                    </div>
                </div>

            </div>

            <div class="custody-section custody-1">
                <div class="custody-content">
                    <div class="custody-title font-semibold costo-1">Tokenized assets</div>
                    <div class="custody-subtitle">Custody, issue, manage, transfer</div>
                </div>
                <div class="custody-icons-list">
                    <div class="custody-icon-item">
                        <img class="h-8 custody-icon" src="https://www.taurushq.com/img/icons/icon-layers.svg" alt="">
                        Digitization and management
                    </div>
                    <div class="custody-icon-item">
                        <img class="h-8 custody-icon" src="https://www.taurushq.com/img/icons/icon-shield.svg" alt="">
                        Custody with asset servicing
                    </div>
                    <div class="custody-icon-item">
                        <img class="h-8 custody-icon" src="https://www.taurushq.com/img/icons/icon-cloud.svg" alt="">
                        Blockchain connectivity
                    </div>
                </div>
            </div>

            <div class="custody-section custody-2">
                <div class="custody-content">
                    <div class="custody-title font-semibold costo-2">Digital currencies</div>
                    <div class="custody-subtitle">Custody, issue, transfer</div>
                </div>
                <div class="custody-icons-list">
                    <div class="custody-icon-item">
                        <img class="h-8 custody-icon" src="https://www.taurushq.com/img/icons/icon-layers.svg" alt="">
                        Digitization and management
                    </div>
                    <div class="custody-icon-item">
                        <img class="h-8 custody-icon" src="https://www.taurushq.com/img/icons/icon-shield.svg" alt="">
                        Custody with asset servicing
                    </div>
                    <div class="custody-icon-item">
                        <img class="h-8 custody-icon" src="https://www.taurushq.com/img/icons/icon-cloud.svg" alt="">
                        Blockchain connectivity
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- private section -->
    <div class="private-title">
        <p>Multi-blockchains: public, private and tokenized protocols</p>
    </div>
    <div class="private-container flex justify-center">
        <div class="private-grid grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2">
            <!-- Column 1 -->
            <div class="private-column p-4">
                <p class="private-column-title text-left">Public</p>
                <div class="private-grid grid grid-cols-3 gap-2 mt-4">
                    <img src="https://www.taurushq.com/img/logotypes/logo-bitcoin.svg" alt="Logo 1">
                    <img src="https://www.taurushq.com/img/logotypes/logo-ethereum.svg" alt="Logo 2">
                    <img src="https://www.taurushq.com/img/logotypes/logo-litecoin.svg" alt="Logo 3">
                    <img src="https://www.taurushq.com/img/logotypes/logo-tezos.svg" alt="Logo 4">
                    <img src="https://www.taurushq.com/img/logotypes/logo-xrp.svg" alt="Logo 5">
                    <img src="https://www.taurushq.com/img/logotypes/logo-cardano.svg" alt="Logo 6">
                    <img src="https://www.taurushq.com/img/logotypes/logo-neo.svg" alt="Logo 7">
                    <img src="https://www.taurushq.com/img/logotypes/logo-xlm.svg" alt="Logo 8">
                    <img src="https://www.taurushq.com/img/platform/logo-dots.svg" alt="Logo 9">
                </div>
            </div>
            <!-- Column 2 -->
            <div class="private-column p-4">
                <p class="private-column-title text-left">Tokenization Protocols</p>
                <div class="grid grid-cols-3 gap-2 mt-4">
                    <img src="https://www.taurushq.com/img/logotypes/logo-ethereum.svg" alt="Logo 10">
                    <img src="https://www.taurushq.com/img/logotypes/logo-litecoin.svg" alt="Logo 11">
                    <img src="https://www.taurushq.com/img/logotypes/logo-xrp.svg" alt="Logo 12">
                    <img src="https://www.taurushq.com/img/logotypes/logo-bitcoin.svg" alt="Logo 13">
                    <img src="https://www.taurushq.com/img/logotypes/logo-tezos.svg" alt="Logo 14">
                    <img src="https://www.taurushq.com/img/logotypes/logo-cardano.svg" alt="Logo 15">
                    <img src="https://www.taurushq.com/img/logotypes/logo-neo.svg" alt="Logo 16">
                    <img src="https://www.taurushq.com/img/logotypes/logo-xlm.svg" alt="Logo 17">
                    <img src="https://www.taurushq.com/img/platform/logo-dots.svg" alt="Logo 18">
                </div>
            </div>
            <!-- Column 3 -->
            <div class="private-column p-4">
                <p class="private-column-title text-left">Private</p>
                <div class="grid grid-cols-3 gap-2 mt-4">
                    <img src="https://www.taurushq.com/img/logotypes/logo-litecoin.svg" alt="Logo 19">
                    <img src="https://www.taurushq.com/img/logotypes/logo-bitcoin.svg" alt="Logo 20">
                    <img src="https://www.taurushq.com/img/logotypes/logo-ethereum.svg" alt="Logo 21">
                    <img src="https://www.taurushq.com/img/logotypes/logo-xrp.svg" alt="Logo 22">
                    <img src="https://www.taurushq.com/img/logotypes/logo-tezos.svg" alt="Logo 23">
                    <img src="https://www.taurushq.com/img/logotypes/logo-cardano.svg" alt="Logo 24">
                    <img src="https://www.taurushq.com/img/logotypes/logo-neo.svg" alt="Logo 25">
                    <img src="https://www.taurushq.com/img/logotypes/logo-xlm.svg" alt="Logo 26">
                    <img src="https://www.taurushq.com/img/platform/logo-dots.svg" alt="Logo 27">
                </div>
            </div>
        </div>
    </div>

    <!-- blockchain section -->
    <div class="inter-container">
        <div class="inter">
            <div class="header font-semibold">Fast and flexible integration</div>
            <h1 class="title">Deployment model</h1>
        </div>
        <div class="integration">
            <div class="integration-item">
                <span class="number font-bold">10</span>
                <div class="flex flex-col"> <span class="day font-semibold">DAYS</span><span class="disi">for simple
                        integration</span></div>
            </div>
            <div class="integration-item item-2">
                <span class="number number-8 font-bold">8</span>
                <div class="flex flex-col"> <span class="week font-semibold">WEEKS</span><span>for complex
                        integration</span></div>
            </div>
        </div>
    </div>

    <div class="private-container private-integrate flex justify-center">
        <div class="private-grid grid grid-cols-1 md:grid-col-2 lg:grid-cols-3 gap-2">
            <!-- Column 1 -->
            <div class="private-column pirate p-4">
                <img class="image-icon" src="https://www.taurushq.com/img/platform/on-premise-deployment.svg" alt="">
                <p class="premises font-semibold">On-premise</p>
                <p class="deploy">Deploy the full Taurus product suite within your <br> infrastructure.</p>
            </div>
            <!-- Column 2 -->
            <div class="private-column pirate p-4">
                <img class="image-icon" src="https://www.taurushq.com/img/platform/saas-deployment.svg" alt="">
                <p class="premises font-semibold">SaaS or Managed</p>
                <p class="deploy">Leave the full hosting to Taurus while still having the full control of your private
                    keys, which Taurus never has access to. ISAE3402 Type II audited.</p>
                <div class="csp flex gap-3">
                    <img src="https://www.taurushq.com/img/platform/cloud_icons_01.svg" alt="">
                    <img src="https://www.taurushq.com/img/platform/cloud_icons_02.svg" alt="">
                </div>
            </div>
            <!-- Column 3 -->
            <div class="private-column pirate p-4">
                <img class="image-icon" src="https://www.taurushq.com/img/platform/hybrid-deployment.svg" alt="">
                <p class="premises font-semibold">Hybrid</p>
                <p class="deploy">Best of both worlds. Keep the most sensitive items with you and leave the rest to
                    Taurus. ISAE3402 Type II audited.</p>
            </div>
        </div>
    </div>

    <div class="compatible-container">
        <p class="compatible-text">Compatible with any core banking system</p>
        <div class="compatible-logos">
            <img class="compatible-logo" src="https://www.taurushq.com/img/platform/logo-temenos.svg"
                alt="Temenos Logo">
            <img class="compatible-logo" src="https://www.taurushq.com/img/platform/finstar_logo.svg"
                alt="Finstar Logo">
            <img class="compatible-logo" src="https://www.taurushq.com/img/platform/logo-avalog.svg" alt="Avaloq Logo">
            <img class="compatible-logo" src="https://www.taurushq.com/img/platform/logo-finnova.svg"
                alt="Finnova Logo">
            <img class="compatible-logo" src="https://www.taurushq.com/img/platform/logo-bvb.svg" alt="Unknown Logo">
        </div>
    </div>

    <div class="micro-container">
        <div class="micro-text-container">
            <p class="micro-subtitle font-semibold">Micro-services to scale horizontally and vertically</p>
            <h1 class="micro-title">Architecture built to <br> scale</h1>
            <ul class="micro-list">
                <li class="micro-list-item"><span>-</span> Add more BUs</li>
                <li class="micro-list-item"><span>-</span> Add billions of addresses</li>
                <li class="micro-list-item"><span>-</span> Sign millions of transactions</li>
                <li class="micro-list-item"><span>-</span> Scale the system</li>
            </ul>
        </div>
        <div class="micro-image-container">
            <img class="micro-image" src="https://www.taurushq.com/img/platform/architecture_img.webp"
                alt="Image of a skyscraper">
        </div>
    </div>

    <!-- last section ============== -->
    <div class="goaters">
        <p class="tested font-semibold">Entrusted by the full spectrum of banks</p>
        <p class="test-bro">Market-leading and battle-tested platform</p>
    </div>
    <!-- seventh-container goat-->
    <div class="seventh-container best-testimonial goat 2xl:block">
        <div class="flexon flex justify-center mx-auto">
            <div class="seventh-text bg-gray-800">
                <div id="content-carousel" class="relative">
                    <div class="carousel-content">
                        <div class="carousel-item hidden">
                            <div class="quote black-border">
                                <div class="top-left-border"></div>
                                <div class="bottom-right-border"></div>
                                <p class="text-xl">We are deligted to have found a very
                                    innovative partner
                                    in Emiri Fintech. With Emiri's products, we can offer our customers an
                                    expanded range of investment
                                </p>
                            </div>
                            <p class="author text-xl"><strong>Paulo Buzzi</strong></p>
                            <p class="founder text-md">Co-founder and Deputy CEO,
                                Swissquote</p>
                            <div class="find-more rounded-sm">
                                <a href="#">
                                    <strong>FIND OUT MORE</strong>
                                </a>
                            </div>
                        </div>

                        <div class="carousel-item hidden">
                            <div class="quote black-border">
                                <div class="top-left-border"></div>
                                <div class="bottom-right-border"></div>
                                <p class="text-xl">Emiri is leading the field in
                                    cryptography and blockchain Technology. By joining forces, we can help banks to
                                    bridge the gap between traditional investments and digital assets
                                </p>
                            </div>
                            <p class="author text-xl"><strong>Alexandre Duret</strong></p>
                            <p class="founder text-md">Product Director, Temenos</p>
                            <div class="find-more rounded-sm">
                                <a href="#">
                                    <strong>FIND OUT MORE</strong>
                                </a>
                            </div>
                        </div>

                        <div class="carousel-item hidden">
                            <div class="quote black-border">
                                <div class="top-left-border"></div>
                                <div class="bottom-right-border"></div>
                                <p class="text-xl">With digital assets set to become a multi-trillion-dollar market,
                                    custodians must adapt. We're excited to partner with Taurus, a proven leader in
                                    crypto and tokenization.</p>
                            </div>
                            <p class="author-2 text-xl"><strong>Paul Maley</strong></p>
                            <p class="founder text-md">Global Head of Securities Services
                                at Deutsche Bank AG</p>
                            <div class="find-more rounded-sm">
                                <a href="#">
                                    <strong>FIND OUT MORE</strong>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="seventh-image">
                <div id="image-carousel" class="relative">
                    <div class="carousel-content">
                        <div class="carousel-item hidden">
                            <img src="/images/building.jpg" alt="Image Slide 1" class="object-cover">
                        </div>
                        <div class="carousel-item hidden">
                            <img src="/images/building2.jpg" alt="Image Slide 2" class="object-cover">
                        </div>
                        <div class="carousel-item hidden">
                            <img src="/images/building3.jpg" alt="Image Slide 3" class="">
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class=" controls mt-6 flex justify-center space-x-2">
            <button class="control-line rounded-md" data-index="0"></button>
            <button class="control-line rounded-md" data-index="1"></button>
            <button class="control-line rounded-md" data-index="2"></button>
        </div>
    </div>

    <div class="testimonial-container best-testimonial sheep">
        <div class="testimonial-content bg-gray-800">
            <div id="testimonial-carousel" class="relative">
                <div class="carousel-items">
                    <div class="carousel-slide hidden">
                        <div class="testimonial-quote border-box">
                            <div class="quote-top-left"></div>
                            <div class="quote-bottom-right"></div>
                            <p class="text-xl">We are delighted to have found a very
                                innovative partner in Emiri Fintech. With Emiri's products, we can offer our customers
                                an
                                expanded range of investment
                            </p>
                        </div>
                        <p class="quote-author text-xl"><strong>Paulo Buzzi</strong></p>
                        <p class="quote-position text-md">Co-founder and Deputy CEO, Swissquote</p>
                        <div class="read-more-btn rounded-sm">
                            <a href="#">
                                <strong>FIND OUT MORE</strong>
                            </a>
                        </div>
                    </div>

                    <div class="carousel-slide hidden">
                        <div class="testimonial-quote border-box">
                            <div class="quote-top-left"></div>
                            <div class="quote-bottom-right"></div>
                            <p class="text-xl">Emiri is leading the field in
                                cryptography and blockchain Technology. By joining forces, we can help banks to
                                bridge the gap between traditional investments and digital assets
                            </p>
                        </div>
                        <p class="quote-author text-xl"><strong>Alexandre Duret</strong></p>
                        <p class="quote-position text-md">Product Director, Temenos</p>
                        <div class="read-more-btn rounded-sm">
                            <a href="#">
                                <strong>FIND OUT MORE</strong>
                            </a>
                        </div>
                    </div>

                    <div class="carousel-slide hidden">
                        <div class="testimonial-quote border-box">
                            <div class="quote-top-left"></div>
                            <div class="quote-bottom-right"></div>
                            <p class="text-xl">With digital assets set to become a multi-trillion-dollar market,
                                custodians must adapt. We're excited to partner with Taurus, a proven leader in
                                crypto and tokenization.</p>
                        </div>
                        <p class="quote-author-alt text-xl"><strong>Paul Maley</strong></p>
                        <p class="quote-position text-md">Global Head of Securities Services at Deutsche Bank AG</p>
                        <div class="read-more-btn rounded-sm">
                            <a href="#">
                                <strong>FIND OUT MORE</strong>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-controls mt-6 flex justify-center space-x-2">
            <button class="carousel-indicator rounded-md" data-index="0"></button>
            <button class="carousel-indicator rounded-md" data-index="1"></button>
            <button class="carousel-indicator rounded-md" data-index="2"></button>
        </div>
    </div>

    <!-- logo part -->
    <div class="logo-container">
        <!-- Grid container -->
        <div class="logo-grid">
            <!-- Column 1: Logo -->
            <div class="logo-item">
                <img src="/images/quote1.jpg" alt="Logo 1">
            </div>
            <!-- Column 2: Logo -->
            <div class="logo-item">
                <img src="/images/quote2.jpg" alt="Logo 2">
            </div>
            <!-- Column 3: Logo -->
            <div class="logo-item">
                <img src="/images/quote3.jpg" alt="Logo 3">
            </div>
        </div>
    </div>

    <script src="/javascripts/home.js"></script>