<%- layout('layouts/boilerplate') %>

    <div class="digital-board relative text-white h-screen">
        <img class="digital-img absolute inset-0 w-full h-full object-cover"
            src="https://img.freepik.com/premium-photo/battling-bug-virus-black-man-safeguarding-digital-security-with-vigilance-technology_983420-234940.jpg?uid=R176520851&ga=GA1.1.438080985.1725988205&semt=ais_tags_boosted"
            alt="">

        <div class="digital-text relative min-h-screen bg-black bg-opacity-50 flex items-center">
            <div class="title-container absolute left-8">
                <h1 class="text-6xl font-bold titan-1">Security testing services </h1>
                <p class="text-2xl font-normal">
                    With an unwavering focus on digital safety, Innowise understands the
                    <span class="line-break">criticality of robust cybersecurity measures. From vulnerability</span>
                    <span class="line-break">assessment and compliance reviews to penetration testing and</span>
                    <span class="line-break">security audits, we shield data, applications, and IT systems,</span>
                </p>
            </div>

        </div>
    </div>

    <div class="hacking-container">
        <h1 class="hacking-title text-4xl font-medium">Security testing services we provide</h1>
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
            <div class="sub">
                <i class="text-gray-800 mb-6 ri-cpu-line h-16 w-16"></i>
                <h2 class="text-2xl text-gray-900 font-bold mb-6">Machine Learning</h2>
                <p class="para text-sm leading-relaxed text-gray-700">
                    We build ML-powered applications that support a huge variety of financial software use cases with
                    predictive analytics, algorithmic trading, process automation, and more.
                </p>
            </div>

            <div class="sub">
                <i class="text-gray-800 mb-6 ri-global-line h-16 w-16"></i>
                <h2 class="text-2xl text-gray-900 font-bold mb-6">IoT in finance</h2>
                <p class="para text-sm leading-relaxed text-gray-700">
                    With IoT, our Fintech developers launch innovative solutions that exceed clients’ expectations and
                    offer advanced options to tackle everyday needs.
                </p>
            </div>
            <div class="sub">
                <i class="text-gray-800 mb-6 ri-money-dollar-circle-line h-16 w-16"></i>
                <h2 class="text-2xl text-gray-900 font-bold mb-6">Cryptocurrency solutions</h2>
                <p class="para text-sm leading-relaxed text-gray-700">
                    Our experts roll out sophisticated and efficient apps that make it easy and secure for users to
                    purchase, trade, and store cryptocurrencies.
                </p>
            </div>
            <div class="sub">
                <i class="text-gray-800 mb-6 ri-database-2-line h-16 w-16"></i>
                <h2 class="text-2xl text-gray-900 font-bold mb-6">Big data in finance</h2>
                <p class="para text-sm leading-relaxed text-gray-700">
                    In BFSI, big data is key for refining anti-fraud detection along with other activities. With big
                    data development services, you can turn raw info into actionable insights to protect your business.
                </p>
            </div>
            <div class="sub">
                <i class="text-gray-800 mb-6 ri-links-line h-16 w-16"></i>
                <h2 class="text-2xl text-gray-900 font-bold mb-6">FinTech blockchain</h2>
                <p class="para text-sm leading-relaxed text-gray-700">
                    Innowise creates custom blockchain solutions to reinforce data security, automate transaction
                    processes, and optimize operational efficiency for FinTech ecosystems.
                </p>
            </div>
            <div class="sub">
                <i class="text-gray-800 mb-6 ri-cloud-line h-16 w-16"></i>
                <h2 class="text-2xl text-gray-900 font-bold mb-6">Cloud Solutions</h2>
                <p class="para text-sm leading-relaxed text-gray-700">
                    We develop cloud-native FinTech applications and help transfer on-premise software to the cloud to
                    achieve better flexibility, security, and cost-effectiveness.
                </p>
            </div>
            <div class="sub">
                <i class="text-gray-800 mb-6 ri-settings-3-line h-16 w-16"></i>
                <h2 class="text-2xl text-gray-900 font-bold mb-6">Devops For FinTech</h2>
                <p class="para text-sm leading-relaxed text-gray-700">
                    We at Innowise ensure development and operation teams work side by side, aiming to reach fast
                    product delivery and keep up with the latest FinTech industry trends.
                </p>
            </div>
            <div class="sub">
                <i class="text-gray-800 mb-6 ri-brain-line h-16 w-16"></i>
                <h2 class="text-2xl text-gray-900 font-bold mb-6">AI financial services</h2>
                <p class="para text-sm leading-relaxed text-gray-700">
                    Innowise masters AI-based financial software to improve operational performance with fraud detection
                    systems, smart chatbots, and risk management solutions.
                </p>
            </div>
        </div>
    </div>

    <div class="hacking-solid-outer bg-cover bg-center flex items-center justify-center"
        style="background-image: url('https://img.freepik.com/premium-photo/technology-innovation-abstract-background_889227-74645.jpg?uid=R176520851&ga=GA1.1.438080985.1725988205&semt=ais_tags_boosted');">
        <div class="hacking-solid text-center">
            <h1 class="digital-h1 text-4xl text-white ">Secure your digital frontier with FinTech</h1>
            <div class="hacking-contact flex justify-center">
                <a href="#" class="hacking-button text-xl text-white">Contact us</a>
            </div>
        </div>
    </div>

    <div class="cost-container">
        <div class="cost">
            <h1 class="hacking-title text-4xl font-medium">How much do our security testing services cost?</h1>
            <div class="cost-para">
                <p class="text-2xl font-medium">Determining the cost of cyber security testing services involves a</p>
                <p class="text-2xl font-medium">comprehensive, one-to-one approach tailored to meet each client’s</p>
                <p class="text-2xl font-medium">unique needs. The final cost varies significantly based on multiple</p>
                <p class="text-2xl font-medium">factors, making each project’s pricing unique. We thoroughly analyze</p>
            </div>
        </div>
        <div class="cost-boxes">
            <div class="grid grid-cols-3 gap-8">
                <!-- First Row -->
                <div class="cost-padder text-2xl font-medium flex items-center space-x-4">
                    <i class="cost-icon fas fa-coins text-yellow-500"></i>
                    <span>Solution's complexity</span>
                </div>
                <div class="cost-padder text-2xl font-medium flex items-center space-x-4">
                    <i class="cost-icon fas fa-leaf text-green-500"></i>
                    <span>Testing scope and depth</span>
                </div>
                <div class="cost-padder text-2xl font-medium flex items-center space-x-4">
                    <i class="cost-icon fas fa-rocket text-blue-500"></i>
                    <span>The type of testing involved</span>
                </div>

                <!-- Second Row -->
                <div class="cost-padder text-2xl font-medium flex items-center space-x-4">
                    <i class="cost-icon fas fa-tools text-gray-500"></i>
                    <span>The type of testing involved</span>
                </div>
                <div class="cost-padder text-2xl font-medium flex items-center space-x-4">
                    <i class="cost-icon fas fa-heart text-red-500"></i>
                    <span>
                        Specialized expertise</span>
                </div>
                <div class="cost-padder text-2xl font-medium flex items-center space-x-4">
                    <i class="cost-icon fas fa-globe text-purple-500"></i>
                    <span>
                        Post-testing support</span>
                </div>
            </div>
        </div>

    </div>

    <div class="bg-gray-900 quotation-back mx-auto flex justify-around mt-6">
        <div class="w-2/3 pl-8 lg:flex flex-col justify-center sm:hidden">
            <p class="para2 text-gray-200 text-lg mb-4 pt-4 items-center"> At Innowise, we’re all about building fintech
                software solutions
                that make business life easier. From using AI to<br>speed up data processing to securing every
                transaction with blockchain, our solutions take the headache out of<br>managing finances. We help
                companies stay compliant, cut risks, and make smart decisions fast, so they can<br>focus on what really
                matters — growth and success. </p>
            <p class="para2 text-gray-900 font-bold text-2xl">Siarhei Sukhadolski</p>
            <p class="para2 text-green-300 text-2xl">FinTech Expert at Innowise</p>
        </div>
        <img src="/images/image.png" alt="Description of the image" class="mx-auto mt-4">
    </div>

    <!-- This section will be outside of the .back div on small screens -->
    <div class="w-2/3 pl-8 sm:flex flex-col justify-center lg:hidden">
        <p class=" text-gray-900 text-lg mb-4 pt-4 items-center"> At Innowise, we’re all about building fintech software
            solutions
            that make business life easier. From using AI to speed up data processing to securing every
            transaction with blockchain, our solutions take the headache out of managing finances. We help
            companies stay compliant, cut risks, and make smart decisions fast, so they can focus on what really
            matters — growth and success. </p>
        <p class=" text-red-400 font-bold text-xl">Siarhei Sukhadolski</p>
        <p class=" text-gray-800">FinTech Expert at Innowise</p>
    </div>

    <div class="hacking-container">
        <h1 class="hacking-title text-4xl font-medium">Benefits of security testing for business</h1>
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
            <div class="sub">
                <i class="text-gray-800 mb-6 ri-cpu-line h-16 w-16"></i>
                <h2 class="text-2xl text-gray-900 font-bold mb-6">Machine Learning</h2>
                <p class="para text-sm leading-relaxed text-gray-700">
                    We build ML-powered applications that support a huge variety of financial software use cases with
                    predictive analytics, algorithmic trading, process automation, and more.
                </p>
            </div>

            <div class="sub">
                <i class="text-gray-800 mb-6 ri-global-line h-16 w-16"></i>
                <h2 class="text-2xl text-gray-900 font-bold mb-6">IoT in finance</h2>
                <p class="para text-sm leading-relaxed text-gray-700">
                    With IoT, our Fintech developers launch innovative solutions that exceed clients’ expectations and
                    offer advanced options to tackle everyday needs.
                </p>
            </div>
            <div class="sub">
                <i class="text-gray-800 mb-6 ri-money-dollar-circle-line h-16 w-16"></i>
                <h2 class="text-2xl text-gray-900 font-bold mb-6">Cryptocurrency solutions</h2>
                <p class="para text-sm leading-relaxed text-gray-700">
                    Our experts roll out sophisticated and efficient apps that make it easy and secure for users to
                    purchase, trade, and store cryptocurrencies.
                </p>
            </div>
            <div class="sub">
                <i class="text-gray-800 mb-6 ri-database-2-line h-16 w-16"></i>
                <h2 class="text-2xl text-gray-900 font-bold mb-6">Big data in finance</h2>
                <p class="para text-sm leading-relaxed text-gray-700">
                    In BFSI, big data is key for refining anti-fraud detection along with other activities. With big
                    data development services, you can turn raw info into actionable insights to protect your business.
                </p>
            </div>
            <div class="sub">
                <i class="text-gray-800 mb-6 ri-links-line h-16 w-16"></i>
                <h2 class="text-2xl text-gray-900 font-bold mb-6">FinTech blockchain</h2>
                <p class="para text-sm leading-relaxed text-gray-700">
                    Innowise creates custom blockchain solutions to reinforce data security, automate transaction
                    processes, and optimize operational efficiency for FinTech ecosystems.
                </p>
            </div>
            <div class="sub">
                <i class="text-gray-800 mb-6 ri-cloud-line h-16 w-16"></i>
                <h2 class="text-2xl text-gray-900 font-bold mb-6">Cloud Solutions</h2>
                <p class="para text-sm leading-relaxed text-gray-700">
                    We develop cloud-native FinTech applications and help transfer on-premise software to the cloud to
                    achieve better flexibility, security, and cost-effectiveness.
                </p>
            </div>
            <div class="sub">
                <i class="text-gray-800 mb-6 ri-settings-3-line h-16 w-16"></i>
                <h2 class="text-2xl text-gray-900 font-bold mb-6">Devops For FinTech</h2>
                <p class="para text-sm leading-relaxed text-gray-700">
                    We at Innowise ensure development and operation teams work side by side, aiming to reach fast
                    product delivery and keep up with the latest FinTech industry trends.
                </p>
            </div>
            <div class="sub">
                <i class="text-gray-800 mb-6 ri-brain-line h-16 w-16"></i>
                <h2 class="text-2xl text-gray-900 font-bold mb-6">AI financial services</h2>
                <p class="para text-sm leading-relaxed text-gray-700">
                    Innowise masters AI-based financial software to improve operational performance with fraud detection
                    systems, smart chatbots, and risk management solutions.
                </p>
            </div>
        </div>
    </div>

    <div class="video-container mx-auto p-6 flex flex-col md:flex-row items-center gap-6">
        <!-- Video Section -->
        <div class="video-itself md:w-1/3">
            <video controls class="w-full">
                <source src="your-video-source.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>

        <!-- Text Section -->
        <div class="w-full md:w-2/3 flex flex-col items-start gap-4">
            <h2 class="text-2xl font-bold text-gray-800 pb-6">Struggling with security flaws?</h2>
            <p class="text-gray-600 text-lg pb-6">Identify and fix security loopholes with our specialized<br>testing
                techniques.</p>
            <button class="secure-button text-white transition">Secure now</button>
        </div>
    </div>
    

    <div class="stellar-swiper-container">
        <h1 class="cosmic-title text-4xl font-medium">Hire security testers from Innowise</h1>
        <div class="cosmic-swiper-video">
            <div class="orbital-wrapper swiper-wrapper">
                <!-- card 1 -->
                <div class="galaxy-slide galaxy-video swiper-slide">
                    <div class="hire-card cadder overflow-hidden">
                        <div class="hire-name flex justify-between">
                            <h1 class="name text-4xl">Jacob A</h1>
                            <h1 class="nam-1 font-bold text-4xl">QA</h1>
                        </div>
                        <div class="hire-details">
                            <p>Senior QA Engineer</p>
                            <p class="mb-5">5+ years experience</p>
                            <p class="mb-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae quasi, qui hic nemo nobis nulla similique neque voluptate, iusto libero, omnis sunt eos illo modi.</p>
                        </div>
                        <!-- Links below the title -->
                        <div class=" cadder-buttons">
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">FinTech</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">Java</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Kotlin</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Mobile</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">React</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Swift</a>
                        </div>

                        <div class="hire-button mt-5 mb-5">
                            <button class="secure-button text-white transition">Request full CV</button>
                        </div>

                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="hire-card cadder overflow-hidden">
                        <div class="hire-name flex justify-between">
                            <h1 class="name text-4xl">Jacob A</h1>
                            <h1 class="nam-1 font-bold text-4xl">QA</h1>
                        </div>
                        <div class="hire-details">
                            <p>Senior QA Engineer</p>
                            <p class="mb-5">5+ years experience</p>
                            <p class="mb-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae quasi, qui hic nemo nobis nulla similique neque voluptate, iusto libero, omnis sunt eos illo modi.</p>
                        </div>
                        <!-- Links below the title -->
                        <div class=" cadder-buttons">
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">FinTech</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">Java</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Kotlin</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Mobile</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">React</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Swift</a>
                        </div>

                        <div class="hire-button mt-5 mb-5">
                            <button class="secure-button text-white transition">Request full CV</button>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="hire-card cadder overflow-hidden">
                        <div class="hire-name flex justify-between">
                            <h1 class="name text-4xl">Jacob A</h1>
                            <h1 class="nam-1 font-bold text-4xl">QA</h1>
                        </div>
                        <div class="hire-details">
                            <p>Senior QA Engineer</p>
                            <p class="mb-5">5+ years experience</p>
                            <p class="mb-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae quasi, qui hic nemo nobis nulla similique neque voluptate, iusto libero, omnis sunt eos illo modi.</p>
                        </div>
                        <!-- Links below the title -->
                        <div class=" cadder-buttons">
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">FinTech</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">Java</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Kotlin</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Mobile</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">React</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Swift</a>
                        </div>

                        <div class="hire-button mt-5 mb-5">
                            <button class="secure-button text-white transition">Request full CV</button>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="hire-card cadder overflow-hidden">
                        <div class="hire-name flex justify-between">
                            <h1 class="name text-4xl">Jacob A</h1>
                            <h1 class="nam-1 font-bold text-4xl">QA</h1>
                        </div>
                        <div class="hire-details">
                            <p>Senior QA Engineer</p>
                            <p class="mb-5">5+ years experience</p>
                            <p class="mb-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae quasi, qui hic nemo nobis nulla similique neque voluptate, iusto libero, omnis sunt eos illo modi.</p>
                        </div>
                        <!-- Links below the title -->
                        <div class=" cadder-buttons">
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">FinTech</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">Java</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Kotlin</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Mobile</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">React</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Swift</a>
                        </div>

                        <div class="hire-button mt-5 mb-5">
                            <button class="secure-button text-white transition">Request full CV</button>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="hire-card cadder overflow-hidden">
                        <div class="hire-name flex justify-between">
                            <h1 class="name text-4xl">Jacob A</h1>
                            <h1 class="nam-1 font-bold text-4xl">QA</h1>
                        </div>
                        <div class="hire-details">
                            <p>Senior QA Engineer</p>
                            <p class="mb-5">5+ years experience</p>
                            <p class="mb-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae quasi, qui hic nemo nobis nulla similique neque voluptate, iusto libero, omnis sunt eos illo modi.</p>
                        </div>
                        <!-- Links below the title -->
                        <div class=" cadder-buttons">
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">FinTech</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">Java</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Kotlin</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Mobile</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">React</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Swift</a>
                        </div>

                        <div class="hire-button mt-5 mb-5">
                            <button class="secure-button text-white transition">Request full CV</button>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="hire-card cadder overflow-hidden">
                        <div class="hire-name flex justify-between">
                            <h1 class="name text-4xl">Jacob A</h1>
                            <h1 class="nam-1 font-bold text-4xl">QA</h1>
                        </div>
                        <div class="hire-details">
                            <p>Senior QA Engineer</p>
                            <p class="mb-5">5+ years experience</p>
                            <p class="mb-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae quasi, qui hic nemo nobis nulla similique neque voluptate, iusto libero, omnis sunt eos illo modi.</p>
                        </div>
                        <!-- Links below the title -->
                        <div class=" cadder-buttons">
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">FinTech</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">Java</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Kotlin</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Mobile</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">React</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Swift</a>
                        </div>

                        <div class="hire-button mt-5 mb-5">
                            <button class="secure-button text-white transition">Request full CV</button>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="hire-card cadder overflow-hidden">
                        <div class="hire-name flex justify-between">
                            <h1 class="name text-4xl">Jacob A</h1>
                            <h1 class="nam-1 font-bold text-4xl">QA</h1>
                        </div>
                        <div class="hire-details">
                            <p>Senior QA Engineer</p>
                            <p class="mb-5">5+ years experience</p>
                            <p class="mb-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae quasi, qui hic nemo nobis nulla similique neque voluptate, iusto libero, omnis sunt eos illo modi.</p>
                        </div>
                        <!-- Links below the title -->
                        <div class=" cadder-buttons">
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">FinTech</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">Java</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Kotlin</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Mobile</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">React</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Swift</a>
                        </div>

                        <div class="hire-button mt-5 mb-5">
                            <button class="secure-button text-white transition">Request full CV</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Swiper Pagination -->
            <div class="swiper-pagination"></div>
            <!-- Swiper Navigation -->
            <!-- <div class="stellar-button-prev swiper-button-prev"></div>
            <div class="stellar-button-next swiper-button-next"></div> -->
        </div>
    </div>

    <div class="bg-gray-900 industry-container">
        <div class="max-w-7xl mx-auto px-6 py-16">
            <h1 class="text-4xl font-bold mb-8">Security testing services for industries</h1>
            <p class="text-lg leading-relaxed mb-8">
                With over 40 business domains covered, Innowise, as a recognized security testing services company, can efficiently fill the knowledge gap, offering unparalleled security testing services in fintech, healthcare, eCommerce, manufacturing, and many others. From ambitious startups to established SMEs, our security experts align services precisely with client requirements, ensuring a solid safety posture.
            </p>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
                <ul class="space-y-4">
                    <li class="flex items-center">
                        <span class="w-2 h-2 bg-red-500 rounded-full mr-3"></span>
                        Information technologies
                    </li>
                    <li class="flex items-center">
                        <span class="w-2 h-2 bg-red-500 rounded-full mr-3"></span>
                        Fintech
                    </li>
                    <li class="flex items-center">
                        <span class="w-2 h-2 bg-red-500 rounded-full mr-3"></span>
                        Telecommunications
                    </li>
                </ul>
                <ul class="space-y-4">
                    <li class="flex items-center">
                        <span class="w-2 h-2 bg-red-500 rounded-full mr-3"></span>
                        Retail
                    </li>
                    <li class="flex items-center">
                        <span class="w-2 h-2 bg-red-500 rounded-full mr-3"></span>
                        Travel and hospitality
                    </li>
                    <li class="flex items-center">
                        <span class="w-2 h-2 bg-red-500 rounded-full mr-3"></span>
                        Education
                    </li>
                </ul>
                <ul class="space-y-4">
                    <li class="flex items-center">
                        <span class="w-2 h-2 bg-red-500 rounded-full mr-3"></span>
                        Social media
                    </li>
                    <li class="flex items-center">
                        <span class="w-2 h-2 bg-red-500 rounded-full mr-3"></span>
                        eCommerce
                    </li>
                    <li class="flex items-center">
                        <span class="w-2 h-2 bg-red-500 rounded-full mr-3"></span>
                        Real estate
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <script src="/javascripts/hacking.js"></script>