<%- layout('layouts/boilerplate') %>
    <!-- hero section -->
    <main class="z-1 all-hero relative text-white">
        <img src="/images/team.jpg" class="absolute inset-0 w-full h-full object-cover"></img>
        <div class="inner-hero z-10 relative flex flex-col items-center justify-center bg-black bg-opacity-50">
            <div class="px-6 text-center" id="scroll-content">
                <h1 class="rob1 text-5xl font-bold md:text-6xl">
                    FINTECH & IT SECURITY SOLUTIONS
                </h1>
                <div class="relative">
                    <div class=" divider mx-auto"></div>
                </div>
                <p class="para1 mt-10 text-2xl font-semibold">
                    Gambia's leading Fintech Sofware Development & <span
                        class="font-bold"></span>Defense-in-depth</span> <br />
                    Security Company - (The Red Heart Team).
                <div class="style-outer">
                    <div class="style-bottom"></div>
                </div>
                </p>
            </div>
        </div>
    </main>

    <!-- Outer Container -->
    <div class=" z-10 outer-container">
        <!-- Inner Container -->
        <div class="inner-container">
            <div class="relative overflow-hidden w-full h-30 max-w-[90%] ">
                <div id="auto-slider" class="flex gap-8"> <!-- Reduced gap -->
                    <div class="auto-slide flex-shrink-0 w-40 h-28 mx-2 text-center">
                        <!-- Reduced width and height -->
                        <img src="https://codersclutch.com/wp-content/uploads/2024/05/coders-logo.png"
                            alt="Best Performer Award" class="w-full h-full object-contain rounded-md opacity-45"
                            aria-label="Best Performer Award">
                    </div>
                    <div class="slide flex-shrink-0 w-40 h-28 mx-2 text-center"> <!-- Reduced width and height -->
                        <img src="https://fintech.com/wp-content/uploads/2023/06/Fintech-Logo-no-tagline-696x696-1.png"
                            alt="Most Creative Award" class="w-full h-full object-contain rounded-md opacity-45"
                            aria-label="Most Creative Award">
                    </div>
                    <div class="slide flex-shrink-0 w-40 h-28 mx-2 text-center"> <!-- Reduced width and height -->
                        <img src="https://www.qdb.qa/-/media/qdbapp/exports-directory/fine-posture-logo.ashx?h=1263&iar=0&w=1785&hash=73D8D798966370772A297D49D8823B29"
                            alt="Top Achievement Award" class="w-full h-full object-contain rounded-md opacity-45"
                            aria-label="Top Achievement Award">
                    </div>
                    <div class="slide flex-shrink-0 w-40 h-28 mx-2 text-center"> <!-- Reduced width and height -->
                        <img src="https://fintech.com/wp-content/uploads/2023/06/Fintech-Logo-no-tagline-696x696-1.png"
                            alt="Leadership Award" class="w-full h-full object-contain rounded-md opacity-45"
                            aria-label="Leadership Award">
                    </div>
                    <div class="slide flex-shrink-0 w-40 h-28 mx-1 text-center"> <!-- Reduced width and height -->
                        <img src="https://codersclutch.com/wp-content/uploads/2024/05/coders-logo.png"
                            alt="Excellence in Innovation Award"
                            class="w-full h-full object-contain rounded-md opacity-45"
                            aria-label="Excellence in Innovation Award">
                    </div>
                    <div class="slide flex-shrink-0 w-40 h-28 mx-1 text-center"> <!-- Reduced width and height -->
                        <img src="https://www.qdb.qa/-/media/qdbapp/exports-directory/fine-posture-logo.ashx?h=1263&iar=0&w=1785&hash=73D8D798966370772A297D49D8823B29"
                            alt="Community Service Award" class="w-full h-full object-contain rounded-md opacity-45"
                            aria-label="Community Service Award">
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="unified bg-white">
        <div class="unified-2">
            <!-- Heading -->
            <!-- HTML -->
            <p style="white-space: nowrap;"
                class="text-2xl text-left font-medium text-pink-400 pl-9 pb-2 responsive-heading">Unified platform</p>
            <!-- Subheading -->
            <p class="second-para pb-6 text-left responsive-subheading">
                Bringing together innovative solutions for easy integration, and security.
            </p>


            <!-- Crypto-sectoin -->
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2">
                <!-- Grid Box 1 -->
                <div class="software-2 bg-white mt-4 p-6 border-l-2 h-80 dashed-border flex flex-col justify-between">
                    <div class="inner-div">
                        <!-- Icon Box -->
                        <div class="flex justify-start mb-3">
                            <div class="custom-circle text-xl text-pink-400">
                                <i class="ri-money-dollar-circle-line"></i>
                            </div>
                        </div>
                        <!-- Title and Paragraph -->
                        <h3 style="white-space: nowrap;"
                            class=" texter text-lg md:text-2xl lg:text-3xl font-semibold mb-5 text-left">
                            Fintech Softwares</h3>
                        <p class="para-1  text-left">
                            Innovative, secure, and user-friendly fintech software solutions to transform financial
                            operations.
                        </p>
                        <div class="mt-10">
                            <a href="#" class="text-pink-400 flex items-center uppercase font-medium text-sm underline">
                                Find Out More <i class="ri-arrow-right-s-line"></i>
                            </a>
                        </div>
                    </div>
                </div>


                <!-- Grid Box 2 -->
                <div class="software-1 bg-white p-6 mt-4 border-l-2 dashed-border h-80 flex flex-col justify-between">
                    <div class="inner-div">
                        <!-- Icon Box -->
                        <div class="flex justify-start mb-3">
                            <div class="custom-circle text-xl text-pink-400">
                                <i class="ri-stack-line"></i>
                            </div>
                        </div>
                        <!-- Title and Paragraph -->
                        <h3 style="white-space: nowrap;"
                            class="texter text-lg md:text-2xl lg:text-3xl font-semibold mb-5 text-left">IT & Security
                        </h3>
                        <p class="para-1 text-left">
                            We provide advanced IT and security solutions to protect and optimize your business
                            operations.
                        </p>


                        <div class="mt-10">
                            <a href="#" class="text-pink-400 flex items-center uppercase font-medium text-sm underline">
                                Find Out More <i class="ri-arrow-right-s-line"></i>
                            </a>
                        </div>


                    </div>
                </div>


                <!-- Grid Box 3 -->
                <div
                    class="software-1 bg-white does mt-4 p-6 border-l-2 dashed-border h-80 flex flex-col justify-between">
                    <div class="inner-div">
                        <!-- Icon Box -->
                        <div class="flex justify-start mb-3">
                            <div class="custom-circle text-xl text-pink-400">
                                <i class="ri-bank-line"></i>
                            </div>
                        </div>
                        <!-- Title and Paragraph -->
                        <h3 style="white-space: nowrap;"
                            class="texter text-lg md:text-2xl lg:text-3xl font-semibold mb-5 text-left">Blockchain
                        </h3>
                        <p class="para-1 text-left">
                            We develop secure and efficient blockchain solutions to power transparency and innovation.
                        </p>
                        <div class="mt-10">
                            <a href="#" class="text-pink-400 flex items-center uppercase font-medium text-sm underline">
                                Find Out More <i class="ri-arrow-right-s-line"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- third-section -->
    <div class="laptop-container px-4 py-8">
        <div class="grid laptop-grid grid-cols-1 md:grid-cols-2">
            <!-- First Column -->
            <div class="bg-white column-1">
                <h1 class="text-2xl font-extrabold"><span class="protlogo"><i class="ri-shield-check-line"></i></span>
                    GIISS</h1>
                <h2 class="font-semibold mb-4 column-1-title text-center">Gambia Interbank-Interwallet Security System
                </h2>
                <p class="text-gray-700 column-1-text text-center">Custody and process any digital asset: crypto-assets,
                    tokenized securities,<br>digital currencies.</p>
                <img src="https://www.taurushq.com/img/home/image-protect.webp" alt="Laptop-image">
                <button class="button">Find out more</button>
            </div>
            <!-- Second Column -->
            <div class="bg-white  column-2">
                <h1 class="text-2xl font-extrabold"><span class="protlogo"><i class="ri-stack-fill"></i></span> GIIPSS
                </h1>
                <h2 class="text-2xl font-bold mb-4 column-2-title text-center">Gambia Interbank Payment Settlement
                    System</h2>
                <p class="text-gray-700 column-2-text text-center">Digitally issue, book, and manage tokenized assets
                    across their full<br>lifecycle without limit. On any standard.</p>
                <img src="https://www.taurushq.com/img/home/image-capital.webp" alt="Laptop-image">
                <button class="button">Find out more</button>
            </div>
        </div>
    </div>

    <!-- fourth-section -->
    <div class="four-outer-container  px-4">
        <!-- Grid container -->
        <div class="four-custom-height grid grid-cols-1 lg:grid-cols-2 p-6 bg-white gap-2">
            <!-- Left column: Texts and paragraphs -->
            <div class="four-left-column flex flex-col justify-center">
                <div class="four-title pb-3">
                    <p style="white-space: nowrap;" class="four-1">Industry-leading</p>
                    <p class="four-2">technology</p>
                    <p style="white-space: nowrap;" class="four-1">Fast and flexible</p>
                    <p class="four-2">deployment.</p>
                </div>
                <div class="four-list">
                    <p class="pb-3"><i class="ri-verified-badge-line"></i>
                        Certified, award-winning technology
                    </p>
                    <p class="pb-3"><i class="ri-verified-badge-line"></i> On
                        premise, SaaS, hybrid deployment
                    </p>
                    <p class="pb-3"><i class="ri-verified-badge-line"></i>
                        Synergistic growth from co-marketing
                    </p>
                    <p class="pb-3"><i class="ri-verified-badge-line"></i>
                        Customized Training tailored to your needs
                    </p>
                    <p class="pb-3"><i class="ri-verified-badge-line"></i> Leader
                        in public, private blockchains, and tokenized
                    </p>
                </div>
            </div>

            <!-- Right column: Image -->
            <div class="four-right-column flex justify-center items-center">
                <img src="/images/codersTeam.jpg" alt="Placeholder Image" class="rounded-md shadow-md" />
            </div>
        </div>
    </div>

    <!-- fifth-section -->


    <!-- sixth-section -->


    <!-- seventh-container goat-->
    <div class="seventh-container goat 2xl:block">
        <div class="flexon flex justify-center mx-auto">
            <div class="seventh-text bg-gray-800">
                <div id="content-carousel" class="relative">
                    <div class="carousel-content">
                        <div class="carousel-item hidden">
                            <div class="quote black-border">
                                <div class="top-left-border"></div>
                                <div class="bottom-right-border"></div>
                                <p class="text-xl">We are deligted to have found a very
                                    innovative partner
                                    in Emiri Fintech. With Emiri's products, we can offer our customers an
                                    expanded range of investment
                                </p>
                            </div>
                            <p class="author text-xl"><strong>Paulo Buzzi</strong></p>
                            <p class="founder text-md">Co-founder and Deputy CEO,
                                Swissquote</p>
                            <div class="find-more rounded-sm">
                                <a href="#">
                                    <strong>FIND OUT MORE</strong>
                                </a>
                            </div>
                        </div>

                        <div class="carousel-item hidden">
                            <div class="quote black-border">
                                <div class="top-left-border"></div>
                                <div class="bottom-right-border"></div>
                                <p class="text-xl">Emiri is leading the field in
                                    cryptography and blockchain Technology. By joining forces, we can help banks to
                                    bridge the gap between traditional investments and digital assets
                                </p>
                            </div>
                            <p class="author text-xl"><strong>Alexandre Duret</strong></p>
                            <p class="founder text-md">Product Director, Temenos</p>
                            <div class="find-more rounded-sm">
                                <a href="#">
                                    <strong>FIND OUT MORE</strong>
                                </a>
                            </div>
                        </div>

                        <div class="carousel-item hidden">
                            <div class="quote black-border">
                                <div class="top-left-border"></div>
                                <div class="bottom-right-border"></div>
                                <p class="text-xl">With digital assets set to become a multi-trillion-dollar market,
                                    custodians must adapt. We're excited to partner with Taurus, a proven leader in
                                    crypto and tokenization.</p>
                            </div>
                            <p class="author-2 text-xl"><strong>Paul Maley</strong></p>
                            <p class="founder text-md">Global Head of Securities Services
                                at Deutsche Bank AG</p>
                            <div class="find-more rounded-sm">
                                <a href="#">
                                    <strong>FIND OUT MORE</strong>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="seventh-image">
                <div id="image-carousel" class="relative">
                    <div class="carousel-content">
                        <div class="carousel-item hidden">
                            <img src="/images/building.jpg" alt="Image Slide 1" class="object-cover">
                        </div>
                        <div class="carousel-item hidden">
                            <img src="/images/building2.jpg" alt="Image Slide 2" class="object-cover">
                        </div>
                        <div class="carousel-item hidden">
                            <img src="/images/building3.jpg" alt="Image Slide 3" class="">
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class=" controls mt-6 flex justify-center space-x-2">
            <button class="control-line rounded-md" data-index="0"></button>
            <button class="control-line rounded-md" data-index="1"></button>
            <button class="control-line rounded-md" data-index="2"></button>
        </div>
    </div>

    <div class="testimonial-container sheep">
        <div class="testimonial-content bg-gray-800">
            <div id="testimonial-carousel" class="relative">
                <div class="carousel-items">
                    <div class="carousel-slide hidden">
                        <div class="testimonial-quote border-box">
                            <div class="quote-top-left"></div>
                            <div class="quote-bottom-right"></div>
                            <p class="text-xl">We are delighted to have found a very
                                innovative partner in Emiri Fintech. With Emiri's products, we can offer our customers
                                an
                                expanded range of investment
                            </p>
                        </div>
                        <p class="quote-author text-xl"><strong>Paulo Buzzi</strong></p>
                        <p class="quote-position text-md">Co-founder and Deputy CEO, Swissquote</p>
                        <div class="read-more-btn rounded-sm">
                            <a href="#">
                                <strong>FIND OUT MORE</strong>
                            </a>
                        </div>
                    </div>

                    <div class="carousel-slide hidden">
                        <div class="testimonial-quote border-box">
                            <div class="quote-top-left"></div>
                            <div class="quote-bottom-right"></div>
                            <p class="text-xl">Emiri is leading the field in
                                cryptography and blockchain Technology. By joining forces, we can help banks to
                                bridge the gap between traditional investments and digital assets
                            </p>
                        </div>
                        <p class="quote-author text-xl"><strong>Alexandre Duret</strong></p>
                        <p class="quote-position text-md">Product Director, Temenos</p>
                        <div class="read-more-btn rounded-sm">
                            <a href="#">
                                <strong>FIND OUT MORE</strong>
                            </a>
                        </div>
                    </div>

                    <div class="carousel-slide hidden">
                        <div class="testimonial-quote border-box">
                            <div class="quote-top-left"></div>
                            <div class="quote-bottom-right"></div>
                            <p class="text-xl">With digital assets set to become a multi-trillion-dollar market,
                                custodians must adapt. We're excited to partner with Taurus, a proven leader in
                                crypto and tokenization.</p>
                        </div>
                        <p class="quote-author-alt text-xl"><strong>Paul Maley</strong></p>
                        <p class="quote-position text-md">Global Head of Securities Services at Deutsche Bank AG</p>
                        <div class="read-more-btn rounded-sm">
                            <a href="#">
                                <strong>FIND OUT MORE</strong>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-controls mt-6 flex justify-center space-x-2">
            <button class="carousel-indicator rounded-md" data-index="0"></button>
            <button class="carousel-indicator rounded-md" data-index="1"></button>
            <button class="carousel-indicator rounded-md" data-index="2"></button>
        </div>
    </div>

    <!-- logo container -->
    <div class="logo-container">
        <!-- Grid container -->
        <div class="logo-grid">
            <!-- Column 1: Logo -->
            <div class="logo-item">
                <img src="/images/quote1.jpg" alt="Logo 1">
            </div>
            <!-- Column 2: Logo -->
            <div class="logo-item">
                <img src="/images/quote2.jpg" alt="Logo 2">
            </div>
            <!-- Column 3: Logo -->
            <div class="logo-item">
                <img src="/images/quote3.jpg" alt="Logo 3">
            </div>
        </div>
    </div>

    <!-- insight section -->
    <div class="insight-container mx-auto p-4">
        <!-- <div class="insight-grid grid grid-cols-1 lg:grid-cols-2"> -->
        <div class="insight-outer text-center">
            <div class="insight-grid-1 flex flex-col text-5xl">
                <div class="pb-10">Emiri <span>Insights</span></div>
                <a href="#" class="insight-link text-sm text-center font-medium underline">VISIT OUR BLOG ></a>
            </div>
        </div>

        <!-- <div class="insight-outer">
                <div>
                    <h2 class=" text-start insight-title text-2xl mb-1">Learn about
                        technology, use cases and market insights</h2>
                    <form>
                        <input type="email" placeholder="Email*"
                            class="form-input text-gray-300 px-5 py-3 shadow-md mb-2" />
                        <button type="submit" class="bg-pink-500 text-white  px-5 py-3">SUBSCRIBE</button>
                    </form>
                    <p class="text-xs text-gray-500">This website is protected by reCAPTCHA
                        and the Google Privacy Policy and Terms of Service apply.</p>
                </div>

            </div> -->
        <!-- </div> -->
    </div>

    <!-- last section -->
    <div class="swiper-container">
        <div class="swiper">
            <div class="swiper-wrapper">
                <!-- card 1 -->
                <div class="swiper-slide">
                    <div class="card-link">
                        <img src="/images/EmiriCoin.jpg" alt="Card Image" class="card-image">
                    </div>
                    <div style="white-space: nowrap;" class="title-date">
                        <h2 class="text-center text-xl font-medium">Dora: Digital Operational Resilience Act</h2>
                        <p class="date text-center">10.06.2024</p>
                    </div>
                    <div style="white-space: nowrap;" class="short-para">
                        <p class="text-center">DORA: Digital Operational Resilience Act</p>
                    </div>
                    <div class="slider-link-container text-center">
                        <div class="slider-link">
                            <a class="underline font-medium" href="#">READ MORE ></a>
                        </div>
                    </div>
                </div>

                <!-- card 2 -->
                <div class="swiper-slide">
                    <div class="card-link">
                        <img src="/images/EmiriPay.jpg" alt="Card Image" class="card-image">
                    </div>
                    <div style="white-space: nowrap;" class="title-date">
                        <h2 class="text-center text-xl font-medium">Dora: Digital Operational Resilience Act</h2>
                        <p class="date text-center">10.06.2024</p>
                    </div>
                    <div style="white-space: nowrap;" class="short-para">
                        <p class="text-center">DORA: Digital Operational Resilience Act</p>
                    </div>
                    <div class="slider-link-container text-center">
                        <div class="slider-link">
                            <a class="underline font-medium" href="#">READ MORE ></a>
                        </div>
                    </div>
                </div>

                <!-- card 3 -->
                <div class="swiper-slide">
                    <div class="card-link">
                        <img src="/images/GIIPSS.jpg" alt="Card Image" class="card-image">
                    </div>
                    <div style="white-space: nowrap;" class="title-date">
                        <h2 class="text-center text-xl font-medium">Dora: Digital Operational Resilience Act</h2>
                        <p class="date text-center">10.06.2024</p>
                    </div>
                    <div style="white-space: nowrap;" class="short-para">
                        <p class="text-center">DORA: Digital Operational Resilience Act</p>
                    </div>
                    <div class="slider-link-container text-center">
                        <div class="slider-link">
                            <a class="underline font-medium" href="#">READ MORE ></a>
                        </div>
                    </div>
                </div>

                <!-- card 4 -->
                <div class="swiper-slide">
                    <div class="card-link">
                        <img src="/images/GIIS.jpg" alt="Card Image" class="card-image">
                    </div>
                    <div style="white-space: nowrap;" class="title-date">
                        <h2 class="text-center text-xl font-medium">Dora: Digital Operational Resilience Act</h2>
                        <p class="date text-center">10.06.2024</p>
                    </div>
                    <div style="white-space: nowrap;" class="short-para">
                        <p class="text-center">DORA: Digital Operational Resilience Act</p>
                    </div>
                    <div class="slider-link-container text-center">
                        <div class="slider-link">
                            <a class="underline font-medium" href="#">READ MORE ></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Swiper Pagination -->
            <div class="fatic swiper-pagination"></div>
            <!-- Swiper Navigation -->
            <!-- <div class="swiper-button-prev"></div> -->
            <!-- <div class="swiper-button-next"></div> -->
        </div>
    </div>

    <script src="/javascripts/home.js"></script>