<%- layout('layouts/boilerplate') %>
    <!-- hero section -->
    <main class="z-1 all-hero relative text-white h-screen">
        <img src="/images/team.jpg" class="absolute inset-0 w-full h-full object-cover"></img>
        <div class="z-10 relative flex flex-col items-center justify-center h-screen bg-black bg-opacity-50">
            <div class="px-6 text-center" id="scroll-content">
                <h1 class="rob1 text-5xl font-bold md:text-6xl">
                    FINTECH & IT SECURITY SOLUTIONS
                </h1>
                <div class="relative">
                    <div class=" divider w-1/3 h-2 mx-auto bg-lime-green"></div>
                </div>
                <p class="para1 mt-10 text-2xl font-semibold">
                    Gambia's leading Fintech Sofware Development & <span
                        class="font-bold"></span>Defense-in-depth</span> <br />
                    Security Company - (The Red Heart Team).
                <div class="style-outer">
                    <div class="style-bottom"></div>
                </div>
                </p>
            </div>
        </div>
    </main>

    <!-- Outer Container -->
    <div class=" z-10 outer-container">
        <!-- Inner Container -->
        <div class="inner-container">
            <div class="relative overflow-hidden w-full h-30 max-w-[90%] ">
                <div id="auto-slider" class="flex gap-8"> <!-- Reduced gap -->
                    <div class="auto-slide flex-shrink-0 w-40 h-28 mx-2 text-center">
                        <!-- Reduced width and height -->
                        <img src="https://codersclutch.com/wp-content/uploads/2024/05/coders-logo.png"
                            alt="Best Performer Award" class="w-full h-full object-contain rounded-md opacity-45"
                            aria-label="Best Performer Award">
                    </div>
                    <div class="slide flex-shrink-0 w-40 h-28 mx-2 text-center"> <!-- Reduced width and height -->
                        <img src="https://fintech.com/wp-content/uploads/2023/06/Fintech-Logo-no-tagline-696x696-1.png"
                            alt="Most Creative Award" class="w-full h-full object-contain rounded-md opacity-45"
                            aria-label="Most Creative Award">
                    </div>
                    <div class="slide flex-shrink-0 w-40 h-28 mx-2 text-center"> <!-- Reduced width and height -->
                        <img src="https://www.qdb.qa/-/media/qdbapp/exports-directory/fine-posture-logo.ashx?h=1263&iar=0&w=1785&hash=73D8D798966370772A297D49D8823B29"
                            alt="Top Achievement Award" class="w-full h-full object-contain rounded-md opacity-45"
                            aria-label="Top Achievement Award">
                    </div>
                    <div class="slide flex-shrink-0 w-40 h-28 mx-2 text-center"> <!-- Reduced width and height -->
                        <img src="https://fintech.com/wp-content/uploads/2023/06/Fintech-Logo-no-tagline-696x696-1.png"
                            alt="Leadership Award" class="w-full h-full object-contain rounded-md opacity-45"
                            aria-label="Leadership Award">
                    </div>
                    <div class="slide flex-shrink-0 w-40 h-28 mx-1 text-center"> <!-- Reduced width and height -->
                        <img src="https://codersclutch.com/wp-content/uploads/2024/05/coders-logo.png"
                            alt="Excellence in Innovation Award" class="w-full h-full object-contain rounded-md opacity-45"
                            aria-label="Excellence in Innovation Award">
                    </div>
                    <div class="slide flex-shrink-0 w-40 h-28 mx-1 text-center"> <!-- Reduced width and height -->
                        <img src="https://www.qdb.qa/-/media/qdbapp/exports-directory/fine-posture-logo.ashx?h=1263&iar=0&w=1785&hash=73D8D798966370772A297D49D8823B29"
                            alt="Community Service Award" class="w-full h-full object-contain rounded-md opacity-45"
                            aria-label="Community Service Award">
                    </div>
        
                </div>
            </div>
        </div>
    </div>

    <div class="unified bg-white">
        <div class="unified-2">
            <!-- Heading -->
            <p class="text-2xl font-medium text-pink-400 pl-9">Unified platform</p>
            <!-- Subheading -->
            <p class=" second-para text-left">Bringing together innovative solutions
                for easy integration, and security.</p>


            <!-- Crypto-sectoin -->
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2">
                <!-- Grid Box 1 -->
                <div class="bg-white mt-4 p-6 border-l-2 h-80 dashed-border flex flex-col justify-between">
                    <div class="inner-div">
                        <!-- Icon Box -->
                        <div class="flex justify-start mb-3">
                            <div class="custom-circle text-xl text-pink-400">
                                <i class="ri-money-dollar-circle-line"></i>
                            </div>
                        </div>
                        <!-- Title and Paragraph -->
                        <h3 class=" texter text-lg md:text-2xl lg:text-3xl font-semibold mb-5 text-left">
                            Fintech Softwares</h3>
                        <p class="para-1  text-left">
                            Feature one offers a practical solution designed to enhance efficiency and ease of
                            use.
                        </p>
                        <div class="mt-10">
                            <a href="#" class="text-pink-400 flex items-center uppercase font-medium text-sm underline">
                                Find Out More <i class="ri-arrow-right-s-line"></i>
                            </a>
                        </div>
                    </div>
                </div>


                <!-- Grid Box 2 -->
                <div class="bg-white p-6 mt-4 border-l-2 dashed-border h-80 flex flex-col justify-between">
                    <div class="inner-div">
                        <!-- Icon Box -->
                        <div class="flex justify-start mb-3">
                            <div class="custom-circle text-xl text-pink-400">
                                <i class="ri-stack-line"></i>
                            </div>
                        </div>
                        <!-- Title and Paragraph -->
                        <h3 style="white-space: nowrap;"
                            class="texter text-lg md:text-2xl lg:text-3xl font-semibold mb-5 text-left">IT & Security
                        </h3>
                        <p class="para-1 text-left">
                            Feature two offers a practical solution designed to enhance efficiency and ease of
                            use.
                        </p>


                        <div class="mt-10">
                            <a href="#" class="text-pink-400 flex items-center uppercase font-medium text-sm underline">
                                Find Out More <i class="ri-arrow-right-s-line"></i>
                            </a>
                        </div>


                    </div>
                </div>


                <!-- Grid Box 3 -->
                <div class="bg-white does mt-4 p-6 border-l-2 dashed-border h-80 flex flex-col justify-between">
                    <div class="inner-div">
                        <!-- Icon Box -->
                        <div class="flex justify-start mb-3">
                            <div class="custom-circle text-xl text-pink-400">
                                <i class="ri-bank-line"></i>
                            </div>
                        </div>
                        <!-- Title and Paragraph -->
                        <h3 style="white-space: nowrap;"
                            class="texter text-lg md:text-2xl lg:text-3xl font-semibold mb-5 text-left">Digital Assets
                        </h3>
                        <p class="para-1 text-left">
                            Feature three offers a practical solution designed to enhance efficiency and ease of
                            use.
                        </p>
                        <div class="mt-10">
                            <a href="#" class="text-pink-400 flex items-center uppercase font-medium text-sm underline">
                                Find Out More <i class="ri-arrow-right-s-line"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- third-section -->
    <div class="laptop-container px-4 py-8">
        <div class="grid laptop-grid grid-cols-1 md:grid-cols-2">
            <!-- First Column -->
            <div class="bg-white column-1">
                <h1 class="text-2xl font-bold"><img class="icon-image"
                        src="https://www.taurushq.com/img/svg/logo-protect.svg" alt="Protection"></h1>
                <h2 class="font-semibold mb-4 column-1-title">Hot, warm and cold custody platform</h2>
                <p class="text-gray-700 column-1-text text-center">Custody and process any digital asset: crypto-assets,
                    tokenized securities,<br>digital currencies.</p>
                <img src="https://www.taurushq.com/img/home/image-protect.webp" alt="Laptop-image">
                <button class="button">Find out more</button>
            </div>
            <!-- Second Column -->
            <div class="bg-white  column-2">
                <h1 class="text-2xl font-bold"><img class="icon-image"
                        src="https://www.taurushq.com/img/svg/logo-capital.svg" alt="capital"></h1>
                <h2 class="text-2xl font-bold mb-4 column-2-title">Digital issuance and tokenization platform</h2>
                <p class="text-gray-700 column-2-text text-center">Digitally issue, book, and manage tokenized assets
                    across their full<br>lifecycle without limit. On any standard.</p>
                <img src="https://www.taurushq.com/img/home/image-capital.webp" alt="Laptop-image">
                <button class="button">Find out more</button>
            </div>
        </div>
    </div>

    <!-- fourth-section -->
    <div class="fourth-section container mx-auto grid grid-cols-1 lg:grid-cols-2">
        <!-- Column 1 -->
        <div class="fortress fourth-text">
            <div class="fourth-spacing">
                <p  class=" mb-3 font-poppins text-left text-5xl text-pink-400">
                    Industry-leading
                </p>
                <p class="texter font-poppins text-left text-5xl mb-4">technology.</p>
                <p  class="font-poppins text-left text-5xl mb-4 text-pink-400">Fast and
                    flexible</p>
                <p class="texter font-poppins text-left text-5xl mb-4">deployment.</p>
            </div>
            <div class=" first-border mt-6 font-poppins text-left text-xl space-y-6">
                <p  class="texter pl-5 pb-3"><i class="ri-verified-badge-line"></i>
                    Certified, award-winning technology</p>
                <p  class="texter pl-5 pb-3"><i class="ri-verified-badge-line"></i> On
                    premise, SaaS, hybrid deployment</p>
                <p  class="texter pl-5 pb-3"><i class="ri-verified-badge-line"></i>
                    Synergistic growth from co-marketing</p>
                <p  class="texter pl-5 pb-3"><i class="ri-verified-badge-line"></i>
                    Customized Training tailored to your needs</p>
                <p  class="texter pl-5 pb-3"><i class="ri-verified-badge-line"></i> Leader
                    in public, private blockchains, and tokenized assets</p>
            </div>
        </div>


        <!-- Column 2 -->
        <div class="just-image">
            <img src="https://img.freepik.com/free-photo/international-day-education-futuristic-style_23-2150998685.jpg?t=st=1734337000~exp=1734340600~hmac=6ea664273292290b0bf7a31d1a6752f46017db8664d9bd47ae1ac852f8850bb8&w=740"
                alt="">
        </div>
    </div>

    <!-- fifth-section -->
    <div class="fifth-container grid grid-cols-1 lg:grid-cols-2 gap-4">
        <!-- First Column -->
        <div class="fifth-1">
            <div class="fifth-1-2 bg-pink-600 rounded-sm text-white text-center">
                <a href="#" class=" font-semibold">
                    FIND OUT MORE ABOUT WHAT MAKE EMIRI FINTECH UNIQUE.
                </a>
            </div>
        </div>


        <!-- Second Column -->
        <!-- <div class="bg-white gombu"></div> -->
    </div>

    <!-- sixth-section -->
    <div class="sixth-container bg-white p-8 space-x-5">
        <div class="text-starter text-left text-5xl">
            <p>
                <span class="text-pink-400"># 1 fintech</span> partner. See why
            </p>
        </div>
        <div class="grid-text grid grid-cols-1 lg:grid-cols-2">
            <!-- First Column -->
            <div class="">
                <div class="grid-1  overflow-hidden">
                    <p class="text-xl">
                        <strong>More than half of banks</strong> offering digital assets run on Taurus infrastructure
                        in Switzerland.
                    </p>
                </div>
            </div>

            <!-- Second Column -->
            <div class="">
                <div class="grid-2  overflow-hidden">
                    <p class="text-xl">
                        <strong>Entrusted and in production</strong> with the full spectrum of financial institutions
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- seventh-container -->
    <div class="seventh-container">
        <!-- <div class=" grid grid-cols-1 lg:grid-cols-2"> -->
            <!-- First Column: Content Carousel -->
            <div class="seventh-text bg-gray-800">
                <div id="content-carousel" class="relative">
                    <!-- Slides -->
                    <div class="carousel-content">
                        <div class="carousel-item hidden">
                            <div class="quote black-border">
                                <div class="top-left-border"></div>
                                <div class="bottom-right-border"></div>
                                <p class="text-xl">We are deligted to have found a very
                                    innovative partner
                                    in Emiri Fintech. With Emiri's products, we can offer our customers an
                                    expanded range of investment
                                </p>
                            </div>
                            <p class="author text-xl"><strong>Paulo Buzzi</strong></p>
                            <p class="founder text-md">Co-founder and Deputy CEO,
                                Swissquote</p>
                            <div class="find-more rounded-sm">
                                <a href="#">
                                    <strong>FIND OUT MORE</strong>
                                </a>
                            </div>
                        </div>

                        <div class="carousel-item hidden">
                            <div class="quote black-border">
                                <div class="top-left-border"></div>
                                <div class="bottom-right-border"></div>
                                <p class="text-xl">Emiri is leading the field in
                                    cryptography and blockchain Technology. By joining forces, we can help banks to
                                    bridge the gap between traditional investments and digital assets
                                </p>
                            </div>
                            <p class="author text-xl"><strong>Alexandre Duret</strong></p>
                            <p class="founder text-md">Product Director, Temenos</p>
                            <div class="find-more rounded-sm">
                                <a href="#">
                                    <strong>FIND OUT MORE</strong>
                                </a>
                            </div>
                        </div>

                        <div class="carousel-item hidden">
                            <div class="quote black-border">
                                <div class="top-left-border"></div>
                                <div class="bottom-right-border"></div>
                                <p class="text-xl">With digital assets set to become a multi-trillion-dollar market,
                                    custodians must adapt. We're excited to partner with Taurus, a proven leader in
                                    crypto and tokenization.</p>
                            </div>
                            <p class="author-2 text-xl"><strong>Paul Maley</strong></p>
                            <p class="founder text-md">Global Head of Securities Services
                                at Deutsche Bank AG</p>
                            <div class="find-more rounded-sm">
                                <a href="#">
                                    <strong>FIND OUT MORE</strong>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Second Column: Image Carousel -->
            <!-- <div class="seventh-image"> -->
                <!-- <div id="image-carousel" class="relative">
                    <div class="carousel-content">
                        <div class="carousel-item hidden">
                            <img src="/images/building.jpg" alt="Image Slide 1" class="object-cover">
                        </div>
                        <div class="carousel-item hidden">
                            <img src="/images/building2.jpg" alt="Image Slide 2" class="object-cover">
                        </div>
                        <div class="carousel-item hidden">
                            <img src="/images/building3.jpg" alt="Image Slide 3" class="">
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <!-- Controls -->
        <div class=" controls mt-6 flex justify-center space-x-2">
            <button class="control-line rounded-md" data-index="0"></button>
            <button class="control-line rounded-md" data-index="1"></button>
            <button class="control-line rounded-md" data-index="2"></button>
        </div>
    </div>

    <!-- logo container -->
    <div class="logo-container">
        <!-- Grid container -->
        <div class="logo-grid">
            <!-- Column 1: Logo -->
            <div class="logo-item">
                <img src="/images/quote1.jpg" alt="Logo 1">
            </div>
            <!-- Column 2: Logo -->
            <div class="logo-item">
                <img src="/images/quote2.jpg" alt="Logo 2">
            </div>
            <!-- Column 3: Logo -->
            <div class="logo-item">
                <img src="/images/quote3.jpg" alt="Logo 3">
            </div>
        </div>
    </div>

    <!-- insight section -->
    <div class="insight-container mx-auto p-4">
        <div class="insight-grid grid grid-cols-1 lg:grid-cols-2">
            <div class="insight-outer">
                <div class="insight-grid-1  text-5xl">Emiri <span>Insights</span></div>
                <a href="#" class="insight-link text-sm font-medium underline">VISIT OUR BLOG ></a>
            </div>

            <div class="insight-outer">
                <div>
                    <h2 class=" text-start insight-title text-2xl mb-1">Learn about
                        technology, use cases and market insights</h2>
                    <form>
                        <input type="email" placeholder="Email*"
                            class="form-input text-gray-300 px-5 py-3 shadow-md mb-2" />
                        <button type="submit" class="bg-pink-500 text-white  px-5 py-3">SUBSCRIBE</button>
                    </form>
                    <p class="text-xs text-gray-500">This website is protected by reCAPTCHA
                        and the Google Privacy Policy and Terms of Service apply.</p>
                </div>

            </div>
        </div>
    </div>

    <!-- last section -->
    <div class="swiper-container">
        <div class="swiper">
            <div class="swiper-wrapper">
                <!-- card 1 -->
                <div class="swiper-slide">
                    <div class="card-link">
                        <img src="/images/holder1.jpg" alt="Card Image" class="card-image">
                    </div>
                    <div style="white-space: nowrap;" class="title-date">
                        <h2 class="text-center text-xl font-medium">Dora: Digital Operational Resilience Act</h2>
                        <p class="date text-center">10.06.2024</p>
                    </div>
                    <div style="white-space: nowrap;" class="short-para">
                        <p class="text-center">DORA: Digital Operational Resilience Act</p>
                    </div>
                    <div class="slider-link-container text-center">
                        <div class="slider-link">
                            <a class="underline font-medium" href="#">READ MORE ></a>
                        </div>
                    </div>
                </div>

                <!-- card 2 -->
                <div class="swiper-slide">
                    <div class="card-link">
                        <img src="/images/holder1.jpg" alt="Card Image" class="card-image">
                    </div>
                    <div style="white-space: nowrap;" class="title-date">
                        <h2 class="text-center text-xl font-medium">Dora: Digital Operational Resilience Act</h2>
                        <p class="date text-center">10.06.2024</p>
                    </div>
                    <div style="white-space: nowrap;" class="short-para">
                        <p class="text-center">DORA: Digital Operational Resilience Act</p>
                    </div>
                    <div class="slider-link-container text-center">
                        <div class="slider-link">
                            <a class="underline font-medium" href="#">READ MORE ></a>
                        </div>
                    </div>
                </div>

                <!-- card 3 -->
                <div class="swiper-slide">
                    <div class="card-link">
                        <img src="/images/holder1.jpg" alt="Card Image" class="card-image">
                    </div>
                    <div style="white-space: nowrap;" class="title-date">
                        <h2 class="text-center text-xl font-medium">Dora: Digital Operational Resilience Act</h2>
                        <p class="date text-center">10.06.2024</p>
                    </div>
                    <div style="white-space: nowrap;" class="short-para">
                        <p class="text-center">DORA: Digital Operational Resilience Act</p>
                    </div>
                    <div class="slider-link-container text-center">
                        <div class="slider-link">
                            <a class="underline font-medium" href="#">READ MORE ></a>
                        </div>
                    </div>
                </div>

                <!-- card 4 -->
                <div class="swiper-slide">
                    <div class="card-link">
                        <img src="/images/holder1.jpg" alt="Card Image" class="card-image">
                    </div>
                    <div style="white-space: nowrap;" class="title-date">
                        <h2 class="text-center text-xl font-medium">Dora: Digital Operational Resilience Act</h2>
                        <p class="date text-center">10.06.2024</p>
                    </div>
                    <div style="white-space: nowrap;" class="short-para">
                        <p class="text-center">DORA: Digital Operational Resilience Act</p>
                    </div>
                    <div class="slider-link-container text-center">
                        <div class="slider-link">
                            <a class="underline font-medium" href="#">READ MORE ></a>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="card-link">
                        <img src="/images/holder1.jpg" alt="Card Image" class="card-image">
                    </div>
                    <div style="white-space: nowrap;" class="title-date">
                        <h2 class="text-center text-xl font-medium">Dora: Digital Operational Resilience Act</h2>
                        <p class="date text-center">10.06.2024</p>
                    </div>
                    <div style="white-space: nowrap;" class="short-para">
                        <p class="text-center">DORA: Digital Operational Resilience Act</p>
                    </div>
                    <div class="slider-link-container text-center">
                        <div class="slider-link">
                            <a class="underline font-medium" href="#">READ MORE ></a>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="card-link">
                        <img src="/images/holder1.jpg" alt="Card Image" class="card-image">
                    </div>
                    <div style="white-space: nowrap;" class="title-date">
                        <h2 class="text-center text-xl font-medium">Dora: Digital Operational Resilience Act</h2>
                        <p class="date text-center">10.06.2024</p>
                    </div>
                    <div style="white-space: nowrap;" class="short-para">
                        <p class="text-center">DORA: Digital Operational Resilience Act</p>
                    </div>
                    <div class="slider-link-container text-center">
                        <div class="slider-link">
                            <a class="underline font-medium" href="#">READ MORE ></a>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="card-link">
                        <img src="/images/holder1.jpg" alt="Card Image" class="card-image">
                    </div>
                    <div style="white-space: nowrap;" class="title-date">
                        <h2 class="text-center text-xl font-medium">Dora: Digital Operational Resilience Act</h2>
                        <p class="date text-center">10.06.2024</p>
                    </div>
                    <div style="white-space: nowrap;" class="short-para">
                        <p class="text-center">DORA: Digital Operational Resilience Act</p>
                    </div>
                    <div class="slider-link-container text-center">
                        <div class="slider-link">
                            <a class="underline font-medium" href="#">READ MORE ></a>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="card-link">
                        <img src="/images/holder1.jpg" alt="Card Image" class="card-image">
                    </div>
                    <div style="white-space: nowrap;" class="title-date">
                        <h2 class="text-center text-xl font-medium">Dora: Digital Operational Resilience Act</h2>
                        <p class="date text-center">10.06.2024</p>
                    </div>
                    <div style="white-space: nowrap;" class="short-para">
                        <p class="text-center">DORA: Digital Operational Resilience Act</p>
                    </div>
                    <div class="slider-link-container text-center">
                        <div class="slider-link">
                            <a class="underline font-medium" href="#">READ MORE ></a>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="card-link">
                        <img src="/images/holder1.jpg" alt="Card Image" class="card-image">
                    </div>
                    <div style="white-space: nowrap;" class="title-date">
                        <h2 class="text-center text-xl font-medium">Dora: Digital Operational Resilience Act</h2>
                        <p class="date text-center">10.06.2024</p>
                    </div>
                    <div style="white-space: nowrap;" class="short-para">
                        <p class="text-center">DORA: Digital Operational Resilience Act</p>
                    </div>
                    <div class="slider-link-container text-center">
                        <div class="slider-link">
                            <a class="underline font-medium" href="#">READ MORE ></a>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Swiper Pagination -->
            <div class="fatic swiper-pagination"></div>
            <!-- Swiper Navigation -->
            <!-- <div class="swiper-button-prev"></div> -->
            <!-- <div class="swiper-button-next"></div> -->
        </div>
    </div>


    <script src="/javascripts/home.js"></script>