<%- layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/nft.css">
    <link rel="stylesheet" href="/helper/web.css">
    <link rel="stylesheet" href="/stylesheets/crypto.css">
    <link rel="stylesheet" href="/stylesheets/digitalres.css">
    <link rel="stylesheet" href="/stylsheets/digital2.css">
    <link rel="stylesheet" href="/stylesheets/business.css">
    <link rel="stylesheet" href="/stylesheets/digital.css">


    <div class="digital-hero">
        <div class="digital-texts">
            <div class=" title-1 font-bold text-5xl flex flex-col justify-center gap-7">
                <div class="image-digi flex gap-3"> <img src="/images/blockchain.png" class="h-12" alt=""><span>NFT
                        development company</span></div>
                <div class="white-r"></div>
            </div>
        </div>
    </div>

    <div class="acordion">
        <div class="forensic-dropper">
            <div class=" dropper-container zero-pad">
                <div class="acord-starter">
                    <p class="acord-2 corder">Emiri FinTech can help you navigate the world of non-fungible tokens. NFTs
                        are blockchain-based digital assets that can represent digital art, music, signatures, or even
                        tweets, which can be bought and sold. With over 16 years of experience in software development,
                        we provide cutting-edge NFT solutions that enhance revenue and brand recognition for businesses.
                        <hr class="hrr">
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- second section -->
    <div class="nft-does cont flex items-center justify-center bg-no-repeat bg-center bg-cover bg-black bg-opacity-50"
        style="background-image: url('https://innowise.com/wp-content/themes/hello-elementor/assets/images/nft/image%20362.jpg');">
        <div class="flex flex-col items-center text-center">
            <p class="text-white text-4xl font-medium">Let professionals handle your Web3 Project
            </p>
            <a href="#" class="mt-14 px-6 py-4 text-white bg-red-500 rounded-sm hover:bg-blue-700">Contact us</a>
        </div>
    </div>

    <!-- third section -->
    <div class="text-gray-800  hexmen flex justify-center">
        <div class="mx-auto mainer">
            <div class="thug-header nft-thug-header">
                <p class="thug-title">Blockchain development cost</p>
                <p>As a top-tier blockchain development services provider, Innowise aims at rendering world-class
                    services at a
                    <br> reasonable cost. At Innowise, we maintain full-pledged blockchain development services and
                    supply our <br>
                    clients with all the required specialists based on the project type and complexity. <br>
                    This includes:
                </p>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-3 gridder">
                <!-- nft design -->
                <div class="innertext flex flex-col">
                    <div class="custom-nft">
                        <img src="/images/nft.png" class="h-12" alt="">
                    </div>
                    <a href="#" class="text-xl font-semibold text-gray-900  hoveffect">NFT asset design</a>
                    <p class="text-base font-medium leading-relaxed max-w-md">
                        World-class designers on our team create unique 2D and 3D assets to be subsequently minted into
                        tokens, bringing to life any idea in digital form. The asset can then be minted into an NFT and
                        distributed in any convenient way.</p>
                </div>

                <!--intellectual-  -->
                <div class="innertext flex flex-col">
                    <div class="custom-nft">
                        <img src="/images/favoritenft.png" class="h-12" alt="">
                    </div>
                    <a href="#" class="text-xl font-semibold text-gray-900  hoveffect">Intellectual property
                        tokenization</a>
                    <p class="text-base font-medium leading-relaxed max-w-md">
                        Our team with deep expertise in blockchain and NFTs assists businesses in creating non-fungible
                        tokens with various types of intellectual property, be it a painting or a single tweet.</p>
                </div>

                <!-- NFT minting -->
                <div class="innertext flex flex-col">
                    <div class="custom-nft">
                        <img src="/images/learning.png" class="h-12" alt="">
                    </div>
                    <a href="#" class="text-xl font-semibold text-gray-900  hoveffect">NFT minting</a>
                    <p class="text-base font-medium leading-relaxed max-w-md">
                        nnowise renders NFT minting services, which means developing and launching a smart contract to
                        create and publish a unique token on the blockchain with the data about the digital asset. The
                        token proves the authenticity of the asset and can’t be fraudulently reproduced.</p>
                </div>

                <!-- Smart contract development -->
                <div class="innertext flex flex-col">
                    <div class="custom-nft">
                        <img src="/images/paper.png" class="h-12" alt="">
                    </div>
                    <a href="#" class="text-xl font-semibold text-gray-900  hoveffect">Smart contract development</a>
                    <p class="text-base font-medium leading-relaxed max-w-md">
                        Our smart contract developers both build from scratch and modify existing scripts for utilizing
                        crypto assets. Innowise’s smart contract development services allow for rapid, secure, and
                        cost-effective automated management of crypto assets.</p>
                </div>

                <!-- Migrating NFTs -->
                <div class="innertext flex flex-col">
                    <div class="custom-nft">
                        <img src="/images/neuralnft.png" class="h-12" alt="">
                    </div>
                    <a href="#" class="text-xl font-semibold text-gray-900  hoveffect">Migrating NFTs</a>
                    <p class="text-base font-medium leading-relaxed max-w-md">
                        Our blockchain professionals create cross-chain bridges to transfer tokens from one blockchain
                        to another if required. It’s essential to conduct a seamless migration between blockchains to
                        secure the created assets during the process.</p>
                </div>

                <!-- Cross-chain NFT platform development -->
                <div class="innertext flex flex-col">
                    <div class="custom-nft">
                        <img src="/images/tag.png" class="h-12" alt="">
                    </div>
                    <a href="#" class="text-xl font-semibold text-gray-900  hoveffect">Cross-chain NFT platform
                        development</a>
                    <p class="text-base font-medium leading-relaxed max-w-md">
                        At Innowise, we build NFT platforms and marketplaces equipped with cross-chain capabilities such
                        as blockchain networks interoperability, cross-chain transactions, and multi-token wallet
                        systems. They ensure efficient, secure, and seamless NFT exchange in different networks.</p>
                </div>

            </div>
        </div>
    </div>

    <!-- fourth section -->
    <div class="table-content">
        <div style="font-size: 2.3rem;" class="content-title hide-seek text-left font-medium">
            <h1 style="color: #fff;">NFT solutions development</h1>
        </div>
        <div class="content-container">
            <div class="left-column">
                <ul class="font-normal text-lg">
                    <li><a href="#" class="active uppercase" data-section="section1">NFT marketplace development</a>
                    </li>
                    <li><a href="#" data-section="section2" class="uppercase">NFT website development</a></li>
                    <li><a href="#" data-section="section3" class="uppercase">NFT app development</a></li>
                    <li><a href="#" data-section="section4" class="uppercase">NFT staking projects</a></li>
                    <li><a href="#" data-section="section5" class="uppercase">Auction portal development</a></li>
                    <li><a href="#" data-section="section6" class="uppercase">NFT Lending Platform development</a></li>
                    <li><a href="#" data-section="section7" class="uppercase">NFT minting platform</a></li>
                    <li><a href="#" data-section="section8" class="uppercase">NFT games development</a></li>
                    <li><a href="#" data-section="section9" class="uppercase">NFT Art gallery development</a></li>
                    <li><a href="#" data-section="section10" class="uppercase">NFT streaming platform</a></li>
                    <li><a href="#" data-section="section11" class="uppercase">NFT art design</a></li>

                </ul>
            </div>
            <div class="right-column" id="content">
                <div class="right-container">
                    <h2 style="color:#D13B3B ;" class="font-bold text-2xl">Custom Fintech software development</h2>
                    <p style="color: #fff;" class="text-lg">Innowise creates custom-built solutions for financial,
                        banking, and
                        insurance<br>industries, bringing in 16+ years of experience in IT.</p>
                    <img src="https://diceus.com/wp-content/uploads/2023/09/og_cover_1-1.jpg" alt="$FinTech"
                        class="section-image mt-4">
                </div>
            </div>
        </div>

        <div class="response-handler">
            <div class="content-title seek-hide text-4xl font-medium">
                <h1>Get comprehensive FinTech development</h1>
                <h1>services</h1>
            </div>
            <div class="accordion-unique">
                <div class="accordion-item-unique">
                    <div class="accordion-title-unique" data-section="section1">
                        Custom FinTech software development
                    </div>
                    <div class="accordion-content-unique">
                        <p>Innowise creates custom-built solutions for financial, banking, and insurance industries,
                            bringing in 16+ years of experience in IT.</p>
                        <img src="https://diceus.com/wp-content/uploads/2023/09/og_cover_1-1.jpg"
                            alt="Custom FinTech software development">
                    </div>
                </div>

                <div class="accordion-item-unique">
                    <div class="accordion-title-unique" data-section="section2">
                        FinTech software support
                    </div>
                    <div class="accordion-content-unique">
                        <p>Our company provides software maintenance services to ensure its reliability, operability,
                            security, and regulation compliance.</p>
                        <img src="https://img.freepik.com/free-photo/corporate-clients-evaluating-investment-opportunity-real-estate_482257-94925.jpg"
                            alt="FinTech software support">
                    </div>
                </div>

                <div class="accordion-item-unique">
                    <div class="accordion-title-unique" data-section="section3">
                        FinTech consulting services
                    </div>
                    <div class="accordion-content-unique">
                        <p>As a leading IT advisory, Innowise offers expert guidance on navigating financial technology,
                            from market analysis to regulatory requirements and strategic planning.</p>
                        <img src="https://img.freepik.com/premium-photo/diverse-businesspeople-coworkers-standing-conference-table-analyzing-financial-graphs-paperwork_482257-7558.jpg?w=1060"
                            alt="FinTech consulting services">
                    </div>
                </div>

                <div class="accordion-item-unique">
                    <div class="accordion-title-unique" data-section="section3">
                        FinTech integration services
                    </div>
                    <div class="accordion-content-unique">
                        <p>As a leading IT advisory, Innowise offers expert guidance on navigating
                            financial<br>technology, from market analysis to regulatory requirements and
                            strategic<br>planning.</p>
                        <img src="https://img.freepik.com/premium-photo/businessman-showing-smartphone-with-pie-chart-screen-by-futuristic-designs-presenting-business-data-man-with-cellphone-introducing-new-ideas-strategies-progress_424947-5834.jpg?w=1380"
                            alt="FinTech consulting services">
                    </div>
                </div>

                <div class="accordion-item-unique">
                    <div class="accordion-title-unique" data-section="section3">
                        FinTech cybersecurity services
                    </div>
                    <div class="accordion-content-unique">
                        <p>If you need stronger data protection, we’re here to help — we can audit your
                            current<br>setup, add data encryption, and set up role-based access to keep your
                            FinTech<br>systems secure.</p>
                        <img src="https://img.freepik.com/premium-photo/financial-security-text-luminous-inscription-financial-security-concept3d-render_507676-4825.jpg?uid=R176520851&ga=GA1.1.438080985.1725988205&semt=ais_hybrid"
                            alt="FinTech consulting services">
                    </div>
                </div>

                <div class="accordion-item-unique">
                    <div class="accordion-title-unique" data-section="section3">
                        Banking software development
                    </div>
                    <div class="accordion-content-unique">
                        <p>Our A-level developers build banking software solutions that guarantee robust<br>data
                            security, compliance with regulatory standards, and accessible banking<br>services to the
                            customers.</p>
                        <img src="https://img.freepik.com/premium-photo/online-banking-digital-money-technology-conceptual_31965-19058.jpg?uid=R176520851&ga=GA1.1.438080985.1725988205&semt=ais_hybrid"
                            alt="FinTech consulting services">
                    </div>
                </div>

                <div class="accordion-item-unique">
                    <div class="accordion-title-unique" data-section="section3">
                        Insurance software development
                    </div>
                    <div class="accordion-content-unique">
                        <p>At Innowise, we develop insurance software that automates and streamlines<br>everything from
                            claims and policy management to underwriting, billing, and<br>actuarial modeling.</p>
                        <img src="https://img.freepik.com/free-psd/internet-cloud-technology-concept_53876-15432.jpg?uid=R176520851&ga=GA1.1.438080985.1725988205&semt=ais_hybrid"
                            alt="FinTech consulting services">
                    </div>
                </div>

                <div class="accordion-item-unique">
                    <div class="accordion-title-unique" data-section="section3">
                        Digital financial transformation
                    </div>
                    <div class="accordion-content-unique">
                        <p>Our skilled teams of software engineers help businesses comprehend the pros
                            of<br>digitization and embrace business transformation to step on another level
                            of<br>financial efficiency.</p>
                        <img src="https://img.freepik.com/premium-photo/rpa-financial-servicesrobotic-process-automation-banking-intelligent-automation-digital-transformation-finance-error-reduction-time-savings-financial-services_1082696-4477.jpg?w=1060"
                            alt="FinTech consulting services">
                    </div>
                </div>

                <div class="accordion-item-unique">
                    <div class="accordion-title-unique" data-section="section3">
                        Blockchain software development
                    </div>
                    <div class="accordion-content-unique">
                        <p>Our experts use blockchain to build decentralized trading and asset management<br>platforms
                            where security is unbreakable and transparency isn’t just a feature —<br>it’s the
                            foundation.</p>
                        <img src="https://img.freepik.com/free-photo/big-data-blockchain-technology-isometric-mobile-phone-data-visualization_587448-4817.jpg?uid=R176520851&ga=GA1.1.438080985.1725988205&semt=ais_hybrid"
                            alt="FinTech consulting services">
                    </div>
                </div>

                <div class="accordion-item-unique">
                    <div class="accordion-title-unique" data-section="section3">
                        Cryptocurrency software development
                    </div>
                    <div class="accordion-content-unique">
                        <p>Innowise offers top-tier crypto software development services, ensuring<br>unwavering
                            security and convenience for users to manage their digital assets.</p>
                        <img src="https://img.freepik.com/free-photo/big-data-blockchain-technology-isometric-mobile-phone-data-visualization_587448-4817.jpg?uid=R176520851&ga=GA1.1.438080985.1725988205&semt=ais_hybrid"
                            alt="FinTech consulting services">
                    </div>
                </div>

                <div class="accordion-item-unique">
                    <div class="accordion-title-unique" data-section="section3">
                        Legacy app and system modernization
                    </div>
                    <div class="accordion-content-unique">
                        <p>With our profound assistance, upgrading obsolete software and adding new<br>features to the
                            existing solutions go smoothly, with no interruptions to the<br>business.</p>
                        <img src="https://img.freepik.com/premium-photo/top-view-realistic-smartphone-screen-with-url-square-frame-shape-copy-space-black-background_1302-35617.jpg?uid=R176520851&ga=GA1.1.438080985.1725988205&semt=ais_hybrid"
                            alt="FinTech consulting services">
                    </div>
                </div>

                <div class="accordion-item-unique">
                    <div class="accordion-title-unique" data-section="section3">
                        Financial data management
                    </div>
                    <div class="accordion-content-unique">
                        <p>We help companies design secure, compliant solutions that automate the<br>collection,
                            storage, and analysis of financial information to improve risk<br>management for businesses.
                        </p>
                        <img src="https://img.freepik.com/free-photo/financial-advisor-expert-highlighting-important-terms-retirement-plan_482257-91506.jpg?uid=R176520851&ga=GA1.1.438080985.1725988205&semt=ais_hybrid"
                            alt="FinTech consulting services">
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- fifth-section -->
    <div class="text-gray-800  hexmen flex justify-center">
        <div class="mx-auto mainer">
            <div class="thug-header nft-thug-header">
                <p class="thug-title">Platforms we develop NFTs on</p>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-3 gridder">
                <!-- Ethereum-based NFT development-->
                <div class="innertext flex flex-col">
                    <div class="custom-nft">
                        <img src="/images/nft.png" class="h-12" alt="">
                    </div>
                    <a href="#" class="text-xl font-semibold text-gray-900  hoveffect">Ethereum-based NFT
                        development</a>
                    <p class="text-base font-medium leading-relaxed max-w-md">
                        We leverage our expertise in NFT development to create outstanding products based on the leading
                        NFT blockchain platform Ethereum.</p>
                </div>

                <!--Development on Binance Smart Chain-  -->
                <div class="innertext flex flex-col">
                    <div class="custom-nft">
                        <img src="/images/favoritenft.png" class="h-12" alt="">
                    </div>
                    <a href="#" class="text-xl font-semibold text-gray-900  hoveffect">Binance Smart Chain
                        tokenization</a>
                    <p class="text-base font-medium leading-relaxed max-w-md">
                        We build NFT solutions based on Binance Smart Chain to forge the product keeping up with the
                        high industry standards while remaining optimally priced.z</p>
                </div>

                <!-- Utilizing Tezos for NFT development -->
                <div class="innertext flex flex-col">
                    <div class="custom-nft">
                        <img src="/images/learning.png" class="h-12" alt="">
                    </div>
                    <a href="#" class="text-xl font-semibold text-gray-900  hoveffect">Utilizing Tezos for NFT
                        development</a>
                    <p class="text-base font-medium leading-relaxed max-w-md">
                        Innowise develops secure, energy efficient, and easily scalable Web3 Products based on Tezos
                        blockchain technology.</p>
                </div>

                <!-- Cardano-based NFT development -->
                <div class="innertext flex flex-col">
                    <div class="custom-nft">
                        <img src="/images/paper.png" class="h-12" alt="">
                    </div>
                    <a href="#" class="text-xl font-semibold text-gray-900  hoveffect">Cardano-based NFT development</a>
                    <p class="text-base font-medium leading-relaxed max-w-md">
                        Our world-class software development team creates secure, transparent, and sustainable products
                        based on Cardano blockchain.</p>
                </div>

                <!-- NFT development on Solana -->
                <div class="innertext flex flex-col">
                    <div class="custom-nft">
                        <img src="/images/neuralnft.png" class="h-12" alt="">
                    </div>
                    <a href="#" class="text-xl font-semibold text-gray-900  hoveffect">NFT development on Solana</a>
                    <p class="text-base font-medium leading-relaxed max-w-md">Innowise’s blockchain & NFT talents
                        utilize Solana blockchain to tailor products showing swift transactions and low gas fees.</p>
                </div>

                <!--Polkadot-based NFT development -->
                <div class="innertext flex flex-col">
                    <div class="custom-nft">
                        <img src="/images/tag.png" class="h-12" alt="">
                    </div>
                    <a href="#" class="text-xl font-semibold text-gray-900  hoveffect">Polkadot-based NFT development
                        development</a>
                    <p class="text-base font-medium leading-relaxed max-w-md">
                        Our top-tier software engineers utilize Polkadot blockchain to develop highly secure and easily
                        scalable cross-blockchain solutions.</p>
                </div>

            </div>
        </div>
    </div>

    <!-- sixth section -->
    <div class="kaira-container">
        <div class="kaira-image">
            <img src="https://innowise.com/wp-content/uploads/2022/08/Photo-1.png" alt="Andrew Nalichaev">
        </div>
        <div class="kaira-text">
            <p class="kaira-crypto">Have your Web3 Project done by Innowise</p>
            <p class="crypto-1-para">Our world-class NFT developers will swiftly bring your project from the idea to a
                <br> functional product
            </p>
            <div class="crypto-kairo">
                <a href="#" class="crypto-button">Connect with us</a>
            </div>
        </div>
    </div>

    <!-- seventh section -->
    <div class="text-gray-800  hexmen flex justify-center">
        <div class="mx-auto mainer">
            <div class="thug-header nft-thug-header">
                <p class="thug-title">Benefits of NFTs</p>
                <p class="that-para">
                    Apart from being one of the most booming technologies at the moment, non- <br>fungible tokens offer
                    an array of opportunities for individuals and businesses <br> that were not available earlier.
                    Innowise’s broad expertise in the field gives a <br>chance to secure a formidable position in this
                    market.
                </p>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-3 gridder">
                <!-- Security-->
                <div class="innertext flex flex-col">
                    <div class="custom-nft">
                        <img src="/images/nft.png" class="h-12" alt="">
                    </div>
                    <a href="#" class="text-xl font-semibold text-gray-900  hoveffect">Security</a>
                    <p class="text-base font-medium leading-relaxed max-w-md">
                        Non-fungible tokens are a blockchain-based technology. Each token is a unique record in a
                        blockchain of your choice, which functions as an immutable digital signature and guarantees
                        uniqueness and ownership. It leads to impenetrable security of the asset put into the token
                        since any blockchain is virtually unhackable nowadays.</p>
                </div>

                <!--Versatility  -->
                <div class="innertext flex flex-col">
                    <div class="custom-nft">
                        <img src="/images/favoritenft.png" class="h-12" alt="">
                    </div>
                    <a href="#" class="text-xl font-semibold text-gray-900  hoveffect">Versatility</a>
                    <p class="text-base font-medium leading-relaxed max-w-md">
                        NFTs have a wide range of use cases. You can put digital art, music, GIFs, collectibles, etc.
                        into a token and spread it to any relevant audience. Moreover, they can be used not only as a
                        proof of authenticity, but also as a certificate of ownership of any physical or digital item.
                        Potentially, we can utilize this technology to create digital IDs that will be impossible to
                        forge.</p>
                </div>

                <!-- Market efficiency-->
                <div class="innertext flex flex-col">
                    <div class="custom-nft">
                        <img src="/images/learning.png" class="h-12" alt="">
                    </div>
                    <a href="#" class="text-xl font-semibold text-gray-900  hoveffect">Market efficiency</a>
                    <p class="text-base font-medium leading-relaxed max-w-md">
                        Combining all the features above, we get a significant increase in market efficiency established
                        by NFTs. Utilizing NFTs doesn’t just bring the creators and consumers closer to each other,
                        while simultaneously solidly impacting the market. NFTs can streamline and secure buy/sell
                        operations and enable easier monetization.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- eight sectioin-->
    <div class="util-outer flex justify-center items-center">
        <div class="util-container">
            <h1 class="util-title">How can NFTs be utilized?</h1>
            <p class="util-description">Non-fungible tokens are a versatile tool that can be precisely tailored to <br>
                particular needs.</p>

            <div class="util-grid grid grid-cols-1 md:grid-cols-2">
                <div class="util-grid-item">
                    <h3 class="util-grid-item-title font-semibold">Managing assets</h3>
                    <p class="util-grid-item-description">When the asset is converted into an NFT, it can be stored or
                        transferred to another user easily and securely. Users can manage their NFTs via one application
                        and the blockchain will exclude the possibility of fraud.</p>
                </div>

                <div class="util-grid-item">
                    <h3 class="util-grid-item-title font-semibold">Collectibles</h3>
                    <p class="util-grid-item-description">Whether it’s a piece of art, an in-game item, or a physical
                        asset, an NFT can act as a certificate of ownership or authenticity that can’t be forged.</p>
                </div>

                <div class="util-grid-item">
                    <h3 class="util-grid-item-title font-semibold">Software licensing</h3>
                    <p class="util-grid-item-description">Non-fungible tokens can replace license keys. By putting the
                        license information into an NFT and sending the token to an end-user, developers can automate
                        the process of software distribution and licensing.</p>
                </div>

                <div class="util-grid-item">
                    <h3 class="util-grid-item-title font-semibold">Subscription management</h3>
                    <p class="util-grid-item-description">Just like software licensing, NFTs enable end customers to
                        subscribe to the services or content from the creators.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- nine section -->
    <div class="meta-outer">
        <div class="meta-container">
            <p class="meta-title">NFTs and Metaverse</p>
            <p class="meta-para pb-9">As a term, Metaverse describes a digital world bringing its visitors an experience
                similar or even better than the one they can get in the offline world. We already can see immersive
                online experiences such as digital museums, art exhibitions, shops, and games.</p>
            <p class="meta-para">NFTs will become an integral part of the Metaverse allowing users to transfer owned
                assets from one virtual world to another and use them anywhere in the digital universe. In this case,
                non-fungible tokens will serve as proof of possession or authenticity of an asset. This feature will
                make NFTs rapidly spread their popularity across the globe and become greatly valuable.</p>
        </div>
    </div>

    <!-- tenth section -->
    <div id="insights" class="darker-stellar ai-steller stellar-swiper-container">
        <p class="neft">
            NFT for any industry
        </p>
        <div class="cosmic-swiper">
            <div class="orbital-wrapper swiper-wrapper">
                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="cadder crypto-carder overflow-hidden">
                        <!-- Image at the top -->
                        <img class="w-full zoom-img"
                            src="https://innowise.com/wp-content/themes/hello-elementor/assets/images/nft/Frame%2047161.jpg"
                            alt="Card image">

                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-2xl mt-5 mb-2 pl-3 text-left">Art
                            </div>
                        </div>

                        <div class="account-description-outer">
                            <div class="account-description dess">
                                <p style="font-size: 16px;" class=" ziga font-medium">At Emiri Fintech, we
                                    excel in predictive analysis, leveraging advanced AI and machine
                                    learning techniques to forecast trends and optimize business operations.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="cadder crypto-carder overflow-hidden">
                        <!-- Image at the top -->
                        <img class="w-full zoom-img"
                            src="https://innowise.com/wp-content/themes/hello-elementor/assets/images/nft/Frame%204716%20(1)1.jpg"
                            alt="Card image">

                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-2xl mt-5 mb-2 pl-3 text-left">Digital Content
                            </div>
                        </div>

                        <div class="account-description-outer">
                            <div class="account-description dess">
                                <p style="font-size: 16px;" class=" ziga font-medium">At Emiri Fintech, we
                                    excel in predictive analysis, leveraging advanced AI and machine
                                    learning techniques to forecast trends and optimize business operations.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="cadder crypto-carder overflow-hidden">
                        <!-- Image at the top -->
                        <img class="w-full zoom-img"
                            src="https://innowise.com/wp-content/themes/hello-elementor/assets/images/nft/Frame%204716%20(2)1.jpg"
                            alt="Card image">

                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-2xl mt-5 mb-2 pl-3 text-left">Music
                            </div>
                        </div>

                        <div class="account-description-outer">
                            <div class="account-description dess">
                                <p style="font-size: 16px;" class=" ziga font-medium">At Emiri Fintech, we
                                    excel in predictive analysis, leveraging advanced AI and machine
                                    learning techniques to forecast trends and optimize business operations.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- eleventh section -->
    <div class="device-container flex justify-center items-center">
        <div class="devicer">
            <h2>Who should consider NFT development services?</h2>

            <p>Diving into the world of NFTs unveils a lot of opportunities being most <br> beneficial for:</p>

            <ul>
                <li class="flex flex-row device-exchange"><i class="ri-git-commit-line"></i>
                    <p>Exchange and DeFi platform owners;</p>
                </li>
                <li class="flex flex-row device-museum"><i class="ri-git-commit-line"></i>
                    <p>Museums, art galleries, and auction houses;</p>
                </li>
                <li class="flex flex-row device-artist"><i class="ri-git-commit-line"></i>
                    <p>Independent artists and photographers;</p>
                </li>
                <li class="flex flex-row device-brand"><i class="ri-git-commit-line"></i>
                    <p>Custom brand owners;</p>
                </li>
                <li class="flex flex-row device-musician"><i class="ri-git-commit-line"></i>
                    <p>Musicians, record labels and filmmakers;</p>
                </li>
                <li class="flex flex-row device-creator"><i class="ri-git-commit-line"></i>
                    <P>Content creators and influencers.</p>
                </li>
            </ul>

            <h2 class="diverse">NFT developers for hire
            </h2>
            <p class="diverse-text">Innowise offers dedicated teams of highly skilled IT professionals and individual
                <br> software engineers to work on your NFT development projects. Relying on our <br> experience in
                blockchain, we build top-notch NFT solutions sticking to all the <br> recent market and technology
                trends.
            </p>

            <div class="vidify-container grid grid-cols-1 md:grid-cols-2">
                <div class="vidify-1">
                    <video width="100%" height="auto" controls autoplay muted>
                        <source src="https://innowise.com/wp-content/uploads/2022/12/call-to-action-3.mp4"
                            type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
                <div class="vidify-2">
                    <div class="let-space">
                        <p class="vidify-title font-semibold">Not sure whether to opt in for NFT <br> development?</p>
                        <p class="vidify-question">Share your project idea with Innowise's professionals</p>
                        <div class="fire">
                            <a href="#" class="vidify-button">Get our opinion</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- twelveth section -->
    <div class="stack-outer flex justify-start items-center">
        <div class=" tech-stack">
            <div class="dropper-expand flex justify-between">
                <p class="text-left tech-text mb-6">Our technology stack</p>
            </div>
            <div class="border-b py-6">
                <button class="flex  items-center w-full text-left text-lg font-semibold"
                    onclick="toggleSection('section1')"><span class="text-gray-500 font-thin">+</span>
                    Blockchain platforms
                </button>
                <div id="section1" class="mt-2 hidden">
                    <p class=" mb-3">The time required to create an NFT solution depends on the type of the desired
                        product, composition and size of the development team, technology stack, and other variables.
                    </p>
                </div>
            </div>

            <div class="border-b py-6">
                <button class="flex  items-center w-full text-left text-lg font-semibold"
                    onclick="toggleSection('section2')"><span class="text-gray-500 font-thin">+</span>
                    NFT standards
                </button>
                <div id="section2" class="mt-2 hidden">
                    <p class=" mb-3">The cost of NFT development services depends on an array of conditions, among which
                        the most important is the project complexity. This comes from the product chosen for
                        development.</p>
                </div>
            </div>

            <div class="border-b py-6">
                <button class="flex  items-center w-full text-left text-lg font-semibold"
                    onclick="toggleSection('section3')"><span class="text-gray-500 font-thin">+</span>
                    Storage platforms
                </button>
                <div id="section3" class="mt-2 hidden">
                    <p class=" mb-3">Our team consists of NFT and blockchain experts utilizing their broad knowledge to
                        gather the most relevant and accurate data about the current NFT market trends. This intel
                        allows our team to deliver world-class NFT solutions.</p>
                </div>
            </div>

            <div class="border-b  py-6">
                <button class="flex  items-center w-full text-left text-lg font-semibold"
                    onclick="toggleSection('section4')"><span class="text-gray-500 font-thin">+</span>
                    Programming languages
                </button>
                <div id="section4" class="mt-2 hidden">
                    <p class=" mb-3"></p>
                </div>
            </div>

            <div class="border-b py-6">
                <button class="flex  items-center w-full text-left text-lg font-semibold"
                    onclick="toggleSection('section5')"><span class="text-gray-500 font-thin">+</span>
                    Front-end technologies
                </button>
                <div id="section5" class="mt-2 hidden">
                    <p class=" mb-3"></p>
                </div>
            </div>

            <div class="border-b no-bottom py-6">
                <button class="flex  items-center w-full text-left text-lg font-semibold"
                    onclick="toggleSection('section6')"><span class="text-gray-500 font-thin">+</span>
                    Cloud platforms
                </button>
                <div id="section6" class="mt-2 hidden">
                    <p class=" mb-3"></p>
                </div>
            </div>
        </div>
    </div>

    <!-- thirteenth section -->
    <div class=" text-white font-sans step-content">
        <div class=" mx-auto space-y-3">
            <h1 style="font-size: 40px;" class="font-normal padder text-left">Our NFT development process</h1>


            <!-- Step 1 -->
            <div class="flex flex-col items-start mb-10 space-y-6 border-b pb-3 border-gray-400 step-container">
                <div class="text-red-500 text-xl font-bold">01</div>
                <div class="flex flex-col md:flex-row  step-res">
                    <h2 class="text-gray-300 text-3xl font-semibold stepper">Prepare</h2>
                    <p class="text-lg font-normal step">Our NFT experts will consult you on the most suitable Web3
                        Product to develop taking into account your project’s aims and desired outcomes and will assist
                        in picking the best-fitting set of technologies including blockchain.
                    </p>
                </div>
                <img src="/icons/arrow.png" class="arrow h-5" alt="">
            </div>

            <!-- Step 1 -->
            <div class="flex flex-col items-start mb-10 space-y-6 border-b pb-3 border-gray-400 step-container">
                <div class="text-red-500 text-xl font-bold">02</div>
                <div class="flex flex-col md:flex-row  step-res">
                    <h2 class="text-gray-300 text-3xl font-semibold stepper">Design</h2>
                    <p class=" text-lg font-normal step">We forge a mock-up of the Web3 Product representing its
                        presumed look, UI/UX, features, implemented technologies, and discuss the release plan.
                    </p>
                </div>
                <img src="/icons/arrow.png" class="arrow h-5" alt="">
            </div>

            <!-- Step 1 -->
            <div class="flex flex-col items-start mb-10 space-y-6 border-b pb-3 border-gray-400 step-container">
                <div class="text-red-500 text-xl font-bold">03</div>
                <div class="flex flex-col md:flex-row  step-res">
                    <h2 class="text-gray-300 text-3xl font-semibold stepper">Assess</h2>
                    <p class="text-lg font-normal step">Our specialists determine the precise development specs,
                        estimate the cost and time requirements, arrange the launch plan and assign Innowise’s NFT
                        experts to the project.
                    </p>
                </div>
                <img src="/icons/arrow.png" class="arrow h-5" alt="">
            </div>

            <!-- Step 1 -->
            <div class="flex flex-col items-start mb-10 space-y-6 border-b pb-3 border-gray-400 step-container">
                <div class="text-red-500 text-xl font-bold">04</div>
                <div class="flex flex-col md:flex-row  step-res">
                    <h2 class="text-gray-300 text-3xl font-semibold stepper">Develop</h2>
                    <p class=" text-lg font-normal step">Innowise’s NFT specialists tailor the project and conduct all
                        the needed quality assurance operations proving its impeccability. During this stage, all the
                        progress and metrics can be tracked via a preferable project management tool.
                    </p>
                </div>
                <img src="/icons/arrow.png" class="arrow h-5" alt="">
            </div>

            <!-- Step 1 -->
            <div class="flex flex-col items-start mb-10 space-y-6 border-b pb-3 border-gray-400 step-container">
                <div class="text-red-500 text-xl font-bold">05</div>
                <div class="flex flex-col md:flex-row  step-res">
                    <h2 class=" text-gray-300 text-3xl font-semibold stepper">Support</h2>
                    <p class=" text-lg font-normal step">After a successful project launch, our talents continue working
                        on the project by providing support, rolling out updates containing new features, and scaling it
                        up as the business grows.
                    </p>
                </div>
                <img src="/icons/arrow.png" class="arrow h-5" alt="">
            </div>

        </div>
    </div>

    <!-- fourtheenth section -->
    <div class="dev-cost-outer">
        <div class="dev-cost-container">
            <div class="dev-cost">
                <h2 class="dev-title">NFT development cost
                </h2>
                <p class="diverse-text diverse-dev">As an expert NFT development company, Innowise strives to maintain
                    top-tier <br> NFT development services at a reasonable price. We provide full-pledged NFT <br>
                    development services and supply our clients with all the required specialists <br> taking into
                    account project type, aims, and complexity.
                </p>
                <span>This includes:</span>
            </div>
            <div class="canva-container">
                <ul class="canva-list">
                    <li class="flex flex-row"><span>•</span>
                        <p>Business analysts</p>
                    </li>
                    <li class="flex flex-row"><span>•</span>
                        <p>Project manager</p>
                    </li>
                    <li class="flex flex-row"><span>•</span>
                        <p>Software architect</p>
                    </li>
                    <li class="flex flex-row"><span>•</span>
                        <p>UI/UX designers</p>
                    </li>
                    <li class="flex flex-row"><span>•</span>
                        <p>3D designers</p>
                    </li>
                    <li class="flex flex-row"><span>•</span>
                        <p>Back-end developers</p>
                    </li>
                    <li class="flex flex-row"><span>•</span>
                        <p>Front-end developers</p>
                    </li>
                    <li class="flex flex-row"><span>•</span>
                        <p>Mobile developers</p>
                    </li>
                    <li class="flex flex-row"><span>•</span>
                        <p>QA professionals</p>
                    </li>
                    <li class="flex flex-row"><span>•</span>
                        <p>DevOps engineers</p>
                    </li>
                </ul>
                <div class="canva-image-container">
                    <img src="https://innowise.com/wp-content/uploads/2022/04/Frame-488sad69.jpg"
                        alt="Developers working" class="canva-image">
                </div>
            </div>

            <p class="diverse-text diverse-dev cava-v">The final cost of the project depends on the team composition and
                size, <br> project type and complexity, chosen technologies and tools, and other <br> variables.
            </p>

        </div>
    </div>

    <!-- fifteenth -->
    <div class="util-outer flex justify-center items-center">
        <div class="util-container">
            <h1 class="util-title">Why choose Innowise for NFT development?</h1>
            <p class="util-description">When you decide to enter the world of NFTs, Innowise will help you pick the
                right <br> product for development and tailor it with the best-fitting set of features, making <br> your
                project stand out among the competitors.</p>

            <div class="util-grid grid grid-cols-1 md:grid-cols-2">
                <div class="util-grid-item">
                    <h3 class="util-grid-item-title fifteenth-one font-semibold"><span>•</span> Core team of NFT experts
                    </h3>
                    <p class="util-grid-item-description">Our team of NFT experts always has the most accurate and
                        relevant intel on the NFT market, assisting on every step of project development, from creating
                        a proof of concept to constantly updating and scaling up the final solution.</p>
                </div>

                <div class="util-grid-item">
                    <h3 class="util-grid-item-title fifteenth-one font-semibold"><span>•</span> Expertise in blockchain
                        technology</h3>
                    <p class="util-grid-item-description">Our software development specialists are highly experienced in
                        working with various blockchain platforms, including Ethereum, Binance Smart Chain, Tezos, and
                        NFT standards.</p>
                </div>

                <div class="util-grid-item">
                    <h3 class="util-grid-item-title fifteenth-one font-semibold"><span>•</span> + years of experience
                    </h3>
                    <p class="util-grid-item-description">Our software engineering talents have been delivering
                        top-notch solutions since 2007. We put our broad expertise to build world-class NFT solutions of
                        various types, from tokenizing assets to building NFT marketplaces from scratch.</p>
                </div>

                <div class="util-grid-item">
                    <h3 class="util-grid-item-title fifteenth-one font-semibold"><span>•</span> Taintless result</h3>
                    <p class="util-grid-item-description">We meticulously check the quality of solutions we tailor at
                        every stage. Our QA experts participate in project development on each stage from the discovery
                        phase to after-release support.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- sixteenth section -->
    <div style="background-color: #333333;" class="second-kaira flex justify-start items-center">
        <div class="kaira-container">
            <div class="kaira-image">
                <img src="https://innowise.com/wp-content/uploads/2023/12/img-1-2-1.png" alt="Andrew Nalichaev">
            </div>
            <div class="kaira-text">
                <p class="bigger">As a NFT development company, Innowise guides businesses, IT enterprises. <br> and
                    start-ups along the tough path to the digital future referring to the world of <br> non-fungible
                    tokens and Metaverse. We understand the importance of the <br> blockchain-based technologies and
                    Innowise keeps being an integral part of <br> the rapidly changing digital environment.</p>
                <div class="kaira-author">
                    <h4>Andrew Nalichaev</h4>
                    <p class="font-semibold">Blockchain domain expert & DeFi analyst at Innowise</p>
                </div>
            </div>
        </div>

    </div>

    <!-- seventheen -->
    <div class=" seventer device-container flex justify-center items-center">
        <div class="devicer">
            <div class="vidify-container grid grid-cols-1 md:grid-cols-2">
                <div class="vidify-1">
                    <video width="100%" height="auto" controls autoplay muted>
                        <source src="https://innowise.com/wp-content/uploads/2022/12/2-call-to-action.mp4"
                            type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
                <div class="vidify-2">
                    <div class="let-space">
                        <p class="vidify-title font-semibold">Have an Web3 Project idea in mind?</p>
                        <p class="vidify-question">Let’s discuss it to see how Innowise can help your business</p>
                        <div class="fire">
                            <a href="#" class="vidify-button">Reach out</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- eighteenth -->
    <div class="nft-business business-stellar stellar-swiper-container webr AI-container">
        <h1 class="nft-related cosmic-title text-4xl font-medium text-start">Working with Innowise</h1>
        <div class="cosmic-swiper ai-swiper">
            <div class="orbital-wrapper swiper-wrapper">
                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="nft-business cadder webr overflow-hidden flex flex-col">
                        <div class="stala flex flex-row"> <i class="ri-double-quotes-l"></i>
                            <p>We are delighted withe emiri fintech's commitment to delivering quality work
                                and solving issues quickly. They lead an engaged approach to understanding the team's
                                needs
                                and accomplishing their goals.</p>
                        </div>
                        <div class="gala-outer">
                            <div class="gala">
                                <p class="quote-name"><strong>Or Iny</strong></p>
                                <p class="quote-po">CEO</p>
                                <p class="quote-r">Zero Beta</p>
                            </div>
                            <div class="gala-img">
                                <img src="https://innowise.com/wp-content/uploads/2024/11/image-3335-1.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="nft-business cadder webr overflow-hidden flex flex-col">
                        <div class="stala flex flex-row"> <i class="ri-double-quotes-l"></i>
                            <p>We are delighted withe emiri fintech's commitment to delivering quality work
                                and solving issues quickly. They lead an engaged approach to understanding the team's
                                needs
                                and accomplishing their goals.</p>
                        </div>
                        <div class="gala-outer">
                            <div class="gala">
                                <p class="quote-name"><strong>Or Iny</strong></p>
                                <p class="quote-po">CEO</p>
                                <p class="quote-r">Zero Beta</p>
                            </div>
                            <div class="gala-img">
                                <img src="https://innowise.com/wp-content/uploads/2024/11/image-3335-1.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="galaxy-slide swiper-slide">
                    <div class="nft-business cadder webr overflow-hidden flex flex-col">
                        <div class="stala flex flex-row"> <i class="ri-double-quotes-l"></i>
                            <p>We are delighted withe emiri fintech's commitment to delivering quality work
                                and solving issues quickly. They lead an engaged approach to understanding the team's
                                needs
                                and accomplishing their goals.</p>
                        </div>
                        <div class="gala-outer">
                            <div class="gala">
                                <p class="quote-name"><strong>Or Iny</strong></p>
                                <p class="quote-po">CEO</p>
                                <p class="quote-r">Zero Beta</p>
                            </div>
                            <div class="gala-img">
                                <img src="https://innowise.com/wp-content/uploads/2024/11/image-3335-1.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Swiper Pagination -->
            <div class="swiper-pagination"></div>
            <!-- Swiper Navigation -->
            <!-- <div class="stellar-button-prev swiper-button-prev"></div>
            <div class="stellar-button-next swiper-button-next"></div> -->
        </div>
    </div>

    <!-- nineteenth -->
    <div class="nft-white stellar-swiper-container">
        <h1 class="cosmic-title text-4xl font-medium">Our NFT related case studies</h1>
        <div class="cosmic-swiper">
            <div class="orbital-wrapper swiper-wrapper">
                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="cadder nft-white overflow-hidden">
                        <!-- Image at the top -->
                        <img class="w-full zoom-img"
                            src="https://innowise.com/wp-content/uploads/2024/04/Blockchain-gaming-platform-with-NFT-based-monetization-440x330-1.png"
                            alt="Card image">

                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-2xl mt-5 mb-2">Stock trading app<br>development</div>
                        </div>

                        <!-- Links below the title -->
                        <div class=" cadder-buttons">
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">FinTech</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">Java</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Kotlin</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Mobile</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">React</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Swift</a>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="cadder nft-white overflow-hidden">
                        <!-- Image at the top -->
                        <img class="w-full zoom-img"
                            src="https://innowise.com/wp-content/uploads/2024/04/Transforming-digital-collectibles-with-nestable-NFTs_-30-expansion-in-investment-base-Vika-Dasha-cover-small.jpg"
                            alt="Card image">

                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-2xl mt-5 mb-2">Stock trading app<br>development</div>
                        </div>

                        <!-- Links below the title -->
                        <div class=" cadder-buttons">
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">FinTech</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">Java</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Kotlin</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Mobile</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">React</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Swift</a>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="cadder nft-white overflow-hidden">
                        <!-- Image at the top -->
                        <img class="w-full zoom-img"
                            src="https://innowise.com/wp-content/uploads/2024/04/space-tizer.png" alt="Card image">

                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-2xl mt-5 mb-2">Stock trading app<br>development</div>
                        </div>

                        <!-- Links below the title -->
                        <div class=" cadder-buttons">
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">FinTech</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">Java</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Kotlin</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Mobile</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">React</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Swift</a>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="cadder nft-white overflow-hidden">
                        <!-- Image at the top -->
                        <img class="w-full zoom-img"
                            src="https://innowise.com/wp-content/uploads/2024/12/Small-Cover-Tokenization-of-artworks-certificates-for-Ranadu-1.png"
                            alt="Card image">

                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-2xl mt-5 mb-2">Stock trading app<br>development</div>
                        </div>

                        <!-- Links below the title -->
                        <div class=" cadder-buttons">
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">FinTech</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">Java</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Kotlin</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Mobile</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">React</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Swift</a>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="cadder nft-white overflow-hidden">
                        <!-- Image at the top -->
                        <img class="w-full zoom-img"
                            src="https://innowise.com/wp-content/uploads/2023/02/TokenEstate.jpg" alt="Card image">

                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-2xl mt-5 mb-2">Stock trading app<br>development</div>
                        </div>

                        <!-- Links below the title -->
                        <div class=" cadder-buttons">
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">FinTech</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">Java</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Kotlin</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Mobile</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">React</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Swift</a>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="cadder nft-white overflow-hidden">
                        <!-- Image at the top -->
                        <img class="w-full zoom-img"
                            src="https://innowise.com/wp-content/uploads/2022/10/GeoNFT-440x330-1.png" alt="Card image">

                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-2xl mt-5 mb-2">Stock trading app<br>development</div>
                        </div>

                        <!-- Links below the title -->
                        <div class=" cadder-buttons">
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">FinTech</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">Java</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Kotlin</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Mobile</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">React</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Swift</a>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="cadder nft-white overflow-hidden">
                        <!-- Image at the top -->
                        <img class="w-full zoom-img" src="https://innowise.com/wp-content/uploads/2022/05/main-2.jpg"
                            alt="Card image">

                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-2xl mt-5 mb-2">Stock trading app<br>development</div>
                        </div>

                        <!-- Links below the title -->
                        <div class=" cadder-buttons">
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">FinTech</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">Java</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Kotlin</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Mobile</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">React</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Swift</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Swiper Pagination -->
            <div class="digital-pagi swiper-pagination"></div>
            <!-- Swiper Navigation -->
            <!-- <div class="stellar-button-prev swiper-button-prev"></div>
            <div class="stellar-button-next swiper-button-next"></div> -->
        </div>
    </div>

    <!-- twenty -->
    <div class="nft-lexus stack-outer flex justify-start items-center">
        <div class=" tech-stack">
            <div class="dropper-expand flex justify-between">
                <p class="text-left tech-text mb-6">NFT development solutions: all your questions answered</p>
            </div>
            <div class="border-b py-6">
                <button class="flex  items-center w-full text-left text-lg font-semibold"
                    onclick="toggleSection('section10')"><span class="text-gray-500 font-thin">+</span>How much time
                    does
                    it take to build an NFT solution?
                </button>
                <div id="section10" class="mt-2 hidden">
                    <p class=" mb-3">The time required to create an NFT solution depends on the type of the desired
                        product, composition and size of the development team, technology stack, and other variables.
                    </p>
                </div>
            </div>

            <div class="border-b py-6">
                <button class="flex  items-center w-full text-left text-lg font-semibold"
                    onclick="toggleSection('section11')"><span class="text-gray-500 font-thin">+</span>
                    What affects the cost of Web3 Product development?
                </button>
                <div id="section11" class="mt-2 hidden">
                    <p class=" mb-3">The cost of NFT development services depends on an array of conditions, among which
                        the most important is the project complexity. This comes from the product chosen for
                        development.</p>
                </div>
            </div>

            <div class="border-b py-6">
                <button class="flex  items-center w-full text-left text-lg font-semibold"
                    onclick="toggleSection('section12')"><span class="text-gray-500 font-thin">+</span>
                    Why choose Innowise for NFT development?
                </button>
                <div id="section12" class="mt-2 hidden">
                    <p class=" mb-3">Our team consists of NFT and blockchain experts utilizing their broad knowledge to
                        gather the most relevant and accurate data about the current NFT market trends. This intel
                        allows our team to deliver world-class NFT solutions.</p>
                </div>
            </div>

            <div class="border-b no-bottom py-6">
                <button class="flex  items-center w-full text-left text-lg font-semibold"
                    onclick="toggleSection('section13')"><span class="text-gray-500 font-thin">+</span>
                    Does Innowise develop whitelabel NFT marketplace solutions?
                </button>
                <div id="section13" class="mt-2 hidden">
                    <p class=" mb-3">Yes, Innowise’s software development experts build whitelabel NFT marketplaces
                        allowing our clients to provide their contractors with highly customizable solutions that can be
                        easily and rapidly deployed.</p>
                </div>
            </div>
        </div>
    </div>

    <!--  twenty-one -->
    <div class="nft-bug stellar-swiper-container panda">
        <h1 class="cosmic-title text-4xl font-medium">Need other services?</h1>
        <div class="cosmic-swiper">
            <div class="orbital-wrapper swiper-wrapper">
                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="boxer nft-boxer overflow-hidden">
                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-xl">Blockchain development company</div>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="boxer nft-boxer  overflow-hidden">
                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-xl">Blockchain consulting services</div>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="boxer nft-boxer  overflow-hidden">
                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-xl">Solana blockchain development company</div>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="boxer nft-boxer  overflow-hidden">
                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-xl">Metaverse Development</div>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="boxer nft-boxer  overflow-hidden">
                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-xl">Web 3.0 development company</div>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="boxer nft-boxer  overflow-hidden">
                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-xl">Virtual reality development company</div>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="boxer nft-boxer  overflow-hidden">
                        <!-- Image at the top -->
                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-xl">Trading software development services</div>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="boxer nft-boxer  overflow-hidden">
                        <!-- Image at the top -->
                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-xl">Securityt token offering development services</div>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="boxer nft-boxer  overflow-hidden">
                        <!-- Image at the top -->
                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-xl">Digital wallet app development company</div>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="boxer nft-boxer  overflow-hidden">
                        <!-- Image at the top -->
                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-xl">Mixed reality development company</div>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="boxer nft-boxer  overflow-hidden">
                        <!-- Image at the top -->
                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-xl">Decentralized finance (Defi) development company & services</div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Swiper Pagination -->
            <div class="pagger swiper-pagination"></div>
            <!-- Swiper Navigation -->
            <!-- <div class="stellar-button-prev swiper-button-prev"></div>
            <div class="stellar-button-next swiper-button-next"></div> -->
        </div>
    </div>

    <!-- last section -->
    <div class="final-ngt flex justify-center items-center">
        <div class="nft-final nft-white antuan w-full h-full flex flex-col lg:flex-row mb-8">
            <!-- Left Section  -->
            <div class="w-full lg:w-1/2 p-8 flex flex-col justify-center">
                <h2 class="pluto-1  font-medium text-5xl mb-8">Contact us!</h2>
                <p class="text-xl text-gray-800 mb-6"><span class="text-red-700 underline"><a href="#">Book a
                            call</a></span> or fill out the form below and we’ll get back <br> to you once we’ve
                    processed
                    your request.</p>

                <form class="w-full">
                    <!-- Phone and Subject Fields -->
                    <div class="grid md:grid-cols-2 md:gap-6">
                        <div class="relative z-0 w-full mb-5 group">
                            <input type="text" name="floating_first_phone" id="floating_first_phone"
                                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                                placeholder=" " required />
                            <label for="floating_first_phone"
                                class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">First
                                Name</label>
                        </div>
                        <div class="relative z-0 w-full mb-5 group">
                            <input type="text" name="floating_last_subject" id="floating_last_subject"
                                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                                placeholder=" " required />
                            <label for="floating_last_subject"
                                class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Last
                                Company</label>
                        </div>
                    </div>

                    <!-- Phone and Subject Fields -->
                    <div class="grid md:grid-cols-2 md:gap-6">
                        <div class="relative z-0 w-full mb-5 group">
                            <input type="number" name="floating_first_phone" id="floating_first_phone"
                                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                                placeholder=" " required />
                            <label for="floating_first_phone"
                                class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">First
                                Corporate email</label>
                        </div>
                        <div class="relative z-0 w-full mb-5 group">
                            <input type="text" name="floating_last_subject" id="floating_last_subject"
                                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                                placeholder=" " required />
                            <label for="floating_last_subject"
                                class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Last
                                Phone</label>
                        </div>
                    </div>


                    <!-- Description Field -->
                    <div class="relative z-0 w-full mb-5 group">
                        <input type="text" name="floating_description" id="floating_description"
                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" " required />
                        <label for="floating_description"
                            class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Description</label>
                    </div>

                    <!-- Action Buttons -->
                    <div class="flex flex-col justify-center items-center">
                        <div class="flex flex-col lg:flex-row gap-4 w-full">
                            <!-- Record Message Button -->
                            <div
                                class="flex flex-col items-center border border-gray-300 rounded-md p-4 w-full lg:w-1/2">
                                <p class="text-sm font-medium mb-2">Record a voice message about your project to help us
                                    understand it better</p>
                                <button
                                    class="border border-red-500 hover:bg-gray-100 text-red-500 font-bold py-2 px-4 rounded flex items-center justify-center gap-2">
                                    <i class="ri-mic-2-line text-xl"></i>
                                    Record a voice message
                                </button>
                            </div>

                            <!-- Attach Documents Button -->
                            <div
                                class="flex flex-col items-center border border-gray-300 rounded-md p-4 w-full lg:w-1/2">
                                <p class="text-sm font-medium mb-2">Attach additional documents as needed</p>
                                <button
                                    class="attacher border lg:mt-3 border-red-500 hover:bg-gray-100 text-red-500 font-bold py-2 px-4 rounded flex items-center justify-center gap-2">
                                    <i class="ri-file-2-line text-xl"></i>
                                    Attach additional documents
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- Legal Notice -->
                    <p class="text-sm text-gray-500 mt-4">Please be informed that when you click the Send button, we
                        will process your personal data in accordance with our <span class="text-black font-medium"> <a
                                href="#">Privacy Policy</a> </span>and Terms and Conditions.</p>

                    <!-- Full-Width Send Button -->
                    <button type="submit"
                        class="mt-4 w-full bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded">
                        Send
                    </button>
                </form>

            </div>





            <!-- Right Section -->
            <div class="w-full lg:w-1/2 flex justify-center items-center">
                <!-- statistic -->
                <div class="next-container">
                    <div class="next-title">What happens next?</div>
                    <div class="next-step">
                        <div class="next-step-number">1</div>
                        <div class="next-step-content">Once we’ve received and processed your request, we’ll <br> get
                            back to you to
                            detail your project needs and sign <br>an NDA to ensure confidentiality.</div>
                    </div>
                    <div class="next-step">
                        <div class="next-step-number">2</div>
                        <div class="next-step-content">After examining your wants, needs, and expectations, <br> our
                            team will devise
                            a project proposal with the scope <br> of work, team size, time, and cost estimates.</div>
                    </div>
                    <div class="next-step">
                        <div class="next-step-number">3</div>
                        <div class="next-step-content">We’ll arrange a meeting with you to discuss the offer <br> and
                            nail down the
                            details.</div>
                    </div>
                    <div class="next-step">
                        <div class="next-step-number">4</div>
                        <div class="next-step-content">Finally, we’ll sign a contract and start working on <br> your
                            project right
                            away.</div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <script src="/javascripts/nft.js"></script>
    <script src="/javascripts/digital.js"></script>
    <script src="/javascripts/account.js"></script>