<%- layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/privacy.css">
    <link rel="stylesheet" href="/stylesheets/privacyres.css">
    <!-- privacy hero -->
    <div class="privacy-main">
        <div class="privacy-hero">
            <p class="private-hero-title"><span class="private-span">Security</span> & Privacy</p>
            <p class="private-hero-para">We adopt Modern Technologies to protect our clients, their funds, privacy, and ensure a smooth service delivery to their users and customers. Emiri Fintech’s security team laverages a number of security controls and procedures.</p>
        </div>
    </div>

    <!-- wallet section -->
    <div class="wallet-container">
        <div class="wallet-content">
            <h1>Security (Softwares & Apps)</h1>
            <div class="wallet-feature">
                <i class="ri-checkbox-circle-fill wallet-feature-icon"></i>
                <p class="wallet-feature-text">We use HSMs certified FIPS 140-2 L3 to custody and protect master keys,
                    perform key derivation, and run our policy engine.</p>
            </div>
            <div class="wallet-feature">
                <i class="ri-checkbox-circle-fill wallet-feature-icon"></i>
                <p class="wallet-feature-text">We harden HSMs with our proprietary firmware extension, which enforces
                    HSMs’ secure configuration and reduces their attack surface.</p>
            </div>
            <div class="wallet-feature">
                <i class="ri-checkbox-circle-fill wallet-feature-icon"></i>
                <p class="wallet-feature-text">Signatures by hardware tokens provide multi-party approval using a quorum
                    logic not visible from blockchain data.</p>
            </div>
            <div class="wallet-feature">
                <i class="ri-checkbox-circle-fill wallet-feature-icon"></i>
                <p class="wallet-feature-text">Our key generation and key backup processes are certified ISAE 3402.</p>
            </div>
        </div>
        <div class="wallet-image">
            <img class="wallet-image-placeholder" src="https://www.taurushq.com/img/security/security_img.webp" alt="">
        </div>
    </div>

    <!-- infrastructure section -->
    <div class="wallet-container infrastructure-container">
        <div class="wallet-content infrastructure">
            <h1>Infrastructure Security</h1>
            <div class="wallet-feature">
                <i class="ri-checkbox-circle-fill wallet-feature-icon"></i>
                <p class="wallet-feature-text">Emiri Fintech runs infrastructures on leading cloud providers and local backup data centers with banking-grade security controls and industry certifications.</p>
            </div>
            <div class="wallet-feature">
                <i class="ri-checkbox-circle-fill wallet-feature-icon"></i>
                <p class="wallet-feature-text">All our products and IT systems built and deployed require multi-factor authentication and follow segregation of duty principles.</p>
            </div>
            <div class="wallet-feature">
                <i class="ri-checkbox-circle-fill wallet-feature-icon"></i>
                <p class="wallet-feature-text">All softwares we deliver are certified ISAE 3402, and includes automated security scans against supply-chain attacks.</p>
            </div>
            <div class="wallet-feature">
                <i class="ri-checkbox-circle-fill wallet-feature-icon"></i>
                <p class="wallet-feature-text">We are well equipped with 24/7 security monitoring and incident response capabilities.</p>
            </div>
        </div>

        <div class="wallet-content infrastructure-2">
            <h1>Internal Controls</h1>
            <div class="wallet-feature">
                <i class="ri-checkbox-circle-fill wallet-feature-icon"></i>
                <p class="wallet-feature-text">At Emiri Fintech, we implement the three lines of defence model across platforms, composed of process owners, risk, internal & external audit.</p>
            </div>
            <div class="wallet-feature">
                <i class="ri-checkbox-circle-fill wallet-feature-icon"></i>
                <p class="wallet-feature-text">Our development and product deployment processes are audited including: user access management, system updates, vulnerability handling, and BCP.</p>
            </div>
            <div class="wallet-feature">
                <i class="ri-checkbox-circle-fill wallet-feature-icon"></i>
                <p class="wallet-feature-text">We carefully ensure that all staff undergoes background checks, and training sessions about security awareness, regulatory compliance, and data protection.</p>
            </div>
            <div class="wallet-feature">
                <i class="ri-checkbox-circle-fill wallet-feature-icon"></i>
                <p class="wallet-feature-text">Emiri Fintech Solutions is expecting ISO27001 certification validation in 2025 to better give our clients confidence.</p>
            </div>
        </div>

    </div>

    <!-- audit section -->
    <div class="wallet-container audit-container">
        <div class="wallet-content infrastructure-2">
            <div class="audit-1">
                <h1>Security Audits</h1>
                <div class="wallet-feature">
                    <i class="ri-checkbox-circle-fill wallet-feature-icon"></i>
                    <p class="wallet-feature-text">We hire world-class teams to pen-test all softwares or applications and review our source code before delivery.</p>
                </div>
                <div class="wallet-feature">
                    <i class="ri-checkbox-circle-fill wallet-feature-icon"></i>
                    <p class="wallet-feature-text">Our clients for software and mobile app solutions can arrange their own pen tests and receive a copy of the product’s source code per contracts.</p>
                </div>
                <div class="wallet-feature">
                    <i class="ri-checkbox-circle-fill wallet-feature-icon"></i>
                    <p class="wallet-feature-text">We run daily network scans of our endpoints and that of our clients and API endpoints to ensure 100% security.</p>
                </div>
                <div class="wallet-feature">
                    <i class="ri-checkbox-circle-fill wallet-feature-icon"></i>
                    <p class="wallet-feature-text">Our previously trusted platforms are proof that we build binaries from given source code versions, certified by an external auditor.</p>
                </div>
            </div>
        </div>

        <div class="wallet-content infrastructure">
            <div class="audit-2">
                <h1>Security Research</h1>
                <div class="wallet-feature">
                    <i class="ri-checkbox-circle-fill wallet-feature-icon"></i>
                    <p class="wallet-feature-text">Our internal research unit <strong>Emiri Elites</strong> perform research projects and collaborates with world-class researchers.</p>
                </div>
                <div class="wallet-feature">
                    <i class="ri-checkbox-circle-fill wallet-feature-icon"></i>
                    <p class="wallet-feature-text">We are open to all, we publish open-source software, research articles, and give talks at top tier global events.</p>
                </div>
                <div class="wallet-feature">
                    <i class="ri-checkbox-circle-fill wallet-feature-icon"></i>
                    <p class="wallet-feature-text">Emiri Fintech Solutions support and collaborate with leading blockchain organisations to strengthen security protocols.</p>
                </div>
                <div class="wallet-feature">
                    <div class="et-logos grid grid-cols-4 gap-10">
                        <img class="h-12" src="https://www.taurushq.com/img/logotypes/logo-ethereum.svg" alt="ISO27001">
                        <img class="h-12" src="https://www.taurushq.com/img/logotypes/logo-bitcoin.svg" alt="ISO20001">
                        <img class="h-12" src="https://cdn.builtin.com/cdn-cgi/image/f=auto,fit=contain,w=200,h=200,q=100/https://builtin.com/sites/www.builtin.com/files/2021-05/Pax%20Logo.png" alt="ISO18001">
                        <img class="h-12" src="https://altcoinsbox.com/wp-content/uploads/2022/12/coinbase-logo.png" alt="Certified by Emiri Fintech">
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- risk section -->
    <div class="risk-container">
        <div class="risk-title text-center">Compliance and certifications</div>
        <div class="certify flex justify-center">
        <div class="risk-certifications">
            <div class="risk-certification">
                <h2 style="white-space: nowrap;">ISAE 3402 Type II</h2>
                <p class="risk-1"><a href="#">ISAE 3402 Type II</a>, regarding risk <br> assurance and internal controls</p>
            </div>
        </div>
    </div>
    </div>

    <script src="/animations/privacyAnim.js"></script>