<%- layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/helper/web.css">
<link rel="stylesheet" href="/stylesheets/security-mother.css">

<div class="digital-hero">
    <div class="digital-texts">
        <div class=" title-1 font-bold text-5xl flex flex-col items-center justify-center gap-7">
            <div class="image-digi flex gap-3"> <img src="/images/development.png" class="h-12" alt=""><span>IT & Security</span></div>
            <div class="white-r"></div>
        </div>
    </div>
</div>

<div class="acordion">
    <div class="forensic-dropper">
        <div class="dropper-container zero-pad">
            <div class="acord-starter">
                <p class="acord-2 cloud-merger corder">Enhance your IT & Security operations with our specialized solutions. We offer customized IT security services to meet your specific needs, ensuring robust and flexible implementation. Partner with us to fortify your digital infrastructure. Our team of experts is dedicated to delivering top-notch security measures. Experience seamless integration and unparalleled support with our IT & Security solutions.</p>
                    <hr class="hrr">
                </p>
            </div>

            <div class="merger-cloud dropper-expand flex justify-center corder text-center">
                <h1 class="text-3xl font-bold mb-6">Services</h1>
            </div>

            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5">
                <div class="colo-1 block-colo space-y-6">
                    <div class="cost-padder text-xl font-medium flex flex-col items-center space-x-4">
                        <div class="cry">
                            <i class="ri-brain-line"></i>
                            <span>AI & ML</span>
                        </div>
                        <p class="text-sm mt-3 text-center">Emiri FinTech’s artificial intelligence and machine learning</p>
                        <button onclick="window.location.href='/crypto'" class="leader mt-4 text-sm">read
                            more</button>
                    </div>
                </div>

                <div class="colo-1 block-colo space-y-6">
                    <div class="cost-padder text-xl font-medium flex flex-col items-center space-x-4">
                        <div class="cry">
                            <i class="ri-cloud-line"></i>
                            <span>Cloud Computing</span>
                        </div>
                        <p class="text-sm mt-3 text-center">Transform your business through the cloud and</p>
                        <button onclick="window.location.href='/smart-contracts'" class="leader mt-4 text-sm">read
                            more</button>
                    </div>
                </div>

                <div class="colo-1 block-colo space-y-6">
                    <div class="cost-padder text-xl font-medium flex flex-col items-center space-x-4">
                        <div class="cry">
                            <i class="ri-search-eye-line"></i>
                            <span>GCR & Anti Fraud</span>
                        </div>
                        <p class="text-sm mt-3 text-center">With the ever-evolving landscape of risks and</p>
                        <button onclick="window.location.href='/nft'" class="leader mt-4 text-sm">read more</button>
                    </div>
                </div>

                <div class="colo-1 block-colo space-y-6">
                    <div class="cost-padder text-xl font-medium flex flex-col items-center space-x-4">
                        <div class="cry">
                            <i class="ri-node-tree"></i>
                            <span>BP Automation</span>
                        </div>
                        <p class="text-sm mt-3 text-center">For a decade and a half, Emiri Fintech has been</p>
                        <button onclick="window.location.href='/crypto'" class="leader mt-4 text-sm">read
                            more</button>
                    </div>
                </div>

                <div class="colo-1 block-colo space-y-6">
                    <div class="cost-padder text-xl font-medium flex flex-col items-center space-x-4">
                        <div class="cry">
                            <i class="ri-file-search-line"></i>
                            <span>Accounting</span>
                        </div>
                        <p class="text-sm mt-3 text-center">Emiri FinTech delivers expert forensic accounting solutions</p>
                        <button onclick="window.location.href='/smart-contracts'" class="leader mt-4 text-sm">read
                            more</button>
                    </div>
                </div>

                <div class="colo-1 block-colo space-y-6">
                    <div class="cost-padder text-xl font-medium flex flex-col items-center space-x-4">
                        <div class="cry">
                            <i class="ri-shield-line"></i>
                            <span>Ethical Hacking</span>
                        </div>
                        <p class="text-sm mt-3 text-center">With an unwavering focus on digital safety, Emiri</p>
                        <button onclick="window.location.href='/nft'" class="leader mt-4 text-sm">read more</button>
                    </div>
                </div>

                <div class="colo-1 block-colo space-y-6">
                    <div class="cost-padder text-xl font-medium flex flex-col items-center space-x-4">
                        <div class="cry">
                            <i class="ri-shape-line"></i>
                            <span>Augmentation</span>
                        </div>
                        <p class="text-sm mt-3 text-center">Since 2007, Emiri Fintech has helped businesses scale</p>
                        <button onclick="window.location.href='/nft'" class="leader mt-4 text-sm">read more</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
