<%- layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/nft.css">
    <link rel="stylesheet" href="/helper/web.css">
    <link rel="stylesheet" href="/helper/webres.css">
    <link rel="stylesheet" href="/stylesheets/crypto.css">
    <link rel="stylesheet" href="/stylesheets/digitalres.css">
    <link rel="stylesheet" href="/stylsheets/digital2.css">
    <link rel="stylesheet" href="/stylesheets/business.css">
    <link rel="stylesheet" href="/stylesheets/digital.css">
    <link rel="stylesheet" href="/stylesheets/nft.css">
    <link rel="stylesheet" href="/stylesheets/businessres.css">
    <link rel="stylesheet" href="/stylesheets/smart.css">
    <link rel="stylesheet" href="/stylesheets/smartres.css">

    <!-- section 1 -->

    <div class="digital-hero">
        <div class="digital-texts">
            <div class=" title-1 font-bold text-5xl flex flex-col justify-center items-center gap-7">
                <div class="image-digi flex justify-center gap-3"> <img src="/images/business-contract.png" class="h-12"
                        alt=""><span>Smart contract</span></div>
                <div class="white-r"></div>
            </div>
        </div>
    </div>

    <div class="acordion">
        <div class="forensic-dropper">
            <div class=" dropper-container zero-pad">
                <div class="acord-starter">
                    <p class="acord-2 corder">With years of blockchain development expertise, Innowise provides a full
                        range of services related to a smart contract, from building architecture to coding it and
                        deploying it on the mainnet. Our staff contains highly qualified professionals who can develop
                        any smart contract from scratch or add their expertise to the ongoing development process.
                        <hr class="hrr">
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- section 2 -->
    <div class="nft-does cont flex items-center justify-center bg-no-repeat bg-center bg-cover bg-black bg-opacity-50"
        style="background-image: url('https://innowise.com/wp-content/uploads/2022/07/28c30c31555b64a90230b6a51cc563bb-scaled.jpg');">
        <div class="flex flex-col items-center text-center">
            <p class="text-white text-3xl md:text-4xl font-medium">Smart contracts development services
            </p>
            <a href="#" class="mt-14 px-6 py-4 text-white bg-red-500 rounded-sm hover:bg-blue-700">Contact us</a>
        </div>
    </div>

    <div class="acordion">
        <div class="forensic-dropper">
            <div class="dropper-container zero-pad">
                <div class="acord-starter">
                    <p class="acord-2">Emiri Fintech is backed by a team of highly skilled blockchain developers with
                        extensive expertise in the field. With over a decade of experience, we have delivered a variety
                        of cutting-edge solutions. This enables us to offer comprehensive full-stack smart contract
                        development along with a range of related services detailed below.</p>
                </div>

                <div class="dropper-expand flex justify-between">
                    <h1 class="text-2xl font-bold mb-6">Related services</h1>
                    <a style="white-space: nowrap; color: #EC4899" href="#" class=" text-lg"
                        onclick="toggleAllSections(event)"><strong>Expand
                            All</strong></a>
                </div>

                <div class="border-b py-6">
                    <button style="color: #EC4899"
                        class="flex justify-between items-center w-full text-left text-xl font-semibold "
                        onclick="toggleSection('section3')">
                        Smart contract development
                        <span class="text-gray-500">+</span>
                    </button>
                    <div id="section3" class="mt-2 hidden">
                        <p class="text-gray-700 mb-3">Our skilled development team at Emiri Fintech specializes in
                            creating various types of automated, immutable "digital agreements" tailored to meet all
                            client requirements and applicable across diverse business sectors.</p>
                    </div>
                </div>

                <div class="border-b py-6">
                    <button style="color: #EC4899"
                        class="flex justify-between items-center w-full text-left text-xl font-semibold"
                        onclick="toggleSection('section2')">
                        Smart contract design
                        <span class="text-gray-500">+</span>
                    </button>
                    <div id="section2" class="mt-2 hidden">
                        <p class="text-gray-700">Many design patterns and programming principles used in traditional
                            software development are also applicable to smart contracts. We create even the most
                            intricate designs at a competitive price.</p>
                    </div>
                </div>

                <div class="border-b py-6">
                    <button style="color: #EC4899"
                        class="flex justify-between items-center w-full text-left text-xl font-semibold "
                        onclick="toggleSection('section4')">
                        Smart contract audits
                        <span class="text-gray-500">+</span>
                    </button>
                    <div id="section4" class="mt-2 hidden">
                        <p class="text-gray-700 mb-3">Before a solution of this type is even deployed on the mainnet, we
                            test it to make sure it includes no errors or security vulnerabilities. We also audit
                            third-party contracts to exclude any issues with them.</p>
                    </div>
                </div>

                <div class="border-t border-b py-6">
                    <button style="color: #EC4899"
                        class="flex justify-between items-center w-full text-left text-xl font-semibold "
                        onclick="toggleSection('section1')">
                        Smart contract optimization
                        <span class="text-gray-500">+</span>
                    </button>
                    <div id="section1" class="mt-2 hidden">
                        <p class="text-gray-700">When developing smart contracts, Innowise implements an optimization
                            approach that allows us to create cost- and computation-effective solutions. This, in turn,
                            reduces the average usage of gas.</p>
                    </div>
                </div>

                <div class="border-t border-b py-6">
                    <button style="color: #EC4899"
                        class="flex justify-between items-center w-full text-left text-xl font-semibold "
                        onclick="toggleSection('section5')">
                        Smart contracts for dApps
                        <span class="text-gray-500">+</span>
                    </button>
                    <div id="section5" class="mt-2 hidden">
                        <p class="text-gray-700">At Emiri Fintech, we develop decentralized applications that facilitate
                            seamless peer-to-peer transactions. Our smart contracts empower businesses to achieve their
                            goals with unmatched efficiency and precision.</p>
                    </div>
                </div>

                <div class="border-t border-b py-6">
                    <button style="color: #EC4899"
                        class="flex justify-between items-center w-full text-left text-xl font-semibold "
                        onclick="toggleSection('section6')">
                        Smart contracts for dApps
                        <span class="text-gray-500">+</span>
                    </button>
                    <div id="section6" class="mt-2 hidden">
                        <p class="text-gray-700">Emiri Fintech specializes in creating decentralized applications that
                            enable direct peer-to-peer transactions. Our smart contracts are designed to help businesses
                            tackle any challenge with maximum efficiency and effectiveness.</p>
                    </div>
                </div>

                <div class="border-t border-b py-6">
                    <button style="color: #EC4899"
                        class="flex justify-between items-center w-full text-left text-xl font-semibold "
                        onclick="toggleSection('section7')">
                        Hire smart contract developers
                        <span class="text-gray-500">+</span>
                    </button>
                    <div id="section7" class="mt-2 hidden">
                        <p class="text-gray-700">If you need dedicated blockchain experts to enhance your ongoing
                            project, Emiri Fintech’s professionals are here to help. Our skilled team is ready to join
                            your development process at any stage to ensure its success.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- section 4 -->
    <div class="text-gray-800 nft-bug hexmen flex justify-center">
        <div class="mx-auto mainer">
            <div class="thug-header nft-thug-header">
                <p class="thug-title text-con text-center">Best smart contracts platforms we work on</p>
                <p class="text-center">Emiri FinTech creates blockchain solutions, offering full smart contract
                    development and helping clients <br> choose the best blockchain platform. Our team carefully reviews
                    each use case to recommend the ideal platform.
                </p>
            </div>

            <!-- accords -->
            <div class="jambolee ai-grid grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5">
                <!-- Card 1 -->
                <div class="">
                    <div class="pad p-10">
                        <h3 style="white-space: nowrap; padding-top: 28px; padding-bottom: 20px; padding-left: 10px;"
                            class="text-xl font-bold text-center cursor-pointer flex justify-between items-center"
                            onclick="toggleContent(1)">
                            <div class="galop flex">
                                <img src="https://innowise.com/wp-content/uploads/2022/07/Ethereum.svg" alt=""
                                    class="h-8 icon-smaller">
                                <span>Ethereum</span>
                            </div>
                            <i id="arrow-1" class="ri-arrow-drop-down-line text-4xl"></i>
                        </h3>
                        <div style="padding: 20px;" id="content-1"
                            class="text-gray-900 leading-relaxed text-center hidden">
                            Emiri FinTech's Ethereum smart contract developers possess extensive experience in crafting
                            various types of smart contracts, including decentralized applications, on one of the most
                            established and reliable blockchain networks.
                        </div>
                    </div>
                </div>

                <!-- Card 2 -->
                <div class="">
                    <div class="pad p-10">
                        <h3 style="white-space: nowrap; padding-top: 28px; padding-bottom: 20px; padding-left: 10px;"
                            class="text-xl font-bold text-center cursor-pointer flex justify-between items-center"
                            onclick="toggleContent(2)">
                            <div class="galop flex">
                                <img src="https://innowise.com/wp-content/uploads/2022/07/H.svg" alt=""
                                    class="h-8 icon-smaller">
                                <span>Hyperledger</span>
                            </div>
                            <i id="arrow-2" class="ri-arrow-drop-down-line text-4xl"></i>
                        </h3>
                        <div style="padding: 20px;" id="content-2"
                            class="text-gray-900 leading-relaxed text-center hidden">Emiri FinTech offers Hyperledger
                            smart contracts (chaincode) of various types, built on a scalable and secure blockchain
                            platform developed by Linux. These contracts are highly regarded for their ability to
                            protect sensitive data.
                        </div>
                    </div>
                </div>

                <!-- Card 3 -->
                <div class="">
                    <div class="pad p-10">
                        <h3 style="white-space: nowrap; padding-top: 28px; padding-bottom: 20px; padding-left: 10px;"
                            class="text-xl font-bold text-center cursor-pointer flex justify-between items-center"
                            onclick="toggleContent(3)">
                            <div class="galop flex">
                                <img src="https://innowise.com/wp-content/uploads/2022/07/EOS.svg" alt=""
                                    class="h-8 icon-smaller">
                                <span>EOS</span>
                            </div>
                            <i id="arrow-3" class="ri-arrow-drop-down-line text-4xl"></i>
                        </h3>
                        <div style="padding: 20px;" id="content-3"
                            class="text-gray-900 leading-relaxed text-center hidden">Emiri FinTech is equipped to
                            develop any type of EOS smart contract, enabling our clients to leverage the high throughput
                            and flexible governance structure that this platform provides.</div>
                    </div>
                </div>

                <!-- Card 4 -->
                <div class="">
                    <div class="pad p-10">
                        <h3 style="white-space: nowrap; padding-top: 28px; padding-bottom: 20px; padding-left: 10px;"
                            class="text-xl font-bold text-center cursor-pointer flex justify-between items-center"
                            onclick="toggleContent(4)">
                            <div class="galop flex">
                                <img src="https://innowise.com/wp-content/uploads/2022/07/Vector-922.svg" alt=""
                                    class="h-8 mr-4 icon-smaller">
                                <span>Tron</span>
                            </div>
                            <i id="arrow-4" class="ri-arrow-drop-down-line text-4xl"></i>
                        </h3>
                        <div style="padding: 20px;" id="content-4"
                            class="text-gray-900 leading-relaxed text-center hidden">If you are in search of scalable
                            and reliable solutions for your business, Emiri FinTech offers smart contract-based MLM
                            solutions on the Tron platform that will significantly enhance business efficiency.
                        </div>
                    </div>
                </div>

                <!-- Card 5 -->
                <div class="">
                    <div class="pad p-10">
                        <h3 style="white-space: nowrap; padding-top: 28px; padding-bottom: 20px; padding-left: 10px;"
                            class="text-xl font-bold text-center cursor-pointer flex justify-between items-center"
                            onclick="toggleContent(5)">
                            <div class="galop flex">
                                <img src="https://innowise.com/wp-content/uploads/2022/07/Solana.svg" alt=""
                                    class="h-8 icon-smaller">
                                <span>Solana</span>
                            </div>
                            <i id="arrow-5" class="ri-arrow-drop-down-line text-4xl"></i>
                        </h3>
                        <div style="padding: 20px;" id="content-5"
                            class="text-gray-900 leading-relaxed text-center hidden">As one of the fastest blockchain
                            platforms, Solana provides numerous benefits to its users. At Emiri FinTech, we develop
                            various types of Solana smart contracts, enabling our clients to leverage the platform's key
                            features such as transaction speed, cost efficiency, and scalability.
                        </div>
                    </div>
                </div>

                <!-- Card 6 -->
                <div class="">
                    <div class="pad p-10">
                        <h3 style="white-space: nowrap; padding-top: 28px; padding-bottom: 20px; padding-left: 10px;"
                            class="text-xl font-bold text-center cursor-pointer flex justify-between items-center"
                            onclick="toggleContent(6)">
                            <div class="galop flex">
                                <img src="https://innowise.com/wp-content/uploads/2022/07/XDC-Network.svg" alt=""
                                    class="h-8 icon-smaller">
                                <span>XDC Network</span>
                            </div>
                            <i id="arrow-6" class="ri-arrow-drop-down-line text-4xl"></i>
                        </h3>
                        <div style="padding: 20px;" id="content-6"
                            class="text-gray-900 leading-relaxed text-center hidden">Emiri Fintech's XDC smart contracts
                            offer both efficiency and interoperability. Their inter-blockchain nature enables business
                            owners to develop projects that are compatible with various scalable and cost-effective
                            platforms.</div>
                    </div>
                </div>

                <!-- Card 7 -->
                <div class="">
                    <div class="pad p-10">
                        <h3 style="white-space: nowrap; padding-top: 28px; padding-bottom: 20px; padding-left: 10px;"
                            class="text-xl font-bold text-center cursor-pointer flex justify-between items-center"
                            onclick="toggleContent(7)">
                            <div class="galop flex">
                                <img src="https://innowise.com/wp-content/uploads/2022/07/Polkadot.svg" alt=""
                                    class="h-8 icon-smaller">
                                <span>Polkadot</span>
                            </div>
                            <i id="arrow-7" class="ri-arrow-drop-down-line text-4xl"></i>
                        </h3>
                        <div style="padding: 20px;" id="content-7"
                            class="text-gray-900 leading-relaxed text-center hidden"> Polkadot smart contracts developed
                            by Emiri Fintech are renowned for their speed, decentralization, and top-notch security. Our
                            developers leverage these advantages to deliver fast and highly secure dApps for businesses.
                        </div>
                    </div>
                </div>

                <!-- Card 8 -->
                <div class="">
                    <div class="pad p-10">
                        <h3 style="white-space: nowrap; padding-top: 28px; padding-bottom: 20px; padding-left: 10px;"
                            class="text-xl font-bold text-center cursor-pointer flex justify-between items-center"
                            onclick="toggleContent(8)">
                            <div class="galop flex">
                                <img src="https://innowise.com/wp-content/uploads/2022/07/Stellar.svg" alt=""
                                    class="h-8 icon-smaller">
                                <span>Stellar</span>
                            </div>
                            <i id="arrow-8" class="ri-arrow-drop-down-line text-4xl"></i>
                        </h3>
                        <div style="padding: 20px;" id="content-8"
                            class="text-gray-900 leading-relaxed text-center hidden">With its high speed, scalability,
                            robust security, and low-cost transactions, Stellar smart contracts are highly appealing to
                            businesses of all kinds. If you want your application to leverage these benefits, Emiri
                            FinTech's skilled developers will tailor a solution for you.</div>
                    </div>
                </div>

                <!-- Card 9 -->
                <div class="">
                    <div class="pad p-10">
                        <h3 style="white-space: nowrap; padding-top: 28px; padding-bottom: 20px; padding-left: 10px;"
                            class="text-xl font-bold text-center cursor-pointer flex justify-between items-center"
                            onclick="toggleContent(9)">
                            <div class="galop flex">
                                <img src="https://innowise.com/wp-content/uploads/2022/07/X.svg" alt=""
                                    class="h-8 icon-smaller">
                                <span>XRP Ripple</span>
                            </div>
                            <i id="arrow-9" class="ri-arrow-drop-down-line text-4xl"></i>
                        </h3>
                        <div style="padding: 20px;" id="content-9"
                            class="text-gray-900 leading-relaxed text-center hidden">Ripple is a widely-used currency
                            exchange network and payment settlement system that facilitates transactions globally. Emiri
                            FinTech specializes in developing smart contracts on the XRP Ledger to enhance transaction
                            efficiency and security.</div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- section 5 -->
    <div class="device-container nft-black flex justify-center items-center">
        <div class="devicer">
            <h2 class="diverse">Hire smart contract developers
            </h2>
            <p class="diverse-text smart-diverse">Need a smart contract to boost your business operations?
                Emiri Fintech <br> offers expert developers to help you achieve your goals. Our blockchain <br>
                experts have streamlined processes for clients globally. We can develop <br> a smart contract solution
                from scratch or support your project at any stage. <br> Additionally,
                we offer smart contract audits and provide recommendations <br> to improve your application.
            </p>

            <div class="vidify-container grid grid-cols-1 lg:grid-cols-2 gap-8">
                <div class="vidify-1">
                    <video width="100%" height="auto" controls autoplay muted>
                        <source src="https://innowise.com/wp-content/uploads/2022/12/4-call-to-action.mp4"
                            type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
                <div class="vidify-2">
                    <div class="let-space">
                        <p class="vidify-title font-semibold">Do you have a smart contact in your mind?</p>
                        <p class="vidify-question">Emiri Fintech can implement your big ideas.</p>
                        <div class="fire">
                            <a href="#" class="vidify-button">Drop us a line</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- section 6 -->
    <div id="insights" class="darker-stellar nft-bug ai-steller stellar-swiper-container">
        <p class="neft">
            Some of the industrial smart contract solutions we deliver
        </p>

        <p class="smart-car">Blockchain and smart contracts are versatile solutions that can be applied across
            various industries. At Emiri FinTech, we specialize in developing smart contracts tailored to meet the
            unique needs of businesses in different sectors. Our expertise spans multiple industries, ensuring that
            we can provide effective blockchain solutions regardless of your business niche.</p>
        <div class="cosmic-swiper">
            <div class="orbital-wrapper swiper-wrapper">
                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="cadder nft-white smart-geck geck-1 crypto-carder overflow-hidden">
                        <!-- Image at the top -->
                        <img class="w-full zoom-img" src="https://innowise.com/wp-content/uploads/2022/07/sl1-2.png"
                            alt="Card image">

                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-2xl mt-5 mb-2 pl-3 text-left">
                                Healthcare
                            </div>
                        </div>

                        <div class="account-description-outer">
                            <div class="account-description dess">
                                <p style="font-size: 16px;" class=" ziga font-medium">Smart contracts have huge
                                    potentials, especially in the area where data storage and transparency are key</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="cadder nft-white smart-geck geck-1 crypto-carder overflow-hidden">
                        <!-- Image at the top -->
                        <img class="w-full zoom-img" src="https://innowise.com/wp-content/uploads/2022/07/sl2-2.png"
                            alt="Card image">

                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-2xl mt-5 mb-2 pl-3 text-left">Finance
                            </div>
                        </div>

                        <div class="account-description-outer">
                            <div class="account-description dess">
                                <p style="font-size: 16px;" class=" ziga font-medium">Blockchain and smart contracts
                                    have a lot of applications in the finance sector, where fast, transparent, and cost
                                    effective transactions matter.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="cadder nft-white smart-geck geck-1 crypto-carder overflow-hidden">
                        <!-- Image at the top -->
                        <img class="w-full zoom-img" src="https://innowise.com/wp-content/uploads/2022/07/sl3-2.png"
                            alt="Card image">

                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-2xl mt-5 mb-2 pl-3 text-left">eCommerce
                            </div>
                        </div>

                        <div class="account-description-outer">
                            <div class="account-description dess">
                                <p style="font-size: 16px;" class=" ziga font-medium">Smart contracts facilitate
                                    transactions, create additional payment methods and help track goods delivery.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- section 8 -->
    <div class="smart-combiner nft-black">
        <div style="background-color: #333333;" class="second-kaira flex justify-start items-center">
            <div class="kaira-container smart-buck">
                <div class="meddler kaira-image">
                    <img src="/images/eric.png" alt="Andrew Nalichaev">
                </div>
                <div class="kaira-text smart-ruby">
                    <p class="bigger">As Bill Gates once said, if your business is not on the Internet, it will be
                        out of business. Today, the same applies to smart contracts. At Emiri Fintech, we help
                        businesses leverage smart contracts to streamline processes, reduce costs, and automate
                        solutions. Join the many enterprises already benefiting from this technology.
                    </p>
                    <div class="kaira-author">
                        <h4>Eric Kabutey</h4>
                        <p class="font-semibold">Blockchain domain expert & DeFi analyst at Emiri</p>
                    </div>
                </div>
            </div>

        </div>

        <!-- seventheen -->
        <div class=" seventer nft-black-a device-container flex justify-center items-center">
            <div class="devicer smart-kaira">
                <div class="vidify-container gap-8 grid grid-cols-1 md:grid-cols-2">
                    <div class="vidify-1">
                        <video width="100%" height="auto" controls autoplay muted>
                            <source src="https://innowise.com/wp-content/uploads/2022/12/2-call-to-action.mp4"
                                type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                    <div class="vidify-2">
                        <div class="let-space">
                            <p class="vidify-title font-semibold">Do you want to boost your business with the right
                                smart contract?</p>
                            <p class="vidify-question">Our professionals can develop a blockchain project of any <br>
                                complexity.</p>
                            <div class="fire">
                                <a href="#" class="vidify-button">Contact us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <!-- section 9 -->
    <div class="text-gray-800  hexmen flex justify-center">
        <div class="mx-auto mainer">
            <div class="thug-header nft-thug-header">
                <p class="thug-title text-con text-center">Why choose Emiri FinTech</p>
                <p class="that-para text-center">With over a decade of expertise, Emiri FinTech offers a wide range of
                    smart contract solutions
                    utilizing <br> advanced and reliable blockchain platforms. Partnering with us, you gain the
                    following advantages:
                </p>
            </div>
            <div class="lined-boxes grid grid-cols-1 md:grid-cols-3 gridder">
                <!-- Security-->
                <div class="innertext box-liner flex flex-col">
                    <div class="custom-nft">
                        <img src="https://innowise.com/wp-content/uploads/2022/07/Research.svg" class="h-12" alt="">
                    </div>
                    <a href="#" class="text-xl font-semibold text-gray-900  hoveffect">All-in-one smart contacts
                        development</a>
                    <p class="text-base font-medium leading-relaxed max-w-md">We provide our customers with all the
                        necessary services and support to create full-fledged smart contracts of all types tailored to
                        your requirements.</p>
                </div>

                <!--Versatility  -->
                <div class="innertext box-liner flex flex-col">
                    <div class="custom-nft">
                        <img src="https://innowise.com/wp-content/uploads/2022/07/Research2.svg" class="h-12" alt="">
                    </div>
                    <a href="#" class="text-xl font-semibold text-gray-900  hoveffect">Providing services of excellent
                        quality</a>
                    <p class="text-base font-medium leading-relaxed max-w-md">QA at each stage of smart contracts
                        development is what makes the final product beyond all expectations in terms of quality and
                        reliability.</p>
                </div>

                <!-- Market efficiency-->
                <div class="innertext box-liner flex flex-col">
                    <div class="custom-nft">
                        <img src="https://innowise.com/wp-content/uploads/2022/07/Research3.svg" class="h-12" alt="">
                    </div>
                    <a href="#" class="text-xl font-semibold text-gray-900  hoveffect">Blockchain and cryptography
                        expertise</a>
                    <p class="text-base font-medium leading-relaxed max-w-md">Innowise’s developers employ all the
                        techniques and practices to provide each product with the highest level of security and
                        protection against most if not all possible threats.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="sticky-grid-outer bottom-sp">
        <h1 class="sticky-bro text-center text-3xl">How we develop blockchain solutions</h1>
        </h1>
        <p class=" text-center smart-dope">Emiri FinTech possesses the expertise required to deliver a comprehensive
            smart contract development process. This encompasses all stages necessary to create various
            applications
            or dApps, including asset exchanges and DeFi platforms. We meticulously analyze our clients'
            business
            needs and tailor our methodology to each specific use case. The entire development process is as
            follows:
        </p>

        <div class=" sticky-grid grid grid-cols-1 gap-4">
            <div class=" flex justify-center items-center">
                <div class="stick-container">
                    <div class="step">
                        <div class="step-number">01</div>
                        <div class="step-detes flex flex-col md:flex-row justify-between">
                            <div class="step-title">Business and technical
                                analysis</div>
                            <div class="step-description">Before even writing the first line of code, we deeply analyze
                                the client’s requests, the project requirements, and various risks that the application may
                                encounter in the future. We also conduct a technical analysis of the project and consult on the
                                choice of the blockchain network in which the app will be created.</div>
                        </div>
                        <div class="arrow">&#8595;</div>
                        <div class="divideroll"></div>
                    </div>

                    <div class="step">
                        <div class="step-number">02</div>
                        <div class="step-detes flex flex-col md:flex-row justify-between">
                            <div class="step-title">Technical design</div>
                            <div class="step-description">At this stage, Innowise’s professionals build a technical
                                architecture of the project and develop all the necessary documents that will be used further
                                during the putting into practice process. Our smart contract development company takes into
                                consideration even minor details for the future application to meet all the clients’ use case
                                requirements.</div>
                        </div>
                        <div class="arrow">&#8595;</div>
                        <div class="divideroll"></div>
                    </div>

                    <div class="step">
                        <div class="step-number">03</div>
                        <div class="step-detes flex flex-col md:flex-row justify-between">
                            <div class="step-title">Development</div>
                            <div class="step-description">As soon as all preparative steps are done, it is time to write
                                the code and build the application according to the documentation. Once recorded to the
                                blockchain, smart contracts are irreversible and immutable. Hence, we use the Testnet to make
                                sure that it is error and bugs-free as well as meets all the requirements set in the
                                documentation.</div>
                        </div>
                        <div class="arrow">&#8595;</div>
                        <div class="divideroll"></div>
                    </div>

                    <div class="step">
                        <div class="step-number">04</div>
                        <div class="step-detes flex flex-col md:flex-row justify-between">
                            <div class="step-title">Testing stage</div>
                            <div class="step-description">At this particular stage, our experts conduct various types of
                                audits, including security one to find all possible deviations from what we have previously
                                agreed upon. We also search for all possible leaks to seal them. At this stage, Innowise’s
                                professionals also look at how optimized the app is.</div>
                        </div>
                        <div class="arrow">&#8595;</div>
                        <div class="divideroll"></div>
                    </div>

                    <div class="step">
                        <div class="step-number">05</div>
                        <div class="step-detes flex flex-col md:flex-row justify-between">
                            <div class="step-title">Deployment on Mainnet</div>
                            <div class="step-description">After testing the application using the Testnet and adjusting
                                to its optimization, the smart contract is ready to be deployed on the chosen blockchain
                                network. With the growing number of users and features, it will be possible to make any
                                amendments thanks to the flexibility of the code.</div>
                        </div>
                        <div class="arrow">&#8595;</div>
                        <div class="divideroll"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- section 12 -->
     <div class="business-stellar nft-steal stellar-swiper-container AI-container">
        <h1 class="nft-related cosmic-title font-medium text-center">What our customers say about Innowise</h1>
        <div class="cosmic-swiper ai-swiper">
            <div class="orbital-wrapper swiper-wrapper">
                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="cadder overflow-hidden flex flex-col">
                        <div class="stala flex flex-row"> <i class="ri-double-quotes-l"></i>
                            <p>We are delighted withe emiri fintech's commitment to delivering quality work
                                and solving issues quickly. They lead an engaged approach to understanding the team's
                                needs
                                and accomplishing their goals.</p>
                        </div>
                        <div class="gala-outer">
                            <div class="gala business-gala">
                                <!-- <p class="quote-name"><strong>Or Iny</strong></p> -->
                                <p class="quote-po">CEO</p>
                                <p class="quote-r">Zero Beta</p>
                            </div>
                            <div class="gala-img gala-hider">
                                <img src="https://innowise.com/wp-content/uploads/2024/11/image-3335-1.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="cadder overflow-hidden flex flex-col">
                        <div class="stala flex flex-row"> <i class="ri-double-quotes-l"></i>
                            <p>We are delighted withe emiri fintech's commitment to delivering quality work
                                and solving issues quickly. They lead an engaged approach to understanding the team's
                                needs
                                and accomplishing their goals.</p>
                        </div>
                        <div class="gala-outer">
                            <div class="gala  business-gala">
                                <!-- <p class="quote-name"><strong>Or Iny</strong></p> -->
                                <p class="quote-po">CEO</p>
                                <p class="quote-r">Zero Beta</p>
                            </div>
                            <div class="gala-img gala-hider">
                                <img src="https://innowise.com/wp-content/uploads/2024/11/image-3335-1.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="galaxy-slide swiper-slide">
                    <div class="cadder overflow-hidden flex flex-col">
                        <div class="stala flex flex-row"> <i class="ri-double-quotes-l"></i>
                            <p>We are delighted withe emiri fintech's commitment to delivering quality work
                                and solving issues quickly. They lead an engaged approach to understanding the team's
                                needs
                                and accomplishing their goals.</p>
                        </div>
                        <div class="gala-outer">
                            <div class="gala  business-gala">
                                <!-- <p class="quote-name"><strong>Or Iny</strong></p> -->
                                <p class="quote-po">CEO</p>
                                <p class="quote-r">Zero Beta</p>
                            </div>
                            <div class="gala-img gala-hider">
                                <img src="https://innowise.com/wp-content/uploads/2024/11/image-3335-1.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Swiper Pagination -->
            <div class="business-swiper swiper-pagination"></div>
            <!-- Swiper Navigation -->
            <!-- <div class="stellar-button-prev swiper-button-prev"></div>
            <div class="stellar-button-next swiper-button-next"></div> -->
        </div>
    </div>

    <!-- section 13 -->
    <div class="nft-white smart-padd stellar-swiper-container">
        <h1 class="cosmic-title text-3xl md:text-4xl font-medium text-center">Our Smart Contracts related cases</h1>
        <div class="cosmic-swiper">
            <div class="orbital-wrapper swiper-wrapper">
                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="cadder smart-geck nft-white overflow-hidden">
                        <!-- Image at the top -->
                        <img class="w-full zoom-img"
                            src="https://innowise.com/wp-content/uploads/2024/10/eCommerce-TIZER.jpg" alt="Card image">

                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-2xl mt-5 mb-2">Stock trading app<br>development</div>
                        </div>

                        <!-- Links below the title -->
                        <div class=" cadder-buttons">
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">FinTech</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">Java</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Kotlin</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Mobile</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">React</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Swift</a>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="cadder smart-geck nft-white overflow-hidden">
                        <!-- Image at the top -->
                        <img class="w-full zoom-img"
                            src="https://innowise.com/wp-content/uploads/2024/07/LIMS-customization-small-cover.png"
                            alt="Card image">

                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-2xl mt-5 mb-2">Stock trading app<br>development</div>
                        </div>

                        <!-- Links below the title -->
                        <div class=" cadder-buttons">
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">FinTech</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">Java</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Kotlin</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Mobile</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">React</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Swift</a>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="cadder smart-geck nft-white overflow-hidden">
                        <!-- Image at the top -->
                        <img class="w-full zoom-img"
                            src="https://innowise.com/wp-content/uploads/2024/05/Revamping-tour-operator-software-small-cover.png">

                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-2xl mt-5 mb-2">Stock trading app<br>development</div>
                        </div>

                        <!-- Links below the title -->
                        <div class=" cadder-buttons">
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">FinTech</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">Java</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Kotlin</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Mobile</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">React</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Swift</a>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="cadder smart-geck nft-white overflow-hidden">
                        <!-- Image at the top -->
                        <img class="w-full zoom-img"
                            src="https://innowise.com/wp-content/uploads/2024/04/Meditation-app-small-cover.png"
                            alt="Card image">

                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-2xl mt-5 mb-2">Stock trading app<br>development</div>
                        </div>

                        <!-- Links below the title -->
                        <div class=" cadder-buttons">
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">FinTech</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">Java</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Kotlin</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Mobile</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">React</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Swift</a>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="cadder smart-geck nft-white overflow-hidden">
                        <!-- Image at the top -->
                        <img class="w-full zoom-img"
                            src="https://innowise.com/wp-content/uploads/2024/01/Online-store-migration-cover-small.png">

                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-2xl mt-5 mb-2">Stock trading app<br>development</div>
                        </div>

                        <!-- Links below the title -->
                        <div class=" cadder-buttons">
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">FinTech</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">Java</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Kotlin</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Mobile</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">React</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Swift</a>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="cadder smart-geck nft-white overflow-hidden">
                        <!-- Image at the top -->
                        <img class="w-full zoom-img"
                            src="https://innowise.com/wp-content/uploads/2024/03/Small-Cover-Admin-panel-for-QA-tests-1-Nikita-Sokolovsky-Lena-Akhmetava.png"
                            alt="Card image">

                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-2xl mt-5 mb-2">Stock trading app<br>development</div>
                        </div>

                        <!-- Links below the title -->
                        <div class=" cadder-buttons">
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">FinTech</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">Java</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Kotlin</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Mobile</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">React</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Swift</a>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="cadder smart-geck nft-white overflow-hidden">
                        <!-- Image at the top -->
                        <img class="w-full zoom-img"
                            src="https://innowise.com/wp-content/uploads/2024/01/image-3042.png" alt="Card image">

                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-2xl mt-5 mb-2">Stock trading app<br>development</div>
                        </div>

                        <!-- Links below the title -->
                        <div class=" cadder-buttons">
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">FinTech</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">Java</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Kotlin</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Mobile</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">React</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Swift</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Swiper Pagination -->
            <div class="digital-pagi swiper-pagination"></div>
            <!-- Swiper Navigation -->
            <!-- <div class="stellar-button-prev swiper-button-prev"></div>
            <div class="stellar-button-next swiper-button-next"></div> -->
        </div>
    </div>

    <div class="nft-lexus stack-outer flex justify-start items-center">
        <div class="smart-tech-stack tech-stack">
            <div class="dropper-expand">
                <p class="text-center tech-text mb-6">FAQ about smart contracts</p>
            </div>
            <div class="border-b py-6">
                <button class="flex  items-center w-full text-left text-lg font-semibold"
                    onclick="toggleSection('section10')"><span class="text-gray-500 font-thin">+</span>What is a smart
                    contract?</button>
                <div id="section10" class="mt-2 hidden">
                    <p class=" mb-3">Smart contracts are irreversible and unmodifiable forms of agreement that allow
                        businesses to automate a huge part of processes. The nature of a smart contract is simple and
                        straightforward. Such an application triggers an event after a particular condition is met.</p>
                </div>
            </div>

            <div class="border-b py-6">
                <button class="flex  items-center w-full text-left text-lg font-semibold"
                    onclick="toggleSection('section11')"><span class="text-gray-500 font-thin">+</span>
                    What are the
                    advantages of a smart contract?
                </button>
                <div id="section11" class="mt-2 hidden">
                    <p class=" mb-3">One of the advantages of using them is that they reduce or even remove the
                        participation of intermediaries. Smart contracts are totally autonomous, meaning none of the
                        parties is needed to monitor its workflow. Such apps are immutable, which makes smart contracts
                        one of the safest and most powerful tools for creating digital agreements. They can be
                        implemented in most if not all of the industries and branches.</p>
                </div>
            </div>

            <div class="border-b py-6">
                <button class="flex  items-center w-full text-left text-lg font-semibold"
                    onclick="toggleSection('section12')"><span class="text-gray-500 font-thin">+</span>
                    What are smart
                    technology advantages over traditional contracts?
                </button>
                <div id="section12" class="mt-2 hidden">
                    <p class=" mb-3">They are fast and secure. Smart contracts allow you to exclude intermediaries, and,
                        thus, make all your transactions and other operations cost-effective. </p>
                </div>
            </div>

            <!-- no-bottom was here -->
            <div class="border-b py-6">
                <button class="flex  items-center w-full text-left text-lg font-semibold"
                    onclick="toggleSection('section13')"><span class="text-gray-500 font-thin">+</span>What are smart
                    technology advantages over traditional contracts?</button>
                <div id="section13" class="mt-2 hidden">
                    <p class=" mb-3">They are fast and secure. Smart contracts allow you to exclude intermediaries, and,
                        thus, make all your transactions and other operations cost-effective.</p>
                </div>
            </div>

            <div class="border-b py-6">
                <button class="flex  items-center w-full text-left text-lg font-semibold"
                    onclick="toggleSection('section14')"><span class="text-gray-500 font-thin">+</span>Which are the
                    most suitable blockchain platforms for smart contract development?</button>
                <div id="section14" class="mt-2 hidden">
                    <p class=" mb-3">When choosing the best platform for smart contracts development, our experts focus
                        on various aspects, including, but not limited to transaction throughput, scalability, type of
                        consensus, etc.</p>
                </div>
            </div>

            <div class="border-b py-6">
                <button class="flex  items-center w-full text-left text-lg font-semibold"
                    onclick="toggleSection('section15')"><span class="text-gray-500 font-thin">+</span>How do smart
                    contracts work?</button>
                <div id="section15" class="mt-2 hidden">
                    <p class=" mb-3">These are programmed applications that contain a certain sequence of events and
                        conditions. Once a condition is met, a particular event triggers.</p>
                </div>
            </div>

            <div class="border-b py-6">
                <button class="flex  items-center w-full text-left text-lg font-semibold"
                    onclick="toggleSection('section16')"><span class="text-gray-500 font-thin">+</span>What are smart
                    contracts used for?</button>
                <div id="section16" class="mt-2 hidden">
                    <p class=" mb-3">This type of digital agreement is widely used in various industries to provide
                        autonomous transactions of all kinds that can be completed at high speed and with reduced costs.</p>
                </div>
            </div>

        </div>
    </div>

    <!--  twenty-one -->
    <div class="nft-bug stellar-swiper-container panda">
        <h1 class="cosmic-title text-center text-3xl md:text-4xl font-medium">Need other services?</h1>
        <div class="cosmic-swiper">
            <div class="orbital-wrapper swiper-wrapper">
                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="boxer nft-boxer overflow-hidden">
                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-xl">Blockchain development company</div>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="boxer nft-boxer  overflow-hidden">
                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-xl">Blockchain consulting services</div>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="boxer nft-boxer  overflow-hidden">
                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-xl">Solana blockchain development company</div>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="boxer nft-boxer  overflow-hidden">
                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-xl">Metaverse Development</div>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="boxer nft-boxer  overflow-hidden">
                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-xl">Web 3.0 development company</div>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="boxer nft-boxer  overflow-hidden">
                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-xl">Virtual reality development company</div>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="boxer nft-boxer  overflow-hidden">
                        <!-- Image at the top -->
                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-xl">Trading software development services</div>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="boxer nft-boxer  overflow-hidden">
                        <!-- Image at the top -->
                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-xl">Securityt token offering development services</div>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="boxer nft-boxer  overflow-hidden">
                        <!-- Image at the top -->
                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-xl">Digital wallet app development company</div>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="boxer nft-boxer  overflow-hidden">
                        <!-- Image at the top -->
                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-xl">Mixed reality development company</div>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="boxer nft-boxer  overflow-hidden">
                        <!-- Image at the top -->
                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-xl">Decentralized finance (Defi) development company & services
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Swiper Pagination -->
            <div class="pagger swiper-pagination"></div>
            <!-- Swiper Navigation -->
            <!-- <div class="stellar-button-prev swiper-button-prev"></div>
            <div class="stellar-button-next swiper-button-next"></div> -->
        </div>
    </div>

    <!-- last section -->
    <div class="antuan w-full h-full flex flex-col lg:flex-row mb-8">
        <!-- Left Section  -->
        <div class="glorifier w-full lg:w-1/2 p-8 flex flex-col justify-center">
            <h2 class="pluto-1  font-medium text-5xl mb-8">Contact us!</h2>
            <p class="text-xl text-gray-800 mb-6"><span class="text-red-700 underline"><a href="#">Book a
                        call</a></span> or fill out the form below and we’ll get back to you once we’ve processed
                your request.</p>

            <form class="w-full">
                <!-- Name Field -->
                <div class="relative z-0 w-full mb-5 group">
                    <input type="text" name="floating_name" id="floating_name"
                        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                        placeholder=" " required />
                    <label for="floating_name"
                        class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Name</label>
                </div>

                <!-- Company Field -->
                <div class="relative z-0 w-full mb-5 group">
                    <input type="text" name="floating_company" id="floating_company"
                        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                        placeholder=" " required />
                    <label for="floating_company"
                        class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Company</label>
                </div>

                <!-- Confirm Email Field -->
                <div class="relative z-0 w-full mb-5 group">
                    <input type="text" name="repeat_corporate" id="floating_repeat_corporate"
                        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                        placeholder=" " required />
                    <label for="floating_repeat_corporate"
                        class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Confirm
                        Corporate Email</label>
                </div>

                <!-- Phone and Subject Fields -->
                <div class="grid md:grid-cols-2 md:gap-6">
                    <div class="relative z-0 w-full mb-5 group">
                        <input type="number" name="floating_first_phone" id="floating_first_phone"
                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" " required />
                        <label for="floating_first_phone"
                            class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">First
                            Phone</label>
                    </div>
                    <div class="relative z-0 w-full mb-5 group">
                        <input type="text" name="floating_last_subject" id="floating_last_subject"
                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" " required />
                        <label for="floating_last_subject"
                            class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Last
                            Subject</label>
                    </div>
                </div>

                <!-- Project Budget Field -->
                <div class="relative z-0 w-full mb-5 group">
                    <input type="number" name="floating_phone" id="floating_project"
                        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                        placeholder=" " required />
                    <label for="floating_project"
                        class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Project
                        Budget (GMD100K)</label>
                </div>

                <!-- Description Field -->
                <div class="relative z-0 w-full mb-5 group">
                    <input type="text" name="floating_description" id="floating_description"
                        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                        placeholder=" " required />
                    <label for="floating_description"
                        class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Description</label>
                </div>

                <!-- Action Buttons -->
                <div class="flex flex-col justify-center items-center">
                    <div class="flex flex-col lg:flex-row gap-4 w-full">
                        <!-- Record Message Button -->
                        <div class="flex flex-col items-center border border-gray-300 rounded-md p-4 w-full lg:w-1/2">
                            <p class="text-sm font-medium mb-2">Record a voice message about your project to help us
                                understand it better</p>
                            <button
                                class="border border-red-500 hover:bg-gray-100 text-red-500 font-bold py-2 px-4 rounded flex items-center justify-center gap-2">
                                <i class="ri-mic-2-line text-xl"></i>
                                Record a voice message
                            </button>
                        </div>

                        <!-- Attach Documents Button -->
                        <div class="flex flex-col items-center border border-gray-300 rounded-md p-4 w-full lg:w-1/2">
                            <p class="text-sm font-medium mb-2">Attach additional documents as needed</p>
                            <button
                                class="attacher border lg:mt-3 border-red-500 hover:bg-gray-100 text-red-500 font-bold py-2 px-4 rounded flex items-center justify-center gap-2">
                                <i class="ri-file-2-line text-xl"></i>
                                Attach documents
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Legal Notice -->
                <p class="text-sm text-gray-500 mt-4">Please be informed that when you click the Send button, we
                    will process your personal data in accordance with our <span class="text-black font-medium"> <a
                            href="#">Privacy Policy</a> </span>and Terms and Conditions.</p>

                <!-- Full-Width Send Button -->
                <button type="submit"
                    class="mt-4 w-full bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded">
                    Send
                </button>
            </form>

        </div>





        <!-- Right Section -->
        <div class="w-full lg:w-1/2 flex justify-center items-center">
            <!-- statistic -->
            <div class="next-container flex justify-center items-center flex-col">
                <div class="next-child">
                    <div class="text-center text-2xl md:text-5xl next-titan">What happens next?</div>
                    <div class="next-step">
                        <div class="next-step-number">1</div>
                        <div class="next-step-content">Once we’ve received and processed your request, we’ll get back to
                            you to <br>
                            detail your project needs and sign an NDA to ensure confidentiality.</div>
                    </div>
                    <div class="next-step">
                        <div class="next-step-number">2</div>
                        <div class="next-step-content">We’ll draft a proposal with the scope, team, timeline, and costs
                            based <br> on your needs.</div>
                    </div>
                    <div class="next-step">
                        <div class="next-step-number">3</div>
                        <div class="next-step-content">We’ll arrange a meeting with you to discuss the offer and nail
                            down the
                            <br> details.
                        </div>
                    </div>
                    <div class="next-step">
                        <div class="next-step-number">4</div>
                        <div class="next-step-content">Finally, we’ll sign a contract and start working on your project
                            right
                            away.</div>
                    </div>
                </div>
            </div>

        </div>

    </div>


    <script src="/javascripts/cloud.js"></script>
    <script src="/javascripts/nft.js"></script>
    <script src="/javascripts/digital.js"></script>
    <script src="/javascripts/account.js"></script>