<%- layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/nft.css">
    <link rel="stylesheet" href="/helper/web.css">
    <link rel="stylesheet" href="/stylesheets/crypto.css">
    <link rel="stylesheet" href="/stylesheets/digitalres.css">
    <link rel="stylesheet" href="/stylsheets/digital2.css">
    <link rel="stylesheet" href="/stylesheets/business.css">
    <link rel="stylesheet" href="/stylesheets/digital.css">
    <link rel="stylesheet" href="/stylesheets/nft.css">
    <link rel="stylesheet" href="/stylesheets/smart.css">

    <!-- section 1 -->

    <div class="digital-hero">
        <div class="digital-texts">
            <div class=" title-1 font-bold text-5xl flex flex-col justify-center gap-7">
                <div class="image-digi flex gap-3"> <img src="/images/business-contract.png" class="h-12"
                        alt=""><span>Smart contract development company</span></div>
                <div class="white-r"></div>
            </div>
        </div>
    </div>

    <div class="acordion">
        <div class="forensic-dropper">
            <div class=" dropper-container zero-pad">
                <div class="acord-starter">
                    <p class="acord-2 corder">With years of blockchain development expertise, Innowise provides a full
                        range of services related to a smart contract, from building architecture to coding it and
                        deploying it on the mainnet. Our staff contains highly qualified professionals who can develop
                        any smart contract from scratch or add their expertise to the ongoing development process.
                        <hr class="hrr">
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- section 2 -->
    <div class="nft-does cont flex items-center justify-center bg-no-repeat bg-center bg-cover bg-black bg-opacity-50"
        style="background-image: url('https://innowise.com/wp-content/uploads/2022/07/28c30c31555b64a90230b6a51cc563bb-scaled.jpg');">
        <div class="flex flex-col items-center text-center">
            <p class="text-white text-4xl font-medium">Looking for smart contract developers?
            </p>
            <a href="#" class="mt-14 px-6 py-4 text-white bg-red-500 rounded-sm hover:bg-blue-700">Contact us</a>
        </div>
    </div>

    <!-- section 3 -->
    <div class="util-outer flex justify-center items-center">
        <div class="util-container">
            <h1 class="util-title">Smart contracts development services</h1>
            <p class="util-description">Innowise has many qualified in-house blockchain developers. We have already <br>
                spent 10+ years in this domain and built a range of state-of-the-art solutions. <br> Therefore, we can
                provide our clients with full-stack development of smart <br> contracts as well as other related
                services that are listed below.</p>

            <div class="util-grid grid grid-cols-1 md:grid-cols-3">
                <div class="util-grid-item">
                    <h3 class="util-grid-item-title fifteenth-one font-semibold"><span>•</span> Smart contract
                        development
                    </h3>
                    <p class="util-grid-item-description">Our experienced development team creates any type of such
                        automated immutable “digital agreements” that will meet all the client’s requirements and can be
                        implemented in various niches of business.</p>
                </div>

                <div class="util-grid-item">
                    <h3 class="util-grid-item-title fifteenth-one font-semibold"><span>•</span> Smart contract design
                    </h3>
                    <p class="util-grid-item-description">Some of the existing design patterns and programming
                        principles for conventional software environments also apply to smart contracts. We build even
                        the most complex designs at a reasonable cost.</p>
                </div>

                <div class="util-grid-item">
                    <h3 class="util-grid-item-title fifteenth-one font-semibold"><span>•</span>Smart contract audits
                    </h3>
                    <p class="util-grid-item-description">Before a solution of this type is even deployed on the
                        mainnet, we test it to make sure it includes no errors or security vulnerabilities. We also
                        audit third-party contracts to exclude any issues with them.</p>
                </div>

                <div class="util-grid-item">
                    <h3 class="util-grid-item-title fifteenth-one font-semibold"><span>•</span>Smart contract optimization</h3>
                    <p class="util-grid-item-description">When developing smart contracts, Innowise implements an optimization approach that allows us to create cost- and computation-effective solutions. This, in turn, reduces the average usage of gas.</p>
                </div>

                <div class="util-grid-item">
                    <h3 class="util-grid-item-title fifteenth-one font-semibold"><span>•</span>Smart contracts for dApps</h3>
                    <p class="util-grid-item-description">We build various decentralized applications that allow peering transactions directly between two parties. With our smart contracts, a client’s business can solve any task with the highest level of efficiency.</p>
                </div>

                <div class="util-grid-item">
                    <h3 class="util-grid-item-title fifteenth-one font-semibold"><span>•</span>Hire smart contract developers</h3>
                    <p class="util-grid-item-description">If you are looking for dedicated blockchain experts to improve the ongoing project, you can hire our staff members. The professionals of Innowise are ready to join your development process at any stage.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- section 4 -->
    <div class="text-gray-800 nft-bug hexmen flex justify-center">
        <div class="mx-auto mainer">
            <div class="thug-header nft-thug-header">
                <p class="thug-title">Best smart contracts platforms we work on</p>
                <p>Innowise has strong experience in developing blockchain-based and <br> blockchain-related solutions.
                    Not only do we provide our clients with all-in-one <br> smart contracts development services but
                    also help them select the most <br> appropriate blockchain platform. Our team goes through every
                    minor detail of <br> each particular smart contract use case to help clients pick one of the <br>
                    platforms that are mentioned below.
                </p>
            </div>

            <div class="smart-logor grid grid-cols-1 md:grid-cols-3 gridder">
                <!-- nft design -->
                <div class="innertext flex flex-col">
                    <div class="custom-nft">
                        <img src="https://innowise.com/wp-content/uploads/2022/07/Ethereum.svg" class="h-12" alt="">
                    </div>
                    <a href="#" class="text-xl font-semibold text-gray-900  hoveffect">Ethereum</a>
                    <p class="text-base font-medium leading-relaxed max-w-md">Our Ethereum smart contract developers
                        have years of experience in creating smart contracts of all types, including decentralized
                        applications on one of the oldest and most trusted blockchain networks.</p>
                </div>

                <!--intellectual-  -->
                <div class="innertext flex flex-col">
                    <div class="custom-nft">
                        <img src="https://innowise.com/wp-content/uploads/2022/07/H.svg" class="h-12" alt="">
                    </div>
                    <a href="#" class="text-xl font-semibold text-gray-900  hoveffect">Hyperledger</a>
                    <p class="text-base font-medium leading-relaxed max-w-md">We will provide our clients with
                        Hyperledger smart contracts (chaincode) of all types that are built on a scalable and secure
                        blockchain platform designed by Linux. Such contracts are particularly praised for protection of
                        sensitive data.</p>
                </div>

                <!-- NFT minting -->
                <div class="innertext flex flex-col">
                    <div class="custom-nft">
                        <img src="https://innowise.com/wp-content/uploads/2022/07/EOS.svg" class="h-12" alt="">
                    </div>
                    <a href="#" class="text-xl font-semibold text-gray-900  hoveffect">EOS</a>
                    <p class="text-base font-medium leading-relaxed max-w-md">Innowise is ready to develop any type of
                        EOS smart contract that will allow our clients to benefit from the high throughput that this
                        platform offers to all its users as well as its flexible governance structure model.</p>
                </div>

                <!-- Smart contract development -->
                <div class="innertext flex flex-col">
                    <div class="custom-nft">
                        <img src="https://innowise.com/wp-content/uploads/2022/07/Vector-922.svg" class="h-12" alt="">
                    </div>
                    <a href="#" class="text-xl font-semibold text-gray-900  hoveffect">Tron</a>
                    <p class="text-base font-medium leading-relaxed max-w-md">If you are in search of scalable and
                        reliable solutions for your business, then Innowise will provide smart contract-based MLM on
                        Tron solutions that will inevitably increase business efficiency.</p>
                </div>

                <!-- Migrating NFTs -->
                <div class="innertext flex flex-col">
                    <div class="custom-nft">
                        <img src="https://innowise.com/wp-content/uploads/2022/07/Solana.svg" class="h-12" alt="">
                    </div>
                    <a href="#" class="text-xl font-semibold text-gray-900  hoveffect">Solana</a>
                    <p class="text-base font-medium leading-relaxed max-w-md">Being one of the fastest blockchain
                        platforms, Solana offers a lot of advantages to its users. We create any type of Solana smart
                        contract so that our clients can benefit from the blockchain’s key features, including
                        transaction speed, costs, and scalability.</p>
                </div>

                <!-- Cross-chain NFT platform development -->
                <div class="innertext flex flex-col">
                    <div class="custom-nft">
                        <img src="https://innowise.com/wp-content/uploads/2022/07/XDC-Network.svg" class="h-12" alt="">
                    </div>
                    <a href="#" class="text-xl font-semibold text-gray-900  hoveffect">XDC Network</a>
                    <p class="text-base font-medium leading-relaxed max-w-md">XDC smart contracts can boast both
                        efficiency and interoperability. The inter-blockchain nature of such applications allows
                        business owners to build projects that will be compatible with various scalable and
                        cost-effective platforms.</p>
                </div>

                <div class="innertext flex flex-col">
                    <div class="custom-nft">
                        <img src="https://innowise.com/wp-content/uploads/2022/07/Polkadot.svg" class="h-12" alt="">
                    </div>
                    <a href="#" class="text-xl font-semibold text-gray-900  hoveffect">Polkadot</a>
                    <p class="text-base font-medium leading-relaxed max-w-md">All the Polkadot smart contracts stand out
                        for their speed, decentralization, and the highest level of security. With this in mind,
                        Innowise’s developers use all of these benefits to provide businesses with fast and highly
                        secured dApps.</p>
                </div>

                <!-- Migrating NFTs -->
                <div class="innertext flex flex-col">
                    <div class="custom-nft">
                        <img src="https://innowise.com/wp-content/uploads/2022/07/Stellar.svg" class="h-12" alt="">
                    </div>
                    <a href="#" class="text-xl font-semibold text-gray-900  hoveffect">Stellar</a>
                    <p class="text-base font-medium leading-relaxed max-w-md">With its high speed, scalability, robust
                        security, and low-cost transactions, Stellar smart contracts are looking very attractive to
                        businesses of all kinds. If you want your application to enjoy all of these benefits, our
                        skilled developers will tailor such.</p>
                </div>

                <!-- Cross-chain NFT platform development -->
                <div class="innertext flex flex-col">
                    <div class="custom-nft">
                        <img src="https://innowise.com/wp-content/uploads/2022/07/X.svg" class="h-12" alt="">
                    </div>
                    <a href="#" class="text-xl font-semibold text-gray-900  hoveffect">XRP Ripple</a>
                    <p class="text-base font-medium leading-relaxed max-w-md">Ripple is a popular currency exchange
                        network and payments settlement system that processes transactions from around the world. We are
                        able to develop smart contracts based on the XRP Ledger as well.</p>
                </div>

            </div>
        </div>
    </div>

    <!-- section 5 -->
    <div class="device-container nft-black flex justify-center items-center">
        <div class="devicer">
            <h2 class="diverse">Hire smart contract developers
            </h2>
            <p class="diverse-text smart-diverse">If you are in need of a smart contract to optimize your business,
                Innowise will <br> provide you with first-class skilled developers that will help you reach all your
                <br> business goals. Our blockchain experts have already saved time and effort for <br> many clients
                around the world. We can both develop a smart contract solution <br> from scratch or outsource our
                in-house professionals to join the project at <br> any stage. Also, we can audit smart contracts and
                give a client detailed <br> recommendations on various aspects of the app.
            </p>

            <div class="vidify-container grid grid-cols-1 md:grid-cols-2">
                <div class="vidify-1">
                    <video width="100%" height="auto" controls autoplay muted>
                        <source src="https://innowise.com/wp-content/uploads/2022/12/4-call-to-action.mp4"
                            type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
                <div class="vidify-2">
                    <div class="let-space">
                        <p class="vidify-title font-semibold">Do you have a smart contact in your mind?</p>
                        <p class="vidify-question">Innowise can implement your big ideas.</p>
                        <div class="fire">
                            <a href="#" class="vidify-button">Drop us a line</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- section 6 -->
    <div id="insights" class="darker-stellar nft-bug ai-steller stellar-swiper-container">
        <p class="neft">
            Some of the industrial smart contract solutions we deliver
        </p>

        <p class="smart-car">Blockchain and smart contracts, in particular, are applicable in many <br> industries,
            meaning this is a universal solution for your business regardless of <br> the niche you work in. Innowise
            builds smart contracts for various companies <br> in our daily development routine. The industries that we
            cover include but are <br> not limited to the following ones.</p>
        <div class="cosmic-swiper">
            <div class="orbital-wrapper swiper-wrapper">
                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="cadder nft-white smart-geck geck-1 crypto-carder overflow-hidden">
                        <!-- Image at the top -->
                        <img class="w-full zoom-img" src="https://innowise.com/wp-content/uploads/2022/07/sl1-2.png"
                            alt="Card image">

                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-2xl mt-5 mb-2 pl-3 text-left">
                                Healthcare
                            </div>
                        </div>

                        <div class="account-description-outer">
                            <div class="account-description dess">
                                <p style="font-size: 16px;" class=" ziga font-medium">Smart contracts have huge
                                    potentials, especially in the area where data storage and transparency are key</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="cadder nft-white smart-geck geck-1 crypto-carder overflow-hidden">
                        <!-- Image at the top -->
                        <img class="w-full zoom-img" src="https://innowise.com/wp-content/uploads/2022/07/sl2-2.png"
                            alt="Card image">

                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-2xl mt-5 mb-2 pl-3 text-left">Finance
                            </div>
                        </div>

                        <div class="account-description-outer">
                            <div class="account-description dess">
                                <p style="font-size: 16px;" class=" ziga font-medium">Blockchain and smart contracts
                                    have a lot of applications in the finance sector, where fast, transparent, and cost
                                    effective transactions matter.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="cadder nft-white smart-geck geck-1 crypto-carder overflow-hidden">
                        <!-- Image at the top -->
                        <img class="w-full zoom-img" src="https://innowise.com/wp-content/uploads/2022/07/sl3-2.png"
                            alt="Card image">

                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-2xl mt-5 mb-2 pl-3 text-left">eCommerce
                            </div>
                        </div>

                        <div class="account-description-outer">
                            <div class="account-description dess">
                                <p style="font-size: 16px;" class=" ziga font-medium">Smart contracts facilitate
                                    transactions, create additional payment methods and help track goods delivery.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- section 7 -->
    <div class="util-outer flex nft-white justify-center items-center">
        <div class="util-container">
            <h1 class="util-title">Benefits of smart contracts for business</h1>
            <p class="util-description">Smart contracts are already widely used in business especially when it comes
                <br> to peering transactions and various asset exchange applications. Moreover, <br> they are the only
                way for companies to launch blockchain-based crowdfunding <br> campaigns. Innowise’s experts list
                transparency, immutability, irreversibility, <br> and accuracy among their major benefits.
            </p>

            <div class="util-grid grid grid-cols-1 md:grid-cols-3">
                <div class="util-grid-item">
                    <h3 class="util-grid-item-title fifteenth-one font-semibold"><span>•</span>Security
                    </h3>
                    <p class="util-grid-item-description">Being executed in a blockchain environment, smart contracts
                        are highly protected by cryptography, which, in turn, can guarantee that they are nearly 100%
                        invincible to all modern threats including hacker attacks.</p>
                </div>

                <div class="util-grid-item">
                    <h3 class="util-grid-item-title fifteenth-one font-semibold"><span>•</span>Transparency
                        technology</h3>
                    <p class="util-grid-item-description">Smart contracts provide their users both businesses and end
                        clients, with the highest level of transparency, which puts them on the highest levels of trust.
                        Each participant of such an agreement can get access to the smart contract and its provisions at
                        any time.</p>
                </div>

                <div class="util-grid-item">
                    <h3 class="util-grid-item-title fifteenth-one font-semibold"><span>•</span>Independence
                    </h3>
                    <p class="util-grid-item-description">In contrast to traditional paper contracts, smart ones do not
                        require any intermediary to be executed. This, in turn, allows your business to reduce costs and
                        automate a lot of processes.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- section 8 -->
    <div class="smart-combiner nft-black">
        <div style="background-color: #333333;" class="second-kaira flex justify-start items-center">
            <div class="kaira-container">
                <div class="kaira-image">
                    <img src="https://innowise.com/wp-content/uploads/2023/12/img-1-2-1.png" alt="Andrew Nalichaev">
                </div>
                <div class="kaira-text">
                    <p class="bigger">Do you remember Bill Gates saying that if your business is not on the Internet
                        <br> then your business will be out of business? Well, nowadays the same can be <br> said about
                        smart contracts and many online and offline businesses. It’s been a <br> while since smart
                        contracts were a kind of a miracle or something that was <br> treated like a prototype that
                        requires years of studies before implementation. <br> Today, such applications are employed by
                        many businesses and enterprises to <br> facilitate processes, reduce costs, automate various
                        solutions, etc. They are <br> around us already. We, at Innowise, will easily connect your
                        business to this <br> technological solution so that you can benefit from all its strengths.
                    </p>
                    <div class="kaira-author">
                        <h4>Andrew Nalichaev</h4>
                        <p class="font-semibold">Blockchain domain expert & DeFi analyst at Innowise</p>
                    </div>
                </div>
            </div>

        </div>

        <!-- seventheen -->
        <div class=" seventer nft-black-a device-container flex justify-center items-center">
            <div class="devicer smart-kaira">
                <div class="vidify-container grid grid-cols-1 md:grid-cols-2">
                    <div class="vidify-1">
                        <video width="100%" height="auto" controls autoplay muted>
                            <source src="https://innowise.com/wp-content/uploads/2022/12/2-call-to-action.mp4"
                                type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                    <div class="vidify-2">
                        <div class="let-space">
                            <p class="vidify-title font-semibold">Do you want to boost your business with the right
                                smart contract?</p>
                            <p class="vidify-question">Our professionals can develop a blockchain project of any <br>
                                complexity.</p>
                            <div class="fire">
                                <a href="#" class="vidify-button">Contact us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <!-- section 9 -->
    <div class="text-gray-800  hexmen flex justify-center">
        <div class="mx-auto mainer">
            <div class="thug-header nft-thug-header">
                <p class="thug-title">Why choose Innowise as your smart contract development company</p>
                <p class="that-para">With 10+ years of experience, Innowise delivers various types of smart contracts
                    <br> based on the most popular and effective blockchain networks. Entrusting the <br> whole
                    development process to our team, you get the following benefits.
                </p>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-3 gridder">
                <!-- Security-->
                <div class="innertext flex flex-col">
                    <div class="custom-nft">
                        <img src="https://innowise.com/wp-content/uploads/2022/07/Research.svg" class="h-12" alt="">
                    </div>
                    <a href="#" class="text-xl font-semibold text-gray-900  hoveffect">All-in-one smart contacts
                        development</a>
                    <p class="text-base font-medium leading-relaxed max-w-md">We provide our customers with all the
                        necessary services and support to create full-fledged smart contracts of all types tailored to
                        your requirements.</p>
                </div>

                <!--Versatility  -->
                <div class="innertext flex flex-col">
                    <div class="custom-nft">
                        <img src="https://innowise.com/wp-content/uploads/2022/07/Research2.svg" class="h-12" alt="">
                    </div>
                    <a href="#" class="text-xl font-semibold text-gray-900  hoveffect">Providing services of excellent
                        quality</a>
                    <p class="text-base font-medium leading-relaxed max-w-md">QA at each stage of smart contracts
                        development is what makes the final product beyond all expectations in terms of quality and
                        reliability.</p>
                </div>

                <!-- Market efficiency-->
                <div class="innertext flex flex-col">
                    <div class="custom-nft">
                        <img src="https://innowise.com/wp-content/uploads/2022/07/Research3.svg" class="h-12" alt="">
                    </div>
                    <a href="#" class="text-xl font-semibold text-gray-900  hoveffect">Blockchain and cryptography
                        expertise</a>
                    <p class="text-base font-medium leading-relaxed max-w-md">Innowise’s developers employ all the
                        techniques and practices to provide each product with the highest level of security and
                        protection against most if not all possible threats.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- section 10 -->
    <div class="text-gray-800  hexmen flex justify-center">
        <div class="mx-auto mainer">
            <div class="thug-header nft-thug-header">
                <p class="thug-title">How much does it cost to create a smart contract?</p>
                <p class="that-para">Cost savings is one of the advantages of using smart contracts. At Innowise,
                    deliver high quality <br> services at a reasonable cost. When cooperating with us, you can rely on
                    skilled and experienced <br> blockchain and smart contract developers. The final smart contract
                    development cost depends on the <br> team composition, complexity as well as other factors that
                    include, but are not limited to the following <br> ones.
                </p>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-3 gridder smart-boxes">
                <div class="colo-1 block-colo space-y-6">
                    <div class="cost-padder text-lg font-medium flex items-center space-x-4">
                        <img src="https://innowise.com/wp-content/uploads/2022/03/bc-2.svg" alt="" class="h-8">
                        <span class="font-semibold">Blockchain platform</span>
                    </div>
                </div>

                <div class="colo-1 block-colo space-y-6">
                    <div class="cost-padder text-lg font-medium flex items-center space-x-4">
                        <img src="https://innowise.com/wp-content/uploads/2022/07/Frame-48971.svg" alt="" class="h-8">
                        <span class="font-semibold">Project development duration</span>
                    </div>
                </div>

                <div class="colo-1 block-colo space-y-6">
                    <div class="cost-padder text-lg font-medium flex items-center space-x-4">
                        <img src="https://innowise.com/wp-content/uploads/2022/07/Frame-4955.svg" alt="" class="h-8">
                        <span class="font-semibold">Use of tools and services</span>
                    </div>
                </div>

                <div class="colo-1 block-colo space-y-6">
                    <div class="cost-padder text-lg font-medium flex items-center space-x-4">
                        <img src="https://innowise.com/wp-content/uploads/2022/07/Frame-4948-1.svg" alt="" class="h-8">
                        <span class="font-semibold">Range of services that we provide</span>
                    </div>
                </div>

                <div class="colo-1 block-colo space-y-6">
                    <div class="cost-padder text-lg font-medium flex items-center space-x-4">
                        <img src="https://innowise.com/wp-content/uploads/2022/07/Frame-48964.svg" alt="" class="h-8">
                        <span class="font-semibold">Cooperation model</span>
                    </div>
                </div>

                <div class="colo-1 block-colo space-y-6">
                    <div class="cost-padder text-lg font-medium flex items-center space-x-4">
                        <img src="https://innowise.com/wp-content/uploads/2022/07/Frame-48968.svg" alt="" class="h-8">
                        <span class="font-semibold">Project team size and structure</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- section 11 -->
    <div class=" text-white font-sans step-content smart-content">
        <div class=" mx-auto space-y-3">
            <h1 style="font-size: 40px;" class="font-normal padder text-left">Our smart contract development process
            </h1>
            <p class="diverse-text smart-dope">Innowise has all the necessary expertise to provide our clients with a
                full- <br> fledged smart contract development process. It covers all the stages that are <br> necessary
                to create any type of app or dApp, including asset exchanges or even <br> DeFi platforms. We carefully
                analyze our client’s business needs and select a <br> methodology for each particular use case. The
                whole development process <br> looks the following way.
            </p>



            <!-- Step 1 -->
            <div class="flex flex-col items-start mb-10 space-y-6 border-b pb-3 border-gray-500 step-container">
                <div class="text-red-500 text-xl font-bold">01</div>
                <div class="flex flex-col md:flex-row  step-res">
                    <h2 class="text-gray-300 text-2xl font-semibold stepper">
                        Business and technical
                        analysis</h2>
                    <p class="text-lg font-normal step">Before even writing the first line of code, we deeply analyze
                        the client’s requests, the project requirements, and various risks that the application may
                        encounter in the future. We also conduct a technical analysis of the project and consult on the
                        choice of the blockchain network in which the app will be created.
                    </p>
                </div>
                <img src="/icons/arrow.png" class="arrow h-5" alt="">
            </div>

            <!-- Step 1 -->
            <div class="flex flex-col items-start mb-10 space-y-6 border-b pb-3 border-gray-500 step-container">
                <div class="text-red-500 text-xl font-bold">02</div>
                <div class="flex flex-col md:flex-row  step-res">
                    <h2 class="text-gray-300 text-2xl font-semibold stepper">Technical design</h2>
                    <p class=" text-lg font-normal step">At this stage, Innowise’s professionals build a technical architecture of the project and develop all the necessary documents that will be used further during the putting into practice process. Our smart contract development company takes into consideration even minor details for the future application to meet all the clients’ use case requirements.
                    </p>
                </div>
                <img src="/icons/arrow.png" class="arrow h-5" alt="">
            </div>

            <!-- Step 1 -->
            <div class="flex flex-col items-start mb-10 space-y-6 border-b pb-3 border-gray-500 step-container">
                <div class="text-red-500 text-xl font-bold">03</div>
                <div class="flex flex-col md:flex-row  step-res">
                    <h2 class="text-gray-300 text-2xl font-semibold stepper">Development</h2>
                    <p class="text-lg font-normal step">As soon as all preparative steps are done, it is time to write
                        the code and build the application according to the documentation. Once recorded to the
                        blockchain, smart contracts are irreversible and immutable. Hence, we use the Testnet to make
                        sure that it is error and bugs-free as well as meets all the requirements set in the
                        documentation.
                    </p>
                </div>
                <img src="/icons/arrow.png" class="arrow h-5" alt="">
            </div>

            <!-- Step 1 -->
            <div class="flex flex-col items-start mb-10 space-y-6 border-b pb-3 border-gray-500 step-container">
                <div class="text-red-500 text-xl font-bold">04</div>
                <div class="flex flex-col md:flex-row  step-res">
                    <h2 class="text-gray-300 text-2xl font-semibold stepper">
                        Testing stage</h2>
                    <p class=" text-lg font-normal step">At this particular stage, our experts conduct various types of
                        audits, including security one to find all possible deviations from what we have previously
                        agreed upon. We also search for all possible leaks to seal them. At this stage, Innowise’s
                        professionals also look at how optimized the app is.
                    </p>
                </div>
                <img src="/icons/arrow.png" class="arrow h-5" alt="">
            </div>

            <!-- Step 1 -->
            <div class="flex flex-col items-start mb-10 space-y-6 border-b pb-3 border-gray-500 step-container">
                <div class="text-red-500 text-xl font-bold">05</div>
                <div class="flex flex-col md:flex-row  step-res">
                    <h2 class=" text-gray-300 text-2xl font-semibold stepper">Deployment on Mainnet</h2>
                    <p class=" text-lg font-normal step">After testing the application using the Testnet and adjusting
                        to its optimization, the smart contract is ready to be deployed on the chosen blockchain
                        network. With the growing number of users and features, it will be possible to make any
                        amendments thanks to the flexibility of the code.
                    </p>
                </div>
                <img src="/icons/arrow.png" class="arrow h-5" alt="">
            </div>

        </div>

        <div class="devicer smart-kaira smart-devicer">
            <div class="vidify-container smart-vidify grid grid-cols-1 md:grid-cols-2">
                <div class="vidify-1">
                    <video width="100%" height="auto" controls autoplay muted>
                        <source src="https://innowise.com/wp-content/uploads/2022/12/2-call-to-action.mp4"
                            type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
                <div class="vidify-2">
                    <div class="let-space">
                        <p class="vidify-title font-semibold">Do you want to bring your business to <br> the next level?
                            smart contract?</p>
                        <p class="vidify-question">Our smart contract professionals can help.
                            complexity.</p>
                        <div class="fire">
                            <a href="#" class="vidify-button">Drop us a line</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- section 12 -->
    <div class="nft-business smart-rem nft-white business-stellar stellar-swiper-container webr smart-aki AI-container">
        <h1 class="nft-related cosmic-title text-4xl font-medium text-start">What our customers say about Innowise</h1>
        <div class="cosmic-swiper ai-swiper">
            <div class="orbital-wrapper swiper-wrapper">
                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="nft-business nft-white cadder webr overflow-hidden flex flex-col">
                        <div class="stala flex flex-row"> <i class="ri-double-quotes-l"></i>
                            <p>We are delighted withe emiri fintech's commitment to delivering quality work
                                and solving issues quickly. They lead an engaged approach to understanding the team's
                                needs
                                and accomplishing their goals.</p>
                        </div>
                        <div class="gala-outer">
                            <div class="gala">
                                <p class="quote-name"><strong>Or Iny</strong></p>
                                <p class="quote-po">CEO</p>
                                <p class="quote-r">Zero Beta</p>
                            </div>
                            <div class="gala-img">
                                <img src="https://innowise.com/wp-content/uploads/2024/11/image-3335-1.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="nft-business nft-white cadder webr overflow-hidden flex flex-col">
                        <div class="stala flex flex-row"> <i class="ri-double-quotes-l"></i>
                            <p>We are delighted withe emiri fintech's commitment to delivering quality work
                                and solving issues quickly. They lead an engaged approach to understanding the team's
                                needs
                                and accomplishing their goals.</p>
                        </div>
                        <div class="gala-outer">
                            <div class="gala">
                                <p class="quote-name"><strong>Or Iny</strong></p>
                                <p class="quote-po">CEO</p>
                                <p class="quote-r">Zero Beta</p>
                            </div>
                            <div class="gala-img">
                                <img src="https://innowise.com/wp-content/uploads/2024/11/image-3335-1.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="galaxy-slide swiper-slide">
                    <div class="nft-business nft-white cadder webr overflow-hidden flex flex-col">
                        <div class="stala flex flex-row"> <i class="ri-double-quotes-l"></i>
                            <p>We are delighted withe emiri fintech's commitment to delivering quality work
                                and solving issues quickly. They lead an engaged approach to understanding the team's
                                needs
                                and accomplishing their goals.</p>
                        </div>
                        <div class="gala-outer">
                            <div class="gala">
                                <p class="quote-name"><strong>Or Iny</strong></p>
                                <p class="quote-po">CEO</p>
                                <p class="quote-r">Zero Beta</p>
                            </div>
                            <div class="gala-img">
                                <img src="https://innowise.com/wp-content/uploads/2024/11/image-3335-1.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Swiper Pagination -->
            <div class="swiper-pagination"></div>
            <!-- Swiper Navigation -->
            <!-- <div class="stellar-button-prev swiper-button-prev"></div>
            <div class="stellar-button-next swiper-button-next"></div> -->
        </div>
    </div>

    <!-- section 13 -->
    <div class="nft-white smart-padd stellar-swiper-container">
        <h1 class="cosmic-title text-4xl font-medium">Our Smart Contracts related cases</h1>
        <div class="cosmic-swiper">
            <div class="orbital-wrapper swiper-wrapper">
                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="cadder smart-geck nft-white overflow-hidden">
                        <!-- Image at the top -->
                        <img class="w-full zoom-img"
                            src="https://innowise.com/wp-content/uploads/2024/10/eCommerce-TIZER.jpg"
                            alt="Card image">

                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-2xl mt-5 mb-2">Stock trading app<br>development</div>
                        </div>

                        <!-- Links below the title -->
                        <div class=" cadder-buttons">
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">FinTech</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">Java</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Kotlin</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Mobile</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">React</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Swift</a>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="cadder smart-geck nft-white overflow-hidden">
                        <!-- Image at the top -->
                        <img class="w-full zoom-img"
                            src="https://innowise.com/wp-content/uploads/2024/07/LIMS-customization-small-cover.png"
                            alt="Card image">

                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-2xl mt-5 mb-2">Stock trading app<br>development</div>
                        </div>

                        <!-- Links below the title -->
                        <div class=" cadder-buttons">
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">FinTech</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">Java</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Kotlin</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Mobile</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">React</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Swift</a>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="cadder smart-geck nft-white overflow-hidden">
                        <!-- Image at the top -->
                        <img class="w-full zoom-img"
                            src="https://innowise.com/wp-content/uploads/2024/05/Revamping-tour-operator-software-small-cover.png">

                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-2xl mt-5 mb-2">Stock trading app<br>development</div>
                        </div>

                        <!-- Links below the title -->
                        <div class=" cadder-buttons">
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">FinTech</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">Java</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Kotlin</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Mobile</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">React</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Swift</a>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="cadder smart-geck nft-white overflow-hidden">
                        <!-- Image at the top -->
                        <img class="w-full zoom-img"
                            src="https://innowise.com/wp-content/uploads/2024/04/Meditation-app-small-cover.png"
                            alt="Card image">

                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-2xl mt-5 mb-2">Stock trading app<br>development</div>
                        </div>

                        <!-- Links below the title -->
                        <div class=" cadder-buttons">
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">FinTech</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">Java</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Kotlin</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Mobile</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">React</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Swift</a>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="cadder smart-geck nft-white overflow-hidden">
                        <!-- Image at the top -->
                        <img class="w-full zoom-img"
                            src="https://innowise.com/wp-content/uploads/2024/01/Online-store-migration-cover-small.png">

                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-2xl mt-5 mb-2">Stock trading app<br>development</div>
                        </div>

                        <!-- Links below the title -->
                        <div class=" cadder-buttons">
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">FinTech</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">Java</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Kotlin</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Mobile</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">React</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Swift</a>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="cadder smart-geck nft-white overflow-hidden">
                        <!-- Image at the top -->
                        <img class="w-full zoom-img"
                            src="https://innowise.com/wp-content/uploads/2024/03/Small-Cover-Admin-panel-for-QA-tests-1-Nikita-Sokolovsky-Lena-Akhmetava.png" alt="Card image">

                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-2xl mt-5 mb-2">Stock trading app<br>development</div>
                        </div>

                        <!-- Links below the title -->
                        <div class=" cadder-buttons">
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">FinTech</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">Java</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Kotlin</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Mobile</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">React</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Swift</a>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="cadder smart-geck nft-white overflow-hidden">
                        <!-- Image at the top -->
                        <img class="w-full zoom-img" src="https://innowise.com/wp-content/uploads/2024/01/image-3042.png"
                            alt="Card image">

                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-2xl mt-5 mb-2">Stock trading app<br>development</div>
                        </div>

                        <!-- Links below the title -->
                        <div class=" cadder-buttons">
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">FinTech</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons ">Java</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Kotlin</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Mobile</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">React</a>
                            <a href="#" class="inline-block py-1 px-2 digital-buttons">Swift</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Swiper Pagination -->
            <div class="digital-pagi swiper-pagination"></div>
            <!-- Swiper Navigation -->
            <!-- <div class="stellar-button-prev swiper-button-prev"></div>
            <div class="stellar-button-next swiper-button-next"></div> -->
        </div>
    </div>

    <!-- section 15 -->
    <div class="nft-lexus stack-outer flex justify-start items-center">
        <div class=" tech-stack">
            <div class="dropper-expand flex justify-between">
                <p class="text-left tech-text mb-6">FAQ about smart contracts</p>
            </div>
            <div class="border-b py-6">
                <button class="flex  items-center w-full text-left text-lg font-semibold"
                    onclick="toggleSection('section10')"><span class="text-gray-500 font-thin">+</span>What is a smart contract?
                </button>
                <div id="section10" class="mt-2 hidden">
                    <p class=" mb-3">Smart contracts are irreversible and unmodifiable forms of agreement that allow businesses to automate a huge part of processes. The nature of a smart contract is simple and straightforward. Such an application triggers an event after a particular condition is met.
                    </p>
                </div>
            </div>

            <div class="border-b py-6">
                <button class="flex  items-center w-full text-left text-lg font-semibold"
                    onclick="toggleSection('section11')"><span class="text-gray-500 font-thin">+</span>What are the advantages of a smart contract?
                </button>
                <div id="section11" class="mt-2 hidden">
                    <p class=" mb-3">One of the advantages of using them is that they reduce or even remove the participation of intermediaries. Smart contracts are totally autonomous, meaning none of the parties is needed to monitor its workflow. Such apps are immutable, which makes smart contracts one of the safest and most powerful tools for creating digital agreements. They can be implemented in most if not all of the industries and branches.</p>
                </div>
            </div>

            <div class="border-b py-6">
                <button class="flex  items-center w-full text-left text-lg font-semibold"
                    onclick="toggleSection('section12')"><span class="text-gray-500 font-thin">+</span>What are smart technology advantages over traditional contracts?
                </button>
                <div id="section12" class="mt-2 hidden">
                    <p class=" mb-3">They are fast and secure. Smart contracts allow you to exclude intermediaries, and, thus, make all your transactions and other operations cost-effective.                    </p>
                </div>
            </div>

            <div class="border-b  py-6">
                <button class="flex  items-center w-full text-left text-lg font-semibold"
                    onclick="toggleSection('section13')"><span class="text-gray-500 font-thin">+</span>Which are the most suitable blockchain platforms for smart contract development?
                </button>
                <div id="section13" class="mt-2 hidden">
                    <p class=" mb-3">When choosing the best platform for smart contracts development, our experts focus on various aspects, including, but not limited to transaction throughput, scalability, type of consensus, etc.</p>
                </div>
            </div>

            <div class="border-b  py-6">
                <button class="flex  items-center w-full text-left text-lg font-semibold"
                    onclick="toggleSection('section14')"><span class="text-gray-500 font-thin">+</span>How do smart contracts work?
                </button>
                <div id="section14" class="mt-2 hidden">
                    <p class=" mb-3">These are programmed applications that contain a certain sequence of events and conditions. Once a condition is met, a particular event triggers.</p>
                </div>
            </div>

            <div class="border-b no-bottom py-6">
                <button class="flex  items-center w-full text-left text-lg font-semibold"
                    onclick="toggleSection('section15')"><span class="text-gray-500 font-thin">+</span>What are smart contracts used for?
                </button>
                <div id="section15" class="mt-2 hidden">
                    <p class=" mb-3">This type of digital agreement is widely used in various industries to provide autonomous transactions of all kinds that can be completed at high speed and with reduced costs.
                    </p>
                </div>
            </div>

        </div>
    </div>

    <!-- section 16 -->
    <div class="nft-bug stellar-swiper-container panda">
        <h1 class="cosmic-title text-4xl font-medium">Need other services?</h1>
        <div class="cosmic-swiper">
            <div class="orbital-wrapper swiper-wrapper">
                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="boxer nft-boxer overflow-hidden">
                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-xl">Blockchain development company</div>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="boxer nft-boxer  overflow-hidden">
                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-xl">Blockchain consulting services</div>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="boxer nft-boxer  overflow-hidden">
                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-xl">Solana blockchain development company</div>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="boxer nft-boxer  overflow-hidden">
                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-xl">Metaverse Development</div>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="boxer nft-boxer  overflow-hidden">
                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-xl">Web 3.0 development company</div>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="boxer nft-boxer  overflow-hidden">
                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-xl">Virtual reality development company</div>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="boxer nft-boxer  overflow-hidden">
                        <!-- Image at the top -->
                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-xl">Trading software development services</div>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="boxer nft-boxer  overflow-hidden">
                        <!-- Image at the top -->
                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-xl">Securityt token offering development services</div>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="boxer nft-boxer  overflow-hidden">
                        <!-- Image at the top -->
                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-xl">Digital wallet app development company</div>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="boxer nft-boxer  overflow-hidden">
                        <!-- Image at the top -->
                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-xl">Mixed reality development company</div>
                        </div>
                    </div>
                </div>

                <!-- card 1 -->
                <div class="galaxy-slide swiper-slide">
                    <div class="boxer nft-boxer  overflow-hidden">
                        <!-- Image at the top -->
                        <!-- Title below the image -->
                        <div class="cadder-title">
                            <div class="font-bold text-xl">Decentralized finance (Defi) development company & services</div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Swiper Pagination -->
            <div class="pagger swiper-pagination"></div>
            <!-- Swiper Navigation -->
            <!-- <div class="stellar-button-prev swiper-button-prev"></div>
            <div class="stellar-button-next swiper-button-next"></div> -->
        </div>
    </div>

    <!-- last section -->
    <div class="final-ngt flex justify-center items-center">
        <div class="nft-final nft-white antuan w-full h-full flex flex-col lg:flex-row mb-8">
            <!-- Left Section  -->
            <div class="w-full lg:w-1/2 p-8 flex flex-col justify-center">
                <h2 class="pluto-1  font-medium text-5xl mb-8">Contact us!</h2>
                <p class="text-xl text-gray-800 mb-6"><span class="text-red-700 underline"><a href="#">Book a
                            call</a></span> or fill out the form below and we’ll get back <br> to you once we’ve
                    processed
                    your request.</p>

                <form class="w-full">
                    <!-- Phone and Subject Fields -->
                    <div class="grid md:grid-cols-2 md:gap-6">
                        <div class="relative z-0 w-full mb-5 group">
                            <input type="text" name="floating_first_phone" id="floating_first_phone"
                                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                                placeholder=" " required />
                            <label for="floating_first_phone"
                                class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">First
                                Name</label>
                        </div>
                        <div class="relative z-0 w-full mb-5 group">
                            <input type="text" name="floating_last_subject" id="floating_last_subject"
                                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                                placeholder=" " required />
                            <label for="floating_last_subject"
                                class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Last
                                Company</label>
                        </div>
                    </div>

                    <!-- Phone and Subject Fields -->
                    <div class="grid md:grid-cols-2 md:gap-6">
                        <div class="relative z-0 w-full mb-5 group">
                            <input type="number" name="floating_first_phone" id="floating_first_phone"
                                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                                placeholder=" " required />
                            <label for="floating_first_phone"
                                class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">First
                                Corporate email</label>
                        </div>
                        <div class="relative z-0 w-full mb-5 group">
                            <input type="text" name="floating_last_subject" id="floating_last_subject"
                                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                                placeholder=" " required />
                            <label for="floating_last_subject"
                                class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Last
                                Phone</label>
                        </div>
                    </div>


                    <!-- Description Field -->
                    <div class="relative z-0 w-full mb-5 group">
                        <input type="text" name="floating_description" id="floating_description"
                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" " required />
                        <label for="floating_description"
                            class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Description</label>
                    </div>

                    <!-- Action Buttons -->
                    <div class="flex flex-col justify-center items-center">
                        <div class="flex flex-col lg:flex-row gap-4 w-full">
                            <!-- Record Message Button -->
                            <div
                                class="flex flex-col items-center border border-gray-300 rounded-md p-4 w-full lg:w-1/2">
                                <p class="text-sm font-medium mb-2">Record a voice message about your project to help us
                                    understand it better</p>
                                <button
                                    class="border border-red-500 hover:bg-gray-100 text-red-500 font-bold py-2 px-4 rounded flex items-center justify-center gap-2">
                                    <i class="ri-mic-2-line text-xl"></i>
                                    Record a voice message
                                </button>
                            </div>

                            <!-- Attach Documents Button -->
                            <div
                                class="flex flex-col items-center border border-gray-300 rounded-md p-4 w-full lg:w-1/2">
                                <p class="text-sm font-medium mb-2">Attach additional documents as needed</p>
                                <button
                                    class="attacher border lg:mt-3 border-red-500 hover:bg-gray-100 text-red-500 font-bold py-2 px-4 rounded flex items-center justify-center gap-2">
                                    <i class="ri-file-2-line text-xl"></i>
                                    Attach additional documents
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- Legal Notice -->
                    <p class="text-sm text-gray-500 mt-4">Please be informed that when you click the Send button, we
                        will process your personal data in accordance with our <span class="text-black font-medium"> <a
                                href="#">Privacy Policy</a> </span>and Terms and Conditions.</p>

                    <!-- Full-Width Send Button -->
                    <button type="submit"
                        class="mt-4 w-full bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded">
                        Send
                    </button>
                </form>

            </div>





            <!-- Right Section -->
            <div class="w-full lg:w-1/2 flex justify-center items-center">
                <!-- statistic -->
                <div class="next-container">
                    <div class="next-title">What happens next?</div>
                    <div class="next-step">
                        <div class="next-step-number">1</div>
                        <div class="next-step-content">Once we’ve received and processed your request, we’ll <br> get
                            back to you to
                            detail your project needs and sign <br>an NDA to ensure confidentiality.</div>
                    </div>
                    <div class="next-step">
                        <div class="next-step-number">2</div>
                        <div class="next-step-content">After examining your wants, needs, and expectations, <br> our
                            team will devise
                            a project proposal with the scope <br> of work, team size, time, and cost estimates.</div>
                    </div>
                    <div class="next-step">
                        <div class="next-step-number">3</div>
                        <div class="next-step-content">We’ll arrange a meeting with you to discuss the offer <br> and
                            nail down the
                            details.</div>
                    </div>
                    <div class="next-step">
                        <div class="next-step-number">4</div>
                        <div class="next-step-content">Finally, we’ll sign a contract and start working on <br> your
                            project right
                            away.</div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <script src="/javascripts/nft.js"></script>
    <script src="/javascripts/digital.js"></script>
    <script src="/javascripts/account.js"></script>