<%- layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/why.css">
    <link rel="stylesheet" href="/stylesheets/whyres.css">
    <link rel="stylesheet" href="/stylesheets/homeres.css">
    <!-- hero section -->
    <main class="why-hero">
        <div>
            <p class="why-p pb-3 font-light">Only Taurus allows clients to</p>
            <p class="why-p pb-3 font-semibold"> manage <span style="color: #FA64FF;">any</span> digital asset,</p>
            <p class="why-p why-pad font-semibold">with one single platform.</p>
            <p class="why-texter">Issue | Book | Transfer | Trade</p>
            <p style="color: #FA64FF;" class="why-texter">Cryptocurrencies | Tokenized securities | Digital currencies
            </p>
        </div>
    </main>

    <!-- logo section -->
    <div class="why-outer">
        <div class="why-container">
            <div class="why-logo"><img src="https://www.taurushq.com/img/logotypes/logo-state-street.webp" alt="Logo 1">
            </div>
            <div class="why-logo"><img src="https://www.taurushq.com/img/logotypes/logo-deutsche-bank.webp"
                    alt="Logo 2"></div>
            <div class="why-logo"><img src="https://www.taurushq.com/img/logotypes/logo-caceis.svg" alt="Logo 3"></div>
            <div class="why-logo"><img src="https://www.taurushq.com/img/logotypes/logo-credit-agricole.svg"
                    alt="Logo 4"></div>
            <div class="why-logo"><img src="https://www.taurushq.com/img/logotypes/logo-syz-group.webp" alt="Logo 5">
            </div>
            <div class="why-logo"><img src="https://www.taurushq.com/img/logotypes/logo-pernod-ricard.webp"
                    alt="Logo 6"></div>
            <div class="why-logo"><img src="https://www.taurushq.com/img/logotypes/logo-cub.svg" alt="Logo 7"></div>
            <div class="why-logo"><img src="https://www.taurushq.com/img/logotypes/logo-unhcr.svg" alt="Logo 8"></div>
            <div class="why-logo"><img src="https://www.taurushq.com/img/logotypes/logo-swissquote-grey.svg"
                    alt="Logo 9"></div>
            <div class="why-logo"><img src="https://www.taurushq.com/img/logotypes/logo-amina.webp" alt="Logo 10"></div>
            <div class="why-logo"><img src="https://www.taurushq.com/img/logotypes/logo-temenos.svg" alt="Logo 11">
            </div>
            <div class="why-logo"><img src="https://www.taurushq.com/img/logotypes/logo_vontobel.svg" alt="Logo 12">
            </div>
            <div class="why-logo"><img src="https://www.taurushq.com/img/logotypes/logo-thales.webp" alt="Logo 13">
            </div>
            <div class="why-logo"><img src="https://www.taurushq.com/img/logotypes/logo-mastercard.webp" alt="Logo 14">
            </div>
            <div class="why-logo"><img src="https://www.taurushq.com/img/logotypes/logo-arabbank-big.webp"
                    alt="Logo 15"></div>
            <div class="why-logo"><img src="https://www.taurushq.com/img/logotypes/logo-hypothekarbank-medium.svg"
                    alt="Logo 16"></div>
            <div class="why-logo"><img src="https://www.taurushq.com/img/logotypes/logo-algo-foundation-grey.svg"
                    alt="Logo 16"></div>
            <div class="why-logo"><img src="https://www.taurushq.com/img/logotypes/logo-ethereum-foundation.svg"
                    alt="Logo 16"></div>
            <div class="why-logo"><img src="https://www.taurushq.com/img/logotypes/logo-tezos-foundation.svg"
                    alt="Logo 16"></div>
            <div class="why-logo"><img src="https://www.taurushq.com/img/logotypes/logo-cardano-foundation.svg"
                    alt="Logo 16"></div>
        </div>
    </div>

    <!-- descript section -->
    <div class="whyd-grid-container">
        <div class="whyd-content">
            <h1 class="whyd-title">At Taurus, we build</h1>
            <p class="whyd-paragraph">
                <strong>There are technology assemblers, crypto-only providers and there is Taurus.</strong> We built
                from the ground-up
                the next generation of digital asset infrastructure that goes beyond cryptocurrencies, following three
                design principles: best-in-class technology, financial services compatibility, and regulatory
                compliance. <strong>Because we master internally the full technology stack</strong> including
                cryptography, and
                distributed ledger
                technology, we are the only to give you a <span style="color: #FA64FF;">strategic advantage</span> when
                starting or developing any digital
                asset activity: you execute fast, stay at the forefront of innovation while scaling progressively your
                use cases with a low TCO. <strong>We give you choice and control</strong> with a 100% open architecture:
                multi-blockchain, multi-asset,
                multi-trading counterparty, any smart contract standard. You create your own products while controlling
                your costs and margins. Our platform is easy-to-use, rapid to integrate and will enable you and your
                organization to grow and scale securely.
            </p>
        </div>
        <div class="whyd-logo">
            <img src="https://www.taurushq.com/img/logotypes/logo-brand-sign.svg" alt="Whyd Logo"
                class="whyd-logo-image" />
        </div>
    </div>

    <!-- trust section -->
    <div class="trust-container">
        <div class="trust-title font-semibold">Why leading organizations trust us</div>
        <div class="trust-text">Industry-leading technology, product leadership<br>and market leadership</div>
    </div>

    <!-- Best section 1-->
    <div class="best-container">
        <div class="best-header best-header-1">
            <div class="best-number italic">1</div>
            <div class="best-title"><span class="text-sm font-extralight">Future proof platform</span><br><span
                    class="bestie">Best-in-class technology</span></div>
        </div>
        <div class="best-columns">
            <div class="best-column">
                <h3 class="font-semibold best-secure"><img class="h-9 pr-5" src="/images/padlock.png"
                        alt="padlock">Secure</h3>
                <p class="best-starter font-extralight">State-of-the-art security systems with pristine track record</p>
                <ul>
                    <li><i class="ri-checkbox-circle-fill"></i> Zero-trust architecture, defense-in-depth obsession with
                        hardware roots of trust for both ends of the workflow</li>
                    <li><i class="ri-checkbox-circle-fill"></i> Proprietary firmware strengthening both HSM FIPS 140-2
                        L3 certified devices and MPC/TSS implementation to address security limitations</li>
                    <li><i class="ri-checkbox-circle-fill"></i> Monthly internal compliance review and regular third
                        party security audits</li>
                </ul>
            </div>
            <div class="best-column">
                <h3 class="font-semibold best-flexible"><img class="h-9 pr-5" src="/images/molecule.png"
                        alt="molecule">Flexible</h3>
                <p class="best-starter font-extralight">Benefit from a configurable and scalable infrastructure with
                    open architecture</p>
                <ul>
                    <li><i class="ri-checkbox-circle-fill"></i> Define your target operating model and workflows,
                        configure dynamic signature mechanisms, program wallet behaviors</li>
                    <li><i class="ri-checkbox-circle-fill"></i> Connect to any blockchain, interact with any smart
                        contract, comply with any regulatory standard</li>
                    <li><i class="ri-checkbox-circle-fill"></i> Integrate fast with full API endpoint for STP, scale
                        vertically or horizontally, deploy on-premise, SaaS/managed or hybrid</li>
                </ul>
            </div>
            <div class="best-column">
                <h3 class="font-semibold best-transparent"><img class="h-9 pr-5" src="/images/transparency.png"
                        alt="padlock">Transparent</h3>
                <p class="best-starter font-thin">Access to auditing reports at any time, review source code</p>
                <ul>
                    <li><i class="ri-checkbox-circle-fill"></i> Audited under ISAE 3402 Type II frameworks, from access
                        control to change management and BCP/DRP</li>
                    <li><i class="ri-checkbox-circle-fill"></i> Source code fully auditable, scrutinised by leading
                        offensive security team with rigorous testing, analysis, and comprehensive reviews.</li>
                    <li><i class="ri-checkbox-circle-fill"></i> No black-box across value chain, we don’t assemble
                        third-party components, we build</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- best section 2 -->
    <div class="best-container best-container-2">
        <div class="best-header best-header-2">
            <div class="best-number italic">2</div>
            <div class="best-title"><span class="text-sm font-extralight">Modular platform</span><br><span
                    class="bestie">Product leadership</span></div>
        </div>
        <div class="best-columns">
            <div class="best-column">
                <h3 class="font-semibold best-secure"><img class="h-9 pr-5" src="/images/selection.png"
                        alt="padlock">Richest features</h3>
                <p class="best-starter font-extralight">End-to-end product suite with banking-grade features</p>
                <ul>
                    <li><i class="ri-checkbox-circle-fill"></i> Everything you need in one platform: tokenization,
                        custody, blockchain connectivity, and regulated marketplace</li>
                    <li><i class="ri-checkbox-circle-fill"></i> Unrivalled in-market features: compliance, treasury,
                        AML, fraud detection, workflow automation, smart contracts function calls</li>
                    <li><i class="ri-checkbox-circle-fill"></i> Compatible with Linux, MacOS and Windows. Intuitive GUI,
                        constant optimisation to simplify the end-user experience</li>
                </ul>
            </div>

            <div class="best-column">
                <h3 class="font-semibold best-flexible"><img class="h-9 pr-5" src="/images/coinstack.png"
                        alt="molecule">Largest use cases</h3>
                <p class="best-starter font-extralight">Cover cryptocurrencies, tokenized securities, and digital
                    currencies</p>
                <ul>
                    <li><i class="ri-checkbox-circle-fill"></i> Custody and stake a wide range of cryptocurrencies as
                        well as tokenized assets including NFTs, DeFi</li>
                    <li><i class="ri-checkbox-circle-fill"></i> Issue and administer any tokenized security/assets
                        equity, debt, real estate, art and collectibles in full compliance</li>
                    <li><i class="ri-checkbox-circle-fill"></i> Mint, burn, custody and transfer stable coins and
                        central banks digital currencies, optimize your settlement process</li>
                </ul>
            </div>

            <div class="best-column">
                <h3 class="font-semibold best-transparent"><img class="h-9 pr-5" src="/images/evolution.png"
                        alt="padlock">Fastest evolving</h3>
                <p class="best-starter font-thin">Solutions and products continuously at the forefront</p>
                <ul>
                    <li><i class="ri-checkbox-circle-fill"></i> Audited under ISAE 3402 Type II frameworks, from access
                        control to change management and BCP/DRP</li>
                    <li><i class="ri-checkbox-circle-fill"></i> Source code fully auditable, scrutinised by leading
                        offensive security team with rigorous testing, analysis, and comprehensive reviews.</li>
                    <li><i class="ri-checkbox-circle-fill"></i> No black-box across value chain, we don’t assemble
                        third-party components, we build</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- best section 3 -->
    <div class="best-container best-container-3">
        <div class="best-header best-header-3">
            <div class="best-number italic">3</div>
            <div class="best-title"><span class="text-sm font-extralight">Battle-tested platform</span><br><span
                    class="bestie">Market leadership</span></div>
        </div>
        <div class="best-columns">
            <div class="best-column">
                <h3 class="font-semibold best-secure"><img class="h-9 pr-5" src="/images/medal.png" alt="padlock">Swiss
                    leadership</h3>
                <p class="best-starter font-extralight">More than half of banks offering digital asset services run
                    Taurus infrastructure</p>
                <ul>
                    <li><i class="ri-checkbox-circle-fill"></i> PROTECT custody solution is in production with the full
                        spectrum of banks: systemic, investment, private, retail, digital and crypto</li>
                    <li><i class="ri-checkbox-circle-fill"></i> CAPITAL tokenization is used by financial institutions
                        and private companies to digitize existing assets or create products</li>
                    <li><i class="ri-checkbox-circle-fill"></i> TDX is the only regulated and independent marketplace
                        for tokenized securities to access secondary trading of high-growth private companies</li>
                </ul>
            </div>

            <div class="best-column">
                <h3 class="font-semibold best-flexible"><img class="h-9 pr-5" src="/images/bar-chart.png"
                        alt="molecule">Worldwide reference</h3>
                <p class="best-starter font-extralight">Banks go-to-partner, power global crypto companies, contribute
                    to leading protocols</p>
                <ul>
                    <li><i class="ri-checkbox-circle-fill"></i> Selected by Temenos as the only digital asset provider
                        for their marketplace following an exhaustive global landscape review</li>
                    <li><i class="ri-checkbox-circle-fill"></i> Selected by Ethereum to review core components of
                        Ethereum 2.0 security. We also audited leading exchanges and other.</li>
                    <li><i class="ri-checkbox-circle-fill"></i> Powering US-based NFTs marketplace and partnering with
                        global payments networks to work on concrete use cases</li>
                </ul>
            </div>

            <div class="best-column">
                <h3 class="font-semibold best-transparent"><img class="h-9 pr-5" src="/images/remarketing.png"
                        alt="padlock">Recognised experts</h3>
                <p class="best-starter font-thin">Trusted sparring-partner with experienced leadership team</p>
                <ul>
                    <li><i class="ri-checkbox-circle-fill"></i> Regulation: contribution to regulatory standard CMTA
                        DACS - Digital Asset Custody Standard sparring-partner with experienced leadership</li>
                    <li><i class="ri-checkbox-circle-fill"></i> Technology: research papers at the forefront of the
                        current practices and talks at world-leading conferences</li>
                    <li><i class="ri-checkbox-circle-fill"></i> Financial services: executives coming from leading
                        financial institutions: hedge funds, private banks, auditors</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- seventh-container goat-->
    <div class="seventh-container best-testimonial goat 2xl:block">
        <div class="flexon flex justify-center mx-auto">
            <div class="seventh-text bg-gray-800">
                <div id="content-carousel" class="relative">
                    <div class="carousel-content">
                        <div class="carousel-item hidden">
                            <div class="quote black-border">
                                <div class="top-left-border"></div>
                                <div class="bottom-right-border"></div>
                                <p class="text-xl">We are deligted to have found a very
                                    innovative partner
                                    in Emiri Fintech. With Emiri's products, we can offer our customers an
                                    expanded range of investment
                                </p>
                            </div>
                            <p class="author text-xl"><strong>Paulo Buzzi</strong></p>
                            <p class="founder text-md">Co-founder and Deputy CEO,
                                Swissquote</p>
                            <div class="find-more rounded-sm">
                                <a href="#">
                                    <strong>FIND OUT MORE</strong>
                                </a>
                            </div>
                        </div>

                        <div class="carousel-item hidden">
                            <div class="quote black-border">
                                <div class="top-left-border"></div>
                                <div class="bottom-right-border"></div>
                                <p class="text-xl">Emiri is leading the field in
                                    cryptography and blockchain Technology. By joining forces, we can help banks to
                                    bridge the gap between traditional investments and digital assets
                                </p>
                            </div>
                            <p class="author text-xl"><strong>Alexandre Duret</strong></p>
                            <p class="founder text-md">Product Director, Temenos</p>
                            <div class="find-more rounded-sm">
                                <a href="#">
                                    <strong>FIND OUT MORE</strong>
                                </a>
                            </div>
                        </div>

                        <div class="carousel-item hidden">
                            <div class="quote black-border">
                                <div class="top-left-border"></div>
                                <div class="bottom-right-border"></div>
                                <p class="text-xl">With digital assets set to become a multi-trillion-dollar market,
                                    custodians must adapt. We're excited to partner with Taurus, a proven leader in
                                    crypto and tokenization.</p>
                            </div>
                            <p class="author-2 text-xl"><strong>Paul Maley</strong></p>
                            <p class="founder text-md">Global Head of Securities Services
                                at Deutsche Bank AG</p>
                            <div class="find-more rounded-sm">
                                <a href="#">
                                    <strong>FIND OUT MORE</strong>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="seventh-image">
                <div id="image-carousel" class="relative">
                    <div class="carousel-content">
                        <div class="carousel-item hidden">
                            <img src="/images/building.jpg" alt="Image Slide 1" class="object-cover">
                        </div>
                        <div class="carousel-item hidden">
                            <img src="/images/building2.jpg" alt="Image Slide 2" class="object-cover">
                        </div>
                        <div class="carousel-item hidden">
                            <img src="/images/building3.jpg" alt="Image Slide 3" class="">
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class=" controls mt-6 flex justify-center space-x-2">
            <button class="control-line rounded-md" data-index="0"></button>
            <button class="control-line rounded-md" data-index="1"></button>
            <button class="control-line rounded-md" data-index="2"></button>
        </div>
    </div>

    <div class="testimonial-container best-testimonial sheep">
        <div class="testimonial-content bg-gray-800">
            <div id="testimonial-carousel" class="relative">
                <div class="carousel-items">
                    <div class="carousel-slide hidden">
                        <div class="testimonial-quote border-box">
                            <div class="quote-top-left"></div>
                            <div class="quote-bottom-right"></div>
                            <p class="text-xl">We are delighted to have found a very
                                innovative partner in Emiri Fintech. With Emiri's products, we can offer our customers
                                an
                                expanded range of investment
                            </p>
                        </div>
                        <p class="quote-author text-xl"><strong>Paulo Buzzi</strong></p>
                        <p class="quote-position text-md">Co-founder and Deputy CEO, Swissquote</p>
                        <div class="read-more-btn rounded-sm">
                            <a href="#">
                                <strong>FIND OUT MORE</strong>
                            </a>
                        </div>
                    </div>

                    <div class="carousel-slide hidden">
                        <div class="testimonial-quote border-box">
                            <div class="quote-top-left"></div>
                            <div class="quote-bottom-right"></div>
                            <p class="text-xl">Emiri is leading the field in
                                cryptography and blockchain Technology. By joining forces, we can help banks to
                                bridge the gap between traditional investments and digital assets
                            </p>
                        </div>
                        <p class="quote-author text-xl"><strong>Alexandre Duret</strong></p>
                        <p class="quote-position text-md">Product Director, Temenos</p>
                        <div class="read-more-btn rounded-sm">
                            <a href="#">
                                <strong>FIND OUT MORE</strong>
                            </a>
                        </div>
                    </div>

                    <div class="carousel-slide hidden">
                        <div class="testimonial-quote border-box">
                            <div class="quote-top-left"></div>
                            <div class="quote-bottom-right"></div>
                            <p class="text-xl">With digital assets set to become a multi-trillion-dollar market,
                                custodians must adapt. We're excited to partner with Taurus, a proven leader in
                                crypto and tokenization.</p>
                        </div>
                        <p class="quote-author-alt text-xl"><strong>Paul Maley</strong></p>
                        <p class="quote-position text-md">Global Head of Securities Services at Deutsche Bank AG</p>
                        <div class="read-more-btn rounded-sm">
                            <a href="#">
                                <strong>FIND OUT MORE</strong>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-controls mt-6 flex justify-center space-x-2">
            <button class="carousel-indicator rounded-md" data-index="0"></button>
            <button class="carousel-indicator rounded-md" data-index="1"></button>
            <button class="carousel-indicator rounded-md" data-index="2"></button>
        </div>
    </div>

    <!-- logo part -->
    <div class="logo-container">
        <!-- Grid container -->
        <div class="logo-grid">
            <!-- Column 1: Logo -->
            <div class="logo-item">
                <img src="/images/quote1.jpg" alt="Logo 1">
            </div>
            <!-- Column 2: Logo -->
            <div class="logo-item">
                <img src="/images/quote2.jpg" alt="Logo 2">
            </div>
            <!-- Column 3: Logo -->
            <div class="logo-item">
                <img src="/images/quote3.jpg" alt="Logo 3">
            </div>
        </div>
    </div>

    <!-- last part -->
     <div class="why-last-container flex justify-center items-center">
        <div class="why-last flex justify-center items-center flex-col">
            <p>Ready to learn more?</p>
            <button  onclick="window.location.href='/book'" class="font-semibold">Book A Meeting</button>
        </div>
     </div>

    <script src="/javascripts/home.js"></script>